<html>
  <head>
<% js.forEach( function( jsPath ) { %>
  <script type="text/javascript" src="<%= jsPath %>"></script>
<% }) %>
  </head>
  <body style="text-align: center;">

    <div style="width:400px; margin: 2em auto;">
      <p>map widget</p>
      <div class="cbpgmp cibulMap" data-cbctl="48959239/46744426|fr"></div>
    </div>

  </body>
</html>