.cibulOrganizations ul {
  margin: 0;
  padding: 0;
}

.cibulOrganizations li {
  display: inline-block;
  cursor: pointer;
  padding-right: 1em;
  color: {{ disabledColor }};
}

.cibulOrganizations li.active {
  color: {{ activeColor }};
}

.cibulOrganizations li.selected { 
  color: {{ selectedColor }}; 
}

.cibulOrganizations.disabled li {
  cursor: wait; 
  color: {{ disabledColor }}; 
}