#review-admin-menu header {
  padding: 40px 40px 0;
}

#review-admin-menu header .title {
  display: inline-block;
  vertical-align: top;
  width: auto;
}

#review-admin-menu header img {
  max-width: 90px;
  padding-right: 10px;
}


#review-admin-menu textarea {
  width: 100%;
}

#review-admin-menu p {
  padding-bottom: 0.5em;
}

#review-admin-menu .main section {
  padding: 1em 0 1.5em;
}

#review-admin-menu .aei li {
  padding: 0 0 0.5em;
}

#review-admin-menu .aei > ul { padding-bottom: 1.1em; margin-bottom: 1.4em; border-bottom: 1px solid #ccc; }

#review-admin-menu li.title span { font-weight: bold; }
#review-admin-menu li.title i { margin-left: 0.5em; color: #aaa; vertical-align: middle; }
#review-admin-menu li.desc * { color: #999; }

#review-admin-menu li.owner img { vertical-align: middle; max-width: 24px; }
#review-admin-menu li.owner .url { padding-left: 0.5em; }

#review-admin-menu .center { padding: 1em 0; }
#review-admin-menu .actions a i { padding-right: 0.2em; }

#review-admin-menu .actions a { vertical-align: middle; padding-right: 0.5em; }
#review-admin-menu .actions a.selected { color: #333; text-decoration: underline; }

#review-admin-menu .actions .status, 
#review-admin-menu .actions .action { display: block; overflow: hidden; }

#review-admin-menu .actions a { display: inline-block; }
#review-admin-menu .actions .cat { margin-right: 1em;}
#review-admin-menu .actions .action { height: 0; }
#review-admin-menu .actions a:hover .action { height: auto; }
#review-admin-menu .actions .status { height: auto; }
#review-admin-menu .actions a:hover .status { height: 0; }

#review-admin-menu .header { padding: 1em 0;}
#review-admin-menu .header form { display: inline-block; }
#review-admin-menu .header select { max-width: 90px; }
#review-admin-menu .header select,
#review-admin-menu .header input,
#review-admin-menu .header button { vertical-align: middle; }

#review-admin-menu .filters input,
#review-admin-menu .filters select,
#review-admin-menu .filters button { margin-right: 0.2em; }

#review-admin-menu .filters input[type="text"] { max-width: 100px; }

#review-admin-menu .pages { padding: 0.5em 0; }
#review-admin-menu .pages a { padding: 0 0.2em; }
#review-admin-menu .pages a.current { color: #666;}

#review-admin-menu .main .header form,
#review-admin-menu .main .header .pages {
  display: inline-block;
}

#review-admin-menu .main .notification { padding: 1em 0; }
#review-admin-menu .main .header .notification { padding: 0 0 1em 0; }
#review-admin-menu .main .notification a { vertical-align: middle; }
#review-admin-menu .main .notification .indication { margin-bottom: 0; }
#review-admin-menu .main .notification .indication i { font-style: italic; font-size: 1em; color: #999; }

#review-admin-menu .main .bi { display: inline-block; width: 1.2em; text-align: center; vertical-align: middle; } /* base icon */


#review-admin-menu .sidebar-item { border-bottom: none; }


#review-admin-menu .aei .cat i { vertical-align: middle; }
#review-admin-menu .aei select { border: none; padding: 0; cursor: pointer; margin-left: 0.5em; }
#review-admin-menu .aei button { background: none; border: none; padding: 0; }

#review-admin-menu .admin-section form { padding: 1em 0; }
#review-admin-menu .admin-section .list li { display: inline-block; padding: 0 1em 0.5em 0; }

#review-admin-menu .aei .tag li,
#review-admin-menu .aei .tag ul, 
#review-admin-menu .aei .tag form { display: inline; padding: 0; }

#review-admin-menu .aei .tag a { padding-left: 0.2em; }
#review-admin-menu .aei .tag > i { vertical-align: middle; }

#review-admin-menu .aei .tag ul { padding-right: 1em; vertical-align: middle; }

#review-admin-menu h3 { 
  font-size: 1.25em;
  padding: 1em 0 0;
}

#review-admin-menu h4 {
  font-size: 1.15em;
  padding: 1em 0 0;
}

#review-admin-menu span.disabled { color: #999; vertical-align: middle; }
#review-admin-menu .error { vertical-align: middle; color: #801B1B; }
#review-admin-menu .alert { color: red; }
#review-admin-menu .active .alert { color: white; }

#review-admin-menu .button-spinner {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.9em;
}

#review-admin-menu .bridges form { margin: 1em 0; }

#review-admin-menu .invites-menu { padding-bottom: 2em;}
#review-admin-menu .invites-menu .wsq { padding: 5px; }
#review-admin-menu .invites-menu li { padding: 3px 0 0; cursor: pointer; }
#review-admin-menu .invites-menu li img { vertical-align: middle; margin-right: 5px; }
#review-admin-menu .invites-menu li span { line-height: 1em; }

#review-admin-menu .editors > div,
#review-admin-menu .sources > div { min-width: 140px; width: 30%; margin-right:2%; margin-bottom: 10px; display: inline-block; }
#review-admin-menu .editors .icon-remove,
#review-admin-menu .sources .icon-remove { color: red; font-size: 0.9em; vertical-align: top;}

#review-admin-menu .editors .button-spinner,
#review-admin-menu .sources .button-spinner { margin-bottom: 5px; }

#review-admin-menu .button-spinner { vertical-align: middle; display: inline-block; margin-left: 15px;}


#review-admin-menu .orders { display: inline-block; }
#review-admin-menu .orders a { padding-right: 0.5em; }