.newsletter .glist {
  padding: 0 0 1em;
}

.newsletter .glist > li {
  padding: 1em 0 2em;
  border-bottom: 1px solid #ddd;
  margin: 1em 0;
}

.newsletter .glist > li:last-child {
  border-bottom: none;
}

.newsletter .glist > li > span {
  display: block;
}

.newsletter .glist > li .button {
  float: right;
  margin-left: 0.5em;
}

.newsletter .glist > li > ul > li > a,
.newsletter .glist > li > ul > li > span {
  padding: 0 .5em 0 0;
}

.newsletter .glist .title {
  font-weight: bold;
  padding: 0 0 0.2em;
}

.newsletter .glist .detail li {
  display: inline-block;
  padding: 0 0.2em 0 0;
}

.newsletter .glist label {
  color: #888;
  padding-right: 0.5em;
}

.newsletter .col {
  display: inline-block;
  vertical-align: top;
}

.newsletter .col.w33 {
  width: 33%;
}

.newsletter .col.w66 {
  width: 66%;
}

.newsletter .col section {
  margin-right: 1em;
}


.newsletter  h4 {
  margin-top: 1em;
}

.newsletter .subtitle {
  padding: 1em 0 0;
  font-size: 1.1em;
}

.newsletter .right {
  float: right;
}

.newsletter .warnings li {
  font-size: 0.9em;
}