<% include ../layout/_top.ejs %>

<div class="container agenda-admin">
  <% include ../agenda-admin/_admin-header.ejs %>

  <div class="row wsq">
    <% include ../agenda-admin/_admin-tabs.ejs %>

    <div class="col col-xs-9 body">
      <div class="members-admin">
        <h2>
          Membres

          <div class="pull-right">
            <div class="dropdown btn-group btn-group-default">
              <button class="btn dropdown-toggle btn btn-default">
                Actions <span class="caret"></span>
              </button>
            </div>
          </div>
        </h2>

        <p>
          <span>Total: <b>363</b></span>
          <span class="margin-left-md"><a role="button">Actifs: <b>300</b></a></span>
          <span class="margin-left-md"><a role="button">Inactifs: <b>53</b></a></span>
          <span class="margin-left-md"><a role="button">Invités: <b>10</b></a></span>
        </p>

        <ul class="nav nav-pills" role="tablist">
          <li role="presentation" class="active">
            <a href="#">
              <strong>3</strong> Administrateurs <i class="fa fa-times" aria-hidden="true"></i>
            </a>
          </li>
          <li role="presentation" class="active">
            <a href="#">
              <strong>30</strong> Modérateurs <i class="fa fa-times" aria-hidden="true"></i>
            </a>
          </li>
          <li role="presentation">
            <a href="#">
              <strong>300</strong> Contributeurs <i class="fa fa-times invisible" aria-hidden="true"></i>
            </a>
          </li>
          <li role="presentation">
            <a href="#">
              <strong>30</strong> Lecteurs <i class="fa fa-times invisible" aria-hidden="true"></i>
            </a>
          </li>
          <!-- <li role="presentation" class="active">
              <a href="#">
                  <strong>36</strong> Invités <i class="fa fa-times" aria-hidden="true"></i>
              </a>
          </li> -->
        </ul>

        <form action="#">
          <div class="form-group input-icon-right search margin-v-md">
            <input type="text" class="form-control" placeholder="Rechercher un membre" />
            <button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
          </div>
        </form>

        <div class="margin-v-md">
          Résultat: 33 membres
        </div>

        <div>
          <div class="bo-list-item media">
            <div class="media-body">
              <div class="title media-heading">
                <a href="#">
                  <strong>Jean-Michel du Bled</strong>
                  <span class="text-muted small">Administrateur</span>
                  <span class="badge badge-sm badge-success">Actif</span>
                </a>
              </div>
              <div class="actions">
                <p class="text-muted">INA</p>
                <p class="text-muted">+33 6 12 01 68 42</p>
                <p class="text-muted">gaetan.latouche@gmail.com</p>
                <a href="#" class="text-muted">4 événements</a>
                <a href="#" class="text-muted">Modifier son profil</a>
                <a href="#" class="text-muted">Retirer des membres</a>
                <a href="#" class="text-muted">Lui écrire</a>
              </div>
            </div>
          </div>

          <div class="bo-list-item media">
            <div class="media-body">
              <div class="title media-heading">
                <a href="#">
                  <strong>Jacquie & michel</strong>
                  <span class="text-muted small">Modérateur</span>
                  <span class="badge badge-sm">Inactif</span>
                </a>
              </div>
              <div class="actions">
                <p class="text-muted">INA</p>
                <p class="text-muted">+33 6 12 01 68 42</p>
                <p class="text-muted">gaetan.latouche@gmail.com</p>
                <a href="#" class="text-muted">4 événements</a>
                <a href="#" class="text-muted">Modifier son profil</a>
                <a href="#" class="text-muted">Retirer des membres</a>
                <a href="#" class="text-muted">Lui écrire</a>
              </div>
            </div>
          </div>

          <div class="bo-list-item media">
            <div class="media-body">
              <div class="title media-heading">
                <a href="#">
                  <strong>marc@dorcel.com</strong>
                  <span class="badge badge-sm badge-default">Invité</span>
                </a>
              </div>
              <div class="actions">
                <div class="text-muted">Cette personne n'a pas encore créé de compte</div>
                <a href="#" class="text-muted">Modifier son profil</a>
                <a href="#" class="text-muted">Retirer des membres</a>
                <a href="#" class="text-muted">Lui écrire</a>
              </div>
            </div>
          </div>

          <div class="bo-list-item media">
            <div class="media-body">
              <div class="title media-heading">
                <a href="#">
                  <strong>pas-content@opencuisses.com</strong>
                  <span class="badge badge-sm badge-warning">Supprimé</span>
                </a>
              </div>
              <div class="actions">
                <p class="text-muted">INA</p>
                <p class="text-muted">+33 6 25 86 78 42</p>
                <a href="#" class="text-muted">Modifier son profil</a>
                <a href="#" class="text-muted">Retirer des membres</a>
                <a href="#" class="text-muted">Lui écrire</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ../layout/_bottom.ejs %>
