/**
 * bootstrap css to use everywhere ( embed and site )
 */

* {

  margin: 0;
  padding: 0;
  border: 0;
  
  list-style: none outside none;
  color: $oa-black;

}

body {

  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

  .blob {
    color: blue;
  }

}

article,
aside,
canvas, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section, 
summary { 
  display: block;
}

a {

  text-decoration: none;
  cursor: pointer;
  outline: 0;

}

li {

  list-style-type: none;

}