button, .button { 
  display: inline-block;
  padding: 6px 12px;
  border: solid 1px #aab2bd;
  background: white;
  cursor: pointer;
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px;
  font-size: inherit;
  height: 34px;
  color: #434a54;
}

.button {
  padding: 0 12px;
  line-height: 32px;
  height: auto;
}

.big { font-size: 1.1em; padding: 5px 10px; }

.small {
  padding: 1px 4px;
  line-height: inherit;
}

button > span,
.button > span {
  padding: 0 0 0 5px;
}

button i,
.button i {
  vertical-align: middle!important;
}

.small i {
  vertical-align: baseline!important;
}


button:hover,
.button:hover {

  opacity: 0.9;
  
}

.green {
  color: #fff;
  background-color: #5bb75b;
  border: 1px solid #5bb75b;
}

.green i,
.green span {
  color: #fff;
}

.red {
  color: #fff;
  background-color: #DA4453;
  border: 1px solid #DA4453;
}



.red i,
.red span {
  color: #fff;
}

.blue {
  color: #fff;
  background-color: #41acdd;
  border: 1px solid #41acdd;
}

.blue i,
.blue span {
  color: #fff;
}



.button.fit,
button.fit {
  display: block;
}