button, .button { 
  display: inline-block;
  padding: 4px 6px 6px;
  border-color: #cccccc #cccccc #bbbbbb;
  border-width: 1px;
  border-style: solid;
  background: #f5f5f5;
  cursor: pointer;
}

.big { font-size: 1.1em; padding: 5px 10px; }
.small { padding: 1px 4px; }

button > span,
.button > span {
  padding: 0 0 0 5px;
}

button i,
.button i {
  vertical-align: middle!important;
}

.small i {
  vertical-align: baseline!important;
}

button:hover, .button:hover {
  border-color: #999;
  background: #f3f3f3;
}

.green {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  
  border-color: #51a351 #3CAD2D #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.green:hover {
  background-color: #57b357;
}

.green i,
.green span {
  color: #fff;
}