.ccal ul { margin: 0; padding: 0; text-align: left;}
.ccal li { list-style-type: none; display: inline-block; width: 14.28%; cursor: pointer; text-align: center; min-width: 2em; margin:0;}
.ccal li span { display: inline-block; }
.ccal li.calmonth { width: 71.4%; }
.ccal li span { padding: 4px; display: block; border: 1px solid transparent; }
.ccal li.calprev span, .ccal li.calnext span { color: #ccc; }
.ccal li.selected { background: #53D4FF; }
.ccal li.selected span { color: white; }
.ccal li.today span { border: 1px solid #ccc; }

.ccal li.preselected { background: #ccc; }
.ccal li.preselected span { color: white; }

.ccal * { -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; }

.ccal.disabled { background: #eee; color: #999; }