* { margin: 0; padding: 0; border: 0; font: 13px/1.5 'Helvetica Neue',Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif; list-style: none outside none; color: #333; }
a { text-decoration: none; }
/*body { overflow: hidden; }*/
.display-none { display: none!important; }