.cform li { 
  display: block;
  padding: 0 0 1em;
  clear: both;
}

.cform .head {
  padding: 1em 0;
}

.cform .fieldset {
  margin: 1em 0;
}

.cform .separator {
  padding: 0 0 0.5em;
  border-bottom: 1px solid #ccc;
}

.cform .bottom-spacing {
  padding-bottom: 1em;
}

.cform .line > li { 
  display: inline-block; 
  padding: 0 0.5em 0.5em 0;
  vertical-align: top;
}

.cform label {
  padding: 4px 4px 7px 0;
}

.cform .line label {
  display: inline-block;
}

.cform li > input, 
.cform li > span, 
.cform li > select { 
  display: block;
}

.cform li > select {
  width: 100%;
}

.cform li.line > label, 
.cform li.line > input, 
.cform li.line > span,
.cform li.line > select,
.cform li.line > form,
.cform li.line > div,
.cform input.line,
.cform span.line {
  width: auto;
  display: inline-block;
  margin-right: 0.5em;
}

.cform li.line > img {
  vertical-align: middle;
  margin-right: 0.5em;
}

.cform input[type="text"],
.cform input[type="radio"],
.cform input[type="checkbox"],
.cform select,
.cform textarea { 
  border-color: #AAAAAA #CCCCCC #CCCCCC #AAAAAA; 
  border-style: solid; 
  border-width: 1px; 
  padding: 5px;
  vertical-align: middle; 
  background: transparent;
}

.cform input, .cform textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cform .disabled label { color: #aaa; }

/* select renders differently */
.cform select {
  padding: 4px 4px 7px;
}

.cform input.error {
  background: #fedfdf;
  color: inherit;
}


.cform .info { 
  color: #999; 
  font-size: 0.8em;
}

.cform .error {
  color: red;
}

.cform p {
  padding: 10px 0;
}

.cform input[type="radio"],
.cform input[type="checkbox"] {
  display: inline-block;
  width: auto;
  border: 0;
}
.cform .radio {
  display: inline;
  padding-right: 0.5em;
}

.cform .w20,
.cform .w25,
.cform .w33,
.cform .w66,
.cform .w75,
.cform .w80,
.cform .line .w20,
.cform .line .w25,
.cform .line .w33,
.cform .line .w66,
.cform .line .w75,
.cform .line .w80 {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.cform .w20,
.cform .line .w80 {
  width: 20%;
}

.cform .w25,
.cform .line .w25 {
  width: 25%;
}

.cform .w33,
.cform .line .w33 {
  width: 33%;
}

.cform .w66,
.cform .line .w66 {
  width: 66%;
}

.cform .w75,
.cform .line .w75 {
  width: 75%;
}

.cform .w80,
.cform .line .w80 {
  width: 80%;
}


.cform .pl10 {
  padding-left: 10px;
}

.cform .ml10 {
  margin-left: 10px;
}

.cform .px40 {
  width: 40px;
}

.cform .px60 {
  width: 60px;
}