.cb > .header {

  height: 20em;
  position: relative;
  background: #333;

} 

.cb .canvas {

  margin: 0 auto;
  max-width: 1100px;
  clear: both;

}

.cb .sidebar {

  float: right;
  width: 320px;
  margin-top: 4em;
  display: block;

}

.cb main {

  margin: -4em 360px 0 0;
  padding: 2em;
  background: white;
  border: 1px solid #ccc;

}

.cb > .canvas {
  position: relative;
}

.cb aside {

  padding: 4em 0 0;

}


.cb footer {

}

@media all and (max-width: 960px) {

  .cb .sidebar {
    width: 300px;
  }

  .cb main {
    margin-right: 340px;
  }

}

@media all and (max-width: 780px) {

  .cb .header,
  .cb nav {

    height: auto;

  }

  .cb .sidebar {
    display: none;
  }

  .cb main {
    margin: 0;
  }

}