body > header {
  background: white;
  text-align: center;
}

body > header .links li.nomobile { display: none; }

body > header .container {
  margin: 0 auto;
  text-align: left;
  position: relative;
}

@media (min-width: 480px) {

  body > header .container {
    width: auto;
  }

  body > header .links {
    position: absolute;
    top: 0;
    right: 0;
  }

}

@media (min-width: 768px) {

  body > header .container {
    width: 750px;
  }

}

@media (min-width: 992px) {

  body > header .container {
    width: 970px;
  }

  body > header .links li.nomobile { 
    display: inline-block; 
  }
  
}

@media (min-width: 1200px) {

  body > header .container {
    width: 1170px;
  }

}


body > header a {
  display: inline-block; 
  vertical-align: middle;
  cursor: pointer;
}

body > header .logo {
  width: 125px;
  padding: 14px 15px 10px;
  line-height: 20px;
}

body > header form {
  display: inline-block;
  position: relative;
}

body > header form.cform input[type="text"] {
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  border-color: #eee;
  width: 150px;
  line-height: 30px;
  padding: 10px 20px 10px 18px;
  height: auto;
  border-radius: 0;
  background: transparent;
}

body > header form.cform button {

  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: transparent;
  margin: 8px 5px;

}

body > header form.cform button i {

  color: gray;

}

body > header .logo img {
  width: 100%; 
}

body > header .links a {
  padding: 20px 10px;
  color: #777;
}

body > header .links a:hover,
body > header .links a:hover i {
  color: #11bed4;
}

body > header .links li {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}


body > header .language-menu ul {
  position: absolute;
  right: 0;
  background: white;
  padding: 2em 0 0;
  display: none;
  z-index: 3;
}

body > header .language-menu > a {  
  text-transform: uppercase;
}

body > header .language-menu ul li {
  display: block;
  padding: 0;
}

body > header .language-menu ul li a {
  padding: 1em;
  text-align: left;
  display: block;
}

body > header .language-menu ul li a:hover {
  background: #333;
  color: white;
}



@media all and (max-width: 480px) {

  body > header {
    text-align: center;
  }

  body > header .logo {
    position: relative;
    top: auto;
    left: auto;
    padding-right: 2em;
  }

}