#howto p.narrative { font-style: italic; margin: 0.6em 0;}
#howto p.voice { font-size: 1.4em; text-align: center; margin: 3em 0;}
#howto ul.question-links li { margin: 0.6em 0;}
#howto .answer { margin: 2em 0 5em; text-align: center; }
#howto .howto h2 { font-size: 1.3em; }
#howto h1, .howto h1 { font-size: 1.8em; margin-top: 2em; }
#howto h5, .howto h5 { font-size: 1.3em; margin: 0.9em 0 0; }

.howto { text-align: center; margin: auto; }
.howto div { text-align: left; }
.howto .illustration { position: relative; margin: 1em auto; }
.howto .illustration * { position: absolute; }
.howto .arrow { z-index: 2; }

.howto p.sidenote { font-size: 0.8em !important; color: #666;}


#howto-search .illustration { width: 370px; height: 140px; }
#howto-search #search-snapshot { top: 45px; left: 0; }
#howto-search p.comment1 { top: 0; left: 20px; }
#howto-search p.comment2 { right: 180px; top: 120px; }
#howto-search img.comment2 { left: 200px; top: 108px; }
#howto-search a.comment3 { left: 0; top: 85px; }
#howto-search a.comment4 { left: 118px; top: 85px; }
#howto-search a.comment5 { left: 220px; top: 85px; }
#howto-search p.comment6 { right: 40px; top: 134px; }
#howto-search img.comment6 { left: 333px; top: 66px; }



#howto-search-where .illustration { height: 270px; width: 550px;}
#howto-search-where #where-snapshot { right: 180px; top: 0; width: 220px; }
#howto-search-where p.comment1 { right: 406px; top: 12px; width: 100px; }
#howto-search-where img.comment1 { right: 331px; top: 18px; }
#howto-search-where p.comment2 { left: 400px; top: 40px; width: 120px; }
#howto-search-where img.comment2 { left: 304px; top: 62px; }
#howto-search-where p.comment3 { right: 405px; top: 160px; width: 115px; }
#howto-search-where img.comment3 { right: 317px; top: 168px; width: 100px;}
#howto-search-where p.comment4 { left: 384px; top: 170px; width: 148px; } 
#howto-search-where img.comment4 { left: 304px; top: 173px; width: 80px; }


#howto-search-when .illustration { height: 240px; width: 450px; }
#howto-search-when #when-snapshot { right: 0; top: 0; width: 220px; }
#howto-search-when p.comment1 { right: 260px; top: 94px; width: 170px; }
#howto-search-when img.comment1 { right: 192px; top: 113px; width: 70px; }
#howto-search-when p.comment2 { right: 276px; top: 151px; width: 100px; }
#howto-search-when img.comment2 { right: 162px; top: 33px; width: 84px; }
#howto-search-when p.comment3 { right: 246px; top: 0; width: 120px; }
#howto-search-when img.comment3 { right: 31px; top: 124px; width: 211px; }


#howto-search-what .illustration { height: 200px; width: 470px; }
#howto-search-what #what-snapshot { right: 0; top: 0; }
#howto-search-what p.comment1 { right: 322px; top: 0; width: 140px; }
#howto-search-what img.comment1 { right: 240px; top: 10px; width: 80px; }
#howto-search-what p.comment2 { right: 320px; top: 60px; width: 100px; }
#howto-search-what img.comment2 { right: 258px; top: 90px; }
#howto-search-what p.comment3 { right: 350px; top: 140px; width: 115px; }
#howto-search-what img.comment3 { right: 255px; top: 148px; width: 100px; }


#howto-eventpublish-media { width: 350px; }
#howto-eventpublish-media div { margin: 1em 0; }

#howto-eventpublish-tags { width: 400px; }
#howto-eventpublish-tags div { margin: 1em 0 0; }


#howto-whatiscibul .illustration { width: 500px; height: 350px; }
#howto-whatiscibul h1 { text-align: center; top: 15px; left: 0; width: 100%; font-size: 2em; margin-top: 0; }
#howto-whatiscibul h2 { text-align: center; top: 85px; }
#howto-whatiscibul span { color: #666; font-size: 1em !important; text-align: center; }
#howto-whatiscibul .comment1 { left: 50px; width: 100px;}
#howto-whatiscibul .comment2 { left: 200px; width: 100px; }
#howto-whatiscibul .comment3 { left: 350px; width: 100px; }
#howto-whatiscibul span.comment4 { left: 0; top: 202px; width: 90px; }
#howto-whatiscibul img.comment4 { left: 26px; top: 140px; }
#howto-whatiscibul span.comment5 { left: 100px; top: 244px; width: 90px; }
#howto-whatiscibul img.comment5 { left: 173px; top: 167px; }
#howto-whatiscibul span.comment6 { left: 200px; top: 285px; width: 100px; }
#howto-whatiscibul img.comment6 { left: 230px; top: 180px; }
#howto-whatiscibul span.comment7 { left: 405px; top: 186px; width: 95px; }
#howto-whatiscibul img.comment7 { left: 463px; top: 133px; }
#howto-whatiscibul span.comment8 { left: 290px; top: 200px; width: 100px; }
#howto-whatiscibul img.comment8 { left: 293px; top: 168px; }
#howto-whatiscibul img.comment81 { left: 354px; top: 147px; }


#howto-nopublish .illustration { width: 400px; }
#howto-nopublish .illustration * { position: relative; }
#howto-nopublish .illustration div { text-align: center; }


#howto-gettingstarted .illustration { width: 550px; }
#howto-gettingstarted .gettingstarted-head { margin-bottom: 4em; }
#howto-gettingstarted .comment h2 { display: inline-block; }
#howto-gettingstarted img { display: inline-block; margin: 0 0.5em 0.2em 0; vertical-align: middle; }
#howto-gettingstarted h2 a { line-height: 3em; }
#howto-gettingstarted div h1,
#howto-gettingstarted div p { text-align: center; }
#howto-gettingstarted div.comment { margin: 2em 0; }
#howto-gettingstarted div.comment11 { margin: 2em auto; width: 460px;}
#howto-gettingstarted div.search-item div { display: inline-block; }
#howto-gettingstarted div.search-item * { text-align: left; }

#howto-gettingstarted .facebook-logo,
#howto-gettingstarted .twitter-logo { width: 100px; vertical-align: middle;}
#howto-gettingstarted .illustration * { position: relative; }

#howto-gettingstarted .review-widget .rw-item { margin-bottom: 20px;}

#howto-program { width: 350px; }
#howto-program h2 { margin-bottom: 30px;}
#howto-program .sidenote { margin-bottom: 2em;}

#howto-connect .illustration { height: 245px; }
#howto-connect #connect-snapshot { left: 281px; top: 48px; width: 300px; }
#howto-connect img.comment1 { left: 480px; top: 15px; }
#howto-connect p.comment1 { right: 130px; top: 5px; }
#howto-connect img.comment2 { left: 208px; top: 77px; }
#howto-connect p.comment2 { right: 388px; top: 40px; width: 198px; }
#howto-connect img.comment3 { left: 208px; top: 156px; }
#howto-connect p.comment3 { right: 386px; top: 116px; width: 200px; }
#howto-connect p.comment4 { top: 200px; left: 20px; }

#howto-newprogram .highlight span { font-style: italic; }
#howto-newprogram .highlight i { padding-right: 0.2em; vertical-align: middle; }

#howto-emptyprogram {
  padding: 160px 0;
  text-align: center;
}