.event-in-stream { margin-bottom: 5px; padding: 6px; background: #FDFFFF; border: 1px solid #ccc; cursor: pointer; font-family: arial; }
.event-in-stream div,
.event-in-stream a { font-family: arial; }
.event-in-stream .event-description { margin: 0.5em 0; }
.event-in-stream .event-description a { font-style: italic; color: #444444; }
.event-in-stream .event-item { overflow: hidden; display: inline-block; width: 95%; vertical-align: middle; }
.event-in-stream .show-details { vertical-align: middle; width: 4%; font-size: 2em; display: none; }
.event-in-stream:hover .show-details,
.current .event-in-stream .show-details { display: inline-block;}
.current .event-in-stream { border: 1px solid #888; }
.event-in-stream .event-content, .event-in-stream .actions { margin-left: 107px; }
.event-in-stream .event-pic-small { width: 96px; float: left; }
.event-in-stream .event-name a { color: #4a4a4a; font-size: 1.85em; font-weight: normal; letter-spacing: 1px; }
.event-in-stream .actions { margin-top: 0.5em;}
.event-in-stream.drop-shadow {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset; 
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}



.review-item { margin-bottom: 20px; }
.review-item .bio { font-size: 0.92em; }
.review-item .bio, 
.review-item .review-name { margin-left: 70px; }
.review-item .article-actions { visibility: hidden; }
.review-item .article-container:hover .article-actions{visibility: visible;}
.review-item .article-container:hover .article-date,.article-container:hover .article-actions a b{color: #2276BB;}
.review-item .article-date:hover, 
.review-item .article-actions a b:hover { text-decoration: underline; }


.review-small-item { padding: 10px 10px; margin-bottom: 10px; width: 13.5em; }
.review-small-item img { margin-top: 4px; }
.review-small-item .review-content { margin-left: 3.5em; }

.review-small-item .actions a { display: inline-block; font-size: 0.76em; vertical-align: middle;}
.review-small-item .actions span { margin-right: 5px; color: #666666; font-size: 10px; display: inline-block; vertical-align: middle;}
.review-small-item .actions .tag { font-size: 0.9em; font-style: italic;}

.review-small-item .follow { background: url("/images/black-plus.png") no-repeat; height: 10px; width: 10px; top: 3px; margin-right: 5px; padding-left: 14px; line-height: 1em; }
.review-small-item .unfollow { background: url("/images/black-minus.png") no-repeat; height: 10px; width: 10px; top: 3px; margin-right: 5px; padding-left: 14px; line-height: 1em; }

.review-small-item .on-hover { visibility: hidden; }
.review-small-item:hover .on-hover { visibility: visible;}





.user-item { padding: 10px 10px; margin-bottom: 10px; width: 13.5em; }
.user-item img { margin-top: 4px; }
.user-item .actions a { display: inline-block; font-size: 0.76em; vertical-align: middle;}
.user-item .actions span { margin-right: 3px; color: #666666; font-size: 10px; display: inline-block; }

.user-item .user-content { margin-left: 3.5em; }
.user-item .user-content .user-description { color: #666666; font: italic 13px/18px Georgia,Palatino,serif; padding: 1px 0; word-wrap: break-word; min-height: 15px; }

.user-item .first-line { margin-bottom: 4px; }
.user-item .full-name { font-size: 14px; }

.user-item .twitter-small-icon { background: url("../../images/icons.png") no-repeat -32px -12px transparent; height: 12px; width: 10px; margin-right: 4px;}
.user-item .facebook-small-icon { background: url("../../images/icons.png") no-repeat -43px -12px transparent; height: 12px; width: 12px; margin-right: 4px; }

.user-item .message { background: url("../../images/icons.png") no-repeat -78px 0 transparent; height: 12px; width: 12px; margin-top: 3px; margin-right: 3px; }

.user-item .on-hover { visibility: hidden; }
.user-item:hover .on-hover { visibility: visible;}

.user-item .follow .icon { background: url("../../images/icons.png") no-repeat -66px 0; height: 10px; width: 10px; }
.user-item .unfollow .icon { background: url("../../images/icons.png") no-repeat -92px 0 transparent; height: 9px; width: 9px; }





.article-item { padding: 7px 0; position: relative; }
.article-item .review-name { margin-left: 0.2em; }
.article-item .activist-info img { float: none; vertical-align: middle; }
.article-item .event-in-stream { margin-bottom: 0; margin-top: 0.6em;}
.article-item .article-date { font-size: 0.85em; }

.article-item .category { color: #666666; padding: 0 4px; margin: 0 2px; float: right; background: white; max-width: 16%; overflow: hidden; }
.article-item .gray-border { padding: 1px; border: 1px solid #CCC; }

.article-item .edit { display: inline-block; position: relative; vertical-align: top; height: 14px;}
.article-item .edit .icon { background: url("../../images/icons.png") no-repeat -39px -28px; width: 12px; height: 11px; margin: 1px; vertical-align: top; }


.article-item .article-edit-menu { display: none; position: absolute; background: white; padding: 0.5em;}
.article-item .article-edit-menu a { display: block; }

.article-item .tags { display: inline-block; max-width: 75%;}
.article-item .tags span { vertical-align: top; }
.article-item .tags a { font-size: 0.9em;  vertical-align: top; color: #666; }
.article-item .tags .cross { font-weight: normal; font-size: 12px; }
.article-item .tags .cross:after { height: 10px; width: 10px; -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; top: 27%; }



.activity-item .content { margin: 0px 0px 10px 70px; }
.activity-item .info { margin: 0 0 0.5em 0.5em; }
.activity-item .activist-info { margin-bottom: 0.5em; }
.activity-item .activist-info img { vertical-align: middle; margin-right: 0.2em;}
.activity-item .activity-comment { margin: 0 0 0.5em 2.3em; }
.activity-item .description-of-an-action { margin-left: 0.4em; }

.activity-item .review-item { margin-bottom: 0;}

.activity-item.user-follow img { vertical-align: middle; margin-right: 0.2em;}

.activity-item .remove-post { visibility: hidden; }
.activity-item:hover .remove-post { visibility: visible; }