.cb article {

  position: relative;
  display: block;
  margin: 1em 0 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #dfdfdf;

}

.cb article .pic {

  display: inline-block;
  vertical-align: top;
  width: 20%;

}

.cb article .pic img {

  padding: 8px 20px 0 0;
  max-width: 90%;

}

.cb article .cnt {

  vertical-align: top;
  display: inline-block;
  width: 80%;

}

.cb article .cnt.nopic {

  width: 100%;

}

.cb article .cnt > span {

    display: block;

}

.cb article .title {

  font-size: 1.6em;
  display: block;

}

.cb article .dsc {

  display: block;
  font-size: 1.2em;
  font-weight: 100;
  padding: 1em 0;
  color: #666;

}

.cb article .sti {

  display: block;
  font-size: 1.2em;

}

.cb article .tg li {
 
  display: inline-block;
  text-transform: uppercase;
  background: #efefef;
  padding: 0.1em 0.5em;
  margin: .2em .5em .2em 0;

  border: 1px solid #e0e0e0;

  border-radius: 2px;

}

.cb article .lc {

  padding: .5em 0;
  display: block;

}

.cb article .lc i {

  font-size: 1.3em;
  padding-right: 0.5em;

}
.cb article .lc span {

  font-size: 1.2em;
  font-weight: 100;

}