/**
 * need a class to hide stuff
 */
.display-none {
  display: none!important;
}

/**
 * map widget needs to have a set height
 */

.map-canvas {
  height: 280px;
}

.map-location {
  padding: 10px;
}

.map-location .count {
  display: none;
}

.map-location span > span,
.map-location span > p {
  margin: 0;
  padding: 0 0 5px 0;
}

.map-location span > p {
  font-weight: bold;
}





/**
 * lightbox
 */

.lightbox-frame button {

  display: inline-block;
  padding: 6px 12px;
  border: solid 1px #aab2bd;
  background: white;
  cursor: pointer;
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  border-radius: 4px;
  font-size: inherit;
  height: 34px;
  color: #434a54;


}


.wsq {

  background: white;
  vertical-align: top;
  text-align: left;

  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border-radius: 3px;

}


/**
 * lightbox
 */

body.noscroll {

  position: fixed;
  overflow: hidden;
  width: 100%;

}


.lightbox-canvas {

  z-index: 20000;
  background-color: rgba(0,0,0,0.62);

}

.lightbox-frame {

  padding: 10px 20px;
  z-index: 999999;

}

.lightbox-frame.w500 {

  width: 500px;

}

@media all and (max-width: 500px) {

  .lightbox-frame.w500 {

    width: auto;

  }

}

.lightbox-buttons {

  text-align: center;
  padding-top: 10px;

}

.lightbox-buttons button {

  margin: 0 5px;

}