/**
 * need a class to hide stuff
 */
.display-none {
  display: none!important;
}

/**
 * map widget needs to have a set height
 */
.map-canvas {
  height: 280px;
}

.map-location {
  padding: 10px;
}

.map-location .count {
  display: none;
}

.map-location span > span,
.map-location span > p {
  margin: 0;
  padding: 0 0 5px 0;
}

.map-location span > p {
  font-weight: bold;
}


/**
 * language menu list should be hidden
 */

#nav .language-menu ul {
  position: absolute;
  right: 0;
  background: white;
  padding: 2em 0 0;
  display: none;
  z-index: 3;
}

#nav .language-menu > a {
  text-transform: uppercase;
}