#event-calendar-menu h1 { text-align: center; font-size: 1.4em; padding: 1em 0; }
#event-calendar-menu h2 { margin-bottom: 0.5em; }
#event-calendar-menu h3 { font-size: 1.2em; margin-bottom: 0; }
#event-calendar-menu .indication { font-size: 1em; margin-bottom: 0; }

#event-calendar-menu .date-list-canvas { height: 12em; overflow-y: scroll; position: relative; }

#event-calendar-menu .export-info { padding: 1em 0; }

#event-calendar-menu ul.date-list li { padding: 3px 10px; position: relative; border-bottom: 1px solid #ebebeb; margin-right: 1em;} 
#event-calendar-menu ul.date-list li:last-child { border-bottom: none; } 

#event-calendar-menu ul.date-list li a { font-size: 0.9em; }
#event-calendar-menu ul.date-list li span { font-size: 0.92em; line-height: 1.7em; vertical-align: middle; }
#event-calendar-menu ul.date-list span.timings { color: #666; cursor: pointer;} 

#event-calendar-menu .calendar-options { padding: 0 0 1em; }
#event-calendar-menu .calendar-options h2 { margin-bottom: 0.5em;}
#event-calendar-menu .calendar-options a, 
#event-calendar-menu .calendar-options span { vertical-align: middle; display: inline-block; margin-right: 0.5em; }

#event-calendar-menu input[type="radio"] { border: none; cursor: pointer;}

#event-calendar-menu .disabled img, 
#event-calendar-menu a.disabled { opacity: 0.4; filter:alpha(opacity=40); }

#event-calendar-menu .ical { width: 30px; height: 30px; background: url("../../images/icons.png") -90px -44px no-repeat; display: inline-block;}
#event-calendar-menu .yahoo { width: 86px; height: 23px; background: url("../../images/icons.png") 0 -46px no-repeat; }
#event-calendar-menu .windows-live { width: 100px; height: 22px; background: url("../../images/icons.png") 0 -72px no-repeat; }
#event-calendar-menu .google-calendar { width: 100px; height: 25px; background: url("../../images/icons.png") 0 -95px no-repeat; }