@import "../layout/base";

/**
 * if its in the corpo folder, then it is a corpo style.
 */
#corpo {

  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

  @import "header";
  @import "carousel";
  @import "media";
  @import "price";
  @import "typed";
  @import "odometer-theme";

  // Footer
  @import "footer";

  .spaced {
    padding-bottom: 4em;
    padding-top: 4em;
  }

  .row > h2 {
    // border-bottom: 1px solid $oa-gray-light;
    margin-bottom: 1em;
  }

  p {
    font-size: 18px;
    font-weight: 200;
  }

  strong.h1 {
    color: $brand-primary;
    display: block;
  }

  blockquote {
    footer:before {
      content: none;
    }

    img {
      float: left;
      margin-right: 10px;
    }

    strong {
      color: $oa-black;
    }
  }

  hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 2px solid #eeeeee;
  }

  small {
    font-weight: 400;
    line-height: 1;
    color: #777;
    font-size: 65%;
  }

  .background-white {
    background: $oa-white;

    .shadow {
      -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
    }
  }

  .background-gray {

    background: $oa-gray-lighter;

    .shadow {
      -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
    }
    
  }

  .background-blue {

    background: $oa-blue;

    h1, h2 {
      color: $oa-white;
    }

  }

  .background-dark-purple {

    background: $oa-dark-purple;

    h1, h2 {
      color: $oa-white;
    }

  }

  @import "presentation";
  @import "functions";
  @import "testimonials";


  #trio-actions {
    i {
      color: $oa-blue;
      width: 140px;
      line-height: 140px;
      border-radius: 70px;
      background: darken($oa-white, 10);
      margin: auto auto 12px;
    }

    p {
      margin: 0;
    }
  }


  #references {
    background-color: $oa-black;

    h2 {
      color: $oa-white;
      margin: 0 0 40px;
    }

    #carousel-screens {
      width: 80%;
      margin: auto;
    }
  }

  #ready {
    h2 {
      margin: 0 0 30px;
    }

    a.btn {
      padding: 10px 35px;
    }
  }

  @media(max-width: $screen-sm) {
    #presentation {
      .hook {
        margin-top: 20px;
        font-size: 55px;
      }
    }

    #trio-actions:nth-child(n+2) {
      ul li {
        margin-bottom: 20px;
      }
    }

    #references {
      #carousel-screens {
        width: 100%;
      }
    }

    .pricing > ul {
      display: block;
    }
  }
}