@import "../layout/base";
// @import "../layout/leaflet-0.7.3.scss";
// @import "../agenda/admin-bar";
@import "../agenda/header";

// Typography
body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// Footer
@import "footer";

// Corpo style
#corpo {
  @import "header";
  @import "carousel";
  // @import "hero";
  @import "media";
  @import "price";
  @import "typed";
  @import "odometer-theme";

  .spaced {
    padding-bottom: 4em;
    padding-top: 4em;
  }

  .row > h2 {
    // border-bottom: 1px solid $oa-gray-light;
    margin-bottom: 1em;
  }

  p {
    font-size: 18px;
    font-weight: 200;
  }

  strong.h1 {
    color: $brand-primary;
    display: block;
  }

  blockquote {
    footer:before {
      content: none;
    }

    img {
      float: left;
      margin-right: 10px;
    }

    strong {
      color: $oa-black;
    }
  }

  hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 2px solid #eeeeee;
  }

  small {
    font-weight: 400;
    line-height: 1;
    color: #777;
    font-size: 65%;
  }

  .background-white {
    background: $oa-white;

    .shadow {
      -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.4);
    }
  }

  .background-gray {
    background: $oa-gray-lighter;

    .shadow {
      -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
    }
  }

  .background-blue {
    background: $oa-blue;

    h1, h2 {
      color: $oa-white;
    }
  }

  #presentation {
    height: 750px;
    position: relative;
    color: antiquewhite;

    &:before {
      content: "";
      position: absolute;
      background-image: url('//s3.eu-central-1.amazonaws.com/oastatic/placeit.jpg');
      background-size: cover;
      -webkit-filter: brightness(50%);
      filter: brightness(50%);
      height: 100%;
      width: 100%;
    }

    .container {
      position: relative;
    }

    .hook {
      margin-top: 110px;
      font-size: 65px;
    }

    .under-hook {
      margin-top: 75px;
      font-size: 35px;
    }

    .hook-action {
      margin-top: 100px;

      .btn {
        padding: 10px 35px;
      }
    }

    .hook-secondary-action {

      padding-top: 0.5em;

      a {

        color: $oa-white;
        font-size: 0.9em;
        font-weight: 500;

      }

    }
  }

  #trio-actions {
    i {
      color: $oa-blue;
      width: 140px;
      line-height: 140px;
      border-radius: 70px;
      background: darken($oa-white, 10);
      margin: auto auto 12px;
    }

    p {
      margin: 0;
    }
  }

  #fonctions {
    figure .rounded {
      width: 256px;
      line-height: 256px;
      border-radius: 128px;
      background: $oa-blue;
      margin-left: 20em;
      margin-right: 1em;

      img {
        margin: 0;
        transform: scale(0.7);
      }
    }
  }

  #references {
    background-color: $oa-black;

    h2 {
      color: $oa-white;
      margin: 0 0 40px;
    }

    #carousel-screens {
      width: 80%;
      margin: auto;
    }
  }

  #testimonials {
    h2 {
      margin-bottom: 40px;
    }

    blockquote {
      border-left: none;
      padding: 0;
      quotes: "\201C" "\201D" "\2018" "\2019";

      .quote {
        position: relative;
        padding: 15px;
        margin-bottom: 25px;
        background: lighten($oa-gray, 40);
        border-radius: 8px;

        &:after {
          content: '';
          position: absolute;
          border-style: solid;
          border-width: 16px 8px 0;
          border-color: lighten($oa-gray, 40) transparent;
          display: block;
          width: 0;
          z-index: 1;
          bottom: -16px;
          left: 10px;
        }

        p {
          &:before {
            font-family: Georgia, "Times New Roman", Times, serif;
            content: open-quote;
            font-weight: bold;
            font-size: 35px;
            line-height: 0;
            color: $oa-blue;
            vertical-align: -0.1em;
            padding-right: 8px;
          }

          &:after {
            content: close-quote;
            visibility: hidden;
            line-height: 0;
          }
        }
      }

      footer {
        padding: 0;
      }
    }
  }

  #ready {
    h2 {
      margin: 0 0 30px;
    }

    a.btn {
      padding: 10px 35px;
    }
  }

  @media(max-width: $screen-sm) {
    #presentation {
      .hook {
        margin-top: 20px;
        font-size: 55px;
      }
    }

    #trio-actions:nth-child(n+2) {
      ul li {
        margin-bottom: 20px;
      }
    }

    #fonctions {
      .media {
        text-align: center;

        .media-right img {
          margin-left: 0;
          margin-right: 0;
          margin-top: 2.5em;
        }

        .media-left img {
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 2.5em;
        }
      }
    }

    #references {
      #carousel-screens {
        width: 100%;
      }
    }

    .pricing > ul {
      display: block;
    }
  }
}