.front header nav {
  background: white;
}

.front header nav a {
  color: #333;
}

.offer-title h3,
header .title,
header p {
  background: #333;
}

.front header .title,
.front header p {
  padding: 10px 20px;
}

.front .triangle {
  display: none;
}

.front .newsletter label {
  display: block;
  font-size: 1.2em;
}