.front {
  background: white; 
  text-align: center;
}

.front h1,
.front h2,
.front h3,
.front h4,
.front p,
.front header a,
button {
  font-family: 'Open Sans', sans-serif;
}

.front h1 {
  font-weight: 400; 
  letter-spacing: -1px;
}
.front h2 {
  font-weight: 300; 
  font-size: 2.6em;
  letter-spacing: -1px;
}
.front h3 {
  font-size: 2.2em;
  text-align: left;
}

.front h4 {
  font-size: 1.4em;
}

.front p {
  font-size: 1.4em;
}

.front .footer { margin-top: 2em; }



.front .colored-light {
  background-color: #efefef;
}

.front .colored-dark {
  background-color: #333;
}

.front .colored-dark h2,
.front .colored-dark span,
.front .colored-dark a,
.front .colored-dark i {
  color: #ccc;
}

.front .colored-dark i { padding-right: 0.2em; }

.front .colored-dark .content > h2 {
  color: #ccc;
}

.front .colored li {
  color: #eee;
}

.front .content {
  text-align: left;
  margin: 0 auto; 
  padding: 4em 0 0; 
  clear: both;
  max-width: 980px;
  position: relative;
}

.front .content > h2 { 
  color: #666;
  padding-left: 0.3em;
}

.front button,
.front .button { 
  margin-right: 1em;
  background: #11bed4;
  border: none;
  color: white;
  border-radius: 0;
  padding: 0.6em 1em;
  font-size: 1.2em;
}

.front button:hover,
.front .button:hover {
  background: #31def4;
}

.front section {
  position: relative;
}






/* HEADER SECTION */

.front header {
  background: url("//cibulstatic.s3.amazonaws.com/background.png") center top;
  background-size: cover;
}

.front header .header-canvas  {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, rgba(255,255,255,0)),
    color-stop(0.70, rgba(0,0,0,0.3)),
    color-stop(1, rgba(0,0,0,0.7))
  );
  background-image: -o-linear-gradient(right, rgba(255,255,255,0) 0%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0.7) 100%);
  background-image: -moz-linear-gradient(right, rgba(255,255,255,0) 0%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0.7) 100%);
  background-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0.7) 100%);
  background-image: -ms-linear-gradient(right, rgba(255,255,255,0) 0%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0.7) 100%);
  background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0.8) 100%);
}

.front nav {
  text-align: right;
  padding: 1em;
  background: white;
}

.front nav a {
  display: inline-block; 
  color: #333;
  font-size: 1.2em;
  vertical-align: middle;
  cursor: pointer;
}

.front nav .logo {
  position: absolute;
  width: 100px;
  padding: 0;
  top: 1em;
  left: 1em;
}

.front nav .logo img {
  width: 100%; 
}

.front .links {
  display: inline-block;
}

.front .links a:hover,
.front .links a:hover i {
  color: #11bed4;
}

.front .links li {
  display: inline-block;
  padding: 1em 2em 1em 0;
  position: relative;
}

.front nav .links i {
  font-size: 1.2em;
}

.front nav .language-menu ul {
  position: absolute;
  right: 0;
  background: white;
  padding: 2em 0 0;
  display: none;
  z-index: 3;
}

.front nav .language-menu > a {
  text-transform: uppercase;
}

.front nav .language-menu ul li {
  display: block;
  padding: 0;
}

.front nav .language-menu ul li a {
  padding: 1em;
  text-align: left;
  display: block;
}

.front nav .language-menu ul li a:hover {
  background: #333;
  color: white;
}


.front header .content {
  max-width: 1200px;
  padding: 0 2em;
  z-index: 2;
  text-align: right; 
}

.front header .box {
  text-align: left;
  max-width: 550px;
  padding: 7em 0;
  display: inline-block;
}

.front header .box h1, 
.front header .box p {
  color: white;
}

.front header p {
  font-weight: 500;
}

.front header .title {
  font-size: 2.4em;
  text-transform:uppercase;
  text-shadow: 1px 1px 2px black;
  padding: 0 0 1em;
}

.front header .button {
  margin: 3em 0;
  font-size: 1.4em;
  background: #31def4;
}

.front header .button:hover {
  background: #51feff;
}

.front section .title {
  font-size: 2.5em;
}

.front .desc {
  padding: 3em 0;
  display: inline-block;
  vertical-align: middle;
}

.front .right {
  text-align: right;
}


.front .w100 { width: 100%; }
.front .w60 { width: 60%; }

.front .row {
  padding: 2em 1em;
}

.front .col {
  width: 33%;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.front .col h2 {
  padding-bottom: 1em;
  text-align: left;
}

.front .col:first-child {
  text-align: left;
}

.front .col:last-child {
  text-align: right;
}


.front .block {
  text-align: left;
  padding-bottom: 2em;
}



/* SOLUTION SECTION */


/* this is to have a white background under offer heads */
.front .offers-white-back {
  position: absolute;
  top: 0;
  width: 100%;
  background: white;
  height: 470px;
  v-moz-box-shadow: 0 9px 20px #ddd;
  -moz-box-shadow: 0 9px 20px #ddd;
  -webkit-box-shadow: 0 9px 20px #ddd;
  box-shadow: 0 9px 20px #ddd;
}

.front .offer-head,
.front .offer-details {
  display: inline-block;
}






/** offer head specifics **/

.front .offer-head {
  position: relative;
  text-align: center;
  padding-bottom: 7em;
  overflow: hidden;
  vertical-align: top;
}

.front .offer-head .triangle {
  position: absolute;
  bottom: -10px;
  left: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  box-shadow: 0 16px 10px -17px rgba(0,0,0,0.5);
  margin-left: -20px;
}

.front .offer-head .triangle:after {
   content: "";
   position: absolute;
   width: 40px;
   height: 40px;
   background: white;
   -webkit-transform: rotate(45deg); /* Ch, Saf  */
   -moz-transform: rotate(45deg); /* Fx <16 */
   -ms-transform: rotate(45deg); /* IE 9 */
   -o-transform: rotate(45deg); /* Op <12.1 */
   transform: rotate(45deg); /* Prefixes... */
   top: -28px;
   left: 0;
   -moz-box-shadow: 0 9px 20px #ddd;
   -webkit-box-shadow: 0 9px 20px #ddd;
   -v-moz-box-shadow: 0 9px 20px #ddd;
   box-shadow: 0 9px 20px #ddd;
}

.front .offer-head img,
.front .offer-head .cover,
.front .offer-head .offer-middle,
.front .offer-head .offer-canvas {
  width: 280px;
  height: 280px;
}

.front .offer-head img,
.front .offer-head .cover {
  border-radius: 50%;
  position: absolute;
  left: 0;
}

.front .offer-head .offer-middle,
.front .offer-head .offer-canvas {
  overflow: hidden; 
  position: relative;
  display: block;
}
.front .offer-head .offer-middle[id] {
  display: table; 
  position: static;
}

.front .offer-head .offer-middle .offer-title {
  position: absolute; 
  top: 50%;
} /* for quirk explorer only*/

.front .offer-head .offer-middle .offer-title[id] {
  display: table-cell; 
  vertical-align: middle; 
  width: 100%; 
  position: static;
}

.front .offer-head .offer-middle .text { 
  position: relative; 
  top: -50%;
}

.front .offer-head h3,
.front .offer-head p {
  text-align: center;
  color: white;
}


.front .offer-head .cover {
  background: transparent;
  width: 100%;
}

.front .offer-head .cover {
  background: rgba(0,0,0,0.4);
}

.front .offer-head :hover .cover {
  background: rgba(0,0,0,0.6);
}




/** offer details specifics **/


.front .offer-details {
  text-align: left;
  padding: 2em 0 4em; /* space for the button */
  vertical-align: top;
}

.front .offer-details .offer-desc {
  width: 280px;  
}


.front .offer-details .button {
  position: absolute;
  bottom: 2em;
}

.front .offer-details .features {
  padding-top: 2em;
}


.front .offer-details .features li {
  clear: both;
  font-size: 1.2em;
  padding-bottom: 1em;
}
.front .offer-details .features li * {
  font-size: 0.9em;
}
.front .offer-details .features li i {
  padding: 0.2em 0.5em 0 0;
  float: left;
  color: #11bed4;
}

.front .offer-details .features li i.passive {
  color: #888;
}

.front .offer-details .features li span {
  padding-left: 2em;
  display: block;
  color: #888;
}
.front .offer-details .features strong {
  font-size: 1.3em;
  padding: 1em 0 0.2em;
  display: block;
}






/* REFERENCES SECTION */


/** testimonials **/

.front .testimonial {
  text-align: justify;
}

.front .testimonial .avatar {
  float: left;
  padding-top: 5px;
}

.front .testimonial .avatar img {
  border-radius: 50%;
}

.front .testimonial p {
  font-size: 1.1em;
  font-style: italic;
  margin-bottom: 0.2em;
}

.front .testimonial span {
  color: #999;
  display: block;
}


/** site references */


.front .sites li {
  display: inline-block;
  vertical-align: top;
  padding: 0 3em 2em 0;
  width: 220px;
}
.front .sites img { 
  width: 100%;
  max-width: 300px;
  padding-bottom: 1em;
}

.front .sites p {
  font-size: 1.1em;
  font-weight: bold;
}


/** logos **/

.front .logos {
  text-align: left;
}

.front .logos li {
  display: inline-block;
  width: 120px;
  padding: 0 2em 2em 0;
}

.front .logos img {
  width: 100%;
}






/* CONTACT SECTION */

/** company and contacts **/

.front .contacts .name {
  font-size: 1.4em;
  display: block;
}

.front .contacts .telephone {
  display: block;
}


.front .contacts .big-social-links li {
  display: inline-block;
  padding-right: 1em;
}

.front .contacts .big-social-links li i {
  font-size: 2em;
}


.front .front .team-member i {
  padding-right: 0.4em;
}

.front .team-member .name,
.front .team-member .title,
.front .team-member .email,
.front .team-member .telephone {
  display: block;
}


.front .team-member .title {
  font-size: 1.2em;
}


/** newlsetter */

.front .newsletter form {
  display: inline-block;
}

.front .newsletter button {
  color: white;
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 1em 0.4em;
}

.front .newsletter button,
.front .newsletter input {
  height: 55px;
  vertical-align: middle;
  border-radius: 0;
  border-width: 0;
}

.front .newsletter label { display: none; }

.front .newsletter button i {
  color: white;
  padding: 1em 1.3em;
}

.front .newsletter input {
  padding: 0 1em;
  font-size: 1.2em;
  max-width: 200px;
}



@media all and (min-width: 1600px) {
  .front header .box { padding: 12em 0; }
}



@media all and (max-width: 920px) {

  /* GENERAL */

  .front .w60 {
    width: auto;
  }

  .front .col {
    width: 100%;
  }

  .front .col:first-child,
  .front .col:last-child {
    text-align: center;
  }


  /* HEADER SECTION */

  .front header .box {
    max-width: none;
    display: block;
    padding: 2em 0;
  }

  .front header .header-canvas {
    background: rgba(0,0,0,0.3);
  }


  /* SOLUTION SECTION */

  .front .offers-white-back,
  .front .triangle { display: none; }

  .front .offer-head {
    padding-top: 3em;
    width: 33%;
    overflow: visible;
  }

  .front .offer-details {
    width: 66%;
  }

  .front .offer-details .offer-desc {
    width: auto;
    padding: 0 0 0 4em;
  }

  .front .offer-details button {
    margin: 4em 0 0;
    position: relative;
  }


  /* CONTACT SECTION */

  .front .contacts .name,
  .front .contacts .address,
  .front .contacts .telephone {
    display: inline-block;
    padding-right: 1em;
  }

  .front .contacts .bottom-links li {
    display: inline-block;
    padding-right: 1em;
  }

  .front .team-member .name,
  .front .team-member .title,
  .front .team-member .email,
  .front .team-member .telephone,
  .front .team-member span {
    display: inline-block;
    padding-right: 1em;
  }

}

@media all and (max-width: 840px) {
  .front .page-links { display: none; }
}

@media all and (max-width: 750px) {

  .front h3 {
    font-size: 1.6em
  }

  .front header nav a { 
    float: none;
  }
  
  .front header nav .logo {
    display: block;
  }

  .front header .content {
    padding: 0 1em;
  }


  .front .offer-head img,
  .front .offer-head .cover,
  .front .offer-head .offer-middle,
  .front .offer-head .offer-canvas {
    display: inline-block;
    width: 200px;
    height: 200px;
  }

  .front .sites li {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0 0 4em;
  }
}

@media all and (max-width: 540px) {

  .front .row {
    padding: 2em 0.5em;
  }

  .front header nav .logo {
    padding-bottom: 2em;
  }

  .front .solutions {
    padding: 2em 0;
  }

  .front .offer-head,
  .front .offer-details {
    display: block;
    width: auto;
  }

  .front .offer-head img,
  .front .offer-head .cover,
  .front .offer-head .offer-middle,
  .front .offer-head .offer-canvas {
    display: inline-block;
    width: 280px;
    height: 280px;
  }

  .front .offer-head {
    padding: 2em 0;
    background: white;
    v-moz-box-shadow: 0 9px 20px #ddd;
    -moz-box-shadow: 0 9px 20px #ddd;
    -webkit-box-shadow: 0 9px 20px #ddd;
    box-shadow: 0 9px 20px #ddd;
  }

  .front .offers-white-back, 
  .front .offer-head .triangle {
    display: block;
  }

  .front .offer-head .triangle {
    bottom: -40px;
    left: 50%;
  }

  .front .offer-details .offer-desc {
    padding: 0.5em;
  }

  .front .logos {
    text-align: center;
  }

  .front .logos li {
    padding: 1em;
  }

}

@media all and (max-width: 480px) {

  .front nav {
    text-align: center;
  }

  .front nav .logo {
    position: relative;
    top: auto;
    left: auto;
    padding-right: 2em;
  }

}