.front {
  background: white; 
  text-align: center; 
  min-height: 100%; 
}

.front h1, 
.front h2, 
.front h3,
.front h4, 
.front p,
button {
  font-family: 'Open Sans', sans-serif;
}

.front .pricing,
.front strong {
  color: #11bed4;
}

.front h1 { 
  font-weight: 300; 
  letter-spacing: -1px;
}
.front h2 {
  font-weight: 300; 
  font-size: 2.6em;
  letter-spacing: -1px;
}
.front h3 {
  font-size: 2.2em;
  text-align: left;
}

.front h4 {
  font-size: 1.4em;
}

.front .pricing {
  font-size: 1.8em;
  text-align: left;
  display: block;
  padding: 0 0 1em;
}

.front p {
  font-size: 1.4em;
}

.front .cover {
  background: rgb(50,50,50);
  width: 100%;
}

.front .cover {
  background: rgba(0,0,0,0.4);
}

.front .cover-darker {
  background: rgba(0,0,0,0.6);
}

.front :hover .cover {
  background: rgba(0,0,0,0.6);
}

.front :hover .cover-darker {
  background: rgba(0,0,0,0.7);
}

.front .offers .features li {
  clear: both;
  font-size: 1.2em;
}
.front .offers .features li * {
  font-size: 1em;
  padding-bottom: 0.5em;
}
.front .offers .features li i {
  padding-right: 0.5em;
  float: left;
}
.front .offers .features li span {
  padding-left: 2em;
  display: block;
}
.front .offers .features strong {
  font-size: 1.3em;
  padding: 1em 0 0.2em;
  display: block;
}

.front .colored-verylight {
  background-color: #fafafa;
}

.front .colored-light {
  background-color: #efefef;
}

.front .colored-dark {
  background-color: #333;
}

.front .colored-dark * {
  color: #ccc;
}

.front .colored-dark .content > h2 {
  color: #ccc;
}

.front .colored li {
  color: #eee;
}

@media all and (max-width: 980px) {

  .front .offers p {
    font-size: 1.2em;
  }

}

.front .content {
  text-align: left;
  margin: 0 auto; 
  padding: 4em 0 0; 
  clear: both;
  max-width: 980px;
}

.front .content > h2 { 
  color: #666;
}

.front button { 
  margin-right: 1em;
  background: #11bed4;
  border: none;
  color: white;
  border-radius: 0;
  padding: 0.6em 1em;
  font-size: 1.2em;
}

.front button:hover {
  background: #31def4; 
}

.front section { padding: 0 2em; }

.front header {
  min-height: 500px;
  background: url("../images/background.png") center top;
  background-size: cover;
}

.front header .content {
  max-width: 1200px;
  padding: 3em 2em;
  z-index: 2;
  text-align: right; 
}

.front header .desc {
  text-align: left;
  max-width: 550px;
}

.front header .desc h1 {
  color: white;
  padding: 1em;
  background: rgb(100,100,100);
  background-color: rgba(0,0,0,0.5);
}

.front header .title {
  font-size: 3em;
}

.front header button {
  margin: 3em 0;
  font-size: 1.4em;
  float: right;
}

.front section .title {
  font-size: 2.5em;
}

.front .desc {
  padding: 2em 0;
  display: inline-block;
  vertical-align: middle;
}

.front .right {
  text-align: right;
}

.front .desc .desc-content {
  padding: 0 4em 0 0;
}

.front .desc.right .desc-content {
  padding: 0 0 0 4em;
  text-align: left;
}

.front .ill {
  vertical-align: middle;
  display: inline-block;
}

.front .ill img {
  max-width: 400px;
  width: 100%;
}

.front .w100 { width: 100%; }
.front .w75 { width: 75%; }
.front .w70 { width: 70%; }
.front .w65 { width: 65%; }
.front .w60 { width: 60%; }
.front .w50 { width: 50%; }
.front .w40 { width: 40%; }
.front .w33 { width: 33%; display: inline-block; }
.front .w35 { width: 35%; }
.front .w30 { width: 30%; display: inline-block; }
.front .w25 { width: 25%; display: inline-block; }
.front .pr3 { padding-right: 3%; }


.front .page-menu {
  padding: 2em 0;
}

.front .page-menu li {
  display: inline;
}

.front .page-menu a {
  color: #11bed4;
  font-size: 1.2em;
  padding-right: 2em;
}

.front .page-menu a:hover {
  color: #21cee4;
}


.front .desc .offers {
  padding: 0;
}

.front .desc .offers h2 {
  text-align: left;
  padding: 0 0 0.5em 0;
}

.front .offers > li {
  display: inline-block;
  width: 33%;
  text-align: center;
  vertical-align: top;
  clear: both;
}

.front .offer-details {
  position: relative;
  height: 470px;
}

.front .offer-details button {
  position: absolute;
  bottom: 10px;
}

.offers .offer-item {
  position: relative;
  margin: auto;
  display: block;
}

.offers li:first-child .offer-item {
  margin: 0 auto 0 0;
}

.offers li:last-child .offer-item {
  margin: 0 0 0 auto;
}

.front .offers li img,
.front .offers li .cover {
  height: 100%;
  border-radius: 50%;
  position: absolute;
  left: 0;
}


.offers .offer-middle {
  height: 100%;
  width: 100%;
  overflow: hidden; 
  position: relative;
}
.offers .offer-middle[id] {
  display: table; 
  position: static;
}

.offers .offer-middle .offer-title {
  position: absolute; 
  top: 50%;
} /* for quirk explorer only*/

.offers .offer-middle .offer-title[id] {
  display: table-cell; 
  vertical-align: middle; 
  width: 100%; 
  position: static;
}

.offers .offer-middle h3 { 
  text-align: center; 
  position: relative; 
  top: -50%;
  color: white;
}

.offers .offer-desc { 
  text-align: left; 
}
.offers .offer-desc p {
  padding: 1em 0 0 0;
}
.offers .offer-desc li {
  display: block;
}

.offers .offer-canvas,
.offers .offer-desc {
  width: 280px;
}
.offers .offer-canvas { height: 280px; }

@media all and (max-width: 980px) {
  .offers .offer-canvas { width: 240px; height: 240px; }
}

@media all and (max-width: 860px) {
  .front .offers li {
    display: block;
    width: auto;
  }

  .offers li .offer-canvas, 
  .offers li:first-child .offer-canvas, 
  .offers li:last-child .offer-canvas { 
    float: left;
    margin-bottom: 4em; 
  }

  .offers li .offer-desc {
    display: block;
    padding-left: 300px;
    width: auto; 
  }

  .offers li .offer-desc p {
    padding: 4em 0;
  }

  .front .offer-details {
    position: relative;
    height: auto;
  }

  .front .offer-details button {
    position: relative;
    bottom: none;
  }
}

@media all and (max-width: 600px) {

  .offers .offer-canvas,
  .offers .offer-desc { width: 280px; }
  .offers .offer-canvas { height: 280px; }

  .offers li .offer-canvas, 
  .offers li:first-child .offer-canvas, 
  .offers li:last-child .offer-canvas { 
    float: none; 
    margin: 2em auto 0;
  }
  .offers li .offer-desc {
    padding-left: 0;
  }
}


.front .testimonial {
  max-width: 650px;
  padding: 1em 0;
}

.front .testimonial .avatar {
  float: left;
  padding-top: 5px;
}

.front .testimonial .avatar img {
  border-radius: 50%;
}

.front .testimonial p {
  font-size: 1.1em;
  font-style: italic;
  margin-left: 50px;
}

.front .testimonial span {
  margin-left: 50px;
  color: #999;
}

.front .references {
  padding: 0 0 2em;
}

.front .references li {
  display: inline-block;
  vertical-align: middle; 
  padding: 0 20px 20px 0; 
  width: 180px;
}
.front .references img { 
  width: 100%; 
}

.front .offers .offer-desc {
  padding-bottom: 2em;
}

.front .offers .offer-desc .name {
  font-size: 1.4em;
  display: block;
}

.front .offers .offer-desc .telephone {
  display: block;
}

.front .offers .offer-desc h4 {
  font-size: 1em;
  text-align: left;
  padding-bottom: 0.5em;
}

.front .offers .offer-desc .big-social-links li {
  display: inline-block;
  padding-right: 1em;
}

.front .offers .offer-desc .big-social-links li i {
  font-size: 2em;
}

.front .offers .offer-desc p {
  margin: 0;
}

.front .offers .offer-desc a {
  font-size: 1em;
}

.front .team-member, 
.front .newsletter,
.front .api {
  padding-bottom: 2em;
  margin: 0;
}

.front .newsletter form {
  display: inline-block;
}

.front .newsletter button {
  color: white;
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 1em 0.4em;
}

.front .newsletter button,
.front .newsletter input {
  height: 55px;
  vertical-align: middle;
}

.front .newsletter label { display: none; }

.front .newsletter button i {
  color: white;
  padding: 1em 1.3em;
}

.front .newsletter input {
  padding: 1em;
  font-size: 1.2em;
  max-width: 200px;
}

.front .team-member i {
  padding-right: 0.4em;
}

.front .team-member .name,
.front .team-member .title,
.front .team-member .email,
.front .team-member .telephone {
  display: block;
}


.front .team-member .title {
  font-size: 1.2em;
}

.front .offers .offer-desc.api span {
  font-size: 1.2em;
}

.front .ill-preview {
  display: block;
  margin: 3em 0;
  position: relative;
  overflow: hidden;
  height: 80px;
  width: 100%;
}

.front .ill-preview img {
  margin-top: -34px;
  width: 100%;
  min-width: 800px;
}

.front .ill-preview div {
  display:block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}

.front .ill-preview span,
.front .ill-preview h4 {
  display: block;
  padding: 0.5em 1em 0;
  color: white;
}

.front .ill-preview span {
  font-size: 1.2em;
  line-height: 1.7em;
  display: block;
}

.front .footer { margin-top: 6em; }


@media all and (max-width: 800px) { 
  .front .desc { padding: 4em 0; }
  .front header .title { font-size: 2.2em; }
  .front section .title { font-size: 2em; }
  .front .subtitle { font-size: 1.2em; }
}

@media all and (max-width: 640px) {

  .front .desc {
    display: block; 
    width: auto; 
    padding: 1em 0 0 0;
  }

  .front .right {
    text-align: left;
  }

  .front .ill {
    text-align: center;
    display: block;
    padding: 2em 0 0 0;
    width: auto; 
  }

  .front .content {
    padding-top: 1em;
  }
  .front header {
    min-height: 0;
  }
  .front header .desc h1 {
    font-size: 3.2em;
  }

  .front .desc .desc-content,
  .front .desc.right .desc-content {
    padding: 0;
  }

  .front .desc .url {
    display: block;
  }

  .front .references {
    text-align: center;
  }
  .front .references li {
    padding: 10px;
    width: 90px;
  }

  .front .offer {
    font-size: 1.6em;
  }

}