.program .content { padding: 20px; display: block; overflow: hidden; position: relative; }

.program.empty .main { max-width: none; width: auto; display: block; }

.program header {
  padding: 10px 10px 10px 20px;
  background: transparent;
  z-index: inherit;
  position: relative;
}

.program header > * { vertical-align: middle; }
.program header img { max-width: 90px; padding: 3px 10px 0 0; vertical-align: top; }
.program header h1 { color: #333; line-height: 26px; font-weight: normal; letter-spacing: -1px; font-size: 2em; }

.program header .title { max-width: 50%; display: inline-block; width: 400px; min-height: 80px; }
.program header .title a { padding-right: 0.3em; }
.program header .title p { padding: 0.4em 0; }

.program header .nav { max-width: 30%; text-align: right; position: absolute; top: 10px; right: 0; }

.program header .actions a > * { vertical-align: middle; display: inline-block; color: #666; }
.program header .actions a i { padding-right: 0.3em; }

.program header .actions li { display: block; padding: 0 0 0.3em 1em; }

.program header .actions i.icon-rss { color: #FA9C39; }
.program header .actions i.icon-arrow-right { color: #3CAD2D; }
.program header .actions i.icon-google-plus { color: #F03530; }
.program header .actions i.icon-external-link { color: #11bed4; }
.program header .actions i.icon-share { color: #FF5555; }
.program header .actions .share-menu { padding: 7px 0 0 5px; display: none; z-index: 3; }

.program header .main-actions { padding-bottom: 1em; }
.program header .main-actions li { display: inline-block; padding-left: 1em; }
.program header .main-actions i { font-size: 2em; }
.program header .main-actions li.add-event { padding-left: 0; }


.program header a i { padding-right: 0.4em; }

.program header .share { padding: 1em 0 0; text-align: right; }
.program header .share li { display: inline-block; padding: 0 0 0 1em; }
.program header .share li:first-child { padding: 0; }
.program header .share li * { color: #ccc; }
.program header .share:hover li * { color: #666; }

.program header .share:hover .icon-share { color: #F03530; }
.program header .share:hover .icon-rss { color: #FA9C39; }
.program header .share:hover .icon-magic { color: mediumpurple; }

.program header .share:hover .fb i { color: #3b5998; }
.program header .share:hover .gp i { color: #d34836; }
.program header .share:hover .li i { color: #007bb6; }
.program header .share:hover .tw i { color: #00aced; }
.program header .share:hover .tb i { color: #32506d; }
.program header .share:hover .pt i { color: #cb2027; }


.program .pblock-head { padding: 5px 20px 0; }
.program .pblock-head > * { display: inline-block; }
.program .pblock-head i { font-size: 1.2em; color: #aaa; }
.program .pblock-head span { margin-left: 0.5em; }


.program .pblock.first { margin-top: 10px; }

.program .pblock-body { z-index: 3; width: 100%; }
.program .pblock-body .content, 
.program .pblock-body.content { padding: 5px 20px 20px; }

.program .pblock-body .pcat { padding-left: 10px; }

.program .pcat li,
.program .ptags li { margin: 0; }

.program .pblock-body .ptags { padding-right: 10px; }
.program .ptags li { padding: 0.2em 0.1em; line-height: 1em; }
.program .ptags li > * { padding: 2px; font-size: 0.9em; display:inline-block; line-height: 1em; }
.program .ptags li > button { margin: 0; background: transparent;}


.program .pplaces .map-canvas { height: 200px; margin-bottom: 10px;}

.program #location-list-wrapper { height: 300px; position: relative; }
.program .pplaces ul span { display: block; }
.program .pplaces .passed * { color: #666; }
.program .pplaces ul li { padding: 0.5em; display: block; cursor: pointer;}
.program .pplaces ul .address { font-style: italic; color: #aaa; }
.program .pplaces ul li .icon-remove { padding-top: 0.2em 0; }


.program .pfilter { padding: 0.2em;  border: 1px solid #53D4FF; margin: 0 0.5em 0.3em 0; background: #53D4FF; display: inline-block;}
.program .pfilter * { color: white; display: inline-block; }
.program .pfilter span,
.program .pfilter button { font-size: 1.1em; background: transparent; padding: 0 0.3em; cursor: pointer; border: none; }
.program .pfilter .icon-filter { padding: 0 0.5em; }
.program .pfilter i { padding: 0 0.1em 0 0.3em; }
.program .pfilter .icon-remove { padding: 0.2em 0.5em; }
.program .disabled .pfilter { background: #ccc; border: 1px solid #ccc; }


.program .filter-item { padding: 0 5px 0 10px; display: inline-block; border: 1px solid transparent; line-height: 2em; vertical-align: middle; }
.program .filter-item i { display: none; float: right; font-size: 0.8em; padding-top: 0.75em; margin-left: 5px; }
.program .filter-item.active i { display: block; }

.program .filter-item button { display: none; cursor: pointer; border: none; }
.program .filter-item.active button { display: inline-block; padding: 0 4px;}

.program .filter-item:hover { background: #f0f0f0; }
.program .filter-item.active:hover { background: #53D4FF; }
.program .filter-item:active * { color: #666; }


.program .filter-item.active { border: none; background: #53D4FF; }
.program .filter-item.active a, 
.program .filter-item.active span,
.program .filter-item.active i,
.program .filter-item.active button { color: white; }
.program .filter-item.active.disabled,
.program .disabled .filter-item.active { background: #ccc; }

.program .pdates.disabled .url { color: #999;}

.program .pdates .calendar-canvas { width: 100%; }

/* minimum calendar css */
.program .pdates .ccal ul { margin: 0; padding: 0; text-align: left;}
.program .pdates .ccal li { list-style-type: none; display: inline-block; width: 14.28%; cursor: pointer; text-align: center; min-width: 2.2em;}
.program .pdates .ccal li span { display: inline-block; }
.program .pdates .ccal li.calmonth { width: 71.4%; }

/* make it pretty */
.program .pdates .ccal li span { padding: 4px; display: block; border: 1px solid transparent; }
.program .pdates .ccal .calbody li span { color: #ccc; background: #f0f0f0;}
.program .pdates .ccal .calbody li.hasdates span { color: #333; background: white; }
.program .pdates .ccal li.calprev span, .pdates .ccal li.calnext span { color: #ccc; }
.program .pdates .ccal li.selected, .pdates .ccal li.preselected { background: #666!important; }
.program .pdates .ccal li.selected span, 
.program .pdates .ccal li.preselected span { color: white!important; background: none!important; }
.program .pdates .ccal li.today span { border: 1px solid #ccc; }

.program .pdates .ccal * {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}



.program .pdates .ccal.disabled {
  background: #eee!important;
  color: #999!important;
}

.program .pdates .ccal.disabled li span,
.program .pdates .ccal.disabled li.hasdates span { background: #eee; }
.program .pdates .ccal.disabled li.selected { background: #ccc!important; }

.program .pdates .filter-item { margin-bottom: 10px; }

.program .pdates .url { display: block; }


@media all and (max-width: 1000px) { 
  .program header { max-width: 700px; }
}


@media all and (max-width: 760px) {

  .program > div { display: block; }
  
  .program .head { margin-bottom: 0; box-shadow: none; }
  
  .program .pblock { position: relative; padding-top: 50px; }
  .program .pblock-head { padding: 5px 0; margin: 10px 5px 0; text-align: center; display: inline-block; cursor: pointer; position: absolute; top: 0; width: 60px; border-bottom: 2px solid transparent; }
  .program .pblock-head i { display: none; }
  .program .pblock-head span { display: block; margin-left: 0; }

  .program .pblock-head.active { border-bottom: 2px solid #53D4FF; }

  .program .pblock-body .content { padding: 20px 0; }

  .program .at1 { left: 0; }
  .program .at2 { left: 70px; }
  .program .at3 { left: 140px; }
  .program .at4 { left: 215px; }
  .program .at5 { left: 280px; }


  .program .pdates .ccal li span { padding: 6px; }

  .program .map-canvas { display: none; }

  .program header { max-width: 460px; padding: 20px 0 0; }
  .program header .title { max-width: 75%; }
  .program header img { max-width: 20%; }
  .program header .nav { display: block; max-width: none; text-align: left; position: inherit; }

  .program header .actions li { padding: 1em 1em 1em 0; display: inline-block; }

  .program header .main-actions { padding: 2em 0 1em; }
  .program header .main-actions .button.active { display: none; }

  .program header .share { padding: 1em 0; text-align: left; }
  .program header .share li,
  .program header .share li:first-child { display: inline-block; padding: 0 2em 1em 0; }
  .program header .share li:last-child { padding: 0; }
  .program header .share li * { color: #666; }
  .program header .share li span { font-size: 1.1em; }

}

.program .edit-post { cursor: pointer; }
.program .edit-post * { vertical-align: middle; }

.program .edit-post-menu { margin-top: 0.5em; }
.program .edit-post-menu > li {
  padding: 0.1em 0.3em;
  cursor: pointer;
  display: block;
}
.program .edit-post-menu i {
  font-size: 0.8em;
  padding-right: 0.2em;
}
.program .edit-post-menu li:hover { background: #666; }
.program .edit-post-menu li:hover * { color: white; }

.program .edit-post-menu.disabled li:hover,
.program .edit-post-menu.disabled li { background: none; }
.program .edit-post-menu.disabled li:hover * { color: none; }
.program .edit-post-menu.disabled li * { color: #999; }

.program .etags li i { font-size: 0.8em; width: 1.25em; }


.program .agg { min-width: 190px; }
.program .agg * { vertical-align: middle; }
.program .actions .agg i { font-size: 1em; line-height: 0.6em;}
.program .agg .icon-ok { color: #3CAD2D; }
.program .agg .icon-remove { color: #FF5555; display: none; }
.program .agg:hover .icon-ok { display: none; }
.program .agg:hover .icon-remove { display: inline-block; }

.program .agg .button-spinner { display: inline-block; width: 10px; padding: 0 8px 0 10px; margin-top: 2px; }

.program .agg .rw-item { width: 86%; }


#program.noreviewposter .head .ptitle { max-width: none; padding-top: 20px; }
#program.noreviewposter .head .ptitle h1,
#program.noreviewposter .head .ptitle a,
#program.noreviewposter .head .psub { margin-left: 0; }

#program.noreviewposter .main { padding-top: 20px; }


.program .howto { padding: 40px 20px; }
.program .howto h2 { font-size: 1.6em; }
.program .howto h5 { padding: 1.5em 0 0.5em; }
.program .howto p,
.program .howto p * { color: #999; }
.program .howto p,
.program .howto h2,
.program .howto h5,
.program  .howto a { font-family: inherit; }


.tag-edit-menu .current-tags .icon-remove { color: #999; padding-right: 10px; font-size: 0.8em; width: 0.8em; }

.tag-edit-menu .error { color: red; }

.map-location > span, .map-location > img { display: inline-block; }
.map-location > img { width: 48px; padding: 0.2em 0.5em 0 0; vertical-align: top;}
.map-location > span { max-width: 160px; }

.map-search input { display: block; width: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.map-search .indication { margin: 0; }
.map-search a { padding-right: 0.5em; font-size: 0.85em; }
.map-search .context-menu { min-width: 170px; }







.program .main .header p { padding: 0.5em 0; }
.program .main section { padding: 2em 0;}