@import '../layout/base';
@import '../components/nav';
@import '../form-components/image-upload';
@import '../form-components/input-with-icon';

.agenda-admin {

  margin: 60px auto;

  .header {

    padding: 20px;

    .agenda-logo {
      display: block;
      border-radius: 50%;
      overflow: hidden;
      img {
        max-width: 100%;
      }
    }

  }

  .body {

    padding: 0 30px 2em;

  }

  &.redirect {

    .body {

      text-align: center;
      padding: 16em 0;

    }

  }

}
