<div class="popup-overlay js_close_popup">
  <section>
    <header class="popup-title">
      <h2>Transfer de propriété</h2>
      <a class="close-link" href=""><i class="fa fa-times fa-lg"></i></a>
    </header>
    <div class="js_popup_content popup-content">
      <form class="form-group" method="get" action="<%= res %>">
        <input class="form-control" type="email" placeholder="email" name="email"/>
      </form>
    </div>
  </section>
</div>