{
  "extends": "../.eslintrc",
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/test/**/*.js",
          "**/scripts/**/*.js"
        ]
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages"
    ]
  },
  "settings": {
    "import/core-modules": [
      "node:test"
    ]
  }
}
