<% include customEmbedStyles.part.ejs %>
<div id="content">
  <div class="container">
    <div class="row">
      <section class="col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8 main-content">
        <div class="row filters cbpgft" data-cbctl="<%= uid %><% if (typeof embedUid !== 'undefined') { %>/<%= embedUid %><% } %>|<%= lang %>"></div>
      </section>
      <section class="col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8 main-content js_list_content">
<% renders.eventItems.forEach(function( eventRender ) { %>
    <%- eventRender %>
<% } ); %>
      </section>
    </div>
  </div>
</div>