<% include customEmbedStyles.part.ejs %>
<div class="canvas elb ela mw720">
  
<% if ( !isEmpty ) { %>

  <div class="js_previous_page previous-page"><a class="url"><i class="fa fa-arrow-up"></i></a></div>

  <div class="cbpgft" data-cbctl="<%= uid %>|<%= lang %>"></div>

  <% include ../general/pages %>

  <div class="js_list_content">
    <% include ./show.part.ejs %>
  </div>

  <% include ../general/pages %>

<% } else { %>
  <main>
    <p class="empty"><%= __( 'This agenda hasn\'t published any events yet.' ) %></p>
  </main>
<% } %>

</div>