<footer id="footer">
  <p>
    <a href="/">Open Agenda</a> · 
    <a href="#"><%= __('About') %></a> · 
    <a href="#"><%= __('Help') %></a> · 
    <a href="#"><%= __('Terms of use') %></a>
  </p>
</footer>