<footer id="footer">
  <p <% if ( typeof isEmpty !== 'undefined' && isEmpty ) { %>class="text-center"<% } %> >
    <a href="/">Open Agenda</a> · 
    <a href="#"><%= __('About') %></a> · 
    <a href="#"><%= __('Help') %></a> · 
    <a href="#"><%= __('Terms of use') %></a>
  </p>
</footer>