<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1><%= __('bouyah %title%', {'%title%': 'giggity'}) %></h1>
<% if (grut) { %>
    <p>Switch is on</p>
<% } else { %>
    <p>Switch is off</p>
<% } %>
  </body>
</html>