<html>
  <head>
<% js.forEach( function( jsPath ) { %>
    <script type="text/javascript" src="<%= jsPath %>"></script>
<% }) %>
  </head>
  <body>
    <p>tags widget</p>
    <div class="cbpgtg cibulTags" data-cbctl="48959239/46744426"></div>

    <div class="cbpgtg cibulTags" data-cbctl="48959239/46744426|la-bellevilloise,printemps-arabe,photo"></div>
  </body>
</html>