<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1><%= __( title ) %></h1>
        <p><%= __( subtitle ) %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p><%= text %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p><%= __('the current text is not translated. add ?lang=fr to the url to see this in french') %></p>
      </div>
    </div>
  </div>
</div>