#event i { padding-right: 0.5em; }
#event i.icon-facebook { color: #3B5998; }
#event .icon-share { color: #FF5555; }
#event .sec h2 { color: #666666; font-size: 1.1em; margin-bottom: 6px; }

#event .separator { display: block; padding: 10px 0;}

#event .admin { color: #333;}

#event .main { max-width: 500px; }
#event .main .section { padding: 10px; }

#event .poster { padding: 10px 20px 20px; }
#event .poster img { width: 100%; max-width: 300px; }

#event .sec > p,  
#event .sec .shares { padding: 0 20px; }

@media (max-width: 760px) {
  #event .main, #event .sec { padding: 10px 0; }
  #event .main { display: inline-block; width: 60%!important; }
  #event .sec { display: inline-block; max-width: 40%!important; border-bottom: none; margin: 0!important;}
}

@media (max-width: 500px) {
  #event > div { display: block; }
  #event .main, #event .sec { display: block; width: auto!important; max-width: none!important; }
  #event .poster { padding: 1em; }

  #event .shares { display: none; }

  #event .sec { padding: 0; }
  #event .sec > * { padding: 5px!important;}

  #event .actions { padding: inherit; }
}

#event .section-head { margin: 10px 0 5px; }
#event .section-head > * { display: inline-block; vertical-align: middle; }
#event .section-head i { font-size: 1.4em; }
#event .section-head .section-title { margin: 0 0.5em 0 0; }

#event .sidebar-item { padding: 20px; }

#event .language-list { position: absolute; display: inline-block; right: 0; padding: 5px;}
#event .language-list li { display: block; cursor: pointer; }
#event .language-list li { color: #ccc; margin-right: 10px; }
#event .language-list li.active { color: inherit; }
#event .language-list .language-menu { display: none; border: 1px solid #ccc; padding: 0 3px; background: white; }
#event .language-list .language-select { cursor: pointer; display: block; }
#event .language-list .language-select span { margin-right: 2px; }


#event #description .disabled { height: 0; overflow: hidden; display: block; }

#event #description > div > * { margin-bottom: 0.5em; display: block; }
#event #description h1 { line-height: 1em; font-weight: 300; letter-spacing: 1px; font-size: 2.3em; margin: 0 0 0.1em; word-wrap: break-word; }
#event #description .short { font-style: italic; font-size: 1.1em; margin: 0 0 0.2em; word-wrap: break-word; }
#event #description .spacetime { display: block; margin: 0 0 0.2em; }
#event #description .tags > * { vertical-align: middle; }
#event #description .tags span { color: #666; font-style: italic; word-wrap: break-word; }

#event #description .free { word-wrap: break-word; }

#event #places .place-detail { padding: 0 0 1em 0; }
#event #places .address { font-style: italic; color: #666; }
#event #places .address, .ticket { display: inline-block; margin-right: 0.5em; }
#event #places .pricing.disabled { display: none; }
#event #places .map { height: 200px; }

#event #dates .months { 
  margin-bottom: 1em;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; 
}

#event #dates .month { 
  display: inline-block;
  margin: 0 1em 0 0;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

#event #dates .lineprev { cursor: pointer; padding-right: 0.8em;}
#event #dates .linenext { cursor: pointer; padding-left: 0.8em;}

#event #dates .month * { display: block; color: #999;}
#event #dates .month span { font-size: 0.85em; }

#event #dates .months .active * { color: #333;}

#event #dates ul.dates > li { display: inline-block; vertical-align: top; margin-bottom: 10px; cursor: pointer;}
#event #dates ul.dates > li.disabled * { color: #aaa; }
#event #dates ul.dates > li > * { display: block; margin-right: 10px;}
#event #dates ul.dates > li > ul { margin-top: 2px; }
#event #dates ul.dates > li > ul * { color: #666; }

#event #dates ul.dates > li { width: 33%; }
@media (max-width: 900px) { #event #dates ul.dates > li { width: 50%; } }


#event #footer-info * { font-size: 0.9em; font-style: italic; }
#event #footer-info span { color: #666; } 


#event .actions { padding: 0 20px 20px; }
#event .actions li { display: inline-block; margin-right: 0.5em; }
#event .actions li.section { display: block; margin: 20px 0 0; }

#event .actions i { vertical-align: middle; }

#event .share-menu { display: none; padding: 5px 0 0 5px; }
#event .share-menu li { display: block; }

#event li.add-event { display: block; padding-bottom: 20px; }

#event .shares > div { display: block; }


#event .social-shares { padding-bottom: 1em; margin-left: -10px; }

#event .social-shares li { margin: 0.3em 0.3em 0 0; padding: 0; }
#event .social-shares a { background: white; padding: 0.4em 0.5em 0.5em 0.5em; text-align: center; display: inline-block;}
#event .social-shares i { font-size: 1.1em; color: #11BED4; padding: 0; width: 1em; display: inline-block; }

#event .social-shares a:hover i { color: white; }

#event .social-shares a.fb:hover { background: #3b5998; }
#event .social-shares a.gp:hover { background: #d34836; }
#event .social-shares a.li:hover { background: #007bb6; }
#event .social-shares a.tw:hover { background: #00aced; }
#event .social-shares a.tb:hover { background: #32506d; }
#event .social-shares a.pt:hover { background: #cb2027; }



#event.noposter .actions { padding: 10px 10px 20px 20px; max-width: 130px;   }
#event.noposter .actions li { display: inline-block; margin: 0 5px 5px 0; }
#event.noposter .actions li.section { display: block; margin: 20px 0 0; }
#event.noposter .sec { width: auto; background: #fcfcfc; }
#event.noposter .sec > p { padding: 20px 10px 10px 20px; max-width: 130px; }

#event.noposter .shares { padding: 0 10px 20px 20px; max-width: 130px; }


@media (max-width: 760px) {
  #event.noposter .main { display: inline-block; width: 64%!important; }
  #event.noposter .sec { display: inline-block; max-width: 24%!important; border-bottom: none; margin: 0!important;}
}

@media (max-width: 400px) {
  #event.noposter .sec > p, 
  #event.noposter .actions { max-width: none; }
  #event.noposter .sec,
  #event.noposter .main { display: block; max-width: none!important; width: auto!important; }
}