.oa-page-header .profile {

  h3 {

    padding-left: 10px;

  }

  .dropdown-menu {

    .row li {

      margin: 0;
      padding: 0;

      a {

        padding-left: 10px;

        &:hover {

          color: $oa-white;

        }

      }

    }

  }

}

.oa-page-header .profile .dropdown-menu .row li {

  margin: 0;
  padding: 0;

}

.oa-page-header .profile .dropdown-menu .row li a:hover {

  color: white;

}

@media (max-width: $screen-sm-max) {
  .oa-page-header .profile {
    & > a {
      &:hover {
        color: initial;
      }

      cursor: initial;
      text-decoration: none;
    }

    h3 {
      margin-top: 12px;
      padding-left: 15px;
    }

    .dropdown-menu {
      .row li a {
        padding-left: 15px;
      }
    }
  }
}
