<html>
  <head>
<% js.forEach( function( jsPath ) { %>
  <script type="text/javascript" src="<%= jsPath %>"></script>
<% }) %>
  </head>
  <body>
    <p>search widget</p>
    <div class="cbpgsc cibulSearch" data-cbctl="48959239/46744426|fr"></div>
  </body>
</html>