.oa-form  .age {

  input[type="checkbox"] {

    margin: 0 10px 2px 0;
    padding: 0;
    vertical-align: middle;

  }

  .age-inputs {

    display: inline-block;

    label {

      font-weight: normal;

    }

    .Select-control {

      width: 150px;

    }

    .Select-placeholder {

      padding: 0px 52px 8px 10px;

    }

    .Select {

      display: inline-block;
      vertical-align: middle;
      z-index: 3;

    }

  }

}