<div class="multilingual-input-field">
  <label>
    <span>Mots clés</span>
    <span></span>
  </label>
  <ul class="list-unstyled">
    <li class="lang-unit">
      <label>fr</label>
      <div class="multi-input">
        <div class="react-tagsinput">
          <span>
            <span class="react-tagsinput-tag">
              <span>concert</span>
              <a class="react-tagsinput-remove"></a>
            </span><!--
            --><span class="react-tagsinput-tag">
              <span>musique</span>
              <a class="react-tagsinput-remove"></a>
            </span><!--
            --><span class="react-tagsinput-tag">
              <span>son</span>
              <a class="react-tagsinput-remove"></a>
            </span>
            <input type="text" class="react-tagsinput-input" placeholder="">
          </span>
        </div>
        <span class="field-counter">234</span>
      </div>
    </li>
    <li class="lang-unit">
      <label>en</label>
      <div class="multi-input"><!--
      --><div class="react-tagsinput"><!--
        --><span><!--
            --><span class="react-tagsinput-tag"><span>concert</span><a class="react-tagsinput-remove"></a></span><!--
          --><span class="react-tagsinput-tag"><span>music</span><a class="react-tagsinput-remove"></a></span><!--
          --><span class="react-tagsinput-tag"><span>sound</span><a class="react-tagsinput-remove"></a></span>
          <input type="text" class="react-tagsinput-input" placeholder="">
          </span>
        </div>
        <span class="field-counter">234</span>
      </div>
    </li>
    <li class="lang-unit">
      <label>es</label>
      <div class="multi-input">
        <div class="react-tagsinput">
          <span>
      <span class="react-tagsinput-tag"><span>concierto</span><a class="react-tagsinput-remove"></a></span><!--
          --><span class="react-tagsinput-tag"><span>musica</span><a class="react-tagsinput-remove"></a></span><!--
          --><span class="react-tagsinput-tag"><span>sonido</span><a class="react-tagsinput-remove"></a></span>
          <input type="text" class="react-tagsinput-input" placeholder="">
          </span>
        </div>
        <span class="field-counter">230</span>
      </div>
    </li>
  </ul>
</div>