.language-bar {

  padding-top: 1em;

  ul {

    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: top;

  }

  li {

    display: inline-block;
    vertical-align: top;
    padding: 0 10px 10px 0;

    .language-item {

      background: $oa-blue;
      border: 0;
      border-radius: 3px;

      span {

        padding: 8px;
        display: inline-block;
        cursor: pointer;
        color: $oa-white;

      }

    }

    &.disabled {

      .language-item {

        background: $oa-gray-light;

      }

    }

  }

  .language-add {

    display: inline-block;
    cursor: pointer;
    min-width: 150px;

    a {

      padding-top: 7px;
      display: inline-block;

    }

  }

  .language-select__control {

    width: 10em;
    min-height: 35px;

  }

  .language-select__control--is-focused {

    border-color: lighten($oa-blue, 10)!important;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset,rgba($oa-blue, 0.6) 0px 0px 8px;

  }

  .language-select__option--is-focused {

    background: $oa-blue;
    color: $oa-white;
    cursor: pointer;

  }

  .language-select__indicator {

    padding: 6px 8px 6px;

  }

  .change-select {

    display: inline-block;
    vertical-align: middle;
    min-width: 150px;

  }

  .change-cancel {

    display: inline-block;
    cursor: pointer;
    margin-bottom: 9px;

  }

  &.thin {

    padding-top: 0;

    ul {
      margin-bottom: 0;
    }

    li {
      padding-bottom: 0;
    }

  }

}
