.multilingual-input-field {

  position: relative; /* counter goes to the right if not relative */
  padding: 1em 0 0; /* 2em is too much for event form */

  .info {

    display: block;
    
  }

  .lang-unit, .lang-input {

    padding: 1em 0 0.5em;
    position: relative;

    > label {

      display: inline-block;
      width: 1.5em;
      text-transform: uppercase;
      position: absolute;
      padding: 9px 0;

    }

    > div {

      margin-left: 2em;

    }

  }

  .lang-input {

    padding: 0.5em 0 0.2em;

  }

  .disabled {

    opacity: 0.5;

    label, .info {

      color: $oa-gray-light;

    }

    input[type="text"],
    textarea {

      color: $oa-gray-light;
      background-color: $oa-gray-lighter;

    }

  }

}