<div class="multi-input">
  <label >Liens additionels</label>
  <div class="react-tagsinput" >
    <span>
      <span class="react-tagsinput-tag">
        <i class="fa fa-link" ></i>
        <span >https://openagenda.com</span>
        <a></a>
      </span><!--
      --><button type="button" class="react-tagsinput-tag error">
        <i class="fa fa-exclamation-circle"></i>
        <span>Invalid input</span>
        <strong>×</strong>
      </button>
      <input type="text" value="" disabled/></span>
    </div>
    <span class="sub" >Ajoutez des liens facebook, twitter ou tout autre lien relatif au lieu</span>
    <div class="alternatives">
    <ul></ul>
  </div>
</div>

<div class="multi-input">
  <label >Liens additionels</label>
  <div class="react-tagsinput" >
    <span>
      <input type="text" value="" disabled/></span>
    </div>
    <span class="sub" >Ajoutez des liens facebook, twitter ou tout autre lien relatif au lieu</span>
    <div class="alternatives">
    <ul></ul>
  </div>
</div>