<div class="multilingual-input-field form-group">
  <label></label>
  <ul class="list-unstyled">
    <li class="disabled">
      <div class="lang-unit">
        <label>fr</label>
        <div>
          <div>
            <input name="description_fr" type="text" value="Ouaich" class="form-control" disabled>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="lang-unit">
        <label>en</label>
       <div>
         <div>
          <input name="description_en" type="text" value="Yep" class="form-control">
        </div>
      </div>
    </div>
  </li>
  <li class="disabled">
    <div class="lang-unit">
      <label>es</label>
        <div>
          <div>
            <input name="description_es" type="text" value="Si" class="form-control" disabled>
          </div>
        </div>
      </div>
    </li>
    <li class="info" >Yeepeekayyay</li>
  </ul>
</div>