<div class="form-group translation-form">
  <a class="pull-right help" target="_blank" href="#">
    <i class="fa fa-question-circle"></i>
  </a>
  <h2>Traduction</h2>
  <div class="form-inline row">
    <div class="col-sm-6">
      <label>Langue source</label>
      <div class="line">
        <span class="disabled">Français</span><span> - <a href="#">Changer</a></span>
      </div>
    </div>
    <div class="col-sm-6">
      <label>Traduction automatique</label>
      <ul class="list-unstyled line">
        <li class="checkbox">
          <label>
            <input type="checkbox" checked/> EN
          </label>
        </li>
        <li class="checkbox">
          <label>
            <input type="checkbox" checked/> ES
          </label>
        </li>
        <li class="checkbox">
          <label>
            <input type="checkbox"/> DE
          </label>
        </li>
        <li class="checkbox">
          <label>
            <input type="checkbox"/> IT
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>