<% include ../layout/_top.ejs %>
<% include ../agenda/_header.ejs %>
<div class="container">
    <div class="row top-margined oa-form">
        <section class="col-sm-6 col-sm-offset-3 margin-v-md wsq">
            <h2>Accessibility component</h2>
            <% include _accessibility %>
        </section>
        <section class="col-sm-6 col-sm-offset-3 margin-v-md">
            <h2>keywords component</h2>
            <% include _keywords %>
        </section>
        <section class="col-sm-6 col-sm-offset-3 margin-v-md">
            <h2>age component</h2>
            <% include _age %>
        </section>
        <section class="col-sm-6 col-sm-offset-3">
            <p>translation component</p>
            <% include _translation %>
            <p>selecting source</p>
            <% include _translation_select %>
        </section>
        <section class="col-sm-6 col-sm-offset-3">
            <p>multi input field</p>
            <% include _multi-input-field %>
        </section>
        <section class="col-sm-6 col-sm-offset-3 disabled">
            <p>disabled multi input field</p>
            <% include _multi-input-field %>
        </section>
        <section class="col-sm-6 col-sm-offset-3">
            <p>multilingual input field</p>
            <% include _multilingual-input-field %>
        </section>
        <section class="col-sm-6 col-sm-offset-3">
            <p>language bar</p>
            <% include _language-bar %>
        </section>
        <section class="col-sm-6 col-sm-offset-3">
            <p>Input with icon</p>

            <div class="form-group input-icon-right margin-v-md">
                <input type="text" class="form-control" placeholder="Rechercher un agenda" />
                <button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>

            <div class="form-group input-icon-left margin-v-md">
                <button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                <input type="text" class="form-control" placeholder="Rechercher un agenda" />
            </div>
        </section>
        <section class="col-sm-6 col-sm-offset-3">
            <p>checkbox with sub menu</p>
            <div class="checkbox">
                <label>
                    <input type="checkbox"/>
                    <strong>Check this</strong>
                    <div class="text-muted">text muted</div>
                </label>
                <div class="checkbox-sub-menu">
                    <div class="info-block-sm">info block</div>
                    Text
                </div>
            </div>
        </section>
    </div>
</div>
<% include ../layout/_bottom.ejs %>
