<% include ../layout/_top.ejs %>
<% include ../agenda/_header.ejs %>
<div class="container">
  <div class="row top-margined">
    <div class="col-md-offset-4 col-md-4 wsq">
      <div class="oa-form padding-top-sm">
          <div class="form-group ">
            <label class="control-label">Long sub</label>
            <input name="conditions" rows="3" class="form-control" value="fdqfhdqlfhjdlqhfklhqfkldhqkfjldqhklfhdjqklfhjkdlqhfjdqhjfldqhjkljljfldqjfldqjkklfdjqlfjkdkqlfjdlqhjfldqjfldqjlfhdjqlfjdlfjdqlfjkkdqlhfjdlqhfjldsqjfldqhjflhdqlfhjdqlhfjkdlqhfjldqhjfldqhjflhdq">
            <div class="field-counter">140</div>
            <div class="sub">Cette instruction peut prendre plus qu'une ligne selon la largeur du formulaire ou de la longueur du message.</div>
          </div>
          <div class="form-group" style="position: relative;">
            <button class="btn btn-primary" type="submit">Enregistrer</button>
          </div>
      </div>
    </div>
  </div>
</div>
<% include ../layout/_bottom.ejs %>
