REPO_SSL_CLIENT=/home/you/.ssh/id_rsa
NPM_TOKEN=
DEBUG=svc*,oa*
NODE_ENV=development

# SF project must be git cloned at that path
SF_PROJECT_PATH=/pathto/cibul-symfony
SF_API_PROJECT_PATH=/pathto/cibulapi-symfony
SF_TMP_DIR=/tmp
SF_NODE_BRIDGE_PORT=8901
SF_NODE_BRIDGE_HOST=http://node

# Certificate used to sign client certificates for
# accessing restricted ressources. Leave empty if local dev
CLIENT_SSL_CERT=

# Swap if client ssl is to be used to access remote ressource
CLIENT_SSL_NGINX_CONF=
#CLIENT_SSL_NGINX_CONF=ssl_client_certificate /ssl/client.crt; ssl_verify_client on;

TOP_DOMAIN=openagenda.com
SITE_DOMAIN=d.openagenda.com
SITE_ROOT=https://d.openagenda.com
API_DOMAIN=dapi.openagenda.com
DEV_DOC_HOMEPAGE=https://developers.openagenda.com

# If online dev, certs can be generated using letsencrypt
# SITE_SSL_CERT=/etc/letsencrypt/live/dev.domain/fullchain.pem
# SITE_SSL_KEY=/etc/letsencrypt/live/dev.domain/privkey.pem

# If local dev, use certs generated through devinstaller
SITE_SSL_CERT=/pathto/oa/docker/devinstaller/ssl/domains/d.openagenda.com.crt
SITE_SSL_KEY=/pathto/oa/docker/devinstaller/ssl/domains/d.openagenda.com.key

# Ensure there is an empty folder at the specified path. Will be used by the mysql container
MYSQL_CONTAINER_DATA_PATH=/home/you/containers-data/mysql
MYSQL_DUMP_FILE_PATH=/pathtothe/oa.dump

# MYSQL Docker host is "mysql". Leave as is.
MYSQL_HOST=mysql
MYSQL_USER=root
MYSQL_DATABASE=oadev
MYSQL_PASSWORD=grut

# Redis docker host is "redis". Leave as is.
REDIS_PORT=6379
REDIS_HOST=redis

# Amazon Web Services settings
AWS_KEY=
AWS_SECRET=
AWS_ACCOUNT_ID=
AWS_MAIN_BUCKET=
AWS_MAIN_BUCKET_PATH=
AWS_TMP_BUCKET=
AWS_TMP_BUCKET_PATH=
AWS_ARCHIVE_BUCKET=
AWS_ARCHIVE_PATH=
AWS_STATIC_PATH=

# Use only if remote Elasticsearch is to be used
#DEPLOY_ES_NGINX_PROXY=1
ES1_HOST=es1
ES1_DOMAIN=
ES1_SSL_CERT=
ES1_SSL_KEY=
ES7_HOST=es7
ES7_DOMAIN=
ES7_SSL_CERT=
ES7_SSL_KEY=

# Use to access local db with phpmyadmin
#DEPLOY_PMA_NGINX_PROXY=1
PMA_HOST=
PMA_SSL_CERT=
PMA_SSL_KEY=

# Use to access mailcatcher
#DEPLOY_MAILCATCHER_NGINX_PROXY=1
MAILCATCHER_DOMAIN=
MAILCATCHER_PORT=1025
MAILCATCHER_HOST=mailcatcher
