REPO_SSL_CLIENT=/home/you/.ssh/id_rsa
NPM_TOKEN=
DEBUG=svc*,oa*
DEBUG_COLORS=true
NODE_ENV=development

# User for node and devinstaller containers (https://docs.docker.com/engine/reference/run/#user),
# result of `echo $(id -u):$(id -g)`
DOCKER_USER=1000:1000

ASSETS_PATH=/home/you/dev/oa/packages/cibul-templates/dist

# Certificate used to sign client certificates for
# accessing restricted ressources. Leave empty if local dev
CLIENT_SSL_CERT=

# Swap if client ssl is to be used to access remote ressource
CLIENT_SSL_NGINX_CONF=
#CLIENT_SSL_NGINX_CONF=ssl_client_certificate /ssl/client.crt; ssl_verify_client on;

TOP_DOMAIN=openagenda.com
SITE_DOMAIN=d.openagenda.com
SITE_ROOT=https://d.openagenda.com

DEPLOY_API_NGINX_PROXY=1
API_DOMAIN=dapi.openagenda.com
DEV_DOC_HOMEPAGE=https://developers.openagenda.com

# If online dev, certs can be generated using letsencrypt
# SITE_SSL_CERT=/etc/letsencrypt/live/dev.domain/fullchain.pem
# SITE_SSL_KEY=/etc/letsencrypt/live/dev.domain/privkey.pem

# If local dev, use certs generated through devinstaller
SITE_SSL_CA=/pathto/oa/docker/devinstaller/ssl/certs/ca.crt
SITE_SSL_CERT=/pathto/oa/docker/devinstaller/ssl/domains/d.openagenda.com.crt
SITE_SSL_KEY=/pathto/oa/docker/devinstaller/ssl/domains/d.openagenda.com.key
API_SSL_CERT=/pathto/oa/docker/devinstaller/ssl/domains/dapi.openagenda.com.crt
API_SSL_KEY=/pathto/oa/docker/devinstaller/ssl/domains/dapi.openagenda.com.key

# Ensure there is an empty folder at the specified path. Will be used by the mysql container
MYSQL_CONTAINER_DATA_PATH=/home/you/containers-data/mysql
MYSQL_DUMP_FILE_PATH=/pathtothe/oa.dump

# MySQL server on Docker
MYSQL_SECURE_TRANSPORT=ON

# MySQL client credentials
MYSQL_HOST=mysql
MYSQL_USER=root
MYSQL_PASSWORD=grut
MYSQL_DATABASE=oadev
MYSQL_SSL_VERIFY=1
MYSQL_SSL_CA=/home/you/containers-data/mysql/client-ca.pem
MYSQL_SSL_CERT=/home/you/containers-data/mysql/client-cert.pem
MYSQL_SSL_KEY=/home/you/containers-data/mysql/client-key.pem

# Redis docker host is "redis". Leave as is.
REDIS_PORT=6379
REDIS_HOST=redis

# Amazon Web Services settings
AWS_KEY=
AWS_SECRET=
AWS_ACCOUNT_ID=
AWS_MAIN_BUCKET=
AWS_MAIN_BUCKET_PATH=
AWS_TMP_BUCKET=
AWS_TMP_BUCKET_PATH=
AWS_ARCHIVE_BUCKET=
AWS_ARCHIVE_PATH=
AWS_STATIC_PATH=

ES1_CONTAINER_DATA_PATH=

# Use only if remote Elasticsearch is to be used
#DEPLOY_ES_NGINX_PROXY=1
ES1_HOST=es1
ES1_DOMAIN=
ES1_SSL_CERT=
ES1_SSL_KEY=
ES7_HOST=es7
ES7_DOMAIN=
ES7_SSL_CERT=
ES7_SSL_KEY=

# Use to access local db with phpmyadmin
#DEPLOY_PMA_NGINX_PROXY=1
PMA_HOST=
PMA_SSL_CERT=
PMA_SSL_KEY=

# Use to access mailcatcher
#DEPLOY_MAILCATCHER_NGINX_PROXY=1
MAILCATCHER_DOMAIN=
MAILCATCHER_PORT=1025
MAILCATCHER_HOST=mailcatcher

# Use to access elasticHQ
#DEPLOY_ELASTICHQ_NGINX_PROXY=1
ELASTICHQ_DOMAIN=
ELASTICHQ_SSL_CERT=
ELASTICHQ_SSL_KEY=
ELASTICHQ_CLIENT_URL=
ELASTICHQ_CLIENT_KEY=
ELASTICHQ_CLIENT_CERT=

AGENDA_SEARCH_RECENT_THRESHOLD_DAYS=14
# GOOGLE_ANALYTICS_ID=
# GOOGLE_ANALYTICS_EMBED_ID=
# MATOMO_CLOUD_ID=

# OpenCage for geocoding
OPENCAGE_KEY=

# Get oembed content
IFRAMELY_KEY=

MAP_TILES=https://a.tile.openstreetmap.org/{z}/{x}/{y}.png
STATIC_MAP_TILES=

# comma separated keys
OA_SESSION_KEYS=
OA_SESSION_SECRET=

OA_OAUTH_GOOGLE_ID=
OA_OAUTH_GOOGLE_SECRET=

OA_AGENDA_SEARCH_ALIAS=agendas

OA_DOMAIN=openagenda.com
OA_ROOT=https://openagenda.com
API_DOMAIN=api.openagenda.com
API_ROOT=https://api.openagenda.com

OA_DISCORD_TOKEN=
OA_DISCORD_CHANNEL=

CRISP_WEBSITE_ID=

OA_DETECT_LOCATION_DUPLICATES=1
OA_DETECT_LOCATION_DUPLICATES_IGNORED_SET_UIDS=1
OA_DETECT_LOCATION_DUPLICATES_IGNORED_AGENDA_UIDS=2
OA_DETECT_LOCATION_DUPLICATES_SLEEP=1000
