/.idea/
/.vscode/
*.code-workspace
node_modules/
npm-debug.log
coverage/
doctor.log
.env
sftp-config.*
docker/devinstaller/ssl/certs
docker/devinstaller/ssl/domains
docker/devinstaller/ssl/clients

# yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn-error.log

/secrets.tar
