**/.turbo
.yarn
public/.yarn

# packages
packages/admin-agendas
packages/cibul-templates
packages/labels
packages/legacy
packages/mep
packages/utils
packages/validators
# public packages
public/bs-templates
public/polyfills

packages/abilities/build
packages/activity-apps/dist
packages/agenda-contribute/dist
packages/agenda-locations-app/dist
packages/agenda-schemas-app/dist
packages/agenda-settings/dist
packages/agenda-settings/stories/static
packages/agenda-stats/dist
packages/aggregator-sources/dist
packages/event-admin-apps/dist
packages/event-form/build
packages/events/iso/build
packages/form-schemas/client/build
packages/home/dist
packages/inbox-apps/coverage
packages/inbox-apps/dist
packages/inboxes/dist
packages/member-apps/dist
packages/members/build
packages/network-apps/client/dist
packages/next/.next
packages/outdated-browser/dist
packages/react-integration-app/dist
packages/react-layouts/dist
packages/registration-apps/esm
packages/registration-apps/lib
packages/registrations/dist
packages/sessions/lib
packages/supervisor/lib
packages/user-apps/dist

public/agenda-docx/client/build
public/agenda-docx/client/dist
public/agenda-portal/assets
public/common-labels/build
public/date-utils/dist
public/intl/dist
public/md/dist
public/react-filters/dist
public/react-filters/esm
public/react-filters/lib
public/react-portal-ssr/esm
public/react-portal-ssr/lib
public/react-share-menus/lib
public/react-shared/css
public/react-shared/esm
public/react-shared/lib
public/react-timingspicker/dist
public/sdk-js/esm
public/sdk-js/lib
public/uikit/dist
public/widgets/dist
