**/.turbo

packages/abilities/build
packages/activity-apps/dist
packages/agenda-contribute/dist
packages/agenda-locations-app/dist
packages/agenda-schemas-app/dist
packages/agenda-settings/dist
packages/agenda-settings/stories/static
packages/agenda-stats/dist
packages/aggregator-sources/dist
packages/event-admin-apps/dist
packages/event-form/build
packages/events/iso/build
packages/form-schemas/client/build
packages/home/dist
packages/inbox-apps/coverage
packages/inbox-apps/dist
packages/inboxes/dist
packages/next/.next
