.user-settings {
  .header {
    margin-bottom: 30px;
  }

  table.table > tbody {

    & > tr.inactive:hover {
      background-color: #f5f5f5;
    }

    & > tr > td:first-of-type {

      font-weight: bold;

    }

  }
}
