<div class="top-margined">
  <div class="margin-all-sm">
    <div class="inbox inbox-agenda-admin">
      <h3 class="margin-bottom-md"><%= __( 'inbox' ) %></h3>

      <div class="js_canvas"><%- typeof content !== 'undefined' ? content : '' %></div>
    </div>
  </div>
</div>