.tc-selector {

  margin-bottom: 2em;

  .tc-head {

    label { font-weight: bold; }

  }

  .tc-info, .tc-group {

    margin-bottom: 2em;

  }

  .error {

    font-weight: bold;
    color: $oa-red;

    input[type="text"] { color: $oa-red; }

  }

  li {

    display: inline-block;
    margin: 0 1em 1em 0;
    padding: 0.2em 0.4em;
    border-radius: 4px;
    cursor: pointer;

    &.active {

      color: $oa-white;
      background-color: $oa-blue;

      span {

        color: $oa-white;

      }

    }

  }
  
}