<%- include('../layout/_top.ejs') %>
<div class="container">
  <div class="row">
    <div class="col col-md-6 wsq" style="margin:2em 0; padding: 2em;">
      <div class="tc-selector">
        <div class="tc-group">
          <div class="tc-head">
            <label>1er groupe</label>
            <p>
              <span>Ceci est un texte indicatif</span>
            </p>
          </div>
          <div class="tc-selector-items">
            <div class="checkbox">
              <label>
                <input type="checkbox" />
                concert
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" checked />
                exposition
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" />
                théâtre
              </label>
            </div>
          </div>
        </div>
        <div class="tc-group">
          <div class="tc-head">
            <label>2ème groupe</label>
            <p>
              <span>Sélectionnez un ou plusieurs tags</span>
            </p>
          </div>
          <div class="tc-selector-items">
            <div class="checkbox">
              <label>
                <input type="checkbox" />
                jaune
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" />
                vert
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" checked />
                rouge
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" />
                rose
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../layout/_bottom.ejs') %>
