<div class="edge-bar">
  <ul class="edge-list">
    <li class="edge-item w100">
      <span class="edge-info">
        <div class="info-label">Événements:&nbsp;</div>
        <div class="info-actions">
          <button class="btn btn-link padding-h-z">5 refusés</button>
          · <button class="btn btn-link padding-h-z">524 en modération</button>
          · <button class="btn btn-link padding-h-z">3247 publiés</button>
        </div>
        <button class="btn edge-btn btn-default margin-all-xs margin-right-z primary-action">
          <i class="fa fa-cogs"></i> Gérer
        </button>
      </span>
    </li>
  </ul>
</div>