<div class="edge-bar">
  <ul class="edge-list">
    <li class="edge-item w100">
      <span class="edge-info">Mes événements dans cet agenda:&nbsp;
        <button class="btn btn-link padding-h-z">3 Brouillons</button>
        · <button class="btn btn-link padding-h-z">1 en modération</button>
        · <button class="btn btn-link padding-h-z">3 publiés</button>
      </span>
    </li>
  </ul>
</div>