<div class="edge-bar">
  <ul class="edge-list">
    <li class="edge-item w100">
      <span class="edge-info">
        <div class="info-label">Mes événements dans cet agenda:&nbsp;</div>
        <div class="info-actions">
          <button class="btn btn-link padding-h-z">3 Brouillons</button>
          · <button class="btn btn-link padding-h-z">1 en modération</button>
          · <button class="btn btn-link padding-h-z">3 publiés</button>
        </div>
        <button class="btn edge-btn btn-default primary-action">
          <i class="fa fa-plus"></i> Ajouter un événement
        </button>
      </span>
    </li>
  </ul>
</div>