<div class="popup-overlay big">
  <section class="padding-h-md">
    <h2>Mes brouillons</h2>
    <div class="info-block-sm warning-outline margin-bottom-md">
      Les brouillons ne sont pas visibles des modérateurs de l'agenda. Ils doivent être complétés avant de pouvoir être modérés et publiés.
    </div>
    <strong>Vous avez 3 brouillons sur cet agenda</strong>
    <ul class="list-unstyled padding-v-sm">
      <% include ../event-items/_abbaye.ejs %>
      <% include ../event-items/_abbaye.ejs %>
      <% include ../event-items/_abbaye.ejs %>
    </ul>
  </section>
</div>