<% include ../layout/_top.ejs %>
<% var actions = true; %>
<% include ./_header.ejs %>
<div id="agenda">
  <div id="content">
    <div class="container mobile-content-canvas">
      <div class="row">
        <section class="col-sm-6 col-sm-offset-2 main-content">
          <div class="row filters cbpgft" data-cbctl="48959239|fr|bs" data-flag="1">
            <ul class="nav nav-pills">
              <li class="active">
                <a href="#">événements passés</a>
              </li>
              <li class="active">
                <button type="submit" class="btn btn-default btn-primary"><i class="fa fa-external-link"></i></span>&nbsp; Exporter la sélection</span></button>
              </li>
            </ul>       
          </div>      
          <button class="btn btn-primary visible-xs-block filtres" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapse">
            Filtres
          </button>
          <div class="collapse" id="collapse">
            <div class="open-sidebar">
              <button class="btn btn-primary back" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapse">
                Retour à la liste
              </button>
              <div class="small-map text-center">
                <img class="mobile-map" src="map.png" />
                <div class="map-sync js_map_sync">
                  <input type="checkbox" id="map-sync" class="js_sync_checkbox">
                  <label for="map-sync">Rechercher quand je déplace la carte</label>
                </div>
              </div>
              <div class="calendar">              
                <div>
                  <% include ../components/_calendar %>
                </div>             
              </div>
              <div class="filter">
                <div class="side-content cbpgct" data-cbctl="48959239|bs" data-flag="1">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <span class="item bullet active">Concours et prix</span>
                    </li>
                    <li class="list-group-item">
                      <span class="item bullet active">Challenges inter-établissements</span>
                    </li>
                    <li class="list-group-item">
                      <span class="item bullet active">Conférences / tables rondes</span>
                    </li>
                    <li class="list-group-item">
                      <span class="item bullet active">Journées/semaine thématiques</span>
                    </li>
                    <li class="list-group-item">
                      <span class="item bullet active">Ateliers / cycles d'ateliers</span>
                    </li>
                    <li class="list-group-item">
                      <span class="item bullet active">Weekend startup</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="filter">
                <div class="side-content cbpgtg" data-cbctl="48959239||bs" data-flag="1">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <span class="item bullet active">Entreprendre au féminin</span>
                    </li>
                    <li class="list-group-item">
                      <span class="item bullet active">ESS (éco.sociale/solidaire)</span>
                    </li>
                    <li class="list-group-item">
                      <span class="item bullet active">Statut étudiant-entrepreneur</span>
                    </li>
                    <li class="list-group-item">
                      <span class="item bullet active">Reprise d’entreprise</span>
                    </li>
                    <li class="list-group-item">
                      <span class="item bullet active">Startup</span>
                    </li>
                  </ul>
                </div>
              </div>
            <div class="filter">
              <div class="side-content cbpgor" data-cbctl="48959239|bs" data-flag="1">
                <ul class="list-group">
                  <li class="list-group-item">
                    <span class="item bullet active">PEPITE Cré@tude Paca Est</span>
                  </li>
                  <li class="list-group-item">
                    <span class="item bullet active">COMUE Lille Nord de France</span>
                  </li>
                  <li class="list-group-item">
                    <span class="item bullet">EDC PARIS BUSINESS SCHOOL</span>
                  </li>
                  <li class="list-group-item">
                    <span class="item bullet active">PEPITE Bretagne</span>
                  </li>
                  <li class="list-group-item">
                    <span class="item bullet">PEPITE PEEA</span>
                  </li>
                  <li class="list-group-item">
                    <span class="item bullet active">Pôle oZer - Pépite de l'Université de Grenoble</span>
                  </li>
                  <li class="list-group-item">
                    <span class="item bullet active">PEPITE PACA OUEST</span>
                  </li>
                  <li class="list-group-item">
                    <span class="item bullet active">AVRILE</span>
                  </li>
                  <li class="list-group-item">
                    <span class="item bullet active">SORBONNE UNIVERSITES</span>
                  </li>
                  <li class="list-group-item">
                    <span class="item bullet active">PEPITE-LR</span>
                  </li>
                  <li class="list-group-item">
                    <span class="item bullet active">PEPITE By PeeL</span>
                  </li>
                  <li class="list-group-item">
                    <span class="item bullet active">PEPITE UPON </span>
                  </li>
                  <li class="list-group-item">
                    <span class="item bullet active">PEPITE MENESR</span>
                  </li>
                  <li class="list-group-item">
                    <span class="item bullet active">PEIPS</span>
                  </li>
                  <li class="list-group-item">
                    <span class="item bullet active">PEPITE Limousin Poitou-Charentes</span>
                  </li>
                  <li class="list-group-item">
                    <span class="item bullet active">PéPite</span>
                  </li>
                  <li class="list-group-item">
                    <span class="item bullet active">Université d'AIX MARSEILLE/ PEPITE PACA OUEST</span>
                  </li>
                  <li class="list-group-item">
                    <span class="item bullet active">Le YEC - Pepite Champagne-Ardenne</span>
                  </li>
                  <li class="list-group-item">
                    <span class="item bullet active">L'UNAM</span>
                  </li>
                  <li class="list-group-item">
                    <span class="item bullet active">PSL Pépite</span>
                  </li>
                  <li class="list-group-item">
                    <span class="item bullet active">PEPITE Champagne Ardenne</span>
                  </li>
                  <li class="list-group-item">
                    <span class="item bullet active">Plateforme Innovation &amp; Création d'Entreprises</span>
                  </li>
                  <li class="list-group-item">
                    <span class="item bullet active">Pépite Corse</span>
                  </li>
                  <li class="list-group-item">
                    <span class="item bullet">COMUE l'UNAM</span>
                  </li>
                  <li class="list-group-item">
                    <span class="item bullet active">PEPITE PEIPS</span>
                  </li>
                  <li class="list-group-item">
                    <span class="item bullet active">Pépite CREER</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="total-event">
              <p class="total-text">200 événements</p>
            </div>
          </div>
          <div class="total js_total">200 événements</div>
        </section>
        <section class="col-sm-8 main-content js_list_content">
          <article class="row">
            <aside class="col-sm-3 event-aside">
              <div>
                <span class="featured"><i class="fa fa-thumb-tack"></i> À la une</span>
                <span class="time-count js_relative_time">il y a 12 mois</span>
              </div>
            </aside>
            <section class="col-sm-9">
              <a class="event-card" href="undefined">                
                <div class="event-title padding-top-sm padding-h-md margin-bottom-sm">
                  <span class="fav js_fav_item pull-right" data-event-uid="48948894" data-fav-flagged="1"><i class="fa fa-star-o"></i></span>
                  <span class="label label-warning status margin-right-sm">Passé en ligne</span>
                  <h3 class="margin-v-z">Les imams en France</h3>
                </div>
                <div class="event-img margin-v-sm">
                  <img class="img-responsive" src="//cibul.s3.amazonaws.com/c7a97087fbc1482aa23ea777cc9f6a9b.base.image.jpg" width="568" height="213">
                </div>
                <div class="event-text margin-h-md margin-v-sm">
                  <p>Solenne Jouanneau</p>
                  <ul class="metas padding-h-z">
                    <li><i class="fa fa-clock-o"></i> 26 avril 2015, 18h00</li>
                    <li>
                      <i class="fa fa-map-marker"></i>
                      Quelque part, Paris
                    </li>
                    <li data-slug="megacorp-entreprises" class="org">
                      MegaCorp Enterprises
                    </li>
                  </ul>
                </div>
              </a>
              <a class="event-action js_event_action" type="button" href="/event/action.part" data-flagged="1">
                <img alt="logo" src="https://oastatic.s3.eu-central-1.amazonaws.com/whitelogo22.png">
                <span>Partager</span> 
              </a>
            </section>
          </article>
          <article class="row">
            <aside class="col-sm-3 event-aside">
              <div>
                <span class="time-count js_relative_time">il y a 12 mois</span>
              </div>
            </aside>
            <section class="col-sm-9">
              <a class="event-card" href="undefined">
                <div class="event-title padding-top-sm padding-h-md">
                  <span class="fav js_fav_item pull-right" data-event-uid="48948894" data-fav-flagged="1"><i class="fa fa-star-o"></i></span>
                  <span class="label label-danger status margin-right-sm margin-bottom-sm">Annulé</span>
                  <h3 class="margin-v-xs">Europe : les états désunis (Coralie Delaume)</h3>
                </div>
                <div class="event-text padding-h-md">
                  <p>Coralie Delaume nous explique avec brio pourquoi l'UE ne fonctionne pas.</p>
                  <ul class="metas padding-h-z">
                    <li><i class="fa fa-clock-o"></i> du 29 septembre 2012 au 31 mai 2015</li>
                    <li>
                      <i class="fa fa-map-marker"></i>
                      Centre George Pompidou, Paris
                    </li>
                  </ul>
                </div>
              </a>
              <a class="event-action js_event_action" type="button" href="/event/action.part" data-flagged="1">
                <img alt="logo" src="https://oastatic.s3.eu-central-1.amazonaws.com/whitelogo22.png">
                <span>Partager</span> 
              </a>
            </section>
          </article>
        </section>
        <aside class="col-sm-4 col-aside sidebar">
          <section class="side-item side-search">
            <div class="side-content">
              <div class="search-form cbpgsc" data-cbctl="48959239|fr" data-flag="1">
                <input type="text" placeholder="Rechercher dans cet agenda" class="search-input"><div class="search-button">
                <button type="submit" class="search-submit"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </section>
        <section class="side-item side-map">
          <h3 class="mobile-only">
            <i class="fa fa-map-marker side-icon"></i>
            <span class="side-title">Carte</span>
          </h3>
          <div class="side-content cbpgmp small-map">
            <img src="map.png" />
            <div class="map-sync js_map_sync">
              <input type="checkbox" id="map-sync" class="js_sync_checkbox">
              <label for="map-sync">Rechercher quand je déplace la carte</label>
            </div>
          </div>
        </section>
        <section class="side-item side-calendar">
          <h3 class="mobile-only">
          <i class="fa fa-calendar-o side-icon"></i><span class="side-title">Choisissez une date</span>
          </h3>
          <div class="side-content">
            <% include ../components/_calendar %>
          </div>
        </section>
        <section class="side-item side-categories  js_category_widget">
          <h3>
          <i class="fa fa-tag side-icon"></i>
          <span class="side-title">Catégories</span>
          </h3>
          <div class="side-content cbpgct" data-cbctl="48959239|bs" data-flag="1"><ul class="list-group"><li class="list-group-item">
            <span class="item bullet active">Concours et prix</span>
          </li><li class="list-group-item">
          <span class="item bullet active">Challenges inter-établissements</span>
        </li><li class="list-group-item">
        <span class="item bullet active">Conférences / tables rondes</span>
      </li><li class="list-group-item">
      <span class="item bullet active">Journées/semaine thématiques</span>
    </li><li class="list-group-item">
    <span class="item bullet active">Ateliers / cycles d'ateliers</span></li><li class="list-group-item">
  <span class="item bullet active">Weekend startup</span>
  </li></ul></div>
  </section>
  <section class="side-item side-tags  js_tags_widget">
  <h3>
    <i class="fa fa-tags side-icon"></i>
    <span class="side-title">Tags</span>
  </h3>
  <div class="side-content cbpgtg" data-cbctl="48959239||bs" data-flag="1"><ul class="list-group"><li class="list-group-item">
  <span class="item bullet active">Entreprendre au féminin</span></li><li class="list-group-item">
  <span class="item bullet active">ESS (éco.sociale/solidaire)</span></li><li class="list-group-item">
  <span class="item bullet active">Statut étudiant-entrepreneur</span></li><li class="list-group-item">
  <span class="item bullet active">Reprise d’entreprise</span></li><li class="list-group-item">
  <span class="item bullet active">Startup</span>
  </li></ul></div>
  </section>
  <section class="side-item  js_org_widget">
    <h3>
      <i class="fa fa-institution side-icon"></i>
      <span class="side-title">Organisation</span>
    </h3>
    <div class="side-content cbpgor" data-cbctl="48959239|bs" data-flag="1">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="item bullet active">PEPITE Cré@tude Paca Est</span>
        </li>
        <li class="list-group-item">
          <span class="item bullet active">COMUE Lille Nord de France</span>
        </li>
        <li class="list-group-item">
          <span class="item bullet">EDC PARIS BUSINESS SCHOOL</span>
        </li>
        <li class="list-group-item">
          <span class="item bullet active">PEPITE Bretagne</span>
        </li>
        <li class="list-group-item">
          <span class="item bullet">PEPITE PEEA</span>
        </li>
        <li class="list-group-item">
          <span class="item bullet active">Pôle oZer - Pépite de l'Université de Grenoble</span>
        </li>
        <li class="list-group-item">
          <span class="item bullet active">PEPITE PACA OUEST</span>
        </li>
        <li class="list-group-item">
          <span class="item bullet active">AVRILE</span>
        </li>
        <li class="list-group-item">
          <span class="item bullet active">SORBONNE UNIVERSITES</span>
        </li>
        <li class="list-group-item">
          <span class="item bullet active">PEPITE-LR</span>
        </li>
        <li class="list-group-item">
          <span class="item bullet active">PEPITE By PeeL</span>
        </li>
        <li class="list-group-item">
          <span class="item bullet active">PEPITE UPON </span>
        </li>
        <li class="list-group-item">
          <span class="item bullet active">PEPITE MENESR</span>
        </li>
        <li class="list-group-item">
          <span class="item bullet active">PEIPS</span>
        </li>
        <li class="list-group-item">
          <span class="item bullet active">PEPITE Limousin Poitou-Charentes</span>
        </li>
        <li class="list-group-item">
          <span class="item bullet active">PéPite</span>
        </li>
        <li class="list-group-item">
          <span class="item bullet active">Université d'AIX MARSEILLE/ PEPITE PACA OUEST</span>
        </li>
        <li class="list-group-item">
          <span class="item bullet active">Le YEC - Pepite Champagne-Ardenne</span>
        </li>
        <li class="list-group-item">
          <span class="item bullet active">L'UNAM</span>
        </li>
        <li class="list-group-item">
          <span class="item bullet active">PSL Pépite</span>
        </li>
        <li class="list-group-item">
          <span class="item bullet active">PEPITE Champagne Ardenne</span>
        </li>
        <li class="list-group-item">
          <span class="item bullet active">Plateforme Innovation &amp; Création d'Entreprises</span>
        </li>
        <li class="list-group-item">
          <span class="item bullet active">Pépite Corse</span>
        </li>
        <li class="list-group-item">
          <span class="item bullet">COMUE l'UNAM</span>
        </li>
        <li class="list-group-item">
          <span class="item bullet active">PEPITE PEIPS</span>
        </li>
        <li class="list-group-item">
          <span class="item bullet active">Pépite CREER</span>
        </li>
      </ul>
    </div>
  </section>
  <section class="side-item">
  <div class="side-content">
  <p><a href="#conversationAgendaContact%7B%22uid%22:48959239,%22redirect%22:%22eyJtb2R1bGUiOiJyZXZpZXciLCJhY3Rpb24iOiJzaG93Iiwic2x1ZyI6ImNoZXotbm91cyJ9%22%7D" rel="nofollow">Contacter l'administrateur de l'agenda</a></p>
  </div>
  </section>
    <footer id="footer">
      <p>
        <a href="/">OpenAgenda</a> ·
        <a href="#corpoAbout%7B%7D">À propos</a> ·
        <a href="https://doc.openagenda.com" target="_blank">Aide</a> ·
        <a href="https://doc.openagenda.com/conditions/">Conditions d'utilisation</a> ·
        <span>&lt;uid:19390230&gt;</span>
      </p>
    </footer>
  </aside>
  </div>
  </div>
  </div>
</div>
<% include ../layout/_bottom.ejs %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>