<%- include('../layout/_top.ejs') %>

<div class="container top-margined home">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="row wsq">
            <div class="content">
                <div class="row">
                    <div class="text-center new-user padding-v-md">
                        <h2 class="margin-v-md">Bienvenue sur OpenAgenda !</h2>
                        <button class="btn btn-primary margin-v-sm">
                            Créer un agenda
                        </button>
                        <p class="margin-v-sm">Ou contribuez à un agenda
                            existant</p>
                        <form action="/agendas" method="GET">
                            <div class="form-group input-icon-right center-block">
                                <input type="text" name="search" class="form-control">
                                <button type="submit" class="btn">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../layout/_bottom.ejs') %>
