<%- include('../layout/_top.ejs') %>
<div class="container agenda-admin">
  <%- include('../agenda-admin/_admin-header.ejs') %>
  <div class="row wsq">
    <%- include('../agenda-admin/_admin-tabs.ejs') %>
    <div class="col col-sm-9 body">
      <div class="tc-edge">
        <div class="input-group">
          <button class="btn btn-success">
            <span>Synchronisé</span>
            <i class="fa fa-check"></i>
          </button>
        </div>
      </div>
      <div class="tc-editor">
        <h2>Catégories</h2>
        <p>Les catégories forment une liste à choix</p>
        <div>
          <div>
            <div class="form-group">
              <label>Intitulé de la liste</label>
              <input type="text" name="categorylistname" class="form-control" placeholder="Catégories">
            </div>
            <div class="form-group">
              <label>Champ indicatif</label>
              <input type="text" name="categorylistinfo" class="form-control" placeholder="Les catégories forment une liste à choix">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox">
                <span>Rendre obligatoire. Une catégorie devra être sélectionnée.</span>
              </label>
            </div>
          </div>
        </div>
        <div>
          <label>Catégories de l'agenda</label>
          <ul class="tc-list list-unstyled">
            <li class="tc-item">
              <div class="tc-actions">
                <i class="fa fa-edit"></i>
                <i class="fa fa-trash"></i>
                <i class="fa fa-angle-up disabled"></i>
                <i class="fa fa-angle-down"></i>
              </div>
              <span>Concert</span>
            </li>
            <li class="tc-item">
              <div class="tc-actions">
                <i class="fa fa-edit"></i>
                <i class="fa fa-trash"></i>
                <i class="fa fa-angle-up"></i>
                <i class="fa fa-angle-down"></i>
              </div>
              <span>Exposition</span>
            </li>
            <li class="tc-item">
              <div class="tc-actions">
                <i class="fa fa-edit"></i>
                <i class="fa fa-trash"></i>
                <i class="fa fa-angle-up"></i>
                <i class="fa fa-angle-down disabled"></i>
              </div>
              <span>Théâtre</span>
            </li>
          </ul>
        </div>
        <div class="form-inline add">
          <div class="form-group">
            <input type="text" class="form-control" value="">
          </div>
          <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
      </div>
      <div class="tc-edge">
        <div class="input-group">
          <button class="btn btn-success">
            <span>Synchronisé</span>
            <i class="fa fa-check"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../layout/_bottom.ejs') %>
