<%- include('../layout/_top.ejs') %>
<div class="container">
  <div class="row">
    <div class="col col-md-6 wsq" style="margin:2em 0; padding: 2em;">
      <div class="tc-selector">
        <div class="tc-head">
          <label>Catégories</label>
          <p>
            <span>Selectionnez vos catégories</span>
          </p>
        </div>
        <div class="tc-selector-items">
          <div class="radio">
            <label>
              <input type="radio" />
              Concert
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" checked/>
              Exposition
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" />
              Théâtre
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../layout/_bottom.ejs') %>
