.dataviz a:hover { text-decoration: underline; }

.dataviz .dataviz-head h2 { display: inline; padding-right: 0.5em; }

.dataviz .dataviz-section { margin: 2em 0; }
.dataviz .dataviz-section > a { float: right; padding-left: 1em; }

.dataviz .dataviz-list { padding: 1em 0; }
.dataviz .dataviz-list li { padding: 0.25em 0.5em; position: relative; }
.dataviz .dataviz-list .odd { background: rgba(0,0,0,0.05); }
.dataviz .dataviz-list li > * { display: inline-block; }
.dataviz .dataviz-list li label { width: 200px; }
.dataviz .dataviz-list li span { width: 40px; text-align: right; float: right;}

.dataviz .dataviz-top-list { padding: 0 0 1em 0; }
.dataviz .dataviz-top-list .dataviz-list { padding: 0 0 0.5em; }
.dataviz .dataviz-top-list > li > label { display: block; font-size: 1.2em; color: #666; border-bottom: 1px solid #ccc; margin: 1em 0 0.5em; }

.dataviz .graphbox { padding: 2em 0; }

.dataviz .totals { padding: 1em 0 0; }
.dataviz .totals li { padding: 0 0.5em 0.5em 0; }

.dataviz .totals label,
.dataviz .totals span { padding-right: 1em; }

.dataviz .totals span { font-weight: bold; }

.dataviz .addMenu { padding: 1em 0; }