.elp .header { margin: 20px; }

.elp .mlis { margin-bottom: 20px; padding: 5px 20px 5px 0; }

.elp .mli { margin: 10px 20px 0; }

.elp h2 { padding: 5px 20px 5px 20px; margin: 0; border-bottom: 1px solid #ccc; letter-spacing: 2px; font-size: 1.3em; }

.elp .order { margin-left: 20px; cursor: pointer; display: inline-block; }
.elp .order-list li { padding: 2px 4px; cursor: pointer; }
.elp .order-list li:hover, .elp .order-list li.active { background-color: #666; color: white; }

.elp .past-link { margin-left: 20px; cursor: pointer; display: inline-block; }
.elp .past-link i { padding-right: 0.2em;}

.elp .list-nav { line-height: 1em; display: inline-block; margin: 0 1em 0 0; position: absolute; right: 0; cursor: pointer; z-index: 2; }
.elp .list-nav.bottom { display: block; text-align: center; position: relative;  }
.elp .list-nav > * { vertical-align: top; color: #666; }
.elp .list-nav span { font-size: 2em; line-height: 0.2em; margin: 0 0.2em; }
.elp .list-nav i { font-size: 1em; line-height: 1.2em; }
.elp .list-nav.disabled * { color: #ccc; }

.elp .list-filters { padding: 0 0 10px 20px; }
.elp .list-filters input,
.elp .list-filters label { max-width: 8em; margin-right: 1em; }