<%- include('../layout/_top.ejs') %>

<div class="container">
    <div class="row margin-top-md">
        <div class="col-md-offset-3 col-md-6">
            <div class="notifications-body" style="overflow: auto"><!-- overflow only for bs-templates -->
                <div class="list-group">
                    <div class="list-group-item read-all-item">
                        <div class="text-right">
                            <button class="btn btn-link mark-all-seen">Tout marquer comme lu</button>
                        </div>
                    </div>
                    <a href="#" class="list-group-item">
                        <div class="pull-right">
                            <button class="btn btn-link remove">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-link mark-read">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div>
                            JP et 2 autres utilisateurs ont créé Visite d&#39;OpenAgenda et 2 autres événements dans
                            l'agenda Visites chez les géants.
                        </div>
                        <div class="datetime text-muted">
                            Il y a 12 heures
                        </div>
                    </a>
                    <a href="#" class="list-group-item read">
                        <div class="pull-right">
                            <button class="btn btn-link remove">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-link mark-read">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div>
                            L'utilisateur JP a créé l'événement Visite d&#39;OpenAgenda dans l'agenda Visites chez les
                            géants.
                        </div>
                        <div class="datetime text-muted">
                            Il y a 14 heures
                        </div>
                    </a>
                    <a href="#" class="list-group-item">
                        <div class="pull-right">
                            <button class="btn btn-link remove">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-link mark-read">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div>
                            L'utilisateur JP a créé Visite d&#39;OpenAgenda et 1 autre événement dans l'agenda Visites
                            chez
                            les géants.
                        </div>
                        <div class="datetime text-muted">
                            Il y a 18 heures
                        </div>
                    </a>
                    <a href="#" class="list-group-item">
                        <div class="pull-right">
                            <button class="btn btn-link remove">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-link mark-read">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div>
                            L'utilisateur JP a créé l'événement Visite d&#39;OpenAgenda dans l'agenda Visites chez les
                            géants.
                        </div>
                        <div class="datetime text-muted">
                            Hier
                        </div>
                    </a>
                    <a href="#" class="list-group-item">
                        <div class="pull-right">
                            <button class="btn btn-link remove">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-link mark-read">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div>
                            L'utilisateur JP a créé Visite d&#39;OpenAgenda et 1 autre événement dans l'agenda Visites
                            chez
                            les géants.
                        </div>
                        <div class="datetime text-muted">
                            Le 28 février
                        </div>
                    </a>
                    <div class="list-group-item next-item">
                        <div class="text-center">
                            <button class="btn btn-link next">Suivant</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../layout/_bottom.ejs') %>
