.signup, .signin {

  .jumbotron {

    p:last-child {

      margin: 0;

    }

  }

  .info-block {

    background-color: $oa-gray-lightest;  
    padding: 1em;
    border: 1px solid $oa-gray-lighter;

    label {
      margin-right: 1em;
    }

  }
  
  .btn-facebook {

    color: $oa-white;
    background-color: $facebook-color;

    &:hover {
      background-color: lighten( $facebook-color, 10 );
    }

  }

  .btn-twitter {

    color: $oa-white;
    background-color: $twitter-color;

    &:hover {
      background-color: lighten( $twitter-color, 10 );
    }

  }

  .btn-google {

    color: $oa-white;
    background-color: $google-color;

    &:hover {
      background-color: lighten( $google-color, 10 );
    }

  }

}