@import "../layout/base.scss";

.agenda-search {
  
  padding: 4em 0;

  .header {

    padding: 1em 1em 0 1em;

  }

  .agenda-item {

    padding: 1em 2em;

    a {

      color: inherit;
      text-decoration: none;

    }

    .ill { 

      max-width: 96px;

    }

  }

  .page-nav {

    text-align: center;
    padding: 1em;

  }

}