<div class="form-group disabled">
  <label>Adresse</label>
  <div class="input-group">
    <input class="form-control" type="text" placeholder="Numéro Voie, Ville">
    <span>
    </span>
    <span class="input-group-btn geocode">
      <button class="btn btn-default" type="button">
      <i class="fa fa-search"></i>
      <div class="">
      </div>
      </button>
    </span>
  </div>
  <ul class="alternatives"></ul>
</div>
<div class="form-group">
  <div class="map leaflet-container leaflet-fade-anim" tabindex="0" style="position: relative;">
    <div class="leaflet-map-pane" style="transform: translate3d(0px, 0px, 0px);">
      <div class="leaflet-tile-pane">
        <div class="leaflet-layer">
          <div class="leaflet-tile-container">
          </div>
          <div class="leaflet-tile-container leaflet-zoom-animated">
            <img class="leaflet-tile leaflet-tile-loaded" src="//a.tiles.mapbox.com/v3/foursquare.meku766r/2/2/1.png" style="height: 256px; width: 256px; left: 308px; top: 18px;">
            <img class="leaflet-tile leaflet-tile-loaded" src="//c.tiles.mapbox.com/v3/foursquare.meku766r/2/1/1.png" style="height: 256px; width: 256px; left: 52px; top: 18px;">
            <img class="leaflet-tile leaflet-tile-loaded" src="//c.tiles.mapbox.com/v3/foursquare.meku766r/2/2/0.png" style="height: 256px; width: 256px; left: 308px; top: -238px;">
            <img class="leaflet-tile leaflet-tile-loaded" src="//b.tiles.mapbox.com/v3/foursquare.meku766r/2/1/0.png" style="height: 256px; width: 256px; left: 52px; top: -238px;">
            <img class="leaflet-tile leaflet-tile-loaded" src="//a.tiles.mapbox.com/v3/foursquare.meku766r/2/1/2.png" style="height: 256px; width: 256px; left: 52px; top: 274px;">
            <img class="leaflet-tile leaflet-tile-loaded" src="//b.tiles.mapbox.com/v3/foursquare.meku766r/2/2/2.png" style="height: 256px; width: 256px; left: 308px; top: 274px;">
            <img class="leaflet-tile leaflet-tile-loaded" src="//b.tiles.mapbox.com/v3/foursquare.meku766r/2/0/1.png" style="height: 256px; width: 256px; left: -204px; top: 18px;">
            <img class="leaflet-tile leaflet-tile-loaded" src="//b.tiles.mapbox.com/v3/foursquare.meku766r/2/3/1.png" style="height: 256px; width: 256px; left: 564px; top: 18px;">
            <img class="leaflet-tile leaflet-tile-loaded" src="//c.tiles.mapbox.com/v3/foursquare.meku766r/2/0/2.png" style="height: 256px; width: 256px; left: -204px; top: 274px;">
            <img class="leaflet-tile leaflet-tile-loaded" src="//a.tiles.mapbox.com/v3/foursquare.meku766r/2/0/0.png" style="height: 256px; width: 256px; left: -204px; top: -238px;">
            <img class="leaflet-tile leaflet-tile-loaded" src="//a.tiles.mapbox.com/v3/foursquare.meku766r/2/3/0.png" style="height: 256px; width: 256px; left: 564px; top: -238px;">
            <img class="leaflet-tile leaflet-tile-loaded" src="//c.tiles.mapbox.com/v3/foursquare.meku766r/2/3/2.png" style="height: 256px; width: 256px; left: 564px; top: 274px;">
          </div>
        </div>
      </div>
      <div class="leaflet-objects-pane">
        <div class="leaflet-shadow-pane">
        </div>
        <div class="leaflet-overlay-pane">
        </div>
        <div class="leaflet-marker-pane">
        </div>
        <div class="leaflet-popup-pane">
        </div>
      </div>
    </div>
    <div class="leaflet-control-container">
      <div class="leaflet-top leaflet-left">
        <div class="leaflet-control-zoom leaflet-bar leaflet-control">
          <a class="leaflet-control-zoom-in" href="#" title="Zoom in">+</a>
          <a class="leaflet-control-zoom-out" href="#" title="Zoom out">-</a>
        </div>
      </div>
      <div class="leaflet-top leaflet-right">
      </div>
      <div class="leaflet-bottom leaflet-left">
      </div>
      <div class="leaflet-bottom leaflet-right">
        <div class="leaflet-control-attribution leaflet-control">
          <a href="http://leafletjs.com" title="A JS library for interactive maps">Leaflet</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div>