<div class="item">
  <div class="actions btn-group">
    <button class="btn btn-default" aria-label="modifier"><i class="fa fa-edit"></i></button>
  </div>
  <div class="item-body">
    <div class="title">Place de la République, Perpignan
    </div>
    <div>Place de la République, Perpignan
    </div>
    <div class="text-muted">
      <span>Pyrénées-Orientales</span>
      <span>, Languedoc-Roussillon</span>
      <span>, France</span>
    </div>
    <div class="indicators">
      <i class="fa fa-picture-o disabled"></i>
      <i class="fa fa-file-text-o disabled"></i>
      <span class="badge badge-warning">à vérifier</span>
      <span class="badge badge-default">3 suggestions</span>
      <a>voir les événements</a>
    </div>
  </div>
</div>