.location-selector {

  .head {

    padding: 2em 0;

  }

  a {

    cursor: pointer;

  }

  .nav-item {

    text-align: center;
    cursor: pointer;

    border-top: 1px solid lighten( $oa-gray-light, 12 );
    border-bottom: 1px solid lighten( $oa-gray-light, 12 );    

    &:hover {

      background: lighten( $oa-gray-light, 17 );

    }

    i { 

      color: $oa-gray;

    }

  }

  .no-search-result {

    text-align: center;
    padding: 1em;

  }

  .no-search-button {

    text-align: center;
    padding-bottom: 1em;

  }

  .cancel {

    float: right;

  }
  
  .search-item {

    cursor: pointer;

    &:hover {

      background: $oa-blue;

      a, span, div {

        color: $oa-white;

      }

    }

    a {

      padding: 0;

    }

  }

  .dropdown-menu {

    width: 100%;
    padding: 0;
    
    .search-item {
      padding: 0.5em 1em;
    }
  
    
  }

  .address {

    color: $oa-gray;
    font-size: 0.95em;

  }

  .spinner-container {

    position: relative;

  }

  .search-field .input-spinner {

    position: absolute;
    top: 0;
    right: 0;
    padding: 1.2em;

  }

  .nolocation {

    padding: 0.5em;

  }

  .actions {

    float: right;

  }

  .input-group {
    .error{
      border: 1px solid red;
    }
  }

}