<% include ./_formTop.ejs %>
<div class="location-form">
  <div class="form-head">
    <a>back</a>
    <h2>Create a location</h2>
    <% include ./_suggestion-notification.ejs %>
    <span class="info">Accurately define the name, address and localization of the place
    </span>
  </div>
  <% include ./_form %>
</div>
<% include ./_formBottom.ejs %>