.event-references {

  margin-bottom: 60px;

  &.show {

    padding-top: 60px;
    margin-bottom: 0;

    .media {

      margin: 0;
      padding: 20px 20px 0px;

      &:last-child {

        padding-bottom: 20px;

      }

      &:first-child {

        padding-top: 20px;

      }

    }

  }

  .media {

    a {

      color: inherit;

      &:hover {

        text-decoration: none;

      }
      
    }

  }

  h4 {

    font-size: 1em;
    font-weight: bold;

  }

  li {

    margin-bottom: 0.2em;

  }


  .configure {

    position: relative;

    a {

      cursor: pointer;

    }

    .references {

      position: relative;
      min-height: 70px;

      .media {

        padding: 1em 0;

        .remove {

          margin: 20px 10px 0 0;
          font-size: 1.1em;

          &:hover {

            color: $oa-red;

          }

        }

      }

      .empty {

        padding: 2em 0;
        text-align: center;
        display: block;

      }
    
    }


    .search {

      z-index: 3;

      /* just for templating */
      .remove {

        display: none;

      }

      .section-item {

        cursor: default;

        &:hover {

          background: inherit;

        }

      }

      .dropdown-menu {
      
        width: 100%;

        li {
          margin: 0;
        }

      }

    }

  }
  
  .event-pic {

    height: 64px;
    width: 64px;
    overflow: hidden;
    display: inline-block;

  }

}
