<div class="registration-input">
  <label>Outils d'inscription</label>
  <div class="react-tagsinput">
    <span>
      <span class="react-tagsinput-tag" >
        <i class="fa fa-link" ></i>
        <span>https://openagenda.com</span>
        <a></a>
      </span>
      <input type="text" value="" class="react-tagsinput-input" >
    </span>
  </div>
</div>