@import "social-shares";
@import "references";
@import "timings-picker";
@import "contribution-info";
@import "legacy-age";
@import "legacy-image-upload";
@import "legacy-counter";
@import "counter";
@import "legacy-accessibility";
@import "../rich-text/tinymce";
@import "legacy-event-form";

.info-note {

  padding: 8px;
  border-left: 3px solid #41acdd;
  background: $oa-gray-lightest;

  p {
    margin: 0;
  }

}

.legacy-event-form {

  .error {
    color: $oa-red;
  }

}

/* event-dialog is to be deprecated */
.event-dialog {

  .header {

    margin-bottom: 30px;

  }

  .content.jumbotron {

    margin-top: 30px;
    margin-bottom: 0;

  }

  .actions {

    text-align: center;
    max-width: 360px;
    margin: auto;

    a {

      display: block;
      margin-bottom: 1.6em;

    }

  }

}
