<div class="registration-input">
  <label>Outils d'inscription</label>
  <div class="react-tagsinput">
    <span>
      <input type="text" value="" class="react-tagsinput-input"  placeholder="Liens, emails ou numéros de téléphone. Séparez chaque valeur par une tabulation ou une virgule." style="width: 630px;">
    </span>
  </div>
</div>