<div class="rtp__calendar rtp__xs">
  <div class="rtp__summary">
    <div class="rtp__stats">2 horaires définis du 20/07/21 au 22/07/21</div>
    <div role="button" tabindex="0" class="rtp__reset">Supprimer</div>
  </div>
  <div class="rtp__clearfix"></div>
  <div class="rtp__header">
    <div role="button" tabindex="0" class="rtp__prev-week"><svg stroke="currentColor" fill="currentColor"
        stroke-width="0" viewBox="0 0 320 512" class="rtp__icon" height="1em" width="1em"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z">
        </path>
      </svg></div>
    <div role="button" tabindex="0" class="rtp__next-week"><svg stroke="currentColor" fill="currentColor"
        stroke-width="0" viewBox="0 0 320 512" class="rtp__icon" height="1em" width="1em"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z">
        </path>
      </svg></div>
    <div class="rtp__selectors"><span class="rtp__month-selector">
        <div class="rtp__month-selector__Select css-2b097c-container">
          <div class="rtp__month-selector__Select__control css-yk16xz-control">
            <div
              class="rtp__month-selector__Select__value-container rtp__month-selector__Select__value-container--has-value css-1hwfws3">
              <div class="rtp__month-selector__Select__single-value css-1uccc91-singleValue">juillet</div>
              <div class="css-1g6gooi">
                <div class="rtp__month-selector__Select__input" style="display: inline-block;"><input
                    autocapitalize="none" autocomplete="off" autocorrect="off" id="react-select-2-input"
                    spellcheck="false" tabindex="0" type="text" aria-autocomplete="list"
                    style="box-sizing: content-box; width: 2px; background: rgba(0, 0, 0, 0) none repeat scroll 0px center; border: 0px none; font-size: inherit; opacity: 1; outline: currentcolor none 0px; padding: 0px; color: inherit;"
                    value="">
                  <div
                    style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 13px; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-weight: 700; font-style: normal; letter-spacing: normal; text-transform: none;">
                  </div>
                </div>
              </div>
            </div>
            <div class="rtp__month-selector__Select__indicators css-1wy0on6"><span
                class="rtp__month-selector__Select__indicator-separator css-1okebmr-indicatorSeparator"></span>
              <div aria-hidden="true"
                class="rtp__month-selector__Select__indicator rtp__month-selector__Select__dropdown-indicator css-tlfecz-indicatorContainer">
                <svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false"
                  class="css-19bqh2r">
                  <path
                    d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                  </path>
                </svg></div>
            </div>
          </div>
        </div>
      </span><span class="rtp__year-selector">
        <div class="rtp__year-selector__Select css-2b097c-container">
          <div class="rtp__year-selector__Select__control css-yk16xz-control">
            <div
              class="rtp__year-selector__Select__value-container rtp__year-selector__Select__value-container--has-value css-1hwfws3">
              <div class="rtp__year-selector__Select__single-value css-1uccc91-singleValue">2021</div>
              <div class="css-1g6gooi">
                <div class="rtp__year-selector__Select__input" style="display: inline-block;"><input
                    autocapitalize="none" autocomplete="off" autocorrect="off" id="react-select-3-input"
                    spellcheck="false" tabindex="0" type="text" aria-autocomplete="list"
                    style="box-sizing: content-box; width: 2px; background: rgba(0, 0, 0, 0) none repeat scroll 0px center; border: 0px none; font-size: inherit; opacity: 1; outline: currentcolor none 0px; padding: 0px; color: inherit;"
                    value="">
                  <div
                    style="position: absolute; top: 0px; left: 0px; visibility: hidden; height: 0px; overflow: scroll; white-space: pre; font-size: 13px; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-weight: 700; font-style: normal; letter-spacing: normal; text-transform: none;">
                  </div>
                </div>
              </div>
            </div>
            <div class="rtp__year-selector__Select__indicators css-1wy0on6"><span
                class="rtp__year-selector__Select__indicator-separator css-1okebmr-indicatorSeparator"></span>
              <div aria-hidden="true"
                class="rtp__year-selector__Select__indicator rtp__year-selector__Select__dropdown-indicator css-tlfecz-indicatorContainer">
                <svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false"
                  class="css-19bqh2r">
                  <path
                    d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                  </path>
                </svg></div>
            </div>
          </div>
        </div>
      </span></div>
  </div>
  <div class="rtp__clearfix"></div>
  <div class="rtp__days">
    <div class="rtp__index-column"></div>
    <div class="rtp__content-column">
      <div class="rtp__row">
        <div class="rtp__col">lundi<br>19</div>
        <div class="rtp__col">mardi<br>20</div>
        <div class="rtp__col">mercredi<br>21</div>
        <div class="rtp__col">jeudi<br>22</div>
        <div class="rtp__col">vendredi<br>23</div>
        <div class="rtp__col">samedi<br>24</div>
        <div class="rtp__col">dimanche<br>25</div>
      </div>
    </div>
  </div>
  <div class="rtp__scheduler">
    <div class="rtp__index-column">
      <div class="rtp__column-timing">
        <div class="rtp__cell rtp__timing" style="height: 40px;"><span class="rtp__number">00:00</span></div>
        <div class="rtp__cell rtp__timing" style="height: 40px;"><span class="rtp__number">01:00</span></div>
        <div class="rtp__cell rtp__timing" style="height: 40px;"><span class="rtp__number">02:00</span></div>
        <div class="rtp__cell rtp__timing" style="height: 40px;"><span class="rtp__number">03:00</span></div>
        <div class="rtp__cell rtp__timing" style="height: 40px;"><span class="rtp__number">04:00</span></div>
        <div class="rtp__cell rtp__timing" style="height: 40px;"><span class="rtp__number">05:00</span></div>
        <div class="rtp__cell rtp__timing" style="height: 40px;"><span class="rtp__number">06:00</span></div>
        <div class="rtp__cell rtp__timing" style="height: 40px;"><span class="rtp__number">07:00</span></div>
        <div class="rtp__cell rtp__timing" style="height: 40px;"><span class="rtp__number">08:00</span></div>
        <div class="rtp__cell rtp__timing" style="height: 40px;"><span class="rtp__number">09:00</span></div>
        <div class="rtp__cell rtp__timing" style="height: 40px;"><span class="rtp__number">10:00</span></div>
        <div class="rtp__cell rtp__timing" style="height: 40px;"><span class="rtp__number">11:00</span></div>
        <div class="rtp__cell rtp__timing" style="height: 40px;"><span class="rtp__number">12:00</span></div>
        <div class="rtp__cell rtp__timing" style="height: 40px;"><span class="rtp__number">13:00</span></div>
        <div class="rtp__cell rtp__timing" style="height: 40px;"><span class="rtp__number">14:00</span></div>
        <div class="rtp__cell rtp__timing" style="height: 40px;"><span class="rtp__number">15:00</span></div>
        <div class="rtp__cell rtp__timing" style="height: 40px;"><span class="rtp__number">16:00</span></div>
        <div class="rtp__cell rtp__timing" style="height: 40px;"><span class="rtp__number">17:00</span></div>
        <div class="rtp__cell rtp__timing" style="height: 40px;"><span class="rtp__number">18:00</span></div>
        <div class="rtp__cell rtp__timing" style="height: 40px;"><span class="rtp__number">19:00</span></div>
        <div class="rtp__cell rtp__timing" style="height: 40px;"><span class="rtp__number">20:00</span></div>
        <div class="rtp__cell rtp__timing" style="height: 40px;"><span class="rtp__number">21:00</span></div>
        <div class="rtp__cell rtp__timing" style="height: 40px;"><span class="rtp__number">22:00</span></div>
        <div class="rtp__cell rtp__timing" style="height: 40px;"><span class="rtp__number">23:00</span></div>
      </div>
    </div>
    <div class="rtp__content-column">
      <div class="rtp__body">
        <div class="rtp__column">
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
        </div>
        <div class="rtp__column">
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
        </div>
        <div class="rtp__column">
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
        </div>
        <div class="rtp__column">
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
        </div>
        <div class="rtp__column">
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
        </div>
        <div class="rtp__column">
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
        </div>
        <div class="rtp__column">
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
          <div class="rtp__cell" touch-action="none" style="height: 40px;"></div>
        </div>
        <div class="rtp__value-timing" role="button" touch-action="none"
          style="position: absolute; top: 440px; left: 42.8571%; width: 14.2857%; height: 180px; display: inline-block;">
          <div role="presentation" class="rtp__timing-remove" touch-action="none">×</div>
          <div class="rtp__timing-value">11:00<br>15:30</div>
          <div class="rtp__timing-resizer" touch-action="none"></div>
        </div>
        <div class="rtp__value-timing" role="button" touch-action="none"
          style="position: absolute; top: 420px; left: 14.2857%; width: 14.2857%; height: 180px; display: inline-block;">
          <div role="presentation" class="rtp__timing-remove" touch-action="none">×</div>
          <div class="rtp__timing-value">10:30<br>15:00</div>
          <div class="rtp__timing-resizer" touch-action="none"></div>
        </div>
      </div>
    </div>
    <div class="ReactModalPortal"></div>
    <div class="ReactModalPortal"></div>
    <div class="ReactModalPortal"></div>
  </div>
  <div class="rtp__multi-recurrencer-button" role="button" tabindex="0">Définir une récurrence</div>
</div>