#pem .color-menu { display: none; padding: 5px; width: 180px; }
#pem .color-indicator { display: inline-block; height: 29px; width: 29px; vertical-align: middle; }
#pem .picker { width: 160px; height: 160px; display: inline-block; }
#pem .slide { width: 15px; height: 160px; display: inline-block; }
#pem #picker-indicator { border: 1px solid black; height: 3px; width: 3px; }


#pem .embed-code { padding: 10px 0; }

#pem .menu-item-detail { padding-top: 1em; }

#pem .colorbox { height: 1em; width: 1em; vertical-align: middle; }

#pem form.disabled * { color: #999; }

#pem .preview-canvas { padding: 20px; background: #fcfcfc; margin: 10px 0; }
#pem .preview-canvas .side-option { float: right; }

#pem .preview { padding: 2px; border: 2px dotted #ccc; background: white; display: block; }
#pem .preview iframe { width: 100%; height: 1000px; }

#pem .widget-preview { text-align: center; }
#pem .widget-preview ul { text-align: left; }
#pem .widget-preview .preview-canvas { display: inline-block; }


#pem .main-head { margin-bottom: 10px; }
#pem .menu-list { margin: 10px 0; line-height: 30px;}

#pem .embed-pres { display: block; color: #666; padding: 1em 0; }

.facebook-program-embed { padding: 10px; }
.facebook-program-embed p { padding-bottom: 0.5em; }
.facebook-program-embed a { padding-right: 0.8em; }

#pem .fb-embed .button { background: #3b5998; border: none; }
#pem .fb-embed .button i,
#pem .fb-embed .button span { color: white; }

#pem .cibul-information { padding: 0.5em 0; margin-bottom: 2em; border-bottom: 1px solid #11BED4; border-top: 1px solid #11BED4; display: block; }