@import '../layout/base';
@import '../agenda-admin/style';
@import '../components/nav';
@import '../form-components/input-with-icon';

.inbox {

  position: relative;

  .well {

    box-shadow: none;

  }

  .inbox-title {

    padding-right: 228px; // 220 of button width + 8

  }

  .btn-creation, .btn-back {

    position: absolute;
    top: 28px;
    right: 12px;
    margin-left: 8px;
    max-width: 220px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

  }

  .btn-resume {

    padding-bottom: 0;

  }

  .media {

    overflow: visible;

    .media-left, .media-right {

      position: relative;

      img.belongs {

        border: 3px solid $oa-white;
        background: $oa-white;
        box-sizing: content-box;
        position: absolute;
        right: 10px;
        top: 40px;

      }

    }

    .media-body {

      overflow: visible;

      .media-heading {

        //

      }

      .conversation-item-message {

        border-left: 3px solid $oa-blue;
        padding-left: 8px;

        .message {

          line-height: 16px;

        }

      }

    }

    .message-form textarea, .conversation-form textarea {

      resize: vertical;
      min-height: 120px;

    }

  }

  &.inbox-agenda-admin {

    .btn-creation, .btn-back {

      top: 0;
      right: 0;

    }

  }

}
