@import '../layout/base';
@import '../agenda-admin/style';
@import '../components/nav';
@import '../form-components/input-with-icon';

.inbox {

  .well {

    box-shadow: none;

  }

  .btn-creation {

    margin-top: -7px;

  }

  .btn-resume {

    padding-bottom: 0;

  }

  .media {

    overflow: visible;

    .media-left, .media-right {

      position: relative;

      img.belongs {

        border: 3px solid $oa-white;
        background: $oa-white;
        box-sizing: content-box;
        position: absolute;
        right: 10px;
        top: 40px;

      }

    }

    .media-body {

      overflow: visible;

    }

    .message-form textarea, .conversation-form textarea {

      resize: vertical;
      min-height: 120px;

    }

  }

}
