<div class="emailForm">

  <form method="post" action=" <%= genUrl( 'twitterEmail', { user: user, iToken: iToken } ) %>">

    <input type="email" name="email" placeholder="Email"/>

    <button type="submit"> Confirm Email </button>
  </form>

</div>