<div class="signin">

     <form method="post" action="<%= genUrl( 'localAuth' ) %>" >
     	    <input type="email" name="email" placeholder="email" /> 
      	    <input type="password" name="password" placeholder="password"/ >
      	    <button type="submit"> Log in </button>
     </form>
</div>