<div id="content">
  <div class="container text-center share-page">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8">
        <h1><%= event.title %></h1>
      </div>
    </div>
    <div class="row text-left">
      <div class="col-sm-offset-2 col-sm-8 share-menu">
        <% include ./actionContent.part.ejs %>
      </div>
    </div>
  </div>
</div>
<% include ../bsLayout/footer.part.ejs %>