<% include ../agenda/customEmbedStyles.part.ejs %>
<div id="content">
  <div class="container">
    <div class="row">
      <section class="col-sm-offset-3 col-sm-6 col-xs-offset-2 col-xs-8">
        <%- eventRender %>
      </section>
    </div>
</div>