{{registerFilter type='dateRange' id=name}}

<div
  data-oa-filter
  data-oa-filter-id="{{name}}"
  data-oa-filter-type="dateRange"
  {{#if name}}
  data-oa-filter-name="{{name}}"
  {{/if}}
  {{#if rangeColor}}
  data-oa-filter-range-color="{{rangeColor}}"
  {{/if}}
>
</div>
