{{registerFilter type='search' id=name aggregation=null placeholder=placeholder}}

<div
  data-oa-filter
  data-oa-filter-id="{{name}}"
  data-oa-filter-type="search"
  data-oa-filter-aggregation="null"
  {{#if name}}
  data-oa-filter-name="{{name}}"
  {{/if}}
  {{#if placeholder}}
  data-oa-filter-placeholder="{{placeholder}}"
  {{/if}}
>
</div>
