<div class="multilingual-group">
  <div class="language-bar"><ul><li>
    <div class="language-item">
      <span>Français
      </span>
    </div></li></ul>
    <span class="language-add cform">
      <a class="url">Ajouter une langue</a>
    </span>
  </div>
  <div class="multilingual-input-field form-group">
    <label>Description
    </label>
    <ul class="list-unstyled"><li>
      <div><textarea name="description" class="form-control"></textarea>
      <ul class="alternatives"></ul>
      </div></li><li class="info">Détails sur le lieu, crédits de l'image...</li>
    </ul>
  </div>
  <div class="multilingual-input-field form-group">
    <label>Conditions d'accès
    </label>
    <ul class="list-unstyled"><li>
      <div>
        <input name="access" type="text" value="" class="form-control">
        <ul class="alternatives"></ul>
      </div></li>
    </ul>
  </div>
</div>