.agenda-admin-locations {

  .head {

    padding: 1em 0;

    li {

      margin-right: 1em;

    }

    .filter-item {

      cursor: pointer;

      a {

        color: inherit;
        padding-left: 0.3em;
        text-decoration: none;

      }

    }

  }

  .list-actions, .list-filters {

    padding: 0 0 1em;

    .form-group {

      margin-right: 1em;

    }

  }

  .list-actions {

    text-align: right;

  }

  .btn-link-group {
    > strong, > span {
      vertical-align: middle;
      border: 1px transparent;
    }
  }

  .merge-entry {

    border-left: 2px solid $oa-blue;

    // .info {

    //   font-size: 0.95em;
    //   color: $oa-gray;
    //   display: block;
    //   height: 2em;

    // }

    .info {
      display: block;
      height: 2em;
    }

  }

  .cursor-pointer {
    cursor: pointer;
  }

  .item {

    position: relative;

    &:hover {

      background: lighten( $oa-gray-light, 17 );

    }

    .title {

      font-weight: bold;

    }

    .action {
      padding: 0px 5px;

    }

    i.indicator {
      color: $oa-gray;

      &.disabled {
        color: lighten( $oa-gray-light, 9 );
      }

      &.red {
        color: $oa-red;
      }
    }


    .indicators {

      padding: 0.2em 0;

      > a, > span, > i {

        margin-right: 0.4em;

      }

    }

    .detailed {

      padding: 0.4em;

      .map {

        height: 200px;
        margin: 0.5em 0

      }

    }

  }

  .incomplete-dropdown {
    min-width: 300px;
  }

}
