<div class="form-group country">
  <label>Pays</label>
  <div class="Select is-searchable has-value">
    <input type="hidden" value="FR">
    <div class="Select-control">
      <div class="Select-placeholder">France</div>
      <div class="Select-input " style="display:inline-block;">
        <input value="" tabindex="0" style="width:5px;box-sizing:content-box;">
        <div style="position: absolute; visibility: hidden; height: 0px; width: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; font-style: normal; letter-spacing: normal;">
        </div>
      </div>
      <span class="Select-arrow-zone">
        <span class="Select-arrow">
        </span>
      </span>
    </div>
  </div>
</div>