<% include ./_name %>
<% include ./_country %>
<% include ./_address %>
<% include ./_image %>
<% include ./_access-description %>
<% include ./_telephone %>
<% include ./_website %>
<% include ./_links %>
<% include ./_tags %>
<div class="form-group bottom">
  <a href="#">Annuler</a>
  <button class="btn btn-primary">Créer</button>
</div>