<div class="form-group">
  <div class="image-upload">
    <label>Image</label>
    <form class="empty" method="post" enctype="multipart/form-data" target="frame53693" action="/image">
    <div class="form-inline actions">
      <span>
      </span>
      <div class="form-group upload-group">
        <input name="image" type="file" accept=".png, .gif, .jpg, .jpeg, .bmp">
        <button tabindex="-1" class="btn btn-default">
        <i class="fa fa-upload"></i>
        </button>
      </div>
    </div>
    <span>
    </span>
    <input type="hidden" name="callback" value="uploadCallback37517">
    <span>
    </span></form>
    <span class="info">Ne sélectionnez que les images pour lesquelles vous disposez d'une licence valide.
    </span><iframe name="frame53693" style="display:none;"></iframe>
  </div>
  <div class="alternatives image-alternatives">
    <label>Cliquez sur une alternative pour la charger</label>
    <ul>
      <li>
        <img src="//s3-eu-west-1.amazonaws.com/openagendatest/location28036011_sm.jpg"/>
      </li>
      <li>
        <img src="//s3-eu-west-1.amazonaws.com/openagendatest/location38051559_sm.jpg"/>
      </li>
      <li>
        <img src="//s3-eu-west-1.amazonaws.com/openagendatest/location36627645_sm.jpg"/>
      </li>
      <li>
        <img src="//s3-eu-west-1.amazonaws.com/openagendatest/location41058054_sm.jpg"/>
      </li>
    </ul>
  </div>
</div>
