<div class="item">
  <div class="actions btn-group">
    <button class="btn btn-default" aria-label="modifier"><i class="fa fa-edit"></i></button>
  </div>
  <div class="item-body">
    <div class="title">Place Victor Hugo, Grenoble</div>
    <div>Place Victor Hugo, Grenoble</div>
    <div class="text-muted">
      <span>Isère</span>
      <span>, Rhône-Alpes</span>
      <span>, France</span>
    </div>
    <div class="indicators">
      <i class="fa fa-picture-o disabled"></i>
      <i class="fa fa-file-text-o disabled"></i>
      <a>voir les événements</a>
    </div>
  </div>
</div>