<div class="row item merge padding-v-sm">
  <div class="col col-sm-11 item-body">
    <div class="title">Un théatre ref de Merge</div>
    <div>Place Royale, Nantes</div>
    <div class="text-muted">
      <span>Loire-Atlantique</span>
      <span>, Pays de la Loire</span>
      <span>, France</span>
    </div>
    <div>
      <i class="indicator fa fa-picture-o disabled margin-right-xs"></i>
      <i class="indicator fa fa-file-text-o disabled margin-right-xs"></i>
      <a class="action btn btn-link">Voir les événements</a>
      <span>
        <strong>Lieu référence de la fusion</strong>
        <button
          type="button"
          class="btn btn-link text-danger action"
        >
          Désélectionner
        </button>
      </span>
    </div>
  </div>
  <div class="col col-sm-1 text-center">
    <div class="checkbox margin-v-md">
      <label htmlFor="merge-checkbox">
        <input type="checkbox" />
      </label>
    </div>
  </div>
</div>