<div class="item">
  <div class="actions btn-group">
    <button class="btn btn-default" aria-label="modifier"><i class="fa fa-edit"></i></button>
  </div>
  <div class="item-body">
    <div class="title">Centre Culturel Canadien
    </div>
    <div>5 rue de constantine, 75007 Paris
    </div>
    <div class="text-muted">
      <span>Paris</span>
      <span>, Île-de-France</span>
      <span>, France</span>
    </div>
    <div class="indicators">
      <i class="fa fa-picture-o disabled"></i>
      <i class="fa fa-file-text-o"></i>
      <span class="badge badge-warning">à vérifier</span>
      <a>voir les événements</a>
    </div>
  </div>
</div>