<div class="row item merge padding-v-sm">
  <div class="col col-sm-11 item-body">
    <div class="title">Un théatre à Merge</div>
    <div>Place Royale, Nantes</div>
    <div class="text-muted">
      <span>Loire-Atlantique</span>
      <span>, Pays de la Loire</span>
      <span>, France</span>
    </div>
    <div>
      <i class="indicator fa fa-picture-o disabled margin-right-xs"></i>
      <i class="indicator fa fa-file-text-o disabled margin-right-xs"></i>
      <a class="btn btn-link action">Voir les événements</a>
      <button
       type="button"
       class="btn btn-link action"
      >
        Definir comme lieu réference de la fusion
      </button>
    </div>
  </div>
  <div class="col col-sm-1 text-center">
    <div class="checkbox margin-v-md">
      <label htmlFor="merge-checkbox">
        <input type="checkbox" />
      </label>
    </div>
  </div>
</div>