<div class="row">
  <div class="col-sm-12 margin-bottom-md">
    <h2>Lieux de la Métropole de Lille</h2>
    <div>Jeu de 151 lieux mutualisés entre <a class="margin-right-xs" href="#">14 agendas</a> <%- include('../components/_tooltip-icon-inline') %></div>
  </div>
</div>
