<div class="merge-menu row margin-bottom-md">
  <div class="col-sm-12">
    <div class="btn-link-group">
      <strong>Fusion de Lieu</strong>
      <button
        type="button"
        class="btn btn-link text-danger"
      >
        Annuler
      </button>
    </div>
    <div class="btn-link-group">
      <span>Lieu de reférence: </span>
      <strong>Théâtre du machin</strong>
      <button type="button" class="btn btn-link">
        Voir
      </button>
      <button
        type="button"
        class="btn btn-link text-danger padding-h-xs"
      >
        Désélectionner
      </button>
    </div>
    <div>
      <button
        type="button"
        class="btn btn-link padding-right-xs padding-left-z"
      >
        Voir la sélection
      </button>
      <button
        type="button"
        class="btn btn-link disabled padding-h-xs"
      >
        Charger des suggestion de doublons
      </button>
    </div>
    <div>
      <button
        type="button"
        class="btn btn-primary margin-top-xs"
      >
        Lancer la fusion 
      </button>
    </div>
  </div>
</div>