
<%- include('./_formTop.ejs') %>
  <div class="padding-v-sm margin-v-lg form-group has-error">
    <div class="popup-overlay big">
      <section>
        <div class="popup-content">
          <div class="location-selector">
            <div class="location-form">
              <div class="form-head">
                <a>back</a>
                <h2>Create a location</h2>
                <%- include('./_suggestion-notification.ejs') %>
                  <span class="info">Accurately define the name, address and localization of the place
                  </span>
              </div>
              <%- include('./_form') %>
            </div>

          </div>
        </div>
      </section>
    </div>
  </div>
  <%- include('./_formBottom.ejs') %>
