<div class="header">
  <h2>EmailStrategie</h2>
</div>

<section><% if ( !linked ) { %>

<div class="header">

  <form class="cform" method="post">
    <ul>
      <li>
        <label for="username"><%= __( 'Username' ) %></label>
        <input name="username" type="text" />
      </li>
      <li>
        <label for="password"><%= __( 'Password' ) %></label>
        <input name="password" type="password" />
      </li>
      <li>
        <button type="submit"><%= __( 'Link' ) %></button>
      </li>
    </ul>
  </form>

</div>

<% } else { %>

<% } %></section>