.language-bar {

  padding-top: 1em;

  ul {

    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: top;

  }
  
  li {

    display: inline-block;
    background: $oa-blue;
    border: 0;
    margin: 0 10px 10px 0;
    border-radius: 3px;

    span {
    
      padding: 8px;
      display: inline-block;
      cursor: pointer;
      color: $oa-white;

    }

  }

  .language-add {

    display: inline-block;
    cursor: pointer;

    .Select-control {

      width: 10em;

    }

    a {

      padding-top: 7px;
      display: inline-block;

    }

  }

}