<% include ../layout/_top.ejs %>
<div class="agenda-search">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 wsq header">
        <form>
          <div class="form-group">
            <label class="sr-only" for="agenda_search">Agenda search</label>
            <input type="text" class="form-control" id="agenda_search" placeholder="Search">
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 wsq body media-list">
        <div class="empty">
          <p>Sorry, no agendas that match this search</p>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../layout/_bottom.ejs %>