@import "../layout/base";
@import "../components/official";
@import '../components/agenda-item';

.agenda-search {

  a {
    cursor: pointer;
  }

  .header {
    padding: 1em 2em;
  }

  .empty {
    padding: 3em 2em;
    text-align: center;
  }

  .page-nav {
    text-align: center;
    padding: 1em;
  }

}
