<div class="agenda-item media">
    <div class="row v-center">
        <a href="#">
            <div class="media-body">
                <h4 class="title media-heading">Rendez-vous aux jardins de trapelune</h4>
                <div>
                    <span>événements: 23</span> /
                    <span>à venir: 12</span>
                </div>
            </div>
        </a>
    </div>
</div>