<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div class="admin">
    <div class="container-fluid wsq">
        <div class="row">
            <div class="col-md-4 admin-search">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 header">
                        <form>
                            <div class="form-group">
                                <label class="sr-only" for="agenda_search">Agenda search</label>
                                <input type="text" class="form-control" id="agenda_search" placeholder="Search" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 body media-list">
                        <nav class="page-nav">
                            <button class="btn btn-default">load previous</button>
                        </nav>
                        <div>

                            <% include ./_agendaItem.ejs %>
                            <% include ./_agendaItem.ejs %>
                            <% include ./_agendaItem.ejs %>
                            <% include ./_agendaItem.ejs %>
                            <% include ./_agendaItem.ejs %>
                            <% include ./_agendaItem.ejs %>
                            <% include ./_agendaItem.ejs %>
                            <% include ./_agendaItem.ejs %>

                        </div>
                        <nav class="page-nav">
                            <button class="btn btn-default">load more</button>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <header class="agenda-header">
                        <div class="container profile notheme">
                            <div class="row"><!--
                            -->
                                <div class="col-sm-2 avatar-container">

                                    <a href="#agendaShow%7B%22slug%22:%22la-gargouille%22%7D">
                                        <img class="avatar" src="//cibul.s3.amazonaws.com/review_cheznous_598_00.jpg"
                                             alt="L'agenda de la Gargouille">
                                    </a>

                                </div><!--
                                -->
                                <div class="col-sm-7 title-container">
                                    <a href="#agendaShow%7B%22slug%22:%22la-gargouille%22%7D">
                                        <h1>L'agenda de la Gargouille</h1>
                                        <p>Evénements sur Paris</p>
                                    </a>

                                    <p><a target="_blank" href="http://cibul.net">http://cibul.net</a></p>

                                </div>
                            </div>
                        </div>
                    </header>

                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Type</th>
                            <th>Nom complet</th>
                            <th>Nom d'utilisateur</th>
                            <th>Email</th>
                            <th>Depuis</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><a href="#">12</a></td>
                            <td>Modérateur</td>
                            <td>Robert De La Fondue</td>
                            <td>Roro75</td>
                            <td>roro75@gmail.com</td>
                            <td>le 13/12/2015 (modifié le 28/03/2016)</td>
                        </tr>
                        <tr>
                            <td><a href="#">16</a></td>
                            <td>Administrateur</td>
                            <td>Jean-Momo Muerte</td>
                            <td>Momo</td>
                            <td>jean.momo@gmail.com</td>
                            <td>le 8/09/2014</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>