.accept-btn {
  margin-right: 12px;
}

.decline-btn {
  margin-right: 12px;
}

.btn-wrapper {
  margin: 24px 12px;
}

.banner {
  &-container {
    align-items: baseline;
    background: rgb(65, 58, 66);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    left: 0px;
    position: fixed;
    width: 100%;
    z-index: 999;
    bottom: 0px;
  }

  &-content {
    flex: 1 0 300px;
    margin: 15px;

    a:hover {
      color: $oa-blue;
      text-decoration: underline;
    }
  }
}
