.rwa-item {
  padding: 0 0 2em;
}

.rwa-item .desc, .rwa-item .act {
  display: inline-block;
  vertical-align: middle;
}

.rwa-item .desc {
  width:60%;
}

.rwa-item .act {
  width: 40%;
  text-align:
  right;
}

.rwa-item .act a {
  margin: 0 -1px 0.3em 0;
}

.rwa-item .indication {
  margin-bottom: 0;
  display: inline-block;
  color: #666;
  font-size: 0.9em;
  padding-right: 1em;
}

.rwa-item .sub i {
  vertical-align: middle;
  font-size: 0.9em;
  color: #666;
}

.rwa-item .sub i:hover {
  color: #333;
}

.rwa-item .cred {
  display: inline-block;
}

.rwa-item .cred span,
.rwa-item .cred a {
  padding-right: 1em;
  font-size: 0.9em;
}

@media screen and (max-width: 1000px) {

  .rwa-item .act a {
    max-width: 2.8em;
    overflow: hidden;
    white-space: nowrap;
  }

  .rwa-item .act a i {
    display: none;
  }

}

@media screen and (max-width: 600px) {

  .rwa-item .desc, .rwa-item .act {
    width: auto;
    display: block;
  }

  .rwa-item .act {
    text-align: inherit;
  }

  .rwa-item .act a {
    margin: 0.3em 0.3em 0.3em 0;
  }

}