{
  "extends": "@openagenda",

  "parserOptions": {
    "sourceType": "script"
  },

  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "dev/**/*.js",
          "test/**/*.js",
          "testconfig.sample.js",
          "testconfig.js"
        ]
      }
    ]
  },

  "overrides": [
    {
      "files": [
        "client/**/*.js",
        "boot/js/**/*.js"
      ],

      "parserOptions": {
        "sourceType": "module"
      }
    }
  ]
}
