<html>
  <head>
  <script type="text/javascript">
    window.testControlData='<%= controlData %>';
  </script>
<% js.forEach( function( jsPath ) { %>
  <script type="text/javascript" src="<%= jsPath %>"></script>
<% }) %>
  </head>
  <body>

    <p>categories widget</p>
    <div class="cbpgct cibulCategories" data-cbctl="48959239/46744426"></div>

  </body>
</html>