#event-share { width: 400px;}
#event-share h1 { font-size: 1.4em; text-align: center; line-height: 2em;}
#event-share ul.inline li { display: inline; margin-right: 20px;}
#event-share form li { margin-bottom: 10px; }
#event-share li img { vertical-align: middle; }

#event-share input[type="checkbox"] { margin-right: 0.5em; border: none; }
#event-share textarea { width: 100%; }
#event-share .text-right { text-align: right;}
#event-share .section-display { margin-bottom: 0.2em; display: inline-block; }
#event-share .deploy-arrow { display: inline-block; background: url("../../images/icons.png") no-repeat scroll -22px 1px transparent; height: 10px; margin-right: 2px; width: 12px; }
#event-share .hiding .deploy-arrow { background: url("../../images/icons.png") no-repeat scroll -32px 0 transparent; height: 11px; }