openapi: 3.1.0

info:
  title: OpenAgenda API
  version: '3.0.0-draft'
  description: |
    The OpenAgenda v3 API gives programmatic access to agendas, events and
    locations. This contract is the single source of truth behind the generated
    SDK, the MCP server and this reference.

    ## Authentication

    Every request is authenticated with `Authorization: Bearer <token>`, using
    one of two credentials (the only exception is `POST /uploads/staged`, which
    is authorized by an upload ticket in the `X-Upload-Ticket` header):

    - **API key** — a read-only public key (`oa_pk_…`), which carries no
      user identity and reads what is public, or a secret key (`oa_sk_…`) for
      reads and writes. Best for server-to-server and scripts.
    - **OAuth 2.1** — authorization-code flow with mandatory PKCE (`S256`) for
      interactive apps acting on a user's behalf. The issued short-lived token
      carries the granted scopes (`agendas:read`, `events:read`, …). Public
      clients hold no secret.

    Use the **Authentication** selector at the top of this page to try requests
    with any of these credentials directly from the browser.

    ## Pagination

    List endpoints are **cursor-paginated**. Read `pagination.after` from a
    response and pass it back as the `after` query parameter to fetch the next
    page, with the same filters.

    ## Responses

    A field a response schema marks required is always present unless `fields`
    narrows the response: an empty array is `[]`, an empty localized map is
    `{}`, and an absent value is `null`.

    ## SDK & MCP

    - **TypeScript SDK** — [`@openagenda/api-client`](https://www.npmjs.com/package/@openagenda/api-client),
      generated from this contract.
    - **MCP server** — [`mcp.openagenda.com`](https://mcp.openagenda.com)
      exposes the same surface to AI agents over the Model Context Protocol.
  contact:
    name: OpenAgenda Support
    email: support@openagenda.com
    url: https://developers.openagenda.com
  license:
    name: Proprietary — © OpenAgenda
    identifier: LicenseRef-OpenAgenda-Proprietary
  # SDK-first story: the code samples on each operation use @openagenda/api-client
  # (generated from this very contract). Surface its install up front.
  x-scalar-sdk-installation:
    - lang: TypeScript
      description: |
        Install the official, fully-typed TypeScript SDK, generated from this
        contract:

        ```sh
        npm install @openagenda/api-client
        ```

        Every operation's code sample uses it.

servers:
  - url: https://api.openagenda.com/v3
    description: Production
  - url: https://dapi.openagenda.com/v3
    description: Development

tags:
  - name: Agendas
    description: >
      Agendas hold and publish events. List and inspect them, then drill into
      the events they publish.
  - name: Events
    description: Events published in an agenda.
  - name: Locations
    description: >
      Where events happen. Each agenda has its own pool of locations —
      or shares one with other agendas through a location set.
  - name: Me
    description: >
      The authenticated caller: the agendas they are a member of and their
      role on each. Requires a user identity — a secret key or an OAuth
      token; a public (`oa_pk_…`) key carries no identity and answers
      `401`.
  - name: Uploads
    description: >
      Stage a media file (the native event image, or a custom file/image
      field) as `multipart/form-data`, then attach it by reference on an event
      write — so the media lands in the same write as the rest of the edit. The
      API validates the file's real type and size before storing it.

# Groups the resource tags under a "Resources" heading in the Scalar sidebar.
# Forward-compatible with the upcoming members surface (see scopes).
x-tagGroups:
  - name: Resources
    tags:
      - Agendas
      - Events
      - Locations
      - Me
      - Uploads

# Authenticate every request with either an API key or an OAuth2 token,
# both carried as `Authorization: Bearer <token>`.
security:
  - oauth2:
      - events:read
  - secretKey: []
  - publicKey: []

paths:
  /agendas:
    get:
      operationId: agendas.list
      tags: [Agendas]
      summary: List agendas
      x-synonyms: [calendars, directory, catalogue, catalog, browse, find, all]
      x-codeSamples:
        - lang: TypeScript
          label: List official agendas
          source: |
            const { data, error } = await oa.agendas.list({
              query: { official: true, limit: 20 },
            });
            if (error) throw error;
            return data.data.map((a) => ({ uid: a.uid, title: a.title }));
      description: >
        Returns a cursor-paginated list of agendas. Pass the `after`
        cursor returned in `pagination.after` to fetch the next page,
        with the same filters.


        Unknown or malformed filter values answer `400`, with per-field
        context under `error.errors`. An unrecognized top-level query parameter
        is ignored.
      security:
        - publicKey: []
        - secretKey: []
        - oauth2:
            - agendas:read
      parameters:
        - $ref: '#/components/parameters/AfterCursor'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Detailed'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/AgendaSearch'
        - $ref: '#/components/parameters/AgendaSort'
        - $ref: '#/components/parameters/AgendaFilterUid'
        - $ref: '#/components/parameters/AgendaFilterSlug'
        - $ref: '#/components/parameters/AgendaFilterOfficial'
      responses:
        '200':
          description: A page of agendas.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgendaList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /agendas/{agendaUid}:
    get:
      operationId: agendas.get
      tags: [Agendas]
      summary: Get one agenda
      x-synonyms:
        [calendar, detail, single, one, by id, uid, fetch, retrieve, lookup]
      x-codeSamples:
        - lang: TypeScript
          label: Get one agenda by uid
          source: |
            const { data, error } = await oa.agendas.get({
              path: { agendaUid: 12345 },
            });
            if (error) throw error;
            return data;
      description: >
        Returns a single agenda in its full `Agenda` representation. An
        unknown agenda uid answers `404`.
      security:
        - publicKey: []
        - secretKey: []
        - oauth2:
            - agendas:read
      parameters:
        - $ref: '#/components/parameters/AgendaUid'
      responses:
        '200':
          description: The agenda.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agenda'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /agendas/{agendaUid}/overview:
    get:
      operationId: agendas.overview
      tags: [Agendas]
      summary: Get an agenda's activity overview
      x-synonyms:
        [summary, stats, statistics, metrics, counts, activity, dashboard, kpi]
      x-codeSamples:
        - lang: TypeScript
          label: Overview of one agenda
          source: |
            const { data, error } = await oa.agendas.overview({
              path: { agendaUid: 12345 },
            });
            if (error) throw error;
            return data;
      description: >
        Returns a live activity overview of the agenda: event volume,
        distributions (by language, source, end-day…), spatial viewport and
        thematic keywords.


        Two visibility scopes. `events.published` (publicly visible events) is
        returned to every caller. `events.all` (events of any moderation state,
        moderation/refused included) is returned ONLY to
        `administrator|moderator|internal` callers and is absent otherwise.
        Computed on each request.
      security:
        - publicKey: []
        - secretKey: []
        - oauth2:
            - events:read
      parameters:
        - $ref: '#/components/parameters/AgendaUid'
      responses:
        '200':
          description: The agenda overview.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgendaOverview'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /agendas/{agendaUid}/events:
    get:
      operationId: agendas.events.list
      tags: [Events]
      summary: List events of an agenda
      x-synonyms:
        [find, browse, filter, paginate, cursor, upcoming, when, where, date]
      x-codeSamples:
        - lang: TypeScript
          label: All upcoming events in Paris (paging every result)
          source: |
            const events = [];
            let after;
            do {
              const { data, error } = await oa.agendas.events.list({
                path: { agendaUid: 12345 },
                query: { city: ['Paris'], relative: ['upcoming'], limit: 100, after },
              });
              if (error) throw error;
              events.push(...data.data);
              after = data.pagination.after;
            } while (after);
            return events.length;
      description: >
        Returns a cursor-paginated list of events for the given agenda. Pass
        the `after` cursor returned in `pagination.after` to fetch the next
        page, with the same filters.


        Only published events are listed. Unknown or malformed filter values answer `400`, with per-field
        context under `error.errors`. An unrecognized top-level query parameter
        is ignored.
      security:
        - publicKey: []
        - secretKey: []
        - oauth2:
            - events:read
      parameters:
        - $ref: '#/components/parameters/AgendaUid'
        - $ref: '#/components/parameters/AfterCursor'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Detailed'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Sort'
        # text & identity
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/RelevanceThreshold'
        - $ref: '#/components/parameters/FilterUid'
        - $ref: '#/components/parameters/FilterSlug'
        - $ref: '#/components/parameters/FilterExtId'
        # classification
        - $ref: '#/components/parameters/FilterKeyword'
        - $ref: '#/components/parameters/FilterLanguage'
        - $ref: '#/components/parameters/FilterAccessibility'
        - $ref: '#/components/parameters/FilterStatus'
        - $ref: '#/components/parameters/FilterAttendanceMode'
        - $ref: '#/components/parameters/FilterFeatured'
        # place
        - $ref: '#/components/parameters/FilterLocationUid'
        - $ref: '#/components/parameters/FilterLocationExtId'
        - $ref: '#/components/parameters/FilterRegion'
        - $ref: '#/components/parameters/FilterDepartment'
        - $ref: '#/components/parameters/FilterCity'
        - $ref: '#/components/parameters/FilterDistrict'
        - $ref: '#/components/parameters/FilterAdminLevel3'
        - $ref: '#/components/parameters/FilterAdminLevel5'
        - $ref: '#/components/parameters/FilterCountryCode'
        - $ref: '#/components/parameters/FilterBoundingBox'
        - $ref: '#/components/parameters/FilterNear'
        - $ref: '#/components/parameters/FilterRadius'
        # provenance
        - $ref: '#/components/parameters/FilterOriginAgendaUid'
        - $ref: '#/components/parameters/FilterOriginAgendaOfficial'
        - $ref: '#/components/parameters/FilterSourceAgendaUid'
        # time
        - $ref: '#/components/parameters/FilterRelative'
        - $ref: '#/components/parameters/FilterTimings'
        - $ref: '#/components/parameters/FilterLocalTime'
        - $ref: '#/components/parameters/FilterCreatedAt'
        - $ref: '#/components/parameters/FilterUpdatedAt'
        # audience & additional fields
        - $ref: '#/components/parameters/FilterAge'
        - $ref: '#/components/parameters/FilterAdditionalFields'
      responses:
        '200':
          description: A page of events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: agendas.events.create
      tags: [Events]
      summary: Create an event
      x-synonyms: [add, new, create, publish, post, submit, insert]
      x-codeSamples:
        - lang: TypeScript
          label: Create an event with an agenda-specific additional field
          source: |
            const { data, error } = await oa.agendas.events.create({
              path: { agendaUid: 12345 },
              body: {
                title: { fr: 'Concert de jazz', en: 'Jazz concert' },
                description: { fr: 'Une soirée jazz.', en: 'A jazz evening.' },
                timings: [
                  { begin: '2025-06-20T18:00:00+02:00', end: '2025-06-20T22:00:00+02:00' },
                ],
                location: { uid: 55512 },
                additionalFields: { myCustomField: 'value' },
              },
            });
            if (error) throw error;
            return data;
      description: >
        Creates an event in the given agenda and returns the created
        `Event`, with a `Location` header pointing at its canonical
        by-uid URL.


        Native writable fields sit at the top level; agenda-specific
        fields go under `additionalFields`; any other top-level key is
        rejected with `400`. The moderation `state` of the created
        event is arbitrated by the caller's role and the agenda's
        contribution settings - a contributor's event may be created
        pending moderation rather than published.


        The acting member must be allowed to create events in this
        agenda, otherwise `403`.
      security:
        - secretKey: []
        - oauth2:
            - events:write
      parameters:
        - $ref: '#/components/parameters/AgendaUid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventInput'
      responses:
        '201':
          description: The created event.
          headers:
            Location:
              description: Canonical by-uid URL of the created event.
              required: true
              schema:
                type: string
              example: /agendas/12345/events/9876543
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /agendas/{agendaUid}/events/validate:
    post:
      operationId: agendas.events.validate
      tags: [Events]
      summary: Validate an event without creating it
      x-synonyms: [dry run, check, validate, preview, lint, verify]
      x-codeSamples:
        - lang: TypeScript
          label: Dry-run validate an event body before creating it
          source: |
            const { data, error } = await oa.agendas.events.validate({
              path: { agendaUid: 12345 },
              body: {
                title: { fr: 'Concert de jazz' },
                description: { fr: 'Une soirée jazz.' },
                timings: [
                  { begin: '2025-06-20T18:00:00+02:00', end: '2025-06-20T22:00:00+02:00' },
                ],
                location: { uid: 55512 },
              },
            });
            if (error) throw error; // 422 with error.errors when invalid
            return data.valid; // true
      description: >
        Validates the body exactly as create does, without persisting
        anything. A well-formed, valid body answers `200 { "valid":
        true }`; invalid field values answer `422` with per-field
        problems under `error.errors[]`. Structural body
        problems (an unknown top-level key, an `additionalFields` name
        colliding with a native field) answer `400`.


        A native `image: { url }` is checked for URL syntax only (an
        `http(s)` URL without embedded credentials): the URL is not
        fetched, so a URL that create rejects with `422` at fetch time
        (unreachable host, private address, over 20 MiB, not an image)
        passes validate. The image counts as present, so an agenda
        whose schema requires one validates as it would create.
      security:
        - secretKey: []
        - oauth2:
            - events:write
      parameters:
        - $ref: '#/components/parameters/AgendaUid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventInput'
      responses:
        '200':
          description: The body is valid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationVerdict'
              example:
                valid: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /agendas/{agendaUid}/events/{eventUid}:
    get:
      operationId: agendas.events.get
      tags: [Events]
      summary: Get a single event
      x-synonyms: [detail, single, one, by id, uid, fetch, retrieve, lookup]
      x-codeSamples:
        - lang: TypeScript
          label: Get a single event within an agenda
          source: |
            const { data, error } = await oa.agendas.events.get({
              path: { agendaUid: 12345, eventUid: 67890 },
            });
            if (error) throw error;
            return data;
      description: >
        Returns a single event by its uid within the given agenda. An unknown
        event uid answers `404`.
      security:
        - publicKey: []
        - secretKey: []
        - oauth2:
            - events:read
      parameters:
        - $ref: '#/components/parameters/AgendaUid'
        - $ref: '#/components/parameters/EventUid'
      responses:
        '200':
          description: The event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: agendas.events.update
      tags: [Events]
      summary: Replace an event
      x-synonyms: [update, replace, edit, put, overwrite, modify]
      x-codeSamples:
        - lang: TypeScript
          label: Replace an event's content
          source: |
            const { data, error } = await oa.agendas.events.update({
              path: { agendaUid: 12345, eventUid: 67890 },
              body: {
                title: { fr: 'Concert de jazz', en: 'Jazz concert' },
                description: { fr: 'Une soirée jazz.', en: 'A jazz evening.' },
                timings: [
                  { begin: '2025-06-20T18:00:00+02:00', end: '2025-06-20T22:00:00+02:00' },
                ],
                location: { uid: 55512 },
              },
            });
            if (error) throw error;
            return data;
      description: >
        Replaces the event's content with the submitted body and
        returns the updated `Event`. A full write: the server-side
        requirements of create apply. Use `PATCH` to change only a few
        fields.


        External id mappings (`extIds`) in the body are merged by key
        with the stored ones; pass `?mergeExtIds=false` to replace them
        wholesale.


        The acting member must be allowed to edit this event's
        content, otherwise `403`. An unknown event uid answers `404`.
      security:
        - secretKey: []
        - oauth2:
            - events:write
      parameters:
        - $ref: '#/components/parameters/AgendaUid'
        - $ref: '#/components/parameters/EventUid'
        - $ref: '#/components/parameters/MergeExtIds'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventInput'
      responses:
        '200':
          description: The updated event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    patch:
      operationId: agendas.events.patch
      tags: [Events]
      summary: Partially update an event
      x-synonyms: [patch, partial update, edit, modify, change]
      x-codeSamples:
        - lang: TypeScript
          label: Change just the event's title
          source: |
            const { data, error } = await oa.agendas.events.patch({
              path: { agendaUid: 12345, eventUid: 67890 },
              body: { title: { fr: 'Nouveau titre', en: 'New title' } },
            });
            if (error) throw error;
            return data;
      description: >
        Updates only the fields present in the body (an `EventPatch`)
        and returns the updated `Event`. Fields left out are unchanged;
        `extIds` present in the body are merged by key with the stored
        ones.


        The acting member must be allowed to edit this event's
        content, otherwise `403`. An unknown event uid answers `404`,
        invalid field values `422`.
      security:
        - secretKey: []
        - oauth2:
            - events:write
      parameters:
        - $ref: '#/components/parameters/AgendaUid'
        - $ref: '#/components/parameters/EventUid'
        - $ref: '#/components/parameters/MergeExtIds'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventPatch'
      responses:
        '200':
          description: The updated event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: agendas.events.delete
      tags: [Events]
      summary: Delete an event
      x-synonyms: [delete, remove, destroy, cancel, drop]
      x-codeSamples:
        - lang: TypeScript
          label: Delete an event
          source: |
            const { data, error } = await oa.agendas.events.delete({
              path: { agendaUid: 12345, eventUid: 67890 },
            });
            if (error) throw error;
            return data.deleted; // true
      description: >
        Removes the event from this agenda. When the agenda is the
        event's origin this deletes the event; otherwise it
        de-references it from this agenda (the origin keeps it). Answers
        `200` with a `DeletionResult` carrying the removed event's uid.


        The acting member must be allowed to remove the event,
        otherwise `403`. An unknown event uid answers `404`.
      security:
        - secretKey: []
        - oauth2:
            - events:write
      parameters:
        - $ref: '#/components/parameters/AgendaUid'
        - $ref: '#/components/parameters/EventUid'
      responses:
        '200':
          description: The event was removed from this agenda.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletionResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /agendas/{agendaUid}/events/ext/{extKey}/{extId}:
    get:
      operationId: agendas.events.getByExtId
      tags: [Events]
      summary: Get a single event by external id
      x-synonyms: [ext, external id, by ext, sync, source id, lookup, resolve]
      x-codeSamples:
        - lang: TypeScript
          label: Resolve an event by the id it carries in a sync source
          source: |
            const { data, error } = await oa.agendas.events.getByExtId({
              path: { agendaUid: 12345, extKey: 'my-system', extId: 'abc-123' },
            });
            if (error) throw error;
            return data;
      description: >
        Returns a single event by its external identifier within the given
        agenda - the `(key, value)` pair an `ExtId` mapping carries in the
        event's `extIds`. Use this when you sync from your own system and hold
        its id rather than the OpenAgenda uid. Resolves to the same `Event` as
        the by-uid get; an unknown pair answers `404`.
      security:
        - publicKey: []
        - secretKey: []
        - oauth2:
            - events:read
      parameters:
        - $ref: '#/components/parameters/AgendaUid'
        - $ref: '#/components/parameters/ExtKey'
        - $ref: '#/components/parameters/ExtIdValue'
      responses:
        '200':
          description: The event.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      operationId: agendas.events.setByExtId
      tags: [Events]
      summary: Upsert an event by external id (replace)
      x-synonyms: [upsert, sync, set, put, replace, import, by ext]
      x-codeSamples:
        - lang: TypeScript
          label: Upsert an event addressed by its id in a sync source
          source: |
            const { data, error } = await oa.agendas.events.setByExtId({
              path: { agendaUid: 12345, extKey: 'my-system', extId: 'abc-123' },
              body: {
                title: { fr: 'Concert de jazz', en: 'Jazz concert' },
                description: { fr: 'Une soirée jazz.', en: 'A jazz evening.' },
                timings: [
                  { begin: '2025-06-20T18:00:00+02:00', end: '2025-06-20T22:00:00+02:00' },
                ],
                location: { uid: 55512 },
              },
            });
            if (error) throw error;
            return data;
      description: >
        Upserts the event carrying the `(extKey, extId)` pair: its
        content is REPLACED if it already exists (`200`), or the event
        is CREATED if not (`201` + a `Location` header pointing at its
        canonical by-uid URL). The path pair is authoritative - it is
        added to the event's `extIds`, keeping the mappings from other
        systems, so the event always carries its own external identity;
        any `extIds` in the body are ignored. This is the recommended
        write path for syncing from your own system: it is idempotent
        by external identity, so a lost response can be retried without
        creating a duplicate.


        The acting member must be allowed to create or edit the event,
        otherwise `403`.
      security:
        - secretKey: []
        - oauth2:
            - events:write
      parameters:
        - $ref: '#/components/parameters/AgendaUid'
        - $ref: '#/components/parameters/ExtKey'
        - $ref: '#/components/parameters/ExtIdValue'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventInput'
      responses:
        '200':
          description: The existing event was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '201':
          description: A new event was created.
          headers:
            Location:
              description: Canonical by-uid URL of the created event.
              required: true
              schema:
                type: string
              example: /agendas/12345/events/9876543
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    patch:
      operationId: agendas.events.patchByExtId
      tags: [Events]
      summary: Upsert an event by external id (partial)
      x-synonyms: [upsert, sync, patch, partial, merge, by ext]
      x-codeSamples:
        - lang: TypeScript
          label: Partially upsert an event addressed by its sync id
          source: |
            const { data, error } = await oa.agendas.events.patchByExtId({
              path: { agendaUid: 12345, extKey: 'my-system', extId: 'abc-123' },
              body: { title: { fr: 'Nouveau titre', en: 'New title' } },
            });
            if (error) throw error;
            return data;
      description: >
        Upserts the event carrying the `(extKey, extId)` pair. When it
        already exists, only the fields present in the body (an
        `EventPatch`) are changed - the rest is left untouched (`200`).
        If no event carries the pair it is created (`201` + a
        `Location` header pointing at its canonical by-uid URL), in
        which case the full server-side requirements apply, so the body
        must be complete enough to create a valid event (else `422`).
        The path pair is added to the event's `extIds`, keeping the
        mappings from other systems; any `extIds` in the body are
        ignored.


        The acting member must be allowed to create or edit the event,
        otherwise `403`.
      security:
        - secretKey: []
        - oauth2:
            - events:write
      parameters:
        - $ref: '#/components/parameters/AgendaUid'
        - $ref: '#/components/parameters/ExtKey'
        - $ref: '#/components/parameters/ExtIdValue'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventPatch'
      responses:
        '200':
          description: The existing event was updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '201':
          description: A new event was created.
          headers:
            Location:
              description: Canonical by-uid URL of the created event.
              required: true
              schema:
                type: string
              example: /agendas/12345/events/9876543
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      operationId: agendas.events.deleteByExtId
      tags: [Events]
      summary: Delete an event by external id
      x-synonyms: [delete, remove, destroy, by ext, sync]
      x-codeSamples:
        - lang: TypeScript
          label: Delete an event addressed by its sync id
          source: |
            const { data, error } = await oa.agendas.events.deleteByExtId({
              path: { agendaUid: 12345, extKey: 'my-system', extId: 'abc-123' },
            });
            if (error) throw error;
            return data.deleted; // true
      description: >
        Resolves the event carrying the `(extKey, extId)` pair and
        removes it. When the agenda is the event's origin this deletes
        the event; otherwise it de-references it from this agenda (the
        origin keeps it). Answers `200` with a `DeletionResult`
        carrying the resolved uid.


        The acting member must be allowed to remove the event,
        otherwise `403`. An unknown pair answers `404`.
      security:
        - secretKey: []
        - oauth2:
            - events:write
      parameters:
        - $ref: '#/components/parameters/AgendaUid'
        - $ref: '#/components/parameters/ExtKey'
        - $ref: '#/components/parameters/ExtIdValue'
      responses:
        '200':
          description: The event was removed from this agenda.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletionResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /agendas/{agendaUid}/events/facets:
    get:
      operationId: agendas.events.facets
      tags: [Events]
      summary: Faceted counts for an agenda's events — native facets plus its
        `additionalFields`
      x-synonyms:
        [
          aggregate,
          count,
          group,
          group by,
          stats,
          statistics,
          histogram,
          distribution,
          how many,
          breakdown,
          top,
        ]
      x-codeSamples:
        - lang: TypeScript
          label: Stats overview of an agenda
          source: |
            const { data, error } = await oa.agendas.events.facets({
              path: { agendaUid: 12345 },
              query: {
                facets: ['cities', 'keywords', 'timespan', 'additionalFields', 'additionalFieldMetrics'],
              },
            });
            if (error) throw error;
            return data.facets;
        - lang: TypeScript
          label: How many concert events per city
          source: |
            const { data, error } = await oa.agendas.events.facets({
              path: { agendaUid: 12345 },
              query: { facets: ['cities'], keyword: ['concert'] },
            });
            if (error) throw error;
            return data.facets.cities;
      description: >
        Returns event counts grouped by the requested facets, computed over the
        **same filtered set** as `agendas.events.list`. Pass the same filter
        parameters to scope the counts (e.g. `?keyword=concert` then facet on
        `cities`). The response carries only the requested facets, in the
        shapes `FacetResults` defines.


        The agenda's own fields (its categories, labels…) are faceted by
        `additionalFields` - request it too for an agenda-wide stats overview
        (`additionalFieldMetrics` covers its numeric fields). The fields
        themselves are declared by the agenda's event form schema
        (`GET /agendas/{agendaUid}/events/schema`).


        Only published events are counted. `facets` selects which facets to
        compute; an unknown facet name returns `400`. Facets cover the whole
        filtered set in one response.
      security:
        - publicKey: []
        - secretKey: []
        - oauth2:
            - events:read
      parameters:
        - $ref: '#/components/parameters/AgendaUid'
        - $ref: '#/components/parameters/Facets'
        - $ref: '#/components/parameters/FacetSize'
        - $ref: '#/components/parameters/FacetSizes'
        - $ref: '#/components/parameters/FacetSort'
        - $ref: '#/components/parameters/FacetSorts'
        - $ref: '#/components/parameters/FacetMissing'
        - $ref: '#/components/parameters/GeohashZoom'
        - $ref: '#/components/parameters/TimingsInterval'
        - $ref: '#/components/parameters/Month'
        - $ref: '#/components/parameters/AdditionalFieldsKeys'
        - $ref: '#/components/parameters/AdditionalFieldMetricsKeys'
        # Same filters as agendas.events.list — facets reflect the filtered set.
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/RelevanceThreshold'
        - $ref: '#/components/parameters/FilterUid'
        - $ref: '#/components/parameters/FilterSlug'
        - $ref: '#/components/parameters/FilterExtId'
        - $ref: '#/components/parameters/FilterKeyword'
        - $ref: '#/components/parameters/FilterLanguage'
        - $ref: '#/components/parameters/FilterAccessibility'
        - $ref: '#/components/parameters/FilterStatus'
        - $ref: '#/components/parameters/FilterAttendanceMode'
        - $ref: '#/components/parameters/FilterFeatured'
        - $ref: '#/components/parameters/FilterLocationUid'
        - $ref: '#/components/parameters/FilterLocationExtId'
        - $ref: '#/components/parameters/FilterRegion'
        - $ref: '#/components/parameters/FilterDepartment'
        - $ref: '#/components/parameters/FilterCity'
        - $ref: '#/components/parameters/FilterDistrict'
        - $ref: '#/components/parameters/FilterAdminLevel3'
        - $ref: '#/components/parameters/FilterAdminLevel5'
        - $ref: '#/components/parameters/FilterCountryCode'
        - $ref: '#/components/parameters/FilterBoundingBox'
        - $ref: '#/components/parameters/FilterNear'
        - $ref: '#/components/parameters/FilterRadius'
        - $ref: '#/components/parameters/FilterOriginAgendaUid'
        - $ref: '#/components/parameters/FilterOriginAgendaOfficial'
        - $ref: '#/components/parameters/FilterSourceAgendaUid'
        - $ref: '#/components/parameters/FilterRelative'
        - $ref: '#/components/parameters/FilterTimings'
        - $ref: '#/components/parameters/FilterLocalTime'
        - $ref: '#/components/parameters/FilterCreatedAt'
        - $ref: '#/components/parameters/FilterUpdatedAt'
        - $ref: '#/components/parameters/FilterAge'
        - $ref: '#/components/parameters/FilterAdditionalFields'
      responses:
        '200':
          description: Facet counts over the filtered set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacetResults'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      operationId: agendas.events.facetsReport
      tags: [Events]
      summary: Named, repeatable facet aggregations for an agenda's events
      x-synonyms:
        [aggregate, stats, statistics, dashboard, report, group by, breakdown]
      description: >
        Takes a JSON body of **named, repeatable** aggregations: the same facet
        `type` may appear several times under distinct `name` aliases, so a
        field can be aggregated several ways in one request (e.g. `timings` by
        `month` AND by `year`). Filters live under `filters` (an `EventFilters`
        object) and scope every facet.


        Each facet item is either a bare facet name or a `FacetSpec` object
        carrying per-instance options; `facetSize`/`facetSort` at the top level
        set the request-wide defaults an item overrides. The response is keyed
        by alias, each entry tagged with its `type` so the value shape is
        unambiguous. Only published events are counted.
      security:
        - publicKey: []
        - secretKey: []
        - oauth2:
            - events:read
      parameters:
        - $ref: '#/components/parameters/AgendaUid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacetReportRequest'
      responses:
        '200':
          description: Named facet results over the filtered set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacetReport'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /agendas/{agendaUid}/events/schema:
    get:
      operationId: agendas.events.schema
      tags: [Events]
      summary: Event form schema of an agenda
      x-synonyms:
        [
          form,
          fields,
          additional fields,
          custom fields,
          required,
          validate,
          structure,
          topology,
          definition,
        ]
      x-codeSamples:
        - lang: TypeScript
          label: List the agenda's additional event fields
          source: |
            const { data, error } = await oa.agendas.events.schema({
              path: { agendaUid: 12345 },
            });
            if (error) throw error;
            return data.fields
              .filter((f) => f.schemaId != null)
              .map((f) => ({ name: f.field, type: f.fieldType }));
      description: >
        Returns the agenda's **merged event form schema** — the dynamic
        contract the events of this agenda follow. It merges the platform's
        native event fields with the network's and the agenda's own
        declarations: an agenda can add its own additional fields and override
        natives (make one required, restrict its options, relabel it). This is
        the same schema the OpenAgenda UI uses to build the event form: use it
        to know which fields exist, which are required and what
        their options are - e.g. to build payloads for the event write
        operations, to interpret `additionalFields` on events, or to discover
        the agenda-specific facets of the facets endpoint.


        Descriptors are scoped to your read access: a field whose `read` access
        levels exclude the caller (e.g. a moderator-only field) is omitted from
        `fields`, so a public caller sees only the public fields.
      security:
        - publicKey: []
        - secretKey: []
        - oauth2:
            - agendas:read
      parameters:
        - $ref: '#/components/parameters/AgendaUid'
      responses:
        '200':
          description: The merged event form schema.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventFormSchema'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /me/agendas:
    get:
      operationId: me.agendas.list
      tags: [Me]
      summary: List the agendas you are a member of
      x-synonyms:
        [
          my agendas,
          memberships,
          my role,
          mine,
          which agendas,
          can I,
          permissions,
        ]
      x-codeSamples:
        - lang: TypeScript
          label: Which agendas can I write to?
          source: |
            const { data, error } = await oa.me.agendas.list({});
            if (error) throw error;
            return data.data
              .filter((a) => a.role !== 'reader')
              .map((a) => ({ uid: a.uid, title: a.title, role: a.role }));
      description: >
        Returns a cursor-paginated list of the agendas the
        authenticated user is a member of, with their role on each.
        Private agendas the user belongs to ARE included (each item
        carries a `private` flag).
      security:
        - secretKey: []
        - oauth2:
            - me:read
      parameters:
        - $ref: '#/components/parameters/AfterCursor'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Detailed'
        - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: A page of the caller's agenda memberships.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeAgendaList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /agendas/{agendaUid}/uploads:
    post:
      operationId: agendas.uploads.create
      tags: [Uploads]
      summary: Stage a media upload
      x-synonyms: [upload, stage, attach, image, file, media]
      x-codeSamples:
        - lang: TypeScript
          label: Stage an image, then attach it to a new event
          source: |
            // 1. Upload the file to staging (multipart/form-data).
            const { data: staged, error } = await oa.agendas.uploads.create({
              path: { agendaUid: 12345 },
              body: { file }, // a Blob/File
            });
            if (error) throw error;

            // 2. Attach the ref on a normal event write.
            const created = await oa.agendas.events.create({
              path: { agendaUid: 12345 },
              body: {
                title: { fr: 'Concert' },
                description: { fr: 'Une soirée jazz.' },
                timings: [{ begin: '2025-06-20T18:00:00+02:00', end: '2025-06-20T22:00:00+02:00' }],
                location: { uid: 55512 },
                image: { ref: staged.ref },
              },
            });
            if (created.error) throw created.error;
            return created.data;
      description: >
        Stages a media file - the native event `image`, or a custom
        `file`/`image` form-schema field. Send the file as
        `multipart/form-data` (field `file`); the API validates its
        real type and size, stores it, and returns a short-lived `ref`.
        Then attach `ref` on an event write - `image: { ref }` or a
        custom field under `additionalFields` as `{ ref, name? }`
        (`name` being the download filename) - so the media lands in
        the same write as the rest of the edit.


        The type is detected from the file content, or from the
        filename extension for signature-less formats such as CSV; a
        type outside the platform's allowed set (images, PDF and common
        office documents) answers `422`. The file is capped at 20 MiB
        (`422` past it). This is a coarse gate: the precise types a
        given field accepts are enforced on the event write, against
        the agenda's form schema.
      security:
        - secretKey: []
        - oauth2:
            - media:write
      parameters:
        - $ref: '#/components/parameters/AgendaUid'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: >
                    The media file to stage - an image, a PDF or another
                    platform-supported document.
      responses:
        '200':
          description: The staging reference to attach on an event write.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadTicket'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'

  /agendas/{agendaUid}/uploads/ticket:
    post:
      operationId: agendas.uploads.createTicket
      tags: [Uploads]
      summary: Authorize an out-of-band image upload
      x-synonyms:
        [
          upload,
          local file,
          attach image,
          photo,
          picture,
          ticket,
          out of band,
          no base64,
        ]
      x-codeSamples:
        - lang: TypeScript
          label: Attach a LOCAL image without base64
          source: |
            // 1. Authorize an out-of-band upload for the agenda.
            const { data: t, error } = await oa.agendas.uploads.createTicket({
              path: { agendaUid: 12345 },
            });
            if (error) throw error;

            // 2. Upload the LOCAL file OUT OF BAND — the bytes never pass through
            //    the model. Run this in your shell (e.g. Claude Code) or hand it
            //    to the user; it returns { ref: "staging/…" }:
            //    curl -sS -X POST "$UPLOAD_URL" \
            //      -H "X-Upload-Ticket: $TICKET" -F "file=@/path/to/image.jpg"
            //    (uploadUrl = t.uploadUrl, ticket = t.ticket)

            // 3. Attach the returned ref on a normal event write.
            const created = await oa.agendas.events.create({
              path: { agendaUid: 12345 },
              body: {
                title: { fr: 'Concert' },
                description: { fr: 'Une soirée jazz.' },
                timings: [
                  { begin: '2025-06-20T18:00:00+02:00', end: '2025-06-20T22:00:00+02:00' },
                ],
                location: { uid: 55512 },
                image: { ref: '<the ref returned by the upload>' },
              },
            });
            if (created.error) throw created.error;
            return created.data;
      description: >
        Authorizes an OUT-OF-BAND upload of a LOCAL image file, made
        from outside this API client (e.g. with curl), so its bytes
        never pass through the caller's prompt. Returns a
        self-contained descriptor: an `uploadUrl`, a short-lived single-use
        `ticket`, and the `header`/`field` to use.


        Upload the file with a plain HTTPS `POST` to `uploadUrl`: send
        the `ticket` in the `X-Upload-Ticket` header and the file as
        multipart field `file`. That call returns a staging `ref`,
        which you then attach with `image: { ref }` on an event write.


        An image already reachable at a public `http(s)` URL is
        attached directly with `image: { url }` on the write, with no
        ticket.


        The ticket expires after 5 minutes (`expiresAt`) and is
        consumed by a successful upload.
      security:
        - secretKey: []
        - oauth2:
            - media:write
      parameters:
        - $ref: '#/components/parameters/AgendaUid'
      responses:
        '200':
          description: An out-of-band upload descriptor.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadDescriptor'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /uploads/staged:
    post:
      operationId: uploads.staged
      tags: [Uploads]
      summary: Upload a file with an upload ticket
      x-synonyms:
        [upload, out of band, ticket, staged, local file, raw bytes, no base64]
      x-codeSamples:
        - lang: Shell
          label: Upload the raw bytes out of band (curl)
          source: |
            # uploadUrl, ticket, header and field all come from
            # `agendas.uploads.createTicket`. The bytes go to the upload
            # endpoint, outside the API client and the caller's prompt.
            curl -sS -X POST "$UPLOAD_URL" \
              -H "X-Upload-Ticket: $TICKET" \
              -F "file=@/path/to/image.jpg"
            # -> { "ref": "staging/12345/…", "expiresAt": "…" }
      description: >
        Receives the bytes of an OUT-OF-BAND upload authorized by
        `agendas.uploads.createTicket`, and returns the staging `ref`
        to attach on an event write (`image: { ref }` or a custom
        `additionalFields` field). This is the endpoint the ticket
        descriptor's `uploadUrl` points at.


        Call it with a plain HTTPS `POST` from outside the typed API
        client, so the file never transits the client (or an LLM's
        token stream). Authorize with the ticket in the
        `X-Upload-Ticket` header (no API key or access token) and send
        the file as `multipart/form-data` field `file`. The target
        agenda is taken from the signed ticket.


        The type is detected from the file content, or from the
        filename extension for signature-less formats such as CSV; a
        type outside the platform's allowed set (images, PDF and common
        office documents) answers `422`. The file is capped at 20 MiB
        (`422` past it).


        A successful upload consumes the ticket: reusing it answers
        `401`. A request rejected before staging (`400`, `422`) leaves
        the ticket usable until it expires.
      security:
        - uploadTicketAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: >
                    The media file to stage - an image, a PDF or another
                    platform-supported document.
      responses:
        '200':
          description: The staging reference to attach on an event write.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadTicket'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /agendas/{agendaUid}/locations:
    get:
      operationId: agendas.locations.list
      tags: [Locations]
      summary: List an agenda's locations
      x-synonyms: [venues, places, addresses, map, where, browse, all]
      x-codeSamples:
        - lang: TypeScript
          label: List the most recent locations
          source: |
            const { data, error } = await oa.agendas.locations.list({
              path: { agendaUid: 12345 },
              query: { limit: 20 },
            });
            if (error) throw error;
            return data.data.map((l) => ({ uid: l.uid, name: l.name }));
      description: >
        Returns a cursor-paginated list of the agenda's locations,
        newest first (insertion order, which can differ from
        `createdAt`). Pass the `after` cursor returned in
        `pagination.after` to fetch the next page, with the same
        filters.


        When the agenda shares its locations through a location set,
        the whole set is listed - including locations contributed by
        the other agendas of the set (their `setUid` carries the set's
        uid).


        Unknown or malformed filter values answer `400`, with per-field
        context under `error.errors`. An unrecognized top-level query parameter
        is ignored.
      security:
        - publicKey: []
        - secretKey: []
        - oauth2:
            - locations:read
      parameters:
        - $ref: '#/components/parameters/AgendaUid'
        - $ref: '#/components/parameters/AfterCursor'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Detailed'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/LocationSearch'
        - $ref: '#/components/parameters/LocationFilterUid'
        - $ref: '#/components/parameters/LocationFilterExtId'
        - $ref: '#/components/parameters/LocationBoundingBox'
        - $ref: '#/components/parameters/FilterCreatedAt'
        - $ref: '#/components/parameters/FilterUpdatedAt'
      responses:
        '200':
          description: A page of locations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /agendas/{agendaUid}/locations/ext/{extKey}/{extId}:
    get:
      operationId: agendas.locations.getByExtId
      tags: [Locations]
      summary: Get a single location by external id
      x-synonyms:
        [
          ext,
          external id,
          by ext,
          sync,
          source id,
          lookup,
          resolve,
          venue,
          place,
        ]
      x-codeSamples:
        - lang: TypeScript
          label: Resolve a location by the id it carries in a sync source
          source: |
            const { data, error } = await oa.agendas.locations.getByExtId({
              path: { agendaUid: 12345, extKey: 'my-system', extId: 'abc-123' },
            });
            if (error) throw error;
            return data;
      description: >
        Returns a single location by its external identifier within the given
        agenda - the `(key, value)` pair an `ExtId` mapping carries in the
        location's `extIds`. Use this when you sync from your own system and
        hold its id rather than the OpenAgenda uid.
        Resolves to the same `Location` as the by-uid get.
      security:
        - publicKey: []
        - secretKey: []
        - oauth2:
            - locations:read
      parameters:
        - $ref: '#/components/parameters/AgendaUid'
        - $ref: '#/components/parameters/ExtKey'
        - $ref: '#/components/parameters/ExtIdValue'
      responses:
        '200':
          description: The location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: >
            Agenda or location not found. A location merged into another one
            answers here too, and identifies the surviving one so a stale
            reference can be repaired.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error'
                  - $ref: '#/components/schemas/MergedLocationError'
              examples:
                merged:
                  summary: Location merged into another one
                  value:
                    error:
                      code: merged
                      message: location merged into another location
                      mergedIn: 11111111
                notFound:
                  summary: Unknown location
                  value:
                    error:
                      code: not_found
                      message: location not found

  /agendas/{agendaUid}/locations/{locationUid}:
    get:
      operationId: agendas.locations.get
      tags: [Locations]
      summary: Get a location
      x-synonyms: [venue, place, address, detail]
      x-codeSamples:
        - lang: TypeScript
          label: Fetch one location
          source: |
            const { data, error } = await oa.agendas.locations.get({
              path: { agendaUid: 12345, locationUid: 67890 },
            });
            if (error) throw error;
            return data;
      description: >
        Returns a single location of the agenda (or of its shared location
        set) in the full `Location` shape.
      security:
        - publicKey: []
        - secretKey: []
        - oauth2:
            - locations:read
      parameters:
        - $ref: '#/components/parameters/AgendaUid'
        - $ref: '#/components/parameters/LocationUid'
      responses:
        '200':
          description: The location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: >
            Agenda or location not found. A location merged into another one
            answers here too, and identifies the surviving one so a stale
            reference can be repaired.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Error'
                  - $ref: '#/components/schemas/MergedLocationError'
              examples:
                merged:
                  summary: Location merged into another one
                  value:
                    error:
                      code: merged
                      message: location merged into another location
                      mergedIn: 11111111
                notFound:
                  summary: Unknown location
                  value:
                    error:
                      code: not_found
                      message: location not found

components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: >
        OAuth2 authorization code flow with PKCE (OAuth 2.1). Interactive
        clients redirect the user to the OpenAgenda authorization server to sign
        in and consent; the issued short-lived access token carries the granted
        scopes. PKCE (`S256`) is mandatory and public clients hold no secret.

        For machine-to-machine access, use an API key as a Bearer token instead.
      flows:
        authorizationCode:
          authorizationUrl: https://openagenda.com/api/auth/oauth2/authorize
          tokenUrl: https://openagenda.com/api/auth/oauth2/token
          refreshUrl: https://openagenda.com/api/auth/oauth2/token
          scopes:
            me:read: Read your profile, agendas and roles
            agendas:read: Read agendas and their configuration
            agendas:write: Create, configure and delete agendas
            events:read: Read events
            events:write: Create, edit and delete events
            drafts:read: Read your event drafts
            events:transverse: Search events across all agendas
            locations:read: Read locations
            locations:write: Create, edit, merge, transfer and delete locations
            geocoding:use: Turn addresses into coordinates, and back
            members:read: Read members and their personal data
            members:write: Invite, manage and contact members
            media:write: Upload files
            bookings:read: Read bookings
            conversations:write: Write in OpenAgenda messaging
    secretKey:
      type: http
      scheme: bearer
      description: >
        Secret API key (`oa_sk_…`) sent as a Bearer token. Server-side only: it
        carries the user identity the writes and `/me` need, and reads as well.
    publicKey:
      type: http
      scheme: bearer
      description: >
        Public API key (`oa_pk_…`) sent as a Bearer token. Read-only, and
        it carries no user identity: it reads what is public, an operation that
        writes answers `403` (`read_only_credential`) and one that needs an
        identity answers `401` - or `403` (`insufficient_scope`) when the key
        carries its own scopes and they exclude the operation. A per-agenda key
        reads the same way.
    uploadTicketAuth:
      type: apiKey
      in: header
      name: X-Upload-Ticket
      description: >
        A single-use, short-lived upload ticket, minted by
        `agendas.uploads.createTicket` and sent in the `X-Upload-Ticket` header.
        It authorizes staging exactly ONE file for the ONE agenda it is bound to,
        carries no account credential, and grants nothing beyond that single
        upload. Used only by `POST /uploads/staged`.
  parameters:
    AgendaUid:
      name: agendaUid
      in: path
      required: true
      description: Numeric uid of the agenda.
      schema:
        type: integer
        format: int64
    EventUid:
      name: eventUid
      in: path
      required: true
      description: Numeric uid of the event.
      schema:
        type: integer
        format: int64
    ExtKey:
      name: extKey
      in: path
      required: true
      description: >
        Name of the external system/source the identifier belongs to (the `key`
        of an `ExtId` mapping carried on the resource — an event or a location).
      schema:
        type: string
    ExtIdValue:
      name: extId
      in: path
      required: true
      description: >
        The resource's identifier within that external system (the `value` of an
        `ExtId` mapping carried in the resource's `extIds`). Percent-encode
        reserved characters.
      schema:
        type: string
    MergeExtIds:
      name: mergeExtIds
      in: query
      required: false
      description: >
        On the by-uid `PUT`, whether the body's `extIds` are merged by key with
        the ones already stored (`true`, the default) or replace them wholesale
        (`false`). A `PATCH` merges a non-empty `extIds` whatever this
        parameter says; an empty array clears the stored mappings.
      schema:
        type: boolean
        default: true
    AfterCursor:
      name: after
      in: query
      required: false
      description: >
        Opaque pagination cursor returned in `pagination.after` of the previous
        page. Omit it to fetch the first page.
      schema:
        type: string
    Limit:
      name: limit
      in: query
      required: false
      description: >
        Maximum number of items to return per page. An out-of-range or
        non-integer value is rejected with `400`, never clamped; use the `after`
        cursor to page further.
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100

    Detailed:
      name: detailed
      in: query
      required: false
      description: >
        When `true`, each item in `data` is returned in its detailed
        representation, including the detailed-only fields. When `false` (the
        default), items are the lighter summary representation.
      schema:
        type: boolean
        default: false

    Fields:
      name: fields
      in: query
      required: false
      description: >
        Comma-separated list of fields to keep on each `data` item, to shrink
        the payload of large pages. When set, it selects the response shape
        directly over the resource's full field set, so `detailed` does not
        apply (it only governs the default shape when `fields` is omitted) and
        `fields` wins if both are given. `uid` is always returned. Each resource
        takes the names its own `data` item declares, and a dotted path descends
        one segment per level: on an event, `location.name` or `timings.begin`.
        An unknown top-level field is rejected with `400`, and so is an unknown
        sub-field under a closed object (`location.zzz`); under an open
        container - an `additionalFields` custom-field bag, on the resources
        that carry one, or a localized text map - any sub-key is accepted and
        yields nothing when absent (`additionalFields.myField`). Response
        schemas stay complete, so a generated client still types the omitted
        fields as present — read them as optional on this path.
      schema:
        type: array
        items:
          type: string
        example: [uid, slug]
      style: form
      explode: false

    AgendaSearch:
      name: search
      in: query
      required: false
      description: >
        Full-text search across agenda title and description. Wrap the value in
        double quotes for an exact phrase match.
      schema:
        type: string

    AgendaSort:
      name: sort
      in: query
      required: false
      description: >
        Sort order. When omitted, results are ranked by relevance if `search`
        is set, otherwise by `createdAt` descending. Set
        `recentlyAddedEvents.desc` to surface the agendas with the most recent
        activity first.
      schema:
        type: string
        enum:
          - createdAt.desc
          - recentlyAddedEvents.desc

    AgendaFilterUid:
      name: uid
      in: query
      required: false
      description: Restrict to these agenda uids. Repeat the parameter for multiple values.
      schema:
        type: array
        items:
          type: integer
          format: int64

    AgendaFilterSlug:
      name: slug
      in: query
      required: false
      description: Restrict to these agenda slugs. Repeat the parameter for multiple values.
      schema:
        type: array
        items:
          type: string

    AgendaFilterOfficial:
      name: official
      in: query
      required: false
      description: >
        Restrict to official agendas (`true`) or to non-official agendas
        (`false`). Omit to return both.
      schema:
        type: boolean

    LocationUid:
      name: locationUid
      in: path
      required: true
      description: Numeric uid of the location.
      schema:
        type: integer
        format: int64

    LocationSearch:
      name: search
      in: query
      required: false
      description: >
        Free-text search over the locations' name, address, city, region and
        department.
      schema:
        type: string

    LocationFilterUid:
      name: uid
      in: query
      required: false
      description: >
        Restrict to the given location uid(s). Repeat the parameter
        (`uid=123&uid=456`) for multiple values.
      style: form
      explode: true
      schema:
        type: array
        items:
          type: integer
          format: int64

    LocationFilterExtId:
      name: extId
      in: query
      required: false
      style: deepObject
      explode: true
      description: >
        Match a location by an external identifier:
        `extId[key]=<system>&extId[value]=<id>`. Both parts are required.
      schema:
        type: object
        additionalProperties: false
        required: [key, value]
        properties:
          key:
            type: string
          value:
            type: string

    LocationBoundingBox:
      name: bbox
      in: query
      required: false
      description: >
        Restrict to locations within a bounding box, given as
        `west,south,east,north` in decimal degrees (WGS84). Example:
        `bbox=2.224,48.815,2.469,48.902`.
      schema:
        type: string
        pattern: '^-?\d+(\.\d+)?,-?\d+(\.\d+)?,-?\d+(\.\d+)?,-?\d+(\.\d+)?$'

    Facets:
      name: facets
      in: query
      required: true
      description: >
        Comma-separated list of facets to compute over the filtered events.
        Unknown facet names return `400`. Each facet's result shape is defined
        by `FacetResults`. Bucket-list facets (the term, provenance and
        `locations` families) return the top buckets by event count, capped by
        `facetSize` (overridable per facet with `facetSizes[<facet>]`) and
        reordered by `facetSort`; past the cap, narrow the filter.
        `additionalFields` and `additionalFieldMetrics` cover the agenda's own
        fields as its event form schema declares them
        (`GET /agendas/{agendaUid}/events/schema`), named by
        `additionalFieldsKeys`/`additionalFieldMetricsKeys` or all readable
        fields when omitted; `additionalFields` returns one bucket per option.
        `timings` bucket width is set by `timingsInterval`, the `dateRanges`
        month by `month`, `geohash` granularity by `geohashZoom`.
      style: form
      explode: false
      schema:
        type: array
        minItems: 1
        items:
          type: string
          enum:
            - additionalFields
            - additionalFieldMetrics
            - cities
            - regions
            - departments
            - districts
            - countryCodes
            - keywords
            - languages
            - accessibilities
            - status
            - attendanceModes
            - originAgendas
            - sourceAgendas
            - locations
            - geohash
            - viewport
            - timespan
            - timings
            - dateRanges

    FacetSize:
      name: facetSize
      in: query
      required: false
      description: >
        Default maximum number of buckets for the bucket-list facets (the term,
        provenance and `locations` families), ordered by event count. Override
        a single facet with `facetSizes[<facet>]`. Out-of-range values are
        clamped; other facets ignore it.
      schema:
        type: integer
        default: 10
        minimum: 1
        maximum: 250

    FacetSizes:
      name: facetSizes
      in: query
      required: false
      description: >
        Per-facet override of `facetSize`, keyed by facet name
        (`facetSizes[cities]=50`). Precedence: per-facet override > `facetSize`
        > default (10). Only applies to bucket-list facets; values are clamped
        to [1, 250].
      style: deepObject
      explode: true
      schema:
        type: object
        additionalProperties:
          type: integer
          minimum: 1
          maximum: 250

    FacetSort:
      name: facetSort
      in: query
      required: false
      description: >
        Default ordering of the bucket-list facets. `count` (default) returns
        the most frequent buckets first; `alpha` returns the same top-`facetSize`
        buckets but ordered alphabetically by their display value (city/keyword
        name, location name, agenda title) for readable scanning. Override a
        single facet with `facetSorts[<facet>]`.
      schema:
        type: string
        default: count
        enum:
          - count
          - alpha

    FacetSorts:
      name: facetSorts
      in: query
      required: false
      description: >
        Per-facet override of `facetSort`, keyed by facet name
        (`facetSorts[cities]=alpha`). Precedence: per-facet override >
        `facetSort` > default (`count`).
      style: deepObject
      explode: true
      schema:
        type: object
        additionalProperties:
          type: string
          enum:
            - count
            - alpha

    FacetMissing:
      name: facetMissing
      in: query
      required: false
      description: >
        Per-facet label for a synthetic bucket counting the filtered events that
        have **no value** for the facet's field
        (`facetMissing[district]=Unknown` adds an `{ value: "Unknown", count }`
        bucket). Honoured by the term facets (those whose buckets are keyed by
        the displayed value) except `accessibilities`; ignored by the
        provenance, `locations` and remaining families. The bucket appears only
        when such events exist.
      style: deepObject
      explode: true
      schema:
        type: object
        additionalProperties:
          type: string

    GeohashZoom:
      name: geohashZoom
      in: query
      required: false
      description: >
        Clustering zoom level for the `geohash` facet (higher = finer grid, more
        clusters). Ignored unless `geohash` is requested.
      schema:
        type: integer
        default: 1
        minimum: 1

    TimingsInterval:
      name: timingsInterval
      in: query
      required: false
      description: >
        Bucket width for the `timings` date histogram. Ignored unless `timings`
        is requested; an unrecognized value falls back to `day`.
      schema:
        type: string
        default: day
        enum:
          - hour
          - day
          - week
          - month
          - year

    Month:
      name: month
      in: query
      required: false
      description: >
        Calendar month (`YYYY-MM`) the `dateRanges` facet buckets day-by-day.
        Defaults to the current month; an unrecognized value falls back to it.
        Ignored unless `dateRanges` is requested. Because it bounds the buckets
        by scoping the filtered set to that month, it also constrains any other
        facet requested in the same call.
      schema:
        type: string
        pattern: '^\d{4}-\d{2}$'

    AdditionalFieldsKeys:
      name: additionalFieldsKeys
      in: query
      required: false
      description: >
        Comma-separated agenda choice/boolean field names to compute the
        `additionalFields` facet on — the names the agenda's event form schema
        declares (`GET /agendas/{agendaUid}/events/schema`). Omit to get every
        such field readable at the caller's access level. An unknown or
        non-readable field name returns `400`. Ignored unless `additionalFields`
        is requested.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string

    AdditionalFieldMetricsKeys:
      name: additionalFieldMetricsKeys
      in: query
      required: false
      description: >
        Comma-separated agenda numeric field names to compute the
        `additionalFieldMetrics` facet on — the names the agenda's event form
        schema declares (`GET /agendas/{agendaUid}/events/schema`). Omit to get
        every numeric field readable at the caller's access level. An unknown or
        non-readable field name returns `400`. Ignored unless
        `additionalFieldMetrics` is requested.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string

    Sort:
      name: sort
      in: query
      required: false
      description: >
        Ordering of the results. Defaults to `timingsWithFeatured.asc`, or to
        `score` (relevance) when `search` is set and no `sort` is given.
      schema:
        type: string
        enum:
          - timings.asc
          - timingsWithFeatured.asc
          - lastTiming.asc
          - lastTimingWithFeatured.asc
          - updatedAt.asc
          - updatedAt.desc
          - location.name.asc
          - location.name.desc
          - location.city.asc
          - location.city.desc
          - score
        x-enum-descriptions:
          timings.asc: By event date, earliest first
          timingsWithFeatured.asc: By event date, featured events first
          lastTiming.asc: By last occurrence date, earliest first
          lastTimingWithFeatured.asc: By last occurrence, featured events first
          updatedAt.asc: Least recently updated first
          updatedAt.desc: Most recently updated first
          location.name.asc: By location name, A→Z
          location.name.desc: By location name, Z→A
          location.city.asc: By city, A→Z
          location.city.desc: By city, Z→A
          score: By search relevance (only meaningful with `search`)

    Search:
      name: search
      in: query
      required: false
      description: >
        Full-text search across title, description, keywords and address.
        Wrap the value in double quotes for an exact phrase match.
      schema:
        type: string

    RelevanceThreshold:
      name: threshold
      in: query
      required: false
      description: >
        Relevance score floor for `search` results, used to drop weakly-matching
        events from the long tail (e.g. a single query term buried in a long
        description). Ignored when `search` is not set. `off` (the default)
        returns every match. `auto` derives the floor from the score
        distribution of the current query: the largest relative drop ("elbow")
        in the top scores becomes the cutoff, so it adapts to each query. A
        non-negative number is an absolute minimum score; relevance scores are
        specific to a query, so a fixed value suits a single tuned query rather
        than general use - prefer `auto`. The cutoff applies before counting, so
        the returned events, their `total` and the facet counts describe the
        same trimmed set; pass the same `threshold` to the facets endpoint to
        keep its counts aligned with the list.
      schema:
        # Quote the string barewords: unquoted `off` is coerced to boolean false
        # by YAML 1.1 tooling (PyYAML, some codegens), diverging from the runtime
        # string. (The server also accepts a falsy `false`/"false" as `off`.)
        default: 'off'
        oneOf:
          - type: string
            enum: ['off', 'auto']
          - type: number
            minimum: 0

    FilterUid:
      name: uid
      in: query
      required: false
      description: Restrict to these event uids. Repeat the parameter for multiple values.
      schema:
        type: array
        items:
          type: integer
          format: int64

    FilterSlug:
      name: slug
      in: query
      required: false
      description: Restrict to these event slugs. Repeat the parameter for multiple values.
      schema:
        type: array
        items:
          type: string

    FilterExtId:
      name: extId
      in: query
      required: false
      style: deepObject
      explode: true
      description: >
        Match an event by an external identifier:
        `extId[key]=<system>&extId[value]=<id>`.
      schema:
        type: object
        additionalProperties: false
        required: [key, value]
        properties:
          key:
            type: string
          value:
            type: string

    FilterKeyword:
      name: keyword
      in: query
      required: false
      description: >
        Restrict to events tagged with these keywords. Repeating the parameter
        narrows the result set (AND semantics).
      schema:
        type: array
        items:
          type: string

    FilterLanguage:
      name: language
      in: query
      required: false
      description: Restrict to events in these languages (ISO 639-1 codes).
      schema:
        type: array
        items:
          type: string

    FilterAccessibility:
      name: accessibility
      in: query
      required: false
      description: Restrict to events offering these accessibility facilities.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/AccessibilityCode'

    FilterStatus:
      name: status
      in: query
      required: false
      description: Restrict to these statuses.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/EventStatus'

    FilterAttendanceMode:
      name: attendanceMode
      in: query
      required: false
      description: Restrict to these attendance modes.
      schema:
        type: array
        items:
          $ref: '#/components/schemas/AttendanceMode'

    FilterFeatured:
      name: featured
      in: query
      required: false
      description: Restrict to featured (`true`) or non-featured (`false`) events.
      schema:
        type: boolean

    FilterLocationUid:
      name: locationUid
      in: query
      required: false
      description: Restrict to events held at these location uids.
      schema:
        type: array
        items:
          type: integer
          format: int64

    FilterLocationExtId:
      name: locationExtId
      in: query
      required: false
      style: deepObject
      explode: true
      description: >
        Match by a location external identifier:
        `locationExtId[key]=<system>&locationExtId[value]=<id>`.
      schema:
        type: object
        additionalProperties: false
        required: [key, value]
        properties:
          key:
            type: string
          value:
            type: string

    FilterRegion:
      name: region
      in: query
      required: false
      description: Restrict to events located in these regions.
      schema:
        type: array
        items:
          type: string

    FilterDepartment:
      name: department
      in: query
      required: false
      description: Restrict to events located in these departments.
      schema:
        type: array
        items:
          type: string

    FilterCity:
      name: city
      in: query
      required: false
      description: Restrict to events located in these cities.
      schema:
        type: array
        items:
          type: string

    FilterDistrict:
      name: district
      in: query
      required: false
      description: Restrict to events located in these districts.
      schema:
        type: array
        items:
          type: string

    FilterAdminLevel3:
      name: adminLevel3
      in: query
      required: false
      description: Restrict to events located in these level-3 administrative areas.
      schema:
        type: array
        items:
          type: string

    FilterAdminLevel5:
      name: adminLevel5
      in: query
      required: false
      description: Restrict to events located in these level-5 administrative areas.
      schema:
        type: array
        items:
          type: string

    FilterCountryCode:
      name: countryCode
      in: query
      required: false
      description: Restrict to events located in these countries (ISO 3166-1 alpha-2).
      schema:
        type: array
        items:
          type: string
          pattern: '^[A-Za-z]{2}$'

    FilterBoundingBox:
      name: bbox
      in: query
      required: false
      description: >
        Restrict to events whose location falls within a bounding box, given as
        `west,south,east,north` in decimal degrees (WGS84). Example:
        `bbox=2.224,48.815,2.469,48.902`.
      schema:
        type: string
        pattern: '^-?\d+(\.\d+)?,-?\d+(\.\d+)?,-?\d+(\.\d+)?,-?\d+(\.\d+)?$'

    FilterNear:
      name: near
      in: query
      required: false
      description: >
        Center of a proximity search, given as `latitude,longitude` in decimal
        degrees. Must be combined with `radius`.
      schema:
        type: string
        pattern: '^-?\d+(\.\d+)?,-?\d+(\.\d+)?$'

    FilterRadius:
      name: radius
      in: query
      required: false
      description: >
        Proximity radius in metres around `near`. Requires `near` to be set.
      schema:
        type: integer
        minimum: 1

    FilterOriginAgendaUid:
      name: originAgendaUid
      in: query
      required: false
      description: Restrict to events originally created in these agendas.
      schema:
        type: array
        items:
          type: integer
          format: int64

    FilterOriginAgendaOfficial:
      name: originAgendaOfficial
      in: query
      required: false
      description: Restrict to events whose origin agenda is official (`true`) or not (`false`).
      schema:
        type: boolean

    FilterSourceAgendaUid:
      name: sourceAgendaUid
      in: query
      required: false
      description: Restrict to events aggregated from these source agendas.
      schema:
        type: array
        items:
          type: integer
          format: int64

    FilterRelative:
      name: relative
      in: query
      required: false
      description: >
        Restrict by temporal position relative to now. Combine values (repeat
        the parameter) to widen the window: `passed`, `upcoming`, `current`.
      schema:
        type: array
        items:
          type: string
          enum: [passed, upcoming, current]

    FilterTimings:
      name: timings
      in: query
      required: false
      style: deepObject
      explode: true
      description: >
        Restrict to events having a timing that begins within the range, as
        RFC 3339 date-times: `timings[gte]=…&timings[lte]=…`. For now-relative
        windows, prefer `relative`. Date-times must carry an explicit offset
        (e.g. `Z`); a bare date (`YYYY-MM-DD`) is read as UTC midnight.
      schema:
        type: object
        additionalProperties: false
        properties:
          gte:
            type: string
            format: date-time
          lte:
            type: string
            format: date-time

    FilterLocalTime:
      name: localTime
      in: query
      required: false
      style: deepObject
      explode: true
      description: >
        Restrict to events with a timing starting within a daily time window,
        in minutes from local midnight: `localTime[gte]=480` (08:00) and/or
        `localTime[lte]=1200` (20:00).
      schema:
        type: object
        additionalProperties: false
        properties:
          gte:
            type: integer
            minimum: 0
            maximum: 1440
          lte:
            type: integer
            minimum: 0
            maximum: 1440

    FilterCreatedAt:
      name: createdAt
      in: query
      required: false
      style: deepObject
      explode: true
      description: >
        Restrict by creation date, as RFC 3339 date-times:
        `createdAt[gte]=…&createdAt[lte]=…`. Date-times must carry an
        explicit offset (e.g. `Z`); a bare date (`YYYY-MM-DD`) is read as
        UTC midnight.
      schema:
        type: object
        additionalProperties: false
        properties:
          gte:
            type: string
            format: date-time
          lte:
            type: string
            format: date-time

    FilterUpdatedAt:
      name: updatedAt
      in: query
      required: false
      style: deepObject
      explode: true
      description: >
        Restrict by last-update date, as RFC 3339 date-times:
        `updatedAt[gte]=…&updatedAt[lte]=…`. Useful for incremental sync.
        Date-times must carry an explicit offset (e.g. `Z`); a bare date
        (`YYYY-MM-DD`) is read as UTC midnight.
      schema:
        type: object
        additionalProperties: false
        properties:
          gte:
            type: string
            format: date-time
          lte:
            type: string
            format: date-time

    FilterAge:
      name: age
      in: query
      required: false
      style: deepObject
      explode: true
      description: >
        Restrict to events whose intended audience age range overlaps the given
        bounds, in years: `age[gte]=7&age[lte]=12`.
      schema:
        type: object
        additionalProperties: false
        properties:
          gte:
            type: integer
            minimum: 0
          lte:
            type: integer
            minimum: 0

    FilterAdditionalFields:
      name: additionalFields
      in: query
      required: false
      style: deepObject
      explode: true
      description: >
        Filter on agenda-specific additional fields, addressed by field name:
        `additionalFields[<fieldName>]=<value>`. Available fields and their value
        types come from the agenda's event form schema
        (`GET /agendas/{agendaUid}/events/schema`). For numeric fields, use
        a range object:
        `additionalFields[<fieldName>][gte]=…&additionalFields[<fieldName>][lte]=…`.
      schema:
        type: object
        additionalProperties:
          x-additionalPropertiesName: fieldName

  responses:
    BadRequest:
      description: >
        Malformed request: the body is not valid JSON, it carries a field the
        operation does not accept, or a recognized parameter carries an
        invalid value. `error.errors`, when present, names the offending
        values.
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/Error'
              - $ref: '#/components/schemas/ValidationError'
    Unauthorized:
      description: >-
        The request carries no credential this operation accepts.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: >-
        Authenticated, but not allowed to access this resource. A blacklisted
        account is refused like a member the agenda does not allow to perform
        the operation. On an `insufficient_scope` refusal a `WWW-Authenticate:
        Bearer error="insufficient_scope", scope="<required>"` header names the
        missing scope (RFC 6750 §3.1); an API key carries scopes only when it
        declares its own permissions.
      headers:
        WWW-Authenticate:
          description: >-
            Present on an `insufficient_scope` failure: the RFC 6750 Bearer
            challenge naming the scope the token must hold.
          required: false
          schema:
            type: string
          example: >-
            Bearer error="insufficient_scope", scope="events:read",
            error_description="the access token lacks the required scope"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: No resource answers this identifier.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    UnprocessableEntity:
      description: >-
        The request was well-formed but its field values failed validation
        (e.g. a missing title, an invalid timing, an unknown location uid).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationError'
    ServiceUnavailable:
      description: >-
        The request was not processed and can be retried after a short
        delay.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      description: A refused request, carrying nothing but the reason.
      required: [error]
      additionalProperties: false
      properties:
        error:
          type: object
          required: [code, message]
          additionalProperties: false
          properties:
            code:
              type: string
              description: Stable, machine-readable error code.
              enum:
                [
                  bad_request,
                  unauthorized,
                  read_only_credential,
                  insufficient_scope,
                  forbidden,
                  not_found,
                  service_unavailable,
                ]
              x-enum-descriptions:
                read_only_credential: >-
                  403 - the credential may only read, and this operation writes
                insufficient_scope: >-
                  403 - the credential lacks the scope this operation declares
                forbidden: 403 - any other refusal of an authenticated caller
            message:
              type: string
              description: Human-readable explanation.

    ValidationError:
      type: object
      description: A request refused because of the values it carries.
      required: [error]
      additionalProperties: false
      properties:
        error:
          type: object
          required: [code, message, errors]
          additionalProperties: false
          properties:
            code:
              type: string
              description: Stable, machine-readable error code.
              enum: [validation_error, bad_request]
            message:
              type: string
              description: Human-readable explanation.
            errors:
              type: array
              description: The problems found in the request, one per value.
              minItems: 1
              items:
                $ref: '#/components/schemas/ValidationIssue'

    ValidationIssue:
      type: object
      description: >-
        One problem found in a request. A validator describes the values it
        refuses as precisely as it can, so an item carries the keys below plus
        whatever else that validator knows, such as the rejected value or the
        bounds it had to satisfy.
      required: [message]
      properties:
        field:
          type: string
          description: >-
            Name of the offending value in the request. It is absent when the
            problem belongs to no single value.
          examples: ['title', 'description', 'timings', 'image.url']
        lang:
          type: string
          description: Language key of the offending value, on a localized field.
        index:
          type: integer
          description: Position of the offending value, in a list field.
        code:
          type: string
          description: Stable, machine-readable reason for the refusal.
          examples: ['required', 'string.toolong', 'email.invalid']
        message:
          type: string
          description: Human-readable explanation, in English.

    ValidationVerdict:
      type: object
      description: >-
        The verdict of a dry run, reached when validation found nothing to
        refuse.
      required: [valid]
      additionalProperties: false
      properties:
        valid:
          type: boolean
          enum: [true]

    MergedLocationError:
      type: object
      description: >-
        An error response for a location that was merged into another one.
      required: [error]
      additionalProperties: false
      properties:
        error:
          type: object
          required: [code, message, mergedIn]
          additionalProperties: false
          properties:
            code:
              type: string
              description: Stable, machine-readable error code.
              enum: [merged]
            message:
              type: string
              description: Human-readable explanation.
            mergedIn:
              type: integer
[...]
