.form-schema-builder {

  .field-preview-canvas {

    &.editing {

      background: #f9f9f9;

    }

    .field-preview {

      &.editing {

        background: $oa-white;

        .field-edit .form-group {

          padding: 0 12px;
          border-left: 3px solid $oa-blue;

        }


      }

      &.disabled {

        background: $oa-gray-lightest;

        label, span {
          color: $oa-gray;
        }

      }

      .list-inline {

        margin-bottom: 0;

      }

      .field-actions {

        margin-left: -18px;

      }

    }

  }

}
