/**
 * used in agenda search page and agenda page
 */
.tooltip-icon {

  display: inline-block;
  position: relative;
  margin-left: 5px;

  .tooltip {

    display: none;

  }

  i {

    display: inline-block;
    font-size: 1.1em;
    vertical-align: middle;

  }

  &.big i {

    font-size: 2em;
    background-position: -14px 0;

  }

  &:hover .tooltip {

    display: block;
    opacity: 1;
    right: -122px;
    min-width: 120px;
    //top: -1px;

    &.right {
      top: 50%;
      transform: translateY(-50%);
      margin-left: 15px;
    }

    .tooltip-inner {
      background-color: $oa-black;
    }

    &.right .tooltip-arrow {
      border-right-color: $oa-black;
    }

  }

  &.big .tooltip {

    top: 3px;

    .tooltip-inner {
      background-color: $oa-white;
      color: $oa-black;
    }

    &.right .tooltip-arrow {
      border-right-color: $oa-white;
    }

  }

}