.contribution-info {

  border: 3px solid $oa-blue;
  padding: 1em 1.5em;
  background: rgba(0, 0, 0, 0.03);
  line-height: 1.6em;
  margin: 1em 0 2em;

  h2 {

    margin: 10px 0;

  }

  ul {

    padding: 0 0 0 1em;

  }

  li {

    list-style-type: initial;
    margin: 1em 0 0 1.4em;

  }

}