/* #region absolute colors */

$tp-white: #fff;
$tp-xlightGray: #eee;
$tp-lightGray: #ccc;
$gray: #aaa;
$darkGray: #666;
$xdarkGray: #333;
$black: #000;

$xlightBlue: #E3F2FF;
$lightBlue: #42B0E1;
$darkblue: $oa-blue;
$green: #1A9E1F;
$red: #E23737;

/* #endregion absolute colors*/

/* #region screen widths*/

$large: 960px;
$medium: 768px;
$small: 640px;
$xsmall: 480px;
$xxsmall: 400px;

/* #endregion screen widths*/

/* #region font sizes*/


$rcNormalFont: 14px;
$rcMediumFont: 12px;
$rcSmallFont: 11px;
$rcXsmallFont: 10px;

/* #endregion font sizes*/

/* #region timetable widths*/

$timetableWidth: 50px;
$timetableSmallWidth: 40px;
$timetableMinWidth: 35px;
$timetableMinSmallWidth: 30px;

/* #endregion timetable widths*/

/* #region cells heights*/

$dayHeaderHeight: 2px;
$dayCellHeight: 40px;

/* #endregion cells heights */

/* #region colors */

$primaryColor: #6c6c6c;
$secondaryColor: $oa-gray;
$reverseColor: $tp-white;
$success: $green;
$error: $red;

$calendarBorderColor: #dcdcdc;
$calendarBackColor: #fff;

$headerPrimaryColor: $primaryColor;
$headerSecondaryColor: $secondaryColor;

$schedulerHeaderColor: $reverseColor;
$schedulerHeaderBackColor: $lightBlue;
$schedulerHeaderTodayColor: $primaryColor;
$schedulerHeaderTodayBackColor: $tp-white;
$schedulerDayBorderColor: $tp-white;

$oddRowBackColor: $tp-xlightGray;
$evenRowBackColor: $tp-white;

$eventBackColor: $oa-blue;
$eventFrontColor: $oa-white;

$datepickerSelectedBackColor: $lightBlue;
$datepickerTodayBackColor: $xlightBlue;
$datepickerHoverBackColor: $tp-xlightGray;

$linkDefaultColor: #165979;

/* #endregion colors*/

/* #region scheduler */

$dayInWeek: 7;

/* #endregion scheduler */











/* #region styles */

@mixin rotate($deg) {
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin box-sizing($value) {
  -moz-box-sizing: $value;
  -webkit-box-sizing: $value;
  box-sizing: $value;
}

@mixin word-break($value) {
  -ms-word-break: #{$value};
   word-break: #{$value};
}

@mixin text-overflow($value) {
  -ms-text-overflow: $value;
  -o-text-overflow: $value;
  text-overflow: $value;
}

@mixin user-select($value) {
  -moz-user-select: $value;
  -ms-user-select: $value;
  -webkit-user-select: $value;
  user-select: $value;
}

@mixin translateY($value) {
  -moz-transform: translateY($value);
  -ms-transform: translateY($value);
  -o-transform: translateY($value);
  -webkit-transform: translateY($value);
  transform: translateY($value);
}

@mixin translateX($value) {
  -moz-transform: translateX($value);
  -ms-transform: translateX($value);
  -o-transform: translateX($value);
  -webkit-transform: translateX($value);
  transform: translateX($value);
}

@mixin translate($x, $y) {
  -moz-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  -webkit-transform: translate($x, $y);
  transform: translate($x, $y);
}

@mixin rotate($angle) {
  -moz-transform: rotate($angle);
  -ms-transform: rotate($angle);
  -o-transform: rotate($angle);
  -webkit-transform: rotate($angle);
  transform: rotate($angle);
}

/* #endregion styles*/

/* #region media queries*/

@mixin respond-to($media) {
  @if $media == xxsmall {
    @media only screen and (max-width: $xxsmall ) { @content; }
  }
  @else if $media == xsmall {
    @media only screen and (max-width: $xsmall ) { @content; }
  }
  @else if $media == small {
    @media only screen and (max-width: $small ) { @content; }
  }
  @else if $media == medium {
    @media only screen and (max-width: $medium ) { @content; }
  }
  @else if $media == large {
    @media only screen and (max-width: $large) { @content; }
  }
}

/* #endregion media queries*/

/* #region utils */

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@function part-of($number){
  @return 100% / $number;
}

/* #endregion utils */

/* #region font face */

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

/* #endregion font face*/

/* #region select */

@mixin selectbox-wrapper($width){
  width: $width;
  div{
    display: block;
  }
}

/* #endregion select*/

/* #region positioning */

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  @include translateY(-50%);
}

@mixin center-absolute-position(){
  position: absolute;
  top: 50%;
  left: 50%;
  @include translate(-50%, -50%);
}

@mixin vertical-centre ($height) {
  height:$height;
  line-height:$height !important;
  display:inline-block;
  vertical-align:middle;
}

@mixin right-top-corner ($top: 2px, $right: 2px, $width: auto, $height: auto){
  width: $height;
  height: $width;
  position: absolute;
  right: $right;
  top: $top;
}

/* #endregion positioning*/

/* #region figures*/

@mixin arrow($color: black, $leftWeight: 0.2em, $rightWeigh: 0.2em, $strokeType: solid, $angle: 0){
  content: "";
  display: inline-block;
  /* By using an em scale, the arrows will size with the font */
  width: 0.7em;
  height: 0.7em;
  border-right: $rightWeigh $strokeType $color;
  border-top: $leftWeight $strokeType $color;
  @include rotate($angle);
}

/* #endregion figures*/


.primary-button{
  padding: 7px 12px;
  background-color: $lightBlue;
  color: #fff;
}

.border-box {
  @include box-sizing(border-box)
}

.rc-noselect {
  -webkit-touch-callout: none;
  @include user-select(none);
}

.rc-error{
    color: $error;
  }

  .rc-success{
    color: $success;
  }

.rc-icon {
  &.rc-icon-close:after {
    content: "\2716";
  }

  &.rc-icon-left-arrow:before {
    @include arrow($secondaryColor, 2px, 2px, solid, -135deg);
  }

  &.rc-icon-right-arrow:before {
    @include arrow($secondaryColor, 2px, 2px, solid, 45deg);
  }
}

.rc-icon-wrapper {
  position: relative;
  height: 0.5em;
  width: 1.5em;

  text-align: center;
}

.rc-calendar {

  display: block;

  width: 100%;
  height: 100%;
  font-size: $rcNormalFont;
  color: $primaryColor;
  background-color: $calendarBackColor;

  .rc-calendar-body {
    border-bottom: none;
  }

  a {
    cursor: pointer;
    color: $linkDefaultColor;
  }

  .rc-stats {

    padding: 0.5em 0;

  }

  .rc-header {

    display: block;
    border: 1px solid $form-border;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;

    .rc-toolbar {

      display: block;
      text-align: right;

    }

    div {
      display: inline-block;
    }

    .rc-week {

      padding: 8px 10px 0;

      float: left;
      vertical-align: middle;

      .rc-date {
        display: inline-block;
        text-align: center;
        margin: 0 8px;
      }

      .rc-icon-wrapper{
        cursor: pointer;
      }

      .rc-icon {
        color: $secondaryColor;
      }
    }

    .rc-options {

      text-align: left;

      .is-focused:not(.is-open) > .Select-control {
        box-shadow: none;
      }

      .Select-control {

        min-width: 3em;

        border: none;
        padding-right: 20px;
        color: $primaryColor;

        &:hover{
          box-shadow: none;
        }

        .Select-placeholder{
          padding-right: 20px;
        }
      }

      .Select-placeholder, .Select-input{
        color: $primaryColor;
      }

      .Select-option.is-focused {
        background-color: $tp-xlightGray;
        color: $rcNormalFont;
      }

      .Select-arrow {
        color: $secondaryColor;
        border-color: $secondaryColor transparent transparent;
        top: 13px;
      }

      .Select-arrow {
        content: " ";
        display: block;
        height: 0;
        margin-top: ceil(2.5px);
        position: absolute;
        right: 10px;
        top: 15px;
        width: 0;
        cursor: pointer;
      }

      .Select-arrow-zone {
        content: " ";
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 30px;
        cursor: pointer;
      }

    }

    .rc-month {
      @include selectbox-wrapper(110px);
      margin-right: 15px;
      margin-top: 2px;
    }

    .rc-years {
      @include selectbox-wrapper(75px);
    }

    .rc-weekdays {

      text-align: right;
      display: block;
      padding: 0px 15px 2px $timetableWidth;

      .rc-day-name {

        width: part-of($dayInWeek);

        div {

          padding: 0px 0px 4px 0;
          display: block;

          @include text-overflow(ellipsis);
          text-align: center;
          white-space: nowrap;
          line-height: 16px;
          border-left: 1px solid white;

        }

        .rc-day-short {

          display: none;

        }

        @include respond-to( xsmall ) {

          .rc-day-long { display: none; }

          .rc-day-short { display: block; }

        }

      }

    }
  }

  .rc-scheduler {

    display: block;
    height: 360px;
    overflow-y: scroll;
    position: relative;

    border: 1px solid $form-border;
    border-radius: 0 0 4px 4px;

    &.noscroll {

      overflow: hidden;
      padding-right: 10px;

    }



    .rc-day-cell {

      height: $dayCellHeight;

      &:nth-child(2n-1) {
        background-color: $oddRowBackColor;
      }

      &:nth-child(2n) {
        background-color: $evenRowBackColor;
      }

    }

    .rc-inactive-day {

      cursor: not-allowed;

      color: white;

      background: repeating-linear-gradient(
        135deg,
        $oa-gray-light,
        $oa-gray-light 10px,
        $oa-white 10px,
        $oa-white 20px
      );

      .rc-day-cell {

        background-color: transparent;

      }

      &.rc-day-time {

        left: 0px;
        padding-left: 1px;

      }

    }

    .rc-day-time {

      position: relative;

      .rc-event {

        background-color: $eventBackColor;

        &:hover {

          cursor: pointer;
          background-color: lighten( $eventBackColor, 3 );

        }

        padding: 0;

        position: absolute;
        right: 0;
        left: 1px;

        .rc-time {

          margin-right: 16px;
          margin-top: 4px;
          height: 1.1em;
          white-space: nowrap;
          font-size: $rcMediumFont;
          color: $eventFrontColor;
          text-align: center;
          overflow: hidden;
          max-width: 100%;

          span {

            color: $eventFrontColor;
            font-weight: bold;

          }

          &.rc-above {

            position: absolute;
            top: -20px;

            span {

              color: $primaryColor;

            }

          }

          &.rc-below {

            position: absolute;
            width: 100%;
            bottom: -30px;

            span {

              color: $primaryColor;

            }

          }

        }

        .rc-icon-close {

          margin-top: 2px;
          color: $secondaryColor;

          &:hover {
            color: $primaryColor;
          }

          &.rc-above {

            position: absolute;
            top: -18px;
            color: $primaryColor;

          }

        }

        .rc-event-resizer {
          position: absolute;
          right: 0;
          left: 0;
          bottom: 0;
          height: $rcSmallFont;
          line-height: $rcSmallFont;
          text-align: center;
          cursor: s-resize;
          background-color: $eventBackColor;
          color: $eventFrontColor;
          font-size: $rcNormalFont;

          &:before {
            content: "\3d";
          }

          &:hover{
            color: $primaryColor;
          }

          &.rc-below {

            bottom: -15px;
            color: $primaryColor;
            background-color: transparent;

          }
        }

        .rc-event-icon {
          @include right-top-corner();
          font-size: $rcSmallFont;
          cursor: pointer;
          color: $eventFrontColor;
        }
      }
    }

    .rc-timetable {
      float: left;
      font-size: $rcMediumFont;
      border-bottom: 1px solid $calendarBorderColor;

      & > div {
        text-align: center;
        line-height: $dayCellHeight;
      }

      width: $timetableWidth;
      min-width: $timetableMinWidth;
    }

    .rc-days {
      margin-left: $timetableWidth;
      position: relative;
      font-size: 0;

      .rc-day {
        @extend .border-box;
        border-left: 1px solid $schedulerDayBorderColor;
        border-bottom: 1px solid $calendarBorderColor;

        width: part-of($dayInWeek);
        display: inline-block;
        @include word-break("break-word");
        font-size: $rcNormalFont;
      }
    }
  }

  .rc-reccurencer {

    margin-top: 10px;

    position: relative;

    div {
      display: inline-block;
    }

    .rc-ok-button {

      padding: 7px 12px;
      background-color: $lightBlue;
      color: #fff;
      border-radius: 3px;

    }

    .rc-message-close{
      @include right-top-corner(0, 2px);
      cursor: pointer;
    }
  }
}

.rc-datepicker-wrapper {
  position: absolute;
  display: inline-block;
  z-index: 2147483647;
}

.rc-dp-calendar {
  font-size: $rcMediumFont;
  float:left;
  display:block;
  @extend .border-box;
  background:$tp-white;
  width:250px;
  border:solid 1px $calendarBorderColor;
  margin-bottom:10px;

  $spacing:10px;
  $icon-width:40px;
  $header-height:40px;

  >div.rc-dp-header {
    float:left;
    width:100%;

    height:$header-height;


    > * {
      @include vertical-centre($header-height);
    }

    >.rc-icon-wrapper {
      float:left;
      width:$icon-width;
      font-weight:bold;
      position:relative;
      @extend .border-box;
      padding:0 $spacing;
      cursor:pointer;

    }

    >.left {
      text-align:left;
    }

    >.right {
      text-align:right;
      margin-left:$icon-width*-1;
    }

    >span {
      float:left;
      width:100%;
      font-weight:bold;
      text-transform:uppercase;
      @extend .border-box;
      padding-left:$icon-width+$spacing;
      margin-left:$icon-width*-1;
      text-align:center;
      padding-right:$icon-width;
      color:inherit;
    }
  }
  >div.rc-dp-week {
    float:left;
    width:100%;
    border-top:solid 1px $calendarBorderColor;

    &:first-child {
      border-top:none;
    }

    >span.rc-dp-day {

      float:left;
      width: part-of($dayInWeek);
      @extend .border-box;
      border-left:solid 1px $calendarBorderColor;
      font-size: 0.9em;
      text-align:center;
      @include vertical-centre(26px);
      background:$tp-white;
      cursor:pointer;
      color:$black;

      &.rc-dp-inactive-day {

        color: $oa-gray-light;

      }

      &:first-child {
        border-left:none;
      }

      &.today {
        background:$datepickerTodayBackColor;
      }

      &.different-month {
        color:$secondaryColor;
      }

      &.selected {
        background:$datepickerSelectedBackColor;
        color:$reverseColor;
      }

      &:hover{
        background-color: $datepickerHoverBackColor;
      }
    }

    &.rc-dp-names>span {
      color:$primaryColor;
      font-weight:bold;
    }
  }
}

.rc-datepicker.rc-dp-container {
  position: relative;
}

.rc-dp-input {
  position: relative;
  font-size: $rcMediumFont;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid $tp-lightGray;
  border-radius: 3px;
  line-height: 16px;
  padding: 6px 10px 5px;
  margin: 0 5px;

  &:focus {
    outline: none;
    border-color: $gray;
    box-shadow: inset 0 2px 2px $tp-xlightGray, 0 0 10px 0 $tp-lightGray;
  }

  &:not(:valid) ~ .close-icon {
    display: none;
  }
}

.rc-time-adjustment{
  text-align: left;
  display: inline-block;

  input{
    margin: 2px 0 0 0;
  }

  section{
    margin: 0 0 12px 0;
  }

  .rc-adjust-button{

    @extend .primary-button;
    display: inline-block;
    background-color: $oa-blue;
    border-radius: 4px;
    color: $oa-white;
    padding: 0.5em;
    margin-top: 5px;

  }
}

.rc-modal-overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(220, 220, 220, 0.75);

  .rc-modal-content{
    position: absolute;
    top: 60px;
    bottom: 92px;
    left: 40px;
    right: 40px;
    width: 230px;
    margin: 0 auto;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    text-align: center;
  }

}

/********/
/********/
/********/

/* Global */

.rtp__calendar * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.rtp__calendar {
  display: block;
  position: relative;
  width: 100%;
  background: #fff;
  font-size: 13px;
  line-height: 1.5;
  color: $oa-black;
}

/* Utils */

.rtp__calendar .rtp__clearfix {
  clear: both;
}

/* Stats, header */

.rtp__calendar .rtp__stats {
  font-size: 14px;
  background: $oa-gray-lightest;
  padding: 5px;
  text-align: center;
}

.rtp__calendar .rtp__reset {
  position: absolute;
  top: -50px;
  right: 0;
  color: $oa-red;
  cursor: pointer;
  font-size: 14px;
}

.rtp__calendar .rtp__reset:hover {
  text-decoration: underline;
}

.rtp__calendar .rtp__header {
  text-transform: uppercase;
  font-weight: 700;
  margin: 1em 0;
}

.rtp__calendar .rtp__header .rtp__prev-week,
.rtp__calendar .rtp__header .rtp__next-week {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  border: 1px solid $oa-gray-light;
}

.rtp__calendar .rtp__header .rtp__prev-week {
  border-radius: 4px 0 0 4px;
}
.rtp__calendar .rtp__header .rtp__next-week {
  border-radius: 0 4px 4px 0;
  border-left: 0;
}

.rtp__calendar .rtp__header .rtp__prev-week .rtp__icon,
.rtp__calendar .rtp__header .rtp__next-week .rtp__icon {
  margin: 11px 10px 7px;
  -webkit-transition: .12s ease-out;
  -o-transition: .12s ease-out;
  transition: .12s ease-out;
  -webkit-transition-property: color, margin, -webkit-transform;
  transition-property: color, margin, -webkit-transform;
  -o-transition-property: transform, color, margin;
  transition-property: transform, color, margin;
  transition-property: transform, color, margin, -webkit-transform;
}

.rtp__calendar .rtp__header .rtp__prev-week:hover .rtp__icon,
.rtp__calendar .rtp__header .rtp__next-week:hover .rtp__icon {
  -webkit-transform: scale(1.30);
  -ms-transform: scale(1.30);
  transform: scale(1.30);
  color: #1a8fff;
  -webkit-transition: .12s ease-out;
  -o-transition: .12s ease-out;
  transition: .12s ease-out;
  -webkit-transition-property: color, -webkit-transform;
  transition-property: color, -webkit-transform;
  -o-transition-property: transform, color;
  transition-property: transform, color;
  transition-property: transform, color, -webkit-transform;
}

.rtp__calendar .rtp__header .rtp__selectors {
  float: right;
  text-align: right;
}

.rtp__calendar .rtp__header .rtp__selectors .rtp__month-selector {
  display: inline-block;
  width: 180px;
  margin-right: 15px;
}

/* overwrite of color defined in inline style */
.rtp__calendar .rtp__header .rtp__selectors .rtp__month-selector div:first-child,
.rtp__calendar .rtp__header .rtp__selectors .rtp__year-selector div:first-child {
  color: $oa-black;
  text-transform: capitalize;
}

.rtp__calendar .rtp__header .rtp__selectors .rtp__year-selector {
  display: inline-block;
  width: 100px;
  margin-right: 0;
}

/**
 * a class to target input canvases would be practical
 */
.rtp__selectors > span > div > div {
  border-color: $oa-gray-light;
  cursor: pointer;
}

/* Calendar */

.rtp__calendar .rtp__index-column {
  -webkit-box-flex: .1;
  -ms-flex: .1;
  flex: .1;
}

.rtp__calendar .rtp__content-column {
  -webkit-box-flex: .9;
  -ms-flex: .9;
  flex: .9;
}

.rtp__calendar .rtp__days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0 16px 4px 0;
}

.rtp__calendar .rtp__days .rtp__row {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
}

.rtp__calendar .rtp__days .rtp__row .rtp__col {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-transform: capitalize;
}

.rtp__calendar .rtp__scheduler {
  border: 1px solid $oa-gray-light;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 360px;
  overflow-y: scroll;
}

.rtp__calendar .rtp__body {
  position: relative;
  -ms-touch-action: none;
  touch-action: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.rtp__calendar .rtp__body .rtp__cell,
.rtp__calendar .rtp__cell.rtp__timing {
  position: relative;
  border-right: 1px solid #ffffff;
  overflow: hidden;
  background: #fff;
  -webkit-transition: background-color .12s ease-out;
  -o-transition: background-color .12s ease-out;
  transition: background-color .12s ease-out;
}

.rtp__calendar .rtp__body .rtp__cell {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.rtp__calendar .rtp__body.rtp__timing-moving .rtp__cell {
  cursor: move;
}

.rtp__calendar .rtp__body.rtp__timing-resizing .rtp__cell {
  cursor: s-resize;
}

.rtp__calendar .rtp__body .rtp__row {
  border-bottom: 1px solid #eee;
}

.rtp__calendar .rtp__body .rtp__row:last-child {
  border-bottom: none;
}

.rtp__calendar .rtp__body .rtp__column {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0px;
}

.rtp__calendar .rtp__body .rtp__column:last-child .rtp__cell {
  border-right: none;
}

.rtp__calendar .rtp__column-timing .rtp__cell:not(:last-child),
.rtp__calendar .rtp__column .rtp__cell:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.rtp__calendar .rtp__column .rtp__cell:nth-child(2n-1) {
  background: $oa-gray-lighter;
}
.rtp__calendar .rtp__column-timing .rtp__cell:nth-child(2n-1) {
  background: lighten( $oa-gray-lighter, 5 );
}

.rtp__calendar .rtp__column .rtp__cell:hover {
  background: #f9f9f9;
  -webkit-transition: background-color .12s ease-out;
  -o-transition: background-color .12s ease-out;
  transition: background-color .12s ease-out;
}

.rtp__calendar .rtp__column .rtp__cell:nth-child(2n-1):hover {
  background: #f0f0f0;
  -webkit-transition: background-color .12s ease-out;
  -o-transition: background-color .12s ease-out;
  transition: background-color .12s ease-out;
}

.rtp__calendar .rtp__column-timing .rtp__cell.rtp__timing {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.rtp__calendar .rtp__column-timing .rtp__cell.rtp__timing .rtp__number {
  position: absolute;
  line-height: 1;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

.rtp__calendar .rtp__body .rtp__column-timing {
  -webkit-box-flex: 0.6;
  -ms-flex-positive: 0.6;
  flex-grow: 0.6;
}

.rtp__calendar .rtp__body .rtp__disabled {
  color: #999;
  pointer-events: none;
}

.rtp__calendar .rtp__body .rtp__col {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-preferred-size: calc(100% / 7);
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
}

.rtp__calendar .rtp__body .rtp__disallowed-timing,
.rtp__calendar .rtp__body .rtp__value-timing,
.rtp__calendar .rtp__body .rtp__selection-timing,
.rtp__calendar .rtp__body .rtp__selection-moving-timing,
.rtp__calendar .rtp__body .rtp__selection-resizing-timing {
  -webkit-box-shadow: lightslategrey 1px 1px 0px 0px inset, lightslategrey 1px 1px 0px 0px;
  box-shadow: lightslategrey 1px 1px 0px 0px inset, lightslategrey 1px 1px 0px 0px;
}

.rtp__calendar .rtp__body .rtp__value-timing,
.rtp__calendar .rtp__body .rtp__selection-timing,
.rtp__calendar .rtp__body .rtp__selection-moving-timing,
.rtp__calendar .rtp__body .rtp__selection-resizing-timing {
  background: $oa-blue;
}

.rtp__calendar .rtp__body .rtp__disallowed-timing,
.rtp__calendar .rtp__body .rtp__selection-timing.rtp__disabled,
.rtp__calendar .rtp__body .rtp__selection-timing.rtp__disabled,
.rtp__calendar .rtp__body .rtp__selection-moving-timing.rtp__disabled,
.rtp__calendar .rtp__body .rtp__selection-resizing-timing.rtp__disabled {
  background: -webkit-repeating-linear-gradient(315deg, #ccc, #ccc 10px, #fff 10px, #fff 20px);
  background: -o-repeating-linear-gradient(315deg, #ccc, #ccc 10px, #fff 10px, #fff 20px);
  background: repeating-linear-gradient(135deg, #ccc, #ccc 10px, #fff 10px, #fff 20px);


  /* https://stackoverflow.com/questions/47382245/unwanted-whitespace-in-webkit-linear-gradient-in-chrome */
  background-size: 101% 101%;
}

.rtp__calendar .rtp__body .rtp__timing-resizer {
  position: absolute;
  bottom: 0;
  height: 10px;
  line-height: 10px;
  width: 100%;
  text-align: center;
  cursor: s-resize;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.rtp__calendar .rtp__body .rtp__timing-resizer:before {
  content: '=';
  display: block;
  height: 8px;
  line-height: 8px;
  padding-top: 2px;
  overflow: hidden;
}

.rtp__calendar .rtp__body .rtp__timing-value {
  color: #fff;
  height: 13px;
  line-height: 13px;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  margin-top: 1px;
}

.rtp__calendar .rtp__body .rtp__timing-remove {
  float: right;
  color: #fff;
  height: 14px;
  line-height: 14px;
  font-weight: bold;
  font-size: 16px;
  padding-right: 2px;
  cursor: pointer;
}

.rtp__calendar .rtp__body .rtp__selection-timing {
  cursor: pointer;
}

.rtp__calendar .rtp__body .rtp__value-timing,
.rtp__calendar .rtp__body .rtp__selection-moving-timing,
.rtp__calendar .rtp__body .rtp__selection-moving-timing .timing-resizer, /* fix visual glitch */
.rtp__calendar .rtp__body.rtp__timing-moving .rtp__value-timing .rtp__timing-resizer {
  cursor: move;
}

.rtp__calendar .rtp__body .rtp__selection-resizing-timing,
.rtp__calendar .rtp__body.rtp__timing-resizing .rtp__value-timing,
.rtp__calendar .rtp__body.rtp__timing-resizing .rtp__value-timing .rtp__timing-resizer {
  cursor: s-resize;
}

.rtp__calendar .ReactModal__Content h3 {
  margin: 0 0 5px 0;
}

.rtp__calendar .ReactModal__Content input {
  position: relative;
  font-size: 12px;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  line-height: 16px;
  padding: 6px 10px 5px;
  width: 100%;
}

.rtp__calendar .ReactModal__Content input:focus {
  outline: none;
  border-color: #aaa;
  -webkit-box-shadow: 0 0 2px 0px #019ece;
  box-shadow: 0 0 2px 0px #019ece;
}

.rtp__calendar .ReactModal__Content .error {
  color: #FF1238;
  margin-top: 4px;
}

.rtp__calendar .ReactModal__Content section ~ section {
  margin-top: 5px;
}

.rtp__calendar .ReactModal__Content button {
  margin-top: 12px;
}


/********************/
/* Size adjustments */
/********************/

.rtp__calendar.rtp__md .rtp__body .rtp__timing-value {
  height: 11px;
  line-height: 11px;
  font-size: 11px;
}

.rtp__calendar.rtp__sm .rtp__body .rtp__timing-value {
  height: 11px;
  line-height: 10px;
  font-size: 11px;
}

.rtp__calendar.rtp__xs .rtp__body .rtp__timing-value {
  height: 11px;
  line-height: 12px;
  font-size: 12px;
}

.rtp__calendar.rtp__sm .rtp__body .rtp__timing-value,
.rtp__calendar.rtp__xs .rtp__body .rtp__timing-value {
  text-align: left;
  padding-left: 3px;
}

/*!*.rtp__calendar.rtp__sm .rtp__body .rtp__timing-resizer,*!*/
/*.rtp__calendar.rtp__xs .rtp__body .rtp__timing-resizer {*/
/*    text-align: right;*/
/*    padding-right: 3px;*/
/*}*/


/* thin timings */

/*.rtp__calendar.rtp__xs .rtp__body .rtp__value-timing-thin .rtp__timing-value,*/
/*.rtp__calendar.rtp__xs .rtp__body .rtp__selection-timing-thin .rtp__timing-value,*/
/*.rtp__calendar.rtp__xs .rtp__body .rtp__selection-moving-timing-thin .rtp__timing-value,*/
/*.rtp__calendar.rtp__xs .rtp__body .rtp__selection-resizing-timing-thin .rtp__timing-value {*/
/*    text-align: left;*/
/*    padding-left: 3px;*/
/*}*/

.rtp__calendar.rtp__xs .rtp__body .rtp__value-timing-thin .rtp__timing-resizer,
.rtp__calendar.rtp__xs .rtp__body .rtp__selection-timing-thin .rtp__timing-resizer,
.rtp__calendar.rtp__xs .rtp__body .rtp__selection-moving-timing-thin .rtp__timing-resizer,
.rtp__calendar.rtp__xs .rtp__body .rtp__selection-resizing-timing-thin .rtp__timing-resizer {
  text-align: right;
  padding-right: 3px;
}
