@import "../layout/base";
@import "../agenda/header";
@import "social-shares";

.event-dialog {
  
  .content.jumbotron {
    
    margin-top: 30px;
    margin-bottom: 20px;

  }

  .below-jumbotron {

    padding-top: 0;

  }

  .actions {

    text-align: center;
    max-width: 360px;
    margin: auto;

    a {

      display: block;
      margin-bottom: 1.6em;

    }

  }

}