<%- include('../layout/_top.ejs') %>
<%- include('../agenda/_header.ejs') %>

<div class="popup-overlay">
  <section>
    <header class="popup-title">
      <h2><i class="golden-icon margin-right-xs"> </i>Title of modal</h2>
      <a class="close-link">
        <i class="fa fa-times fa-lg"></i>
      </a>
    </header>
    <div class="popup-content">
      <div class="warning-block">
        Some message
      </div>
      <p>The content of the modal</p>
    </div>
  </section>
</div>

<%- include('../layout/_bottom.ejs') %>
