


/**
 * general page layout
 */


.ag header .head .title h1,
.ag main h2 {

  font-family: 'Open Sans', sans-serif;

}





.ag header .head {

  display: inline-block;
  max-width: 700px;

}

.ag header .head .title {

  display: inline-block;
  padding: 0 0 .5em 0;
  max-width: 590px;

}


/* used for empty page */

.ag .empty {

  text-align: center;
  font-weight: bold;
  padding: 2em 0;

}

/**
 * .head groups the agenda title elements
 */


.ag header .head .title > * {

  margin: 0 0 10px 20px;
  display: block;

}

.ag header .head .title.nopic > * {

  margin-left: 0;

}

.ag header .head .title a.url,
.ag header .head .title .button {
  display: inline-block;
}

.ag header .head img {

  max-width: 110px;
  display: inline-block;
  vertical-align: top;

}


/**
 * header actions
 */

.ag header .actions {
  position: absolute;
  top: 0;
  right: 0;
  padding: .7em 0 .8em 2em;
}

.ag header .actions li {

  display: block;

  padding-bottom: 0.2em;

}

.ag header .actions li:last-child {
  padding-right: 0;
}

.ag header .actions i {

  font-size: 1.1em;
  vertical-align: middle;
  padding-top: 0.1em;

}

.ag header .actions .button {
  vertical-align: middle;
}

.ag header .actions img {

  padding: 1px 0;
  vertical-align: middle;

}

.ag header .actions span,
.ag header .actions i {

  vertical-align: middle;
  display: inline-block;

}




@media all and (min-width: 1450px) {

  .ag header .actions {

    padding-right: 0;

  }

}



/**
 * end of top navigation bar layout
 */



/**
 * header social links
 */

.ag .social-links {

  padding: 1em 0;
  text-align: right;

}

.ag .social-links > * {

  padding: 0 1em 0 0;

}


.ag .social-links a.fb:hover i { color: #3b5998; }
.ag .social-links a.gp:hover i { color: #d34836; }
.ag .social-links a.li:hover i { color: #007bb6; }
.ag .social-links a.tw:hover i { color: #00aced; }
.ag .social-links a.tb:hover i { color: #32506d; }
.ag .social-links a.pt:hover i { color: #cb2027; }



/**
 * filter links
 */

.ag .active-filters li {
  display: inline-block;
  background: #31def4;
  padding: 0.4em 0.6em;
  margin: 0.5em 0.5em 0 0;
}

.ag .active-filters li span,
.ag .active-filters li a {
  color: white;
  vertical-align: middle;
}

.ag .active-filters li span {
  margin-right: 0.2em;
}




.ag .header {
  height: 30em;
}

.ag .header .bg {

  display: none;

}






/**
 * sidebar bit
 */

.ag aside {

  padding: 0 0 4em;

}


.ag aside .tags li {

  font-size: 0.8em;
}

.ag aside .categories li {

  text-transform: uppercase;
  
}


/**
 * calendar widget
 */

.ag aside .ccal {

  background: white;
  width: 100%;

}

.ag aside .ccal .month {

  font-size: 1.1em;

}

.ag aside .ccal li span {

  padding: 8px 4px;

}



/**
 * previous page link
 */

.ag .previous-page {

  position: absolute;
  right: 0;

}




/**
 * basic widget
 */

.ag aside .listWidget li {

  padding: 0.1em 0.6em;
  margin: 0 0.5em 0.6em 0;
  display: inline-block;

}

.ag aside .listWidget li a {

  color: #aaa;

}

.ag aside .listWidget li.active a {

  color: #333;

}

.ag aside .listWidget li.selected {

  background: #31def4;

}

.ag aside .listWidget li.selected a {

  color: white;
  
}



/**
 * add to sources menu
 */

.ag .agg-menu label {

  font-weight: bold;
  padding-bottom: 0.5em;
  display: block;

}

.ag .agg-menu .agg-remove .fa-close {
  display: none;
  font-weight: bold;
}

.ag .agg-menu li {

  padding: 0.4em 0;

}

.ag .agg-menu li span {

  padding-right: 0.5em;
  vertical-align: middle;
  display: inline-block;

}


.ag .agg-menu li:hover .agg-remove .fa-close {
  display: inline-block;
}

.ag .agg-menu li:hover .agg-remove .fa-check {
  display: none;
}



/**
 * agenda footer
 */

.ag footer {

  clear: both;

}


@media all and (max-width: 940px) {

  .cb .canvas.page {

    margin-top: 0;

  }

  .ag header .actions .button span {
    display: none;
  }

}


@media all and (max-width: 780px ) {

  .ag .canvas header .head {
    max-width: none;
    display: block;
  }

  .ag .canvas header .head > img {
    display: block;
    margin: auto;
  }

  .ag header .head > .title {
    display: block;
    padding: 1em 0;
    text-align: center;
  }

  .ag header .head h1,
  .ag header .head p,
  .ag header .head a,
  .ag header .head img {
    padding: 0 0 6px;
  }

  .ag .canvas header .social-links {
    text-align: center;
  }

  .ag .canvas.right .sidebar {
    display: none;
  }

}


@media all and (min-width: 780px) {

  .ag .header {

    overflow: hidden;

  }

  .ag .header .bg {

    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);

    margin: -160px 10px 10px -5px;

    min-width: 100%;

    max-width: 110%;

    display: block;

  }

  .ag header .head img {

    padding: 0;

  }

}