#agenda {

  header {

    padding: 1em 0;

    .action-link {

      float: right;

    }

  }

  .event-card {

    background: transparent;
    border: 0;

    p {
      margin: 0;
      padding: 10px 0;
    }

  }

  .event-title {

    font-weight: bold;
    padding: 20px 0;

  }

  .event-img {

    padding: 0 0 20px 0;

  }

  .metas {

    padding: 0;

  }

  /**
   * <ul class="active-filters"><li><span>événements passés</span><a>✕</a></li></ul>
   */

  .active-filters {

    padding: 0;

    li {

      display: inline-block;
      padding: 10px;
      list-style-type: none;
      border: 1px solid $oa-gray-lightish;
      border-radius: 3px;

      span {

        margin-right: 1em;

      }

      a {

        cursor: pointer;

      }


    }

  }


  .load-next {

    cursor: pointer;

  }

}