#agenda {

  .total {

    text-align: center;
    padding-bottom: 1em;

  }

  .filters {

    margin: 0;

  }

  .event-card {

    background: white;
    border: 1px solid $oa-gray-lighter;

    p {
      margin: 0;
      padding: 10px 20px;
    }

  }

  .event-title {

    padding: 20px;

  }

  .metas {

    padding: 10px 20px;

    li {

      color: $oa-silver;

    }

  }

}