.agenda-widget-menu { max-width: 400px; }
.agenda-widget-menu .advanced-menu { cursor: pointer; }
.agenda-widget-menu .advanced-menu span.icon { display: inline-block; background: url("../../images/icons.png") no-repeat scroll -22px 1px transparent; height: 10px; margin-right: 6px; width: 10px; vertical-align: middle; }
.agenda-widget-menu .advanced-menu.hiding span.icon { background: url("../../images/icons.png") no-repeat scroll -32px 0 transparent; height: 11px; }

.agenda-widget-menu .code-field { width: 95%; background-color: InfoBackground;}
.agenda-widget-menu .disabled label,
.agenda-widget-menu a.disabled  { color: #888!important; }
.agenda-widget-menu .code-field.disabled { background-color: #eee; color: #888; }
.agenda-widget-menu .review-integration-form { margin-top: 0.9em; }
.agenda-widget-menu .review-integration-form form { /*height: 18em; */ padding-right: 3em;}
.agenda-widget-menu .review-integration-form .narrow { width: 40px; }
.agenda-widget-menu .review-integration-form fieldset { margin-left: 140px; display: block; min-width: 10em;}
.agenda-widget-menu .review-integration-form .radio_list li { display: inline-block; margin: 0 1em 0 0; vertical-align: middle; }
.agenda-widget-menu .review-integration-form .radio_list li * { cursor: pointer; }
.agenda-widget-menu .review-integration-form .indication { margin-bottom: 0; }
.agenda-widget-menu .review-integration-form li input, 
.agenda-widget-menu .review-integration-form li label { vertical-align: middle; }
.agenda-widget-menu .review-integration-form li label { line-height: 2em; }
.agenda-widget-menu .review-integration-form li label.left { width: 10em;}

.agenda-widget-menu .review-integration-form li.tiny-label label.left { width: 3em; vertical-align: middle; }
.agenda-widget-menu .review-integration-form li.tiny-label fieldset { margin-left: 40px; }

.agenda-widget-menu .review-integration-form .procedure li { margin-bottom: 10px; }
.agenda-widget-menu .review-integration-form .procedure .indent { margin: 20px; }

.agenda-widget-menu form li textarea { width: 100%; }
.agenda-widget-menu form li select { max-width: 100%; }
.agenda-widget-menu form li.vertical > * { display: block; }

.agenda-widget-menu .center { padding: 10px 0; }