<div id="presentation">
    <div class="container">
        <div class="spaced text-center">
            <h1 class="hook">Créez un agenda public performant</h1>
            <p class="under-hook">Pour votre <br><span class="typed"></span></p>
            <p class="hook-action">
                <a href="<%= genUrl( 'signup' ) %>" class="btn btn-primary btn-lg">
                    Créer un agenda
                </a>
            </p>
        </div>
    </div>
</div>

<div class="background-white" id="trio-actions">
    <div class="container">
        <div class="spaced">
            <ul class="list-unstyled row text-center">
                <li class="col-xs-12 col-sm-4">
                    <i class="fa fa-sliders fa-4x" aria-hidden="true"></i>
                    <p>Paramétrez</p>
                </li>
                <li class="col-xs-12 col-sm-4">
                    <i class="fa fa-users fa-4x" aria-hidden="true"></i>
                    <p>Collaborez</p>
                </li>
                <li class="col-xs-12 col-sm-4">
                    <i class="fa fa-bullhorn fa-4x" aria-hidden="true"></i>
                    <p>Diffusez</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--<div class="background-white">
    <div class="container">
        <hr>
    </div>
</div>-->

<div id="fonctions" name="fonctions">
    <div class="background-gray">
        <div class="container">
            <div class="spaced">
                <div class="media">
                    <article class="media-body media-middle">
                        <h2 class="media-heading">Un agenda <em>complet</em> et <em>structuré</em></h2>
                        <p>Vos événements sont détaillés et vous pouvez explorer votre agenda par de multiples critères
                            !</p>
                    </article>
                    <figure class="media-right media-middle">
                        <img src="//s3.eu-central-1.amazonaws.com/oastatic/explorez.svg" width="256">
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <div class="background-white">
        <div class="container">
            <div class="spaced">
                <div class="media">
                    <figure class="media-left media-middle">
                        <img src="//s3.eu-central-1.amazonaws.com/oastatic/adaptez.svg" width="256">
                    </figure>
                    <article class="media-body media-middle">
                        <h2 class="media-heading">Pour petits, moyens et grands agendas <em>participatifs</em></h2>
                        <p>Seul ? En équipe de quelques dizaines ? De dizaines de milliers ?<br>Votre
                            agenda
                            s'adapte à votre contexte !</p>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <div class="background-gray">
        <div class="container">
            <div class="spaced">
                <div class="media">
                    <article class="media-body media-middle">
                        <h2 class="media-heading">Déployez <em>votre réseau</em> d'agendas !</h2>
                        <p>Vous animez une fédération ? Un territoire ?<br>Déployez un réseau d'agendas et
                            agrégez
                            en temps réel tous les événements !</p>
                    </article>
                    <figure class="media-right media-middle">
                        <img src="//s3.eu-central-1.amazonaws.com/oastatic/deployez.svg" width="256">
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <div class="background-white">
        <div class="container">
            <div class="spaced">
                <div class="media">
                    <figure class="media-left media-middle">
                        <img src="//s3.eu-central-1.amazonaws.com/oastatic/partagez.svg" width="256">
                    </figure>
                    <article class="media-body media-middle">
                        <h2 class="media-heading">Partagez <em>vos événements</em></h2>
                        <p>
                            Votre agenda est synchronisable avec tous vos supports et diffusable par tous !<br>
                            #DonnéesOuvertes #OpenData</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="background-white" id="carousel">
    <div class="container">
        <div class="spaced">
            <h2 class="text-center">
                Nos références
            </h2>
            <div id="carousel-screens" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-screens" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-screens" data-slide-to="1"></li>
                    <li data-target="#carousel-screens" data-slide-to="2"></li>
                    <li data-target="#carousel-screens" data-slide-to="3"></li>
                    <li data-target="#carousel-screens" data-slide-to="4"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <a href="http://agendadesentrepreneurs.openagenda.com/" target="_blank">
                            <img src="//s3-eu-west-1.amazonaws.com/cibulstatic/integration_1.png" alt="integration_1">
                            <div class="carousel-caption">
                                <h3>L'agenda des Entrepreneurs</h3>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="http://www.entreprises.gouv.fr/semaine-industrie" target="_blank">
                            <img src="//s3-eu-west-1.amazonaws.com/cibulstatic/integration_2.png" alt="integration_2">
                            <div class="carousel-caption">
                                <h3>La semaine de l'industrie</h3>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="http://www.dutilleux2016.com/agenda/" target="_blank">
                            <img src="//s3-eu-west-1.amazonaws.com/cibulstatic/integration_3.png" alt="integration_3">
                            <div class="carousel-caption">
                                <h3>L'agenda Dutilleux</h3>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="http://www.lasemainenumerique.paris/" target="_blank">
                            <img src="//s3-eu-west-1.amazonaws.com/cibulstatic/integration_4.png" alt="integration_4">
                            <div class="carousel-caption">
                                <h3>La semaine numérique</h3>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="http://journee-arts-culture-sup.fr/" target="_blank">
                            <img src="//s3-eu-west-1.amazonaws.com/cibulstatic/integration_5.jpg" alt="integration_5">
                            <div class="carousel-caption">
                                <h3>Les journées des arts et de la culture dans les enseignements supérieur</h3>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-screens" role="button" data-slide="prev">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-screens" role="button" data-slide="next">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="background-white" id="testimonials">
    <div class="container">
        <div class="spaced">
            <h2 class="text-center">Ce que disent nos clients</h2>
            <ul class="list-unstyled row">
                <li class="col-sm-4">
                    <blockquote>
                        <div class="quote">
                            <p>Simplicité, interface dynamique, géolocalisation.<br>
                                Une équipe à l’écoute, de très bons conseils et très réactive !!!</p>
                        </div>
                        <footer class="media">
                            <img class="img-circle" src="//s3.eu-central-1.amazonaws.com/oastatic/GAL_Karine.jpg"
                                 width="40">
                            <strong>Karine Gal</strong><br>
                            <span>Semaine de l'industrie</span>
                        </footer>
                    </blockquote>
                </li>
                <li class="col-sm-4">
                    <blockquote>
                        <div class="quote">
                            <p>La solution idéale pour centraliser toutes les informations relatives à un événement
                                commun. L’outil est très intuitif et simple d’utilisation,
                                il tient toutes ses promesses.</p>
                        </div>
                        <footer class="media">
                            <img class="img-circle" src="//s3.eu-central-1.amazonaws.com/oastatic/paola-scotton.jpg"
                                 width="40">
                            <strong>Paola Scotton</strong><br>
                            <span>Réunion des Opéras de France</span>
                        </footer>
                    </blockquote>
                </li>
                <li class="col-sm-4">
                    <blockquote>
                        <div class="quote">
                            <p>OpenAgenda nous a permis de gagner du temps en mutualisant nos événements et de les
                                diffuser plus largement via nos sites web et au-delà.</p>
                        </div>
                        <footer class="media">
                            <img class="img-circle"
                                 src="//s3.eu-central-1.amazonaws.com/oastatic/Xavier-maslaux.jpg"
                                 width="40">
                            <strong>Xavier Masclaux</strong><br>
                            <span>Pôle Numérique</span>
                        </footer>
                    </blockquote>
                </li>
            </ul>
            <!--<p class="text-center">
                <a class="btn btn-link btn-lg" href="">Voir plus de références</a>
            </p>-->
        </div>
    </div>
</div>

<div class="background-gray" id="tarifs">
    <div class="container">
        <div class="spaced">
            <h2 class="text-center">Tarifs</h2>
            <div class="pricing">
                <ul>
                    <li class="unit price-success">
                        <div class="price-title">
                            <h3>Gratuit</h3>
                        </div>
                        <div class="price-body">
                            <p>Agenda standard</p>
                            <ul>
                                <li>Nombre d'événements illimité</li>
                                <li>Nombre de membres illimité</li>
                                <li>Téléchargements illimités</li>
                                <li>OpenData</li>
                                <li>Multilingue et multimédia</li>
                                <li>Pré & post modération</li>
                                <li>Agrégation</li>
                            </ul>
                        </div>
                        <div class="price-foot">
                            <a class="btn btn-success" href="<%= genUrl( 'signup' ) %>">Créer un agenda</a>
                        </div>
                    </li>
                    <li class="unit price-primary">
                        <div class="price-title">
                            <h3>
                                600 € / an<br>
                                <small>(50 € / mois)</small>
                            </h3>
                        </div>
                        <div class="price-body">
                            <p>Agenda custom</p>
                            <ul>
                                <li><strong>les fonctions Standard <i class="fa fa-check"></i></strong></li>
                                <li>Champs personnalisables</li>
                                <li>Embed personnalisable</li>
                                <li>Limitation des dates et lieux</li>
                                <li>Fiches lieux détaillées</li>
                                <li>Privé ou public</li>
                            </ul>
                        </div>
                        <div class="price-foot">
                            <a class="btn btn-primary" href="mailto:contact@openagenda.com">
                                Nous contacter
                            </a>
                        </div>
                    </li>
                    <li class="unit price-primary">
                        <div class="price-title">
                            <h3>
                                4200 € / an<br>
                                <small>(350 € / mois)</small>
                            </h3>
                        </div>
                        <div class="price-body">
                            <p>Agenda premium</p>
                            <ul>
                                <li><strong>les fonctions Custom <i class="fa fa-check"></i></strong></li>
                                <li>Circuit de validation étendu</li>
                                <li>Modérateurs</li>
                                <li>Emailing interne</li>
                            </ul>
                        </div>
                        <div class="price-foot">
                            <a class="btn btn-primary" href="mailto:contact@openagenda.com">
                                Nous contacter
                            </a>
                        </div>
                    </li>
                    <li class="unit price-primary">
                        <div class="price-title">
                            <h3>Sur mesure</h3>
                        </div>
                        <div class="price-body">
                            <p>Portail</p>
                            <ul>
                                <li><strong>les fonctions Premium <i class="fa fa-check"></i></strong></li>
                                <li>Définition de l'axe éditorial</li>
                                <li>Animation de communauté</li>
                                <li>Déploiement et reporting</li>
                            </ul>
                        </div>
                        <div class="price-foot">
                            <a class="btn btn-primary" href="mailto:contact@openagenda.com">
                                Nous contacter
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="background-white">
    <div class="container">
        <div class="spaced">
            <h2 class="text-center">En ce moment</h2>
            <ul class="list-unstyled row text-center">
                <li class="col-sm-4">
                    <p>
                        <strong class="h1 odometer">0</strong><br>
                        agendas
                    </p>
                </li>
                <li class="col-sm-4">
                    <p>
                        <strong class="h1 odometer">0</strong><br>
                        contributeurs
                    </p>
                </li>
                <li class="col-sm-4">
                    <p>
                        <strong class="h1 odometer">0</strong><br>
                        événements
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="background-gray">
    <div class="container">
        <div class="row spaced">
            <div class="col-xs-12 text-center">
                <h2>Prêt ?</h2>
                <p>
                    <a class="btn btn-primary btn-lg" href="<%= genUrl( 'signup' ) %>">Créer un agenda (gratuit)</a>
                </p>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row spaced">
            <div class="col-sm-4">
                <h2>Contact</h2>
                <ul class="list-unstyled">
                    <li><a href="mailto:contact@openagenda.com">contact@openagenda.com</a></li>
                    <li><a href="https://goo.gl/maps/2JYWje3wbqB2">29 passage du Ponceau, 75 002 Paris</a></li>
                    <li>
                        <ul class="list-unstyled list-inline">
                            <li>
                                <a href="https://twitter.com/OAgenda">
                                    <i class="fa fa-twitter-square fa-lg"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/openagenda/">
                                    <i class="fa fa-instagram fa-lg"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/oagenda">
                                    <i class="fa fa-facebook-square fa-lg"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/open-agenda">
                                    <i class="fa fa-linkedin-square fa-lg"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/Oagenda">
                                    <i class="fa fa-github-square fa-lg"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <form action="<%= genUrl( 'newsletterSubscribe' ) %>" method="post">
                            <div class="input-group">
                                <input type="email" name="email" placeholder="Votre adresse email" class="form-control">
                                <span class="input-group-btn">
                                  <button type="submit" class="btn btn-primary">S'abonner</button>
                                </span>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <h2>La société</h2>
                <ul class="list-unstyled">
                    <!--<li><a href="">À propos</a></li>-->
                    <li><a href="https://angel.co/oagenda">Recrutement</a></li>
                    <li><a href="https://www.crunchbase.com/organization/openagenda#/entity">Crunchbase</a></li>
                    <li><a href="">Notre OpenAgenda !</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <h2>Le service</h2>
                <ul class="list-unstyled">
                    <li><a href="https://openagenda.zendesk.com/hc/fr">Aide</a></li>
                    <li><a href="https://trello.com/b/4FnqcF96">Plan de développement</a></li>
                    <li><a href="http://blog.openagenda.com/">Blog</a></li>
                    <li><a href="https://twitter.com/OAgendastatus">Etat du service</a></li>
                    <li>
                        <a href="https://openagenda.zendesk.com/hc/fr/articles/201753991">Condititions d'utilisation</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
