<!-- #tweak: Une classe .conversation-item encadre l'item liste de la conversation -->
<div class="media conversation-item">
  <!-- .primary .main-avatar -->
  <div class="media-left media-top main-avatar">
    <img class="img-circle media-object primary" src="//s3.eu-central-1.amazonaws.com/oastatic/graylogo140.png" title="Kévin Berthommier - OpenAgenda">
  </div>
  <div class="media-body">
    <div class="media-heading margin-bottom-sm">
      <b>Kévin Berthommier - OpenAgenda</b> <!-- -->a contacté l'agenda<!-- --> <b>Nuit de la lecture 2018</b>
    </div>
    <div class="conversation-item-message margin-bottom-sm">
      <div class="margin-bottom-sm text-muted" title="24 janvier 2018 07:39">
        <img
          class="img-circle"
          src="https://cibul.s3.amazonaws.com/review_kaore-olafsson_01.jpg"  title="Kaoré - OpenAgenda">
          <span class="message-info">Kaoré - OpenAgenda a répondu il y a une heure</span><!-- #tweak: span.message-info -->
      </div>
      <div class="message padding-bottom-xs">
        Où puis-je commander les équipements?
      </div>
    </div><a href="#">Voir la conversation</a>
  </div>
</div>