<%- include('../layout/_top.ejs') %>
<div class="container top-margined">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="wsq">
        <div class="inbox inbox-user padding-all-sm">
          <h3 class="margin-bottom-md inbox-title">Messagerie</h3>
          <div class="js_canvas">
            <div class="text-right margin-bottom-sm">
              <button class="btn btn-info btn-back">Voir toutes les conversations</button>
            </div>
            <h4 class="inbox-title text-muted margin-bottom-sm"><b>Guilhem Laveissiere OpenAgenda</b> voudrait contribuer</h4>
            <div class="row">
              <div class="col-sm-10">
                <div class="media">
                  <div class="media-left media-top"><img class="img-circle media-object" src="https://cdn.openagenda.com/main/review_kaore-olafsson_01.jpg" style="width: 60px; vertical-align: bottom;" title="Kaoré - OpenAgenda"><img class="img-circle media-object belongs" src="//cdn.openagenda.com/static/graylogo140.png" style="width: 25px;" title="Test Conversations 6"></div>
                  <div class="media-body">
                    <p class="author-name">Kaoré - OpenAgenda</p>
                    <form class="message-form margin-bottom-md">
                      <div class="form-group margin-v-xs">
                        <div>
                          <textarea class="form-control" name="body" placeholder="Votre message" rows="6"></textarea>
                        </div>
                      </div>
                      <div class="margin-bottom-sm">
                        Votre message sera signé <b>Test Conversations 6</b>
                      </div><button class="btn btn-primary margin-top-xs" type="submit">Répondre</button>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-sm-2">
                <p><b>Actions</b></p>
                <div class="text-center">
                  <div class="margin-top-sm">
                    <button class="btn btn-block btn-success">Accepter</button>
                  </div>
                  <div class="margin-top-sm">
                    <button class="btn btn-block btn-danger">Refuser</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="media">
              <div class="media-left media-top"><img class="img-circle media-object" src="https://cdn.openagenda.com/main/profile71438739.jpg" style="width: 60px; vertical-align: bottom;" title="Guilhem Laveissiere OpenAgenda"></div>
              <div class="media-body">
                <p class="media-heading"><b>Guilhem Laveissiere OpenAgenda</b></p>
                <div class="conversation-item-message">
                  <div class="margin-bottom-xs">
                    Bonjour, je veux contribuer. Test.
                  </div>
                  <p class="text-muted" title="24 janvier 2018 14:21">Message posté il y a 6 minutes</p>
                </div>
              </div>
            </div><span style="font-size: 0px;"></span>
          </div>
        </div>
      </div>

  </div>
</div>
<%- include('../layout/_bottom.ejs') %>
