<% include ../layout/_top.ejs %>
<div class="container top-margined">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="wsq">
        <div class="inbox inbox-user padding-all-sm">
          <!-- #tweak: encadrer l'entete d'une conversation devient nécéssaire quand des actions son présentes -->
          <div class="inbox-head">
            <!-- 
              #tweak: presentation "fil d'ariane" proposé par romain 

              La partie Messagerie ramène sur la vue liste
            -->
            <h3 class="inbox-breadcrumbs">
              <a>Messagerie</a>
              <i class="fa fa-angle-right"></i>
              <span>Guilhem Laveissiere OpenAgenda voudrait contribuer</span>
            </h3>
            <!-- #tweak: les actions sont placées sous le titre -->
            <div class="inbox-actions">
              <!-- #tweak: 
                les labels détaillent plus l'action prise:

                au lieu de 'Accepter' -> 'Ajouter en tant que contributer'

              -->
              <button class="btn btn-primary">Ajouter en tant que contributeur</button>
              <span>ou</span>
              <a href="#">Refuser la demande</a>
            </div>
          </div>
          <div class="js_canvas">
            <div class="row">
              <!--
                #tweak: sans les actions, la textarea peut prendre toute la largeur
              -->
              <div class="col-sm-12">
                <div class="media">
                  <!--
                    #tweak: ajout d'une classe main-avatar, primary
                  -->
                  <div class="media-left media-top main-avatar">
                    <img class="img-circle media-object primary" src="https://cibul.s3.amazonaws.com/review_kaore-olafsson_01.jpg" title="Kaoré - OpenAgenda">
                    <img class="img-circle media-object belongs" src="//s3.eu-central-1.amazonaws.com/oastatic/graylogo140.png" title="Test Conversations 6">
                  </div>
                  <div class="media-body">
                    <p class="author-name">Kaoré - OpenAgenda</p>
                    <form class="message-form margin-bottom-md">
                      <div class="form-group margin-v-xs">
                        <div>
                          <!-- #tweak: précision dans le placeholder, parce que ça semblera évident pour la plupart -->
                          <textarea 
                            class="form-control" 
                            name="body" 
                            placeholder="Demandez des précisions avant d'accepter la demande"></textarea>
                        </div>
                      </div>
                      <div class="margin-bottom-sm">
                        Votre message sera signé <b>Test Conversations 6</b>
                      </div><button class="btn btn-primary margin-top-xs" type="submit">Répondre</button>
                    </form>
                  </div>
                </div>
              </div>
              <!-- #tweak: les actions sont retirées d'ici -->
            </div>
            <div class="media">
              <div class="media-left media-top main-avatar">
                <img class="img-circle media-object primary" src="https://cibul.s3.amazonaws.com/profile71438739.jpg" title="Guilhem Laveissiere OpenAgenda">
              </div>
              <div class="media-body">
                <p class="media-heading"><b>Guilhem Laveissiere OpenAgenda</b></p>
                <div class="conversation-item-message">
                  <div class="margin-bottom-xs">
                    Bonjour, je veux contribuer. Test.
                  </div>
                  <p class="text-muted" title="24 janvier 2018 14:21">Message posté il y a 6 minutes</p>
                </div>
              </div>
            </div><span style="font-size: 0px;"></span>
          </div>
        </div>
      </div>
      
  </div>
</div>
<% include ../layout/_bottom.ejs %>