<!DOCTYPE html>
<html>
  <head>
<% for (var i = 0; i < head.css.length; i++) { %>
    <link rel="stylesheet" href="<%= head.css[i] %>"/>
<% } %>
  </head>
  <body>
    <h1>this is the header (in a global label set)</h1>
    <a href="#">fdsqfsd</a>
    <% include partial %>