<!DOCTYPE html>
<html>
  <head>
<% for (var i = 0; i < head.css.length; i++) { %>
    <link rel="stylesheet" href="<%= head.css[i] %>"/>
<% } %>
  </head>
  <body>
    <!-- content -->
    <footer>
      This is the footer
    </footer>
  </body>
</html>