@import "../layout/base";
@import '../components/agenda-item';
@import '../components/nav';

.home {

  .btn-collapse-nav i {
    color: #7B8B8C;
  }

  h2 {
    display: inline-block;
    margin: 0 0 32px;
  }

  .search {
    width: 50%;
    position: relative;

    input {
      padding-right: 34px;
    }

    button {
      position: absolute;
      top: 1px;
      right: 0;
      background-color: transparent;

      .spin-canvas {
        top: 8px;
        left: initial;
        right: 8px;
      }
    }
  }

  .agenda-item {
    a {
      display: inline-block;
    }

    .media-left img {
      width: 90px;
    }

    .media-body {
      .actions a {
        font-size: 13px;
        text-decoration: none;
        color: #777777;

        &:hover {
          color: #41acdd;
        }
      }
    }

    .official i {
      vertical-align: middle;
    }
  }

  .header {
    padding-top: 20px;
  }

  .new-user {

    h2 {
      display: block;
    }

  }

  @media (max-width: $screen-sm) {

    h2 {
      margin: 0;
    }

    .search {
      width: 100%;
    }

    .header {
      padding: 20px 30px;
    }

  }

  @media (min-width: $screen-sm) {

    .nav {
      padding: 20px 0;
    }

  }

}