/.idea/
/.vscode/
*.code-workspace
node_modules/
npm-debug.log
coverage/
doctor.log
.env
sftp-config.*

# yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn-error.log

/secrets.tar
