**/.turbo

# packages
bs-templates
polyfills

agenda-docx/client/build
agenda-docx/client/dist
agenda-portal/assets
common-labels/build
date-utils/dist
intl/dist
md/dist
react-filters/dist
react-filters/esm
react-filters/lib
react-portal-ssr/esm
react-portal-ssr/lib
react-share-menus/lib
react-shared/css
react-shared/esm
react-shared/lib
react-timingspicker/dist
sdk-js/esm
sdk-js/lib
uikit/dist
widgets/dist
