**/.turbo
.yarn

**/mockServiceWorker.js

# exts
**/*.mjml

# packages
bs-templates
polyfills

agenda-docx/client/build
agenda-portal/assets
common-labels/build
date-utils/dist
intl/dist
react-filters/build
react-filters/dist
react-portal-ssr/dist
react-share-menus/dist
react-shared/css
react-shared/dist
react-timingspicker/dist
sdk-js/esm
sdk-js/lib
uikit/dist
widgets/dist
