/**
 * signin / signup styling
 */

.auth {
  
  .canvas form.cform,
  .services {

    display: inline-block;
    vertical-align: top;
    padding: 2em 3em 0 0;

  }

  .services {

    width: 12em;
    border: none;
    padding-left: 1em;
    border-width: 0;
    padding-right: 0;

    li {

      padding: 1.5em 0 0.5em;
      display: block;
      text-align: center;

    }

    i, span {

      color: white;
      font-weight: bold;

    }

    span {

      padding: 0 5px;

    }

    .button {

      border: none;

    }

  } /* end of .service */


  .facebook-blue {

    background-color: #3b5998;

  }

  .twitter-blue {

    background-color: #00aced;

  }

  .google-red {

    background-color: #d34836;
    
  }

  section {

    padding: 1em 0;

  }

  section > .line > li {

    display: inline-block;
    vertical-align: top;
    padding: 1em 1em 0 0;

  }

  footer {
    padding: 1em 0;
  }

  footer p {
    padding: 1em 0 0;
  }

  .signin, .signup {

    width: 465px;

    li {

      max-width: 16em;

    }

  }

  .captcha {
    position: relative;
    overflow: hidden;
    height: 3em;
    width: 190px;
  }

  .g-recaptcha {
    overflow: hidden;
    position: absolute;
    top: -18px;
    left: -10px;
  }
  
  @media all and (max-width: 600px) { 

    .signin, .signup {

      width: auto;

      li {

        max-width: none;

      }

    }

    .canvas form.cform, .services {

      display: block;
      padding-left: 0;
      width: 100%;

    }

  }

}