<% if( typeof selectedTab === 'undefined' ) selectedTab = 'events'  %>

<ul class="list-unstyled">
  <li>
    <h2>Manage</h2>
  </li>
  <li class="menu-item <%= selectedTab === 'events' ? 'selected' : '' %>">
    Evénements
    <a href="#" class="badge badge-primary">nouveau</a>
  </li>
  <li class="menu-item">Contributeurs</li>
  <li class="menu-item <%= selectedTab === 'inbox' ? 'selected' : '' %>">
    Messagerie</li>
</ul>
<ul class="list-unstyled">
  <li>
    <h2>Export</h2>
  </li>
  <li class="menu-item disabled">Facebook</li>
  <li class="menu-item">Web Integration</li>
</ul>
<ul class="list-unstyled">
  <li>
    <h2>Customize</h2>
    <li class="menu-item">Administrators</li>
    <li class="menu-item">Settings</li>
  </li>
</ul>
