<li class="margin-v-md">
  <div>
    <label>Concert / Fabio Viscogliosi</label>
  </div>
  <ul class="list-unstyled">
    <li class="padding-bottom-xs">Frac Franche-Comté, le samedi 19 mai à 20:00</li>
    <li>
      <span class="margin-right-xs">03 81 87 87 51</span>
      <span class="margin-right-xs">Lucile Balestreri</span>
      <span class="margin-right-xs">Chargée de communication</span>
      <span class="margin-right-xs">communication@frac-franche-comte.fr</span>
    </li>
    <li class="margin-bottom-xs">
      <ul class="list-inline">
        <li><span class="badge badge-default margin-right-xs"> </span>A modérer</li>
        <li><a class="btn btn-link padding-h-z" href="#">Modifier le statut</a></li>
        <li><a class="btn btn-link padding-h-z" href="#">Editer</a></li>
        <li><a class="btn btn-link padding-h-z" href="#">Contacter</a></li>
        <li><a class="btn btn-link padding-h-z" href="#">Voir le lieu</a></li>
      </ul>
    </li>
  </ul>
</li>
