<%- include('../layout/_top.ejs') %>
<div class="container agenda-admin">
  <%- include('_admin-header.ejs') %>
  <div class="row wsq">
    <%- include('_admin-tabs.ejs') %>
    <div class="col col-sm-9 body">tab content</div>
  </div>
</div>
<%- include('../layout/_bottom.ejs') %>
