<%- include('../layout/_top.ejs') %>
<div class="container agenda-admin redirect">
  <div class="row wsq">
    <%- include('_admin-tabs.ejs') %>
    <div class="col col-sm-9 body">
        <p><strong>This page has moved to the administration tab section!</strong></p>
        <p>Vous allez y être redirigé dans un instant</p>
    </div>
  </div>
</div>
<%- include('../layout/_bottom.ejs') %>
