$salmon: #f25648;

$primaryColor: $salmon;
$secondaryColor: white;

#outdated {
  
  background-color: $primaryColor;
  color: $secondaryColor;
  display: none;
  overflow: hidden;
  
  
  text-transform: uppercase;
  
  width: 100%;
  z-index: 1500;
  padding: 14px 24px;

  h6 {
    font-size: 20px;
    display: inline-block;
    margin-right: 2em;
  }

  p {
    font-size: 12px;
    display: inline-block;
    margin: 0;
  }

  #buttonUpdateBrowser {
    border: 2px solid $secondaryColor;
    color: $secondaryColor;
    cursor: pointer;
    margin: 0 40px;
    padding: 10px 20px;
    position: relative;
    text-decoration: none;
    display: inline-block;
    min-width: 230px;
    white-space: nowrap;
    &:hover {
      background-color:$secondaryColor;
      color: $primaryColor;
    }
  }

  .last {
    float: right;
  }

  #buttonCloseUpdateBrowser {
    color: $secondaryColor;
    display: block;
    font-size: 36px;
    height: 100%;
    line-height: 40px;
    position: relative;
    text-decoration: none;
    width: 100%;
  }
}
