#agenda {

  @media (max-width: 768px) {

    .mobile-content-canvas {

      position: relative;
      padding-top: 50px;

    }

  }

  // aside content
  .sidebar {


    footer {

      display: none;

    }

    padding: 0;
    position: absolute;
    left: 0;
    top: -15px;
    right: 0;

    // z-index: 2000;

    &.fixed {

      padding-top: 50px;
      position: fixed;
      z-index: 99;

    }

    @media (min-width: 768px) {

      display: block;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 0 !important;
      position: relative !important;
      width: 33.3333%;

      footer {

        display: block;

      }

    }

    @media (min-width: 1200px) {
      padding-left: 70px;
      padding-right: 0;
    }

  }

  .side-content {

    display: none;

    .list-group {

      padding-left: 10px;

      .oa-group-first-tag {

        padding-top: 3em;

      }

    }

    @media (min-width: 768px) {
      display: block;
    }

  }

  .side-icon {

    color: $oa-silver;
    cursor: pointer;
    display: block;
    font-size: 23px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    width: 100%;

    &:hover {
      color: $oa-blue;
    }

    @media (min-width: 768px) {
      display: inline-block;
      font-size: 18px;
      text-align: left;
      width: 30px;
    }

  }

  .side-item {

    display: none;

    &.side-search {

      display: block;
      width: 100;

      .side-content {

        display: block;

      }

    }

    a {
      color: $oa-gray;
      text-decoration: none;

      &:hover {
        color: $oa-blue;
      }
    }

    h3 {
      color: $oa-gray;
      font-size: 18px;
      margin: 0;
    }

    @media (min-width: 768px) {

      display: block;

      margin-bottom: 40px;

      h3 {
        margin-bottom: 10px;
        margin-top: 20px;
      }

    }

    @media (max-width: 767px) {
      &.open {
        background: $oa-gray-lighter;
        bottom: 0;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        text-align: center;
        z-index: 1;

        h3 {
          background: $oa-white;
          text-align: center;
        }

        .side-content {
          display: block;
        }

        .side-icon {
          display: inline-block;
          width: auto;
          margin-right: 10px;
        }

        .side-title {
          display: inline-block;
        }

        &:after {
          font-family: 'Font Awesome 6 Free';
          font-weight: 400;
          content: "\f057";
          color: $oa-red;
          font-size: 23px;
          line-height: 50px;
          position: absolute;
          top: 0;
          right: 15px;
        }
      }
    }
  }

  .side-title {
    display: none;

    @media (min-width: 768px) {
      display: inline;
    }
  }

}
