<div class="container top-margined">
  <div class="row wsq">
    <div class="margin-all-sm">
      <div class="inbox inbox-user">
        <div class="js_canvas"><%- typeof content !== 'undefined' ? content : '' %></div>
      </div>
    </div>
  </div>
</div>