<div class="stepper-container">
    <div class="stepper">
        <a href="#" class="step validated activable">Connexion</a>
        <div class="step activable">Identification</div>
        <div class="step active">Saisie</div>
        <div class="step">Confirmation</div>
    </div>
</div>
