<div class="stepper-container">
  <div class="stepper">
    <div class="step">Fiche membre</div>
    <div class="step">Mon événement</div>
    <div class="step active">Confirmation</div>
  </div>
</div>