<div class="embed-previews">
  <ul class="list-inline">
    <li class="margin-all-md">
      <a href="#" class="embed-item">
        <img src="https://s3.eu-central-1.amazonaws.com/oastatic/landing/embeds/bdxrivedroite.jpg" />
        <div class="details">
          <label>Bordeaux Rive Droite</label>
          <span>http://somelinkhere.com</span>
        </div>
      </a>
    </li>
    <li class="margin-all-md">
      <a href="#" class="embed-item">
        <img src="https://s3.eu-central-1.amazonaws.com/oastatic/landing/embeds/bibliopantin.jpg" />
        <div class="details">
          <label>Bibliothèques de Pantin</label>
          <span>http://someextremelylonglinklinkherethatwilloverflow.com</span>
        </div>
      </a>
    </li>
  </ul>
</div>
