#event {

  .langs {

    list-style: none;

    ul {

      padding: 0;
      margin: 0;
    
    }

    li {

      display: inline-block;
      padding: 0.5em;
      margin-right: 0.5em;
      text-align: center;

      a {
        
        color: $oa-gray;

      }

      &.current, &:hover {

        border-bottom: 1px solid $oa-black;

        a {

          text-decoration: none;

        }

      }

      text-transform: uppercase;

    }
    
  }

}