@media print {
  .col-print-1 {width:8%;  float:left;}
  .col-print-2 {width:16%; float:left;}
  .col-print-3 {width:25%; float:left;}
  .col-print-4 {width:33%; float:left;}
  .col-print-5 {width:42%; float:left;}
  .col-print-6 {width:50%; float:left;}
  .col-print-7 {width:58%; float:left;}
  .col-print-8 {width:66%; float:left;}
  .col-print-9 {width:75%; float:left;}
  .col-print-10{width:83%; float:left;}
  .col-print-11{width:92%; float:left;}
  .col-print-12{width:100%; float:left;}

  .padding-print-h-z { padding-left: 0; padding-right: 0; }
  .margin-print-v-lg { margin-top: 36px; margin-bottom: 36px; }

  body {
    background: transparent;
  }

  #event {
    h1 {
      font-size: 24px;
      padding: 0;
      margin: 0;
    }

    .short-description {
      padding: 10px 0;
    }

    .sidebar {
      display: block;
    }
    .edge-bar {
      display: none;
    }

    #content {
      padding: 0;
      clear: both;
    }

    .navbar {
      float: left;
      border-color: transparent;
    }

    .navbar-header {
      background: transparent;
      button {
        display: none;
      }
    }

    .agenda-header {
      float: right;
      background: transparent;
      .agenda-container {
        text-align: left;
        margin: 0;
        a {
          color: $oa-black;
        }
        span {
          display: none;
        }
        strong {
          display: inline-block;
        }
      }
    }
    
    .status {
      padding: 15px 0;
      font-size: 20px;
      text-transform: uppercase;
      span {
        background: transparent;
        color: $oa-black;
      }
      .label {
        padding-left: 0;
      }
    }

    .online-access-link {
      .btn {
        display: none;
      }
      .display-none {
        display: inline!important;
      }
    }
    
    .langs,
    .shares,
    .map,
    footer {
      display: none;
    }

    .timings {
      &.no-js {
        .month {
          padding: 15px;
          &:first-child {
            display: none;
          }
          width: 49%;
          display: inline-block;
          padding: 1em;
          vertical-align: top;
        }
      }
      .month {
        .prev, .next {
          display: none;
        }
      }
    }

    .event-content-section {
      padding: 0;
    }

    .location-details {
      .location-head {
        padding: 0;
      }
      .location-image {
        padding: 0;
      }
      p {
        padding: 10px 0;
      }
      .list-unstyled {
        padding: 0;
      }
    }

    .event-secondary {
      padding-top: 1em;
    }

    .inbox-section {
      display: none;
    }

    .activity-section {
      display: none;
    }
  }

  /*
  body {
    background: #fff;
    color: #111;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 11pt;
    print-color-adjust: exact;
  }

  h1, .short-description {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  h2, h3, dt {
    page-break-after: avoid;
  }

  img {
    max-width: 100% !important;
    page-break-inside: avoid;
  }

  .page-header,
  .oa-page-header,
  .edge-bar,
  #footer,
  .map {
    display: none;
  }

  a[href^=http] {
    color: #06c;
    color: black;

    &:after {
      content: " [" attr(href) "] ";
      font-size: 80%; 
    }
  }

  .container {
    padding: 0;
    width: 100%;
  }

  .row, .col-sm-10, .col-sm-offset-1 {
    padding: 0;
    margin: 0;
  }

  .col-sm-10, .col-sm-7, .col-sm-4 {
    float: none !important;
    padding: 0;
    width: 100% !important;
  }

  #event {

    .meta-container,
    .sharers,
    .leaflet-control-container,
    .signature {
      display: none;
    }

    .agenda-header {
      background: #fff;
      border-bottom: 1px solid silver;

      a {
        color: #111;
      }

      .agenda-container {
        margin-bottom: 0.1cm;
        margin-top: 0.1cm;

        .avatar {
          border-radius: 3px;
          border-width: 0;
          display: inline-block;
          width: 1cm;

          & + strong {
            color: $oa-blue;
            color: black;
            display: inline-block;
            font-weight: normal;
            margin: 0;

            & + span {
              display: none;
            }
          }
        }
      }

      .col-sm-10 {
        text-align: center;
      }
    }

    #content {
      margin: 0.5cm 0;
      padding: 0;
    }

    .event-content {

      h1 {
        color: $oa-blue;
        color: black;
        font-size: 20pt;
        font-weight: bold;
        margin: 5px 0 10px;
        padding: 0 !important;
        text-align: center;
      }

      .title {
        color: black;
        font-size: 12pt;
        font-weight: bold;
        margin: 0 0 10px;
      }

      img {

        max-width: 10cm!important;

      }

      .custom {
        margin-bottom: 20px;

        dd {
          margin-bottom: 10px;
          padding: 0;
        }

        dt {
          font-size: 12pt;
          padding: 0;
        }

        dl {
          padding: 0;
          margin: 0;

          &.private {
            background: #fff;
          }
        }
      }

      .short-description {
        border-bottom: 1px solid silver;
        font-size: 11pt;
        font-style: italic;
        font-weight: normal;
        padding: 0 0 20px !important;
        text-align: center;
      }

      .description {
        font-size: 11pt;
        font-weight: 400;
      }

      .category, .description, .dates, .signature, .tags {
        margin-bottom: 20px;
        padding: 0 !important;
      }

      .category {
        color: black;
        font-style: italic;

        label {
          margin-bottom: 0;
        }
      }
    }

    .location-details {

      .location-head, p, .location-image, ul {

        padding-left: 0!important;

      }

    }

    .detail-item {
      margin: 10px 0;
      padding: 0;

      h3 {
        margin-right: 0;

        i {
          font-size: 16pt;
        }
      }

      &.location-side {
        margin-bottom: 20px;

        p:first-child {
          font-weight: bold;

          a {
            color: black;
          }
        }
      }
    }

    .signature {
      color: $oa-gray-light;
      margin: 0;
      margin-top: 20px;
    }
  }*/

}

@page {

  margin: 1cm;
  margin-top: 0.5cm;

}