@media print {

  body {
    background: #fff;
    color: #111;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 11pt;
    print-color-adjust: exact;
  }

  h1, .short-description {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  h2, h3, dt {
    page-break-after: avoid;
  }

  img {
    max-width: 100% !important;
    page-break-inside: avoid;
  }

  .page-header,
  .oa-page-header,
  .edge-bar,
  #footer,
  .map {
    display: none;
  }

  a[href^=http] {
    color: #06c;
    color: black;

    &:after {
      content: " [" attr(href) "] ";
      font-size: 80%; 
    }
  }

  .container {
    padding: 0;
    width: 100%;
  }

  .row, .col-sm-10, .col-sm-offset-1 {
    padding: 0;
    margin: 0;
  }

  .col-sm-10, .col-sm-7, .col-sm-4 {
    float: none !important;
    padding: 0;
    width: 100% !important;
  }

  #event {

    .meta-container,
    .sharers,
    .private-head,
    .private-subhead,
    .leaflet-control-container,
    .signature {
      display: none;
    }

    .agenda-header {
      background: #fff;
      border-bottom: 1px solid silver;

      a {
        color: #111;
      }

      .agenda-container {
        margin-bottom: 0.1cm;
        margin-top: 0.1cm;

        .avatar {
          border-radius: 3px;
          border-width: 0;
          display: inline-block;
          width: 1cm;

          & + strong {
            color: $oa-blue;
            color: black;
            display: inline-block;
            font-weight: normal;
            margin: 0;

            & + span {
              display: none;
            }
          }
        }
      }

      .col-sm-10 {
        text-align: center;
      }
    }

    #content {
      margin: 0.5cm 0;
      padding: 0;
    }

    .event-content {

      h1 {
        color: $oa-blue;
        color: black;
        font-size: 20pt;
        font-weight: bold;
        margin: 5px 0 10px;
        padding: 0 !important;
        text-align: center;
      }

      .title {
        color: black;
        font-size: 12pt;
        font-weight: bold;
        margin: 0 0 10px;
      }

      img {

        max-width: 10cm!important;

      }

      .custom {
        margin-bottom: 20px;

        dd {
          margin-bottom: 10px;
          padding: 0;
        }

        dt {
          font-size: 12pt;
          padding: 0;
        }

        dl {
          padding: 0;
          margin: 0;

          &.private {
            background: #fff;
          }
        }
      }

      .short-description {
        border-bottom: 1px solid silver;
        font-size: 11pt;
        font-style: italic;
        font-weight: normal;
        padding: 0 0 20px !important;
        text-align: center;
      }

      .description {
        font-size: 11pt;
        font-weight: 400;
      }

      .category, .description, .dates, .signature, .tags {
        margin-bottom: 20px;
        padding: 0 !important;
      }

      .category {
        color: black;
        font-style: italic;

        label {
          margin-bottom: 0;
        }
      }
    }

    .location-details {

      .location-head, p, .location-image, ul {

        padding-left: 0!important;

      }

    }

    .detail-item {
      margin: 10px 0;
      padding: 0;

      h3 {
        margin-right: 0;

        i {
          font-size: 16pt;
        }
      }

      &.location-side {
        margin-bottom: 20px;

        p:first-child {
          font-weight: bold;

          a {
            color: black;
          }
        }
      }
    }

    .signature {
      color: $oa-gray-light;
      margin: 0;
      margin-top: 20px;
    }
  }

}

@page {

  margin: 1cm;
  margin-top: 0.5cm;

}