<!DOCTYPE html>
<html>
  <head>
    <title>Titre de l'événement</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class="container top-margined">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div>
            <div class="agenda-item minimize text-center">
              <a href="#">
                <img class="ill avatar"
                     src="https://cdn.openagenda.com/main/rwtbreview_martinefreymann67-gmail-com_00.jpg" alt="...">
                <strong class="margin-left-xs">Rendez-vous aux jardins de trapelune</strong>
                <%- include('../components/_official.ejs') %>
              </a>
          </div>
          <div class="wsq padding-all-md margin-top-sm padding-bottom-sm">
            <div class="text-center">
              <p>Redirection vers <a href="#"><em><strong>Nom de l'événement</strong></em></a> en cours...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
