#event-editor-menu .current-editors,
#event-editor-menu h3 { margin: 1em 0; }
#event-editor-menu .current-editors li { margin: 0.2em 0; }
#event-editor-menu .current-editors li img { vertical-align: middle; }
#event-editor-menu form li { display: inline-block; position: relative; vertical-align: middle;}