<html>
  <head>
<% js.forEach( function( jsPath ) { %>
  <script type="text/javascript" src="<%= jsPath %>"></script>
<% }) %>
  </head>
  <body>
    <p>does anybody here remember vera lynn</p>
  </body>
</html>