<html>
  <head>
<% js.forEach( function( jsPath ) { %>
  <script type="text/javascript" src="<%= jsPath %>"></script>
<% }) %>
  </head>
  <body>
    <p>tags widget</p>
    <div class="cbpgtg cibulTags" data-cbctl="48959239/46744426"></div>

    <p>categories widget</p>
    <div class="cbpgct cibulCategories" data-cbctl="48959239/46744426"></div>

    <p>map widget</p>
    <div class="cbpgmp cibulMap" data-cbctl="48959239/46744426|fr"></div>

    <p>calendar widget</p>
    <div class="cbpgcl cibulCalendar" data-cbctl="48959239/46744426|fr"></div>

    <p>search widget</p>
    <div class="cbpgsc cibulSearch" data-cbctl="48959239/46744426|fr"></div>

    <p>form widget</p>
    <div class="cbpgbtn" data-cbctl="48959239/46744426|fr"></div>

    <p>list widget</p>
    <iframe frameborder="0" allowtransparency="allowtransparency" class="cibulFrame cbpglst" src="//d.cibul.net/frontend_dev.php/embed/48959239/46744426"></iframe>
    
    <!--<p>organizers widget</p>
    <div class="cbpgog cibulOrganizers" data-cbctl="48959239/46744426"></div>-->
  </body>
</html>