<div class="edge-bar js_admin_controls ">
  <ul class="edge-list"><!--

    --><li class="edge-item w25 js_admin_item js_role_agenda_admin js_role_agenda_moderator">
      <div class="admin-nav">
        <a class="nav-link prev edge-link inactive">
          <i class="fa fa-chevron-left"></i>
        </a>
        <a class="edge-link center" rel="nofollow" href="/aev-iledefrance/admin">
          <i class="fa fa-list"></i>
          <span>Retour à la gestion des événements</span>
        </a>
        <a class="nav-link next edge-link active">
          <i class="fa fa-chevron-right"></i>
        </a>
      </div>
    </li><!--

    --><li class="edge-item js_toggle w25">
      <span class="edge-selected state refused"><!--
        --><i class="sticker"></i><span>Statut: Refusé</span><!--
      --></span><!--
      --><ul class="list-group w380 js_dropdown_menu">

        <li class="list-group-info-item">
          <span>Ceci n'est pas un choix. C'est un message à caractère informatif</span>
          <div class="margin-top-sm">
            <a class="btn btn-primary" href="#">Contacter les administrateurs</a>
          </div>
        </li>

        <li class="list-group-item js_admin_item js_role_agenda_admin js_role_agenda_moderator ">
          <a class="item bullet js_change_state_to_0 active" rel="nofollow" href="/aev-iledefrance/events/portes-ouvertes-a-la-ferme/state/0">
            <label>A modérer</label>
            <span>L'événement doit être modéré par un administrateur de l'agenda avant sa publication.</span>
          </a>
        </li>

        <li class="list-group-item js_admin_item js_role_agenda_admin js_role_agenda_moderator ">
          <a class="item bullet js_change_state_to_1 active" rel="nofollow" href="/aev-iledefrance/events/portes-ouvertes-a-la-ferme/state/1">
            <label>Prêt à publier</label>
            <span>L'événement est prêt a être publié.</span>
          </a>
        </li>

        <li class="list-group-item js_admin_item js_role_event_editor js_role_agenda_admin ">
          <a class="item bullet js_change_state_to_2" rel="nofollow" href="/aev-iledefrance/events/portes-ouvertes-a-la-ferme/state/2">
            <label>Publié</label>
            <span>L'événement est visible sur l'agenda.</span>
          </a>
        </li>

      </ul>
    </li><!--
  --><li class="edge-item js_admin_item js_role_event_editor w25 ">
      <a class="edge-link" href="#" rel="nofollow">Modifier</a>
    </li><!--
  --><li class="edge-item js_admin_item js_role_event_editor js_role_agenda_admin js_toggle w25">
      <div class="edge-selected edge-head">
        <div class="edge-head-title">Autres actions</div>
        <span class="edge-head-info">Mise en une, annulation, report, duplication...</span>
      </div>
      <ul class="list-group js_dropdown_menu in">
        <li class="list-group-item js_admin_item js_role_agenda_admin js_role_agenda_moderator">
          <a class="item starify active" href="#" rel="nofollow">
            <label>Mettre en une</label>
            <i class="fa fa-thumb-tack-o"></i>
            <i class="fa fa-thumb-tack"></i>
            <span>Un événement en une apparait en tête de liste</span>
          </a>
        </li>
        <li class="list-group-item js_admin_item js_role_event_editor">
          <a class="item active js_duplicate_event_link" href="#" rel="nofollow">
            <label>Dupliquer</label>
            <span>Charger un nouveau formulaire de saisie pré-rempli avec les informations de cet événement</span>
          </a>
        </li>
        <li class="list-group-item w25 divider">
          <a class="item  js_status " href="#" rel="nofollow">
            <label>Réinitialiser l'état de l'événement</label>
            <span>L'événement n'est pas annulé, ni reprogrammé, etc..</span>
          </a>
        </li>
        <li class="list-group-item w25">
          <a class="item active js_status " href="#" rel="nofollow">
            <label>L'événement a été reprogrammé</label>
            <span>Les dates et/ou horaires de l'événement ont été modifiées</span>
          </a>
        </li>
        <li class="list-group-item w25">
          <a class="item active js_status " href="#" rel="nofollow">
            <label>L'événement a lieu en ligne</label>
            <span>La participation de l'événement n'est désormais plus possible en présentiel</span>
          </a>
        </li>
        <li class="list-group-item w25">
          <a class="item active js_status " href="#" rel="nofollow">
            <label>L'événement est reporté</label>
            <span>L'événement a été reporté à des dates encore non connues</span>
          </a>
        </li>
        <li class="list-group-item w25">
          <a class="item active js_status " href="#" rel="nofollow">
            <label>L'événement est complet</label>
            <span>L'événement n'accepte plus de nouveaux participants</span>
          </a>
        </li>
        <li class="list-group-item w25 divider-bottom">
          <a class="item active js_status " href="#" rel="nofollow">
            <label>L'événement est annulé</label>
            <span>L'événement a été annulé de manière permanente</span>
          </a>
        </li>
        <li class="list-group-item w25 js_disabled_status display-none">
          <a class="item" title="Annuler / Complet / Reporté..." rel="nofollow">
            <label>Annuler / Complet / Reporté...</label>
            <span>Vous n'avez pas les droits d'édition sur cet événement</span>
          </a>
        </li>
        <li class="list-group-item js_request_edition_rights display-none">
          <a class="item active" href="#" rel="nofollow">
            <label>Demander les droits d'édition</label>
            <span>Cet événement provient d'un autre agenda. Les droits d'édition sont nécessaires pour accéder à la modification des champs principaux (ex: titre, description, horaires...)</span>
          </a>
        </li>
        <li class="list-group-item js_role_agenda_moderator js_role_event_editor w25">
          <a
            class="item active"
            data-confirm="Etes-vous sûr de vouloir supprimer cet événement?"
            data-ok="Confirmer"
            data-cancel="Annuler"
            href="#"
            rel="nofollow">
            <label>Retirer de l'agenda</label>
            <span>L'événement ne sera plus référencé sur l'agenda</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>