#event {

  h1 {
    padding: 20px 20px 0;
    margin-bottom: 20px;
  }

  @media (min-width: 768px) {

    .short-description {
      margin: 20px 0 0;
      padding: 0 20px 20px;
    }

  }

  .share {

    padding-bottom: 10px;

    i {

      font-size: 16px;
      line-height: 20px;

    }


  }

  .privateable {

    & > span {

      padding-right: 0.5em;

    }

    .private-label {

      display: inline-block;
      color: $oa-gray-lightish;
      font-size: 0.9em;

    }

  }

  @media (min-width: 996px) {

    h3.privateable {

      .private-label {

        float: right;

      }

    }

  }

  .category {

    color: $oa-gray;
    padding: 0 0 0 20px;

    label {

      font-weight: normal;

    }

  }

  .tags {

    color: $oa-gray;
    padding: 0 20px 10px 20px;

    label {

      font-weight: normal;

    }

    ul, li {

      display: inline;
      margin: 0;
      padding: 0;

    }

  }

  .tag-groups {

    padding: 0 0 10px 20px;

    .tags {

      padding: 0;

    }

  }


  .description {

    h1 {

      font-size: 30px;
      padding: 20px 0;

    }

    h2 {

      font-size: 24px;

    }

    h3 {

      font-size: 20px;

    }

    strong { font-weight: bold; }

    img { max-width: 100%; }

  }


  .event-secondary {

    padding-top: 4em;

  }

  .location-details {

    strong {

      font-weight: bold;

    }

    p {

      padding: 20px 20px 0;
      margin: 0;
      word-wrap: break-word;

    }

    .location-head {

      padding: 20px 20px 0;

      label {

        display: block;

        a {

          color: inherit;
          word-wrap: break-word;

        }

      }

      .tags {

        padding: 5px 0 0;

        label, li {

          display: inline-block;

        }

      }

    }

    .location-image {

      padding: 20px 20px 0;

      img {

        max-width: 100%;

      }

    }

    .location-tags {

      width: 80%;
      display: inline-block;
      padding: 0;
      vertical-align: middle;

      li {

        display: inline;

      }

    }

    .location-links {

      label { font-weight: normal; }

      a {

        margin: 0 0.2em;

      }

    }

    ul {

      padding: 20px;

      li {

        padding: 0.5em 0;

      }

      i {

        padding-right: 0.8em;
        display: inline-block;
        vertical-align: middle;

      }

    }

  }

}
