<nav class="oa-page-header navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="#">
        <img src="https://openagenda.com/images/openagenda.png" width="125" alt="OpenAgenda">
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <form class="navbar-left search-form" role="search" action="#">
        <input class="search-input" placeholder="Rechercher" type="text" name="oaq[what]" value=""/>
        <div class="search-button">
          <button class="search-submit" type="submit"><i class="fa fa-search"></i></button>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="help-button-canvas">
            <a class="btn btn-primary btn-rounded btn-bordered" target="_blank" href="#">
              <i class="fa fa-question-circle"></i>
              <span>Aide</span>
            </a>
          </div>
        </li>
        <li class="language-menu">
          <a href="#">fr</a>
          <ul class="dropdown-menu collapse">
            <li><a rel="alternate" href="#" hreflang="en" class="selected">English</a></li>
            <li><a href="#" hreflang="fr">Français</a></li>
          </ul>
        </li>
        <li class="signin">
          <a href="#">Connexion</a>
        </li>
        <li class="profile">
          <a aria-expanded="false">
            <img alt="user thumbnail" src="//02034510ef5d488190e4cf17d19a788b.s3.pub1.infomaniak.cloud/main/rwtbreview_kaore-olafsson_01.jpg">
          </a>
          <ul class="dropdown-menu collapse" role="menu">
          <!-- <ul class="dropdown-menu collapse in" role="menu"> -->
            <li>
              <div class="row">
                <ul class="list-unstyled col-md-6">
                  <li>
                    <h3>Général</h3>
                  </li>
                  <li>
                    <a href="#">Mes événements</a>
                  </li>
                  <li>
                    <a href="#">Paramètres</a>
                  </li>
                  <li>
                    <a href="#">Se déconnecter</a>
                  </li>
                </ul>
                <ul class="list-unstyled col-md-6">
                  <li><h3>Agendas</h3></li>
                  <li><a href="#">Chercher un agenda</a></li>
                  <li><a href="#">Créer un agenda</a></li>
                  <li>
                    <a href="#">

                      <img src="//02034510ef5d488190e4cf17d19a788b.s3.pub1.infomaniak.cloud/main/rwtbreview_la-gargouille_00.jpg">

                      <span>La Gargouille</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span>Collectif Culture Bar-Bars</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="//02034510ef5d488190e4cf17d19a788b.s3.pub1.infomaniak.cloud/main/rwtbreview_enlarge-your-paris_01.jpg">
                      <span>Enlarge your Paris</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="//02034510ef5d488190e4cf17d19a788b.s3.pub1.infomaniak.cloud/main/rwtbreview_pepite_00.jpg">
                      <span>L'agenda événementiel, Pôles étudiants pour l'innovation, le transfert, l'entrepreneuriat (PEPITE)</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="//02034510ef5d488190e4cf17d19a788b.s3.pub1.infomaniak.cloud/main/rwtbreview_cresol_03.jpg">
                      <span>Economie Solidaire Centre</span>
                    </a>
                  </li>
                  <li>
                    <a href="/home">Voir tous</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
