.cb .canvas {

  margin: 0 auto;
  max-width: 1100px;
  clear: both;

}

.cb .canvas.spread {

  max-width: none;

}

.cb .canvas .sidebar {

  width: 320px;
  display: none;

}

.cb .canvas main {

  padding: 2em;
  margin: 0 180px 0 180px;

}

.cb .canvas.right main {

  margin: 0 0 0 360px;

}

.cb .canvas.right .sidebar {

  display: block;
  float: left;

}

.cb .canvas.left main {

  margin: 0 360px 0 0;

}

.cb .canvas.left .sidebar {

  display: block;
  float: right;

}

@media all and (max-width: 960px) {

  .cb .canvas .sidebar {
    width: 300px;
  }

  .cb .canvas.left main {
    margin-right: 340px;
  }

  .cb .canvas.right main {
    margin-left: 340px;
  }

}

@media all and (max-width: 780px) {

  .cb .canvas main,
  .cb .canvas.right main,
  .cb .canvas.left main {
    margin: 0;
  }

  .cb .canvas.right .sidebar,
  .cb .canvas.left .sidebar {
    width: auto;
    float: none;
  }

}