<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, target-densityDpi=device-dpi, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
    <!--[if IE]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="../js/lib/common/common.js"></script>
    <script type="text/javascript" src="../js/lib/remote/remote.js"></script>
    <script type="text/javascript" src="../js/lib/lightbox/lightbox.js"></script>
    <script type="text/javascript" src="../js/lib/urlStrings/urlStrings.js"></script>
    <script type="text/javascript" src="../js/lib/hash/hash.js"></script>
    <script type="text/javascript" src="../js/lib/Base64/Base64.js"></script>
    <script type="text/javascript" src="../js/lib/EventHandler/EventHandler.js"></script>
    <script type="text/javascript" src="../js/lib/inputWidgets/inputWidgets.js"></script>
    <script type="text/javascript" src="../js/lib/inputWidgets/inputControllers.js"></script>

    <script type="text/javascript" src="../js/vendors/ejs/src/ejs_production.js"></script>
    <script type="text/javascript" src="../js/vendors/spin/src/spin.min.js"></script>
    
    <script type="text/javascript" src="../js/cibul/handleLock/src/handleLock.js"></script>
    <script type="text/javascript" src="../js/cibul/handleNav/src/handleNav.js"></script>
    <script type="text/javascript" src="../js/cibul/handleList/src/handleList.js"></script>
    <script type="text/javascript" src="../js/cibul/handleContextMenu/src/handleContextMenu.js"></script>

    <script type="text/javascript" src="js/handleEventList.js"></script>
    <script type="text/javascript" src="js/handleEventListFilters.js"></script>

    <link rel="stylesheet" href="../css/global/global.css" type="text/css"/>
    <link rel="stylesheet" href="../css/page structure/page.css" type="text/css"/>
    <link rel="stylesheet" href="../css/page structure/elp.css" type="text/css"/>
    <link rel="stylesheet" href="../css/ei.css" type="text/css"/>
    <link rel="stylesheet" href="../css/font-awesome/font-awesome.css"/>

  </head>
  <body>

    <div class="cbody center js_event_results elp">
      <div class="wsq">
        <section class="main">
          <div class="header js_list_header"></div>
          <a class="list-nav js_nav_previous display-none"><span>...</span><i class="icon-arrow-up"></i></a>
          <ul class="js_list_content main-list"></ul>
          <div class="list-nav bottom display-none js_nav_next"><span>...</span><i class="icon-arrow-down"></i></div>
        </section>
      </div/>
    </div>
    
    <script type="text/javascript">

      addEvent(window, 'load', function() {

        handleEventList({
          //url: 'http://d.cibul.net/frontend_dev.php/getsearch/event',
          url: 'http://d.cibul.net/frontend_dev.php/home/published',
          //includeFilters: true,
          elems: {
            listCanvas: el('.js_list_content'),
            listHead: el('.js_list_header'),
            navNext: el('.js_nav_next'),
            navPrevious: el('.js_nav_previous')
          },
          templates: {
            event: ['<li class="mli"><div class="ei<% if (!values.image.length) { %> nopic<% } %>">',
                '<% if (values.image.length) { %>',
                '<a class="evpic" href="<%= values.url %>"><img src="<%= values.image.replace(/cibultest/g,\'cibul\') %>"/></a>',
                '<% } %><!--',
              '--><div class="evcnt">',
                  '<ul>',
                    '<li class="evtitle"><a href="<%= values.url %>"><%= values.title %></a></li>',
                    '<li class="evdesc"><a href="<%= values.url %>"><%= values.description %></a></li>',
                    '<li class="evspacetime"><a href="<%= values.url %>"><%= values.spacetimeinfo %></a></li>',
                    '<% if (optionals.category) { %>',
                    '<li class="ecat"><span><%= optionals.category %></span></li>',
                    '<% } %>',
                    '<% if (lists.tags && lists.tags.length) { %>',
                    '<li class="etags">',
                      '<ul>',
                      '<% for (var i=0; i<lists.tags.length; i++) { %>',
                        '<li><a href="#" class="program-tag"><%= lists.tags[i].values.tag %></a><%= (i!=lists.tags.length-1)?",":"" %></li>',
                      '<% } %>',
                      '</ul>',
                    '</li>',
                    '<% } %>',
                    '<% if (lists.sharing && lists.sharing.length) { %>',
                    '<li class="eshares"><ul>',
                      '<% for (var i=0; i<lists.sharing.length; i++) { %><li data-review-uid="<%= lists.sharing[i].uid %>"><a href="<%= lists.sharing[i].url %>"><% if (lists.sharing[i].thumb && lists.sharing[i].thumb.length) { %><img src="<%= lists.sharing[i].thumb %>"/><% } %><%= lists.sharing[i].title %></a></li><% } %>',
                    '</ul></li>',
                    '<% } %>',
                  '</ul>',
                '</div>',  
              '</div></li>'].join('')
          },
          labels: {
            order: 'tri'
          },
          debug: true
        });

      });

    </script>

  </body>
</html>