<% include ../layout/_top.ejs %>
<div class="container">
  <div class="row top-margined">

    <section class="col-sm-6 col-sm-offset-3">

      <h2>Tiny MCE (markdown-component, legacy)</h2>
      <div class="wsq padding-all-md margin-bottom-lg">
        <% include _tinymce-component %>
      </div>

      <h2>Slate (markdown/html component)</h2>
      <div class="wsq padding-all-md margin-bottom-lg">
        <% include _slate-component %>
      </div>
    </section>

  </div>
</div>
<% include ../layout/_bottom.ejs %>
