<div class="agenda-item media">
    <div class="media-left">
        <a href="#">
            <img class="media-object ill avatar"
                 src="https://cibul.s3.amazonaws.com/review_martinefreymann67-gmail-com_00.jpg" alt="...">
        </a>
    </div>
    <div class="media-body">
        <div class="title media-heading">
            <a href="#"><strong>Rendez-vous aux jardins de trapelune</strong></a>
            <% if (typeof official !== 'undefined' && official) { %>
            <%- include('../components/_official.ejs') %>
            <% } %>
        </div>
        <div class="actions">
            <a href="#" class="text-muted">Retirer des sources</a>
        </div>
    </div>
</div>
