.aggregator-sources {
  .search {
    width: 50%;
  }

  .form-group-v-aligned {
    display: flex;

    label.control-label {
      align-items: center;
      display: flex;
      margin-bottom: 2px;
    }
  }

  .react-tagsinput {
    display: inline-table;
    background-color: $oa-white;
    border: 1px solid $oa-gray-light;
    overflow: hidden;
    padding: 2px 5px;
    cursor: text;

    &--focused {
      border-color: $oa-blue;
    }

    &-tag {
      background-color: $oa-blue;
      border-radius: 2px;
      border: 1px solid $oa-blue;
      color: $oa-white;
      display: inline-block;
      font-family: sans-serif;
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;
      margin-right: 5px;
      margin-bottom: 2px;
      padding: 5px;
    }

    &-remove {
      color: $oa-white;
      cursor: pointer;
      font-weight: bold;
      text-decoration: none;
    }

    &-tag a::before {
      content: " ×";
    }

    &-input {
      background: transparent;
      border: 0;
      color: $oa-black;
      font-family: sans-serif;
      font-weight: 400;
      outline: none;
      padding: 5px;
      width: 80px;
    }
  }

  .radio-sub-block {
    //color: lighten($oa-black, 25%);
    margin-left: 20px;
  }

  .filter-choice {
    margin: 0;
    label {
      padding: 0;
    }
  }

  .cancel-button-left {
    padding-left: 0;
  }

  .agenda-item {

    margin: 0;
    padding: 0;

    .actions a + a {
      margin-left: 12px;
    }

    .media-left img {
      width: 90px;
      height: 90px;
    }

    .media-body {
      p {
        margin-top: .5em;
        margin-bottom: .5em;
      }

      .rules-copy {
        display: none;
        margin-left: 5px;
      }

      &:hover .rules-copy {
        display: inline-block;
      }

      .actions {
        & > *:not(:last-child) {
          margin-right: 5px;
        }

        a {
          &:hover, &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .actions-container {
    position: relative;
    margin-right: 28px;

    .remove-action {
      position: absolute;
      top: 8px;
      right: -20px;
    }
  }

  .popup-content {
    .search {
      width: 100%;
    }

    .rule-value {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .actions-icon {
    font-size: 1.3em;
    line-height: 0.8em;
    padding: 0 0 0 0.4em;
  }

  @media (max-width: $screen-sm) {
    h2 {
      margin: 0;
    }

    .search {
      width: 100%;
    }

    .header {
      padding: 20px 30px;
    }
  }
}
