<li class="list-group-item">
  <span class="item<% if (typeof className !== 'undefined' ) { %> <%= className %><% } %><% if ( selected ) { %> active selected<% } %><% if ( active ) { %> active<% } %>"><%= label %></span>
</li>