<html>
  <head>
<% js.forEach( function( jsPath ) { %>
    <script type="text/javascript" src="<%= jsPath %>"></script>
<% }) %>
  </head>
  <body>
    <p>sandbox</p>
    <div class="cbpgbtn" data-cbctl="48959239/46744426|fr|complete"></div>
  </body>
</html>