<div>
  <div id="mceu_5" class="mce-tinymce mce-container mce-panel" hidefocus="1" tabindex="-1" role="application"
     style="visibility: hidden;border-width: 1px;">
    <div id="mceu_5-body" class="mce-container-body mce-stack-layout">
      <div id="mceu_6" class="mce-toolbar-grp mce-container mce-panel mce-stack-layout-item mce-first"
         hidefocus="1" tabindex="-1" role="group">
        <div id="mceu_6-body" class="mce-container-body mce-stack-layout">
          <div id="mceu_7" class="mce-container mce-toolbar mce-stack-layout-item mce-first mce-last"
             role="toolbar">
            <div id="mceu_7-body" class="mce-container-body mce-flow-layout">
              <div id="mceu_8" class="mce-container mce-flow-layout-item mce-first mce-last mce-btn-group"
                 role="group">
                <div id="mceu_8-body">
                  <div id="mceu_0"
                     class="mce-widget mce-btn mce-menubtn mce-fixed-width mce-listbox mce-first"
                     tabindex="-1" aria-labelledby="mceu_0" role="button" aria-haspopup="true">
                    <button id="mceu_0-open" role="presentation" type="button" tabindex="-1">
                      Paragraphe <i class="mce-caret"></i></button>
                  </div>
                  <div id="mceu_1" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_1"
                     role="button" aria-label="Bold">
                    <button role="presentation" type="button" tabindex="-1"><i
                          class="mce-ico mce-i-bold"></i></button>
                  </div>
                  <div id="mceu_2" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_2"
                     role="button" aria-label="Italic">
                    <button role="presentation" type="button" tabindex="-1"><i
                          class="mce-ico mce-i-italic"></i></button>
                  </div>
                  <div id="mceu_3" class="mce-widget mce-btn" tabindex="-1" aria-labelledby="mceu_3"
                     role="button" aria-label="Bullet list">
                    <button role="presentation" type="button" tabindex="-1"><i
                          class="mce-ico mce-i-bullist"></i></button>
                  </div>
                  <div id="mceu_4" class="mce-widget mce-btn mce-last" tabindex="-1"
                     aria-labelledby="mceu_4" role="button" aria-label="Insert/edit link">
                    <button role="presentation" type="button" tabindex="-1"><i
                          class="mce-ico mce-i-link"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="mceu_9" class="mce-edit-area mce-container mce-panel mce-stack-layout-item mce-last" hidefocus="1"
         tabindex="-1" role="group" style="border-width: 1px 0px 0px; position: relative;">
        <iframe id="mce_0_ifr" frameborder="0" allowtransparency="true"
            title="Zone Texte Riche. Appuyer sur ALT-F9 pour le menu. Appuyer sur ALT-F10 pour la barre d'outils. Appuyer sur ALT-0 pour de l'aide."
            src='javascript:""' style="width: 100%; height: 196px; display: block;"></iframe>
        <label style="position: absolute; top: 5px; left: 0px; color: rgb(136, 136, 136); padding: 1%; width: 98%; overflow: hidden; display: none;"></label>
      </div>
    </div>
  </div>
  <textarea class="js_90397906" id="mce_0" style="display: none;" aria-hidden="true"></textarea>
</div>