.ccal { width: 18em; font-size: 0.8em; text-align: center; display: inline-block; }
.ccal div { display: block;}
.ccal ul { margin: 0; padding: 0; text-align: left; }
.ccal li { list-style-type: none; display: inline-block; width: 13.2%; cursor: pointer; text-align: center; border: 1px solid transparent; }
.ccal li span { display: inline-block; line-height: 1.8em; }
.ccal li.calmonth { width: 69%; cursor: pointer; }
.ccal li span { padding: 0.1em 0.05em; display: block; }
.ccal li.calprev span, .ccal li.calnext span { background: #eee; color: #aaa; }
.ccal li.calprev, .ccal li.calnext { border: 1px solid #eee; }
.ccal .calbody li { cursor: pointer; }
.ccal .calbody li span { color: #999; }
.ccal .calbody li.today { border: 1px solid #eee; }
.ccal .calbody li.selected span { background: #666; color: white; }
.ccal .calbody li.preselected span { background: {{ preselectedColor }}; }
.ccal * { -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; }
.ccal .calbody li.hasdates span { color: {{ defaultColor }}; }