{
  "extends": "../.eslintrc",

  "parserOptions": {
    "sourceType": "module"
  },

  "ignorePatterns": [
    "/dist"
  ],

  "settings": {
    "import/resolver": {
      "typescript": true
    }
  }
}
