#agenda {

  .event-card {

    background: white;
    border: 1px solid $gray-lighter;

    p {
      margin: 0;
      padding: 10px 20px;
    }

  }

  .event-title {

    padding: 20px;

  }

  .metas {

    padding: 10px 20px;

    li {

      color: $oa-silver;

    }

  }

}