#agenda {

  .event-card {

    background: transparent;
    border: 0;

    p {
      margin: 0;
      padding: 10px 0;
    }

  }

  .event-title {

    font-weight: bold;

  }

  .event-img {

    padding: 0 0 20px 0;

  }

  .metas {

    padding: 0;

  }

}