#event {

  .event-content {

    background: none;
    border-radius: none;

    h1, .description, .short-description, .dates {

      padding-left: 0;
      padding-right: 0;

    }

    .share {

      padding-bottom: 10px;

      i {

        font-size: 24px;
        margin-right: 5px;
      
      }

      span {

        display: none;

      }


    }

  }

}