{
  "extends": [
    "@openagenda"
  ],

  "parserOptions": {
    "sourceType": "script"
  },

  "ignorePatterns": [
    "/dist"
  ],

  "overrides": [
    {
      "files": [
        "src/**/*.js",
        "test/**/*.js"
      ],

      "parserOptions": {
        "sourceType": "module"
      }
    }
  ]
}
