{
  "extends": "../.eslintrc",

  "parserOptions": {
    "sourceType": "script"
  },

  "ignorePatterns": [
    "/dist"
  ],

  "overrides": [
    {
      "files": [
        "src/**/*.js",
        "src/**/*.jsx"
      ],

      "parserOptions": {
        "sourceType": "module"
      }
    }
  ]
}
