.e404,
.e500 {
  text-align: center;
}

.e404 .errorLabel,
.e500 .errorLabel {
  font-size: 26em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  color: #999;
}

.e404 .search,
.e500 .search {
  padding: 2em 0;
  text-align: center;
  display: inline-block;
}

.e404 form,
.e505 form {
  max-width: 400px;
  background: white;
}

@media all and ( max-width: 600px ) {
  
  .e404 .errorLabel,
  .e500 .errorLabel {

    font-size: 26em;  

  }
  
}