<html>
  <head>
<% js.forEach( function( jsPath ) { %>
  <script type="text/javascript" src="<%= jsPath %>"></script>
<% }) %>
  </head>
  <body>

    <!-- shows form page -->
    <!-- shows id page -->
    <!-- shows completion page -->

    

    <iframe height="300" width="300" src="frame?br=1"></iframe>

  </body>
</html>