.elb.ela article .title {

  font-weight: bold;

}

.elb.ela article .ct {

  text-transform: uppercase;
  display: block;

}

.elb.ela article .tg li {

  display: inline-block;
  padding-right: 0.5em;

}


.elb.ela article .cty {

  display: block;

}

.elb.ela article .cnt > a {

  margin-bottom: 5px;

}

.elb.ela article .org { 
  font-weight: bold;
  color: #666;
}