.sadmin article {
  padding-bottom: 2em;
}

.sadmin section {

  display: inline-block;
  vertical-align: top;
  padding: 1em 0;
  
}

.sadmin .w33 {
  width: 33%;
}


.sadmin .graph li {

  display: inline-block;
  vertical-align: bottom;

}

.sadmin .graph li div {
  
  background: #31def4;
  margin: 0 0.3em;
  text-align: center;
  position: relative;

}

.sadmin .graph li div label {
  position: absolute;
  top: -50px;
  display: block;
}

.sadmin .graph li div span {
  display: block;
  font-weight: bold;
}


@media all and ( max-width: 700px ) {

  .sadmin .w33 {
    width: auto;
  }

  .sadmin section {
    display: block;
  }

}