.cbody { margin: 60px auto; width: auto; position: relative; max-width: 1200px; }
.cbody > div { display: inline-block; padding: 10px; clear: both; }
@media all and (max-width: 920px) { .cbody { margin: 60px auto!important; text-align: center!important; } }
@media all and (max-width: 500px) { .cbody { margin: 0!important; } }

.main { width: 600px; }
.main, .sec { position: relative; display: inline-block; vertical-align: top; }
.sec { width: 320px; margin: 0 10px 0 0; }
.sec.rgt { margin: 0 0 0 10px; float: right; }

@media all and (max-width: 1000px) { .main { width: 500px!important; } }
@media all and (max-width: 900px) { .main { width: 400px!important; } }

@media screen and (max-width: 760px) {
  .main { display: block; }
  .main, .sec { width: auto!important; max-width: 500px; margin: 0 auto; }
  .sec.rgt { float: none; margin:0; }
  .sec { border-bottom: 1px solid #ccc; padding-bottom: 1em; display: block;}
}