#event-edit input,
#event-edit textarea {
  border: 1px solid #ddd;
  padding: 0.2em;
  margin: 0.2em 0;
}

#event-edit button,
#event-edit .button {
  padding: 0.1em 1em;
  border: 1px solid #666;
  background: #eee;
  cursor: pointer;
}

#event-edit h2 {
  font-size: 1.3em;
}

#event-edit .selectable .selected span {
  background: #666;
  color: white;
}

#event-edit .confirm a {
  padding: 1em 1em 0 0;
}

#event-edit .input-fields {
  margin-bottom: 0.5em;
}

#event-edit .header {
  padding: 1em 0 2em;
}

#event-edit .cform li {
  padding-bottom: 0.5em;
}