#event-edit input,
#event-edit textarea { border: 1px solid #ddd; }

#event-edit button {
  padding: 0.1em 1em;
  border: 1px solid #666;
  background: #eee;
  cursor: pointer;
}

#event-edit h2 { font-size: 1.3em; }

#event-edit .selectable .selected span { background: #666; color: white; }

#event-edit .confirm a { padding: 1em 1em 0 0; }