/*rdl-item v0.1*/

.rdl-item { vertical-align: top;  background: #f9f9f9; width: 208px; display: inline-block; }
.rdl-item .rdl-head { padding: 1em 1em 0.4em 1em; background: white; }
.rdl-item .rdl-img { float: left; max-width: 60px; }
.rdl-item .rdl-img img { width: 100%; margin-top: 4px; }
.rdl-item .rdl-desc { margin: 0 0 0 75px; min-height: 80px; }
.rdl-item .rdl-desc .description { font-size: 0.9em; }
.rdl-item .rdl-desc .description * { color: #888; }
.rdl-item .rdl-desc > * { display: block; }
.rdl-item a.url { font-size: 0.9em; }

.rdl-item p.st { font-size: 0.85em; color: #888; font-weight: bold; padding: 0.5em 0.7em; }

.rdl-item .ei .evtitle a { font-weight: normal; }

.rdl-item > ul { padding: 0 0.7em; }
.rdl-item > ul > li { margin-bottom: 0.5em; font-size: 0.9em!important; }


@media screen and (max-width: 600px) { 
  .rdl-item { display: block; width: auto; }
  .rdl-item > ul > li { margin-bottom: 1em;  }
}

/*ei v0.2*/
 
  .ei { margin: 4px 0 0; }
  .ei * { font-size: 1em; }
  .ei > * { display: inline-block; text-align: left; }
  .ei .evpic { width: 96px; max-width: 20%; vertical-align: top; }
  .ei .evpic img { width: 100%; }
  .ei .evcnt { width: 80%; vertical-align: middle; }
  .ei .evcnt > ul { margin-left: 10px; }
  .ei .evtitle a { font-weight: bold; }
  .ei .evspacetime *,
  .ei .evdesc { color: #666;}
  .ei .actions a { display: inline-block; }

  .tiled .ei { width: 200px; max-width: 300px; display: inline-block; }
  .tiled .ei .evpic { display: block; width: auto; max-width: none; }
  .tiled .ei .evpic img { width: 100%; max-width: none; }
  .tiled .ei .evcnt { width: auto; }
  .tiled .ei .evcnt > ul { margin-left: 0px; }

/*eof ei*/