<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Nouvelle contribution
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Changement de statut ( publication, prêt à publier, modération )
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Mise à jour
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Agrégation <i>ne s'affiche que pour les agrégateurs</i>
  </label>
</div>
