<footer id="footer">
  <p <% if ( typeof centeredFooter !== 'undefined' && centeredFooter ) { %>class="text-center"<% } %> >
    <a href="/">OpenAgenda</a> · 
    <a href="<%= genUrl('corpoAbout') %>"><%= __('About') %></a> · 
    <a href="http://openagenda.zendesk.com/" target="_blank" ><%= __('Help') %></a> · 
    <a href="https://openagenda.zendesk.com/hc/fr/articles/201753991"><%= __('Terms of use') %></a>
  </p>
</footer>