<footer id="footer">
  <p <% if ( typeof centeredFooter !== 'undefined' && centeredFooter ) { %>class="text-center"<% } %> >
    <a href="/">OpenAgenda</a> · 
    <a href="<%= genUrl('corpoAbout') %>"><%= __('About') %></a> · 
    <a href="http://openagenda.zendesk.com/" target="_blank" ><%= __('Help') %></a> · 
    <a href="http://openagenda.zendesk.com/hc/articles/201753991-Conditions-G%C3%A9n%C3%A9rales-d-Utilisation"><%= __('Terms of use') %></a>
  </p>
</footer>