<% if ( typeof bottom !== 'undefined' ) { %>
<% if ( bottom.scripts ) { %>
<% bottom.scripts.forEach( function( script ) { %>
<script type="text/javascript"><%- script %></script>
<% }); %>
<% } %>
<% if ( typeof bottom.scriptSources !== 'undefined' ) { %>
<% bottom.scriptSources.forEach( function( src ) { %>
<script type="text/javascript" src="<%= src %>"></script>
<% } ); %>
<% } %>
<% } %>
  </body>
</html>