.oa-page-header {


  .help-button-canvas {

    display: block;
    padding: 7px 7px 0;

  }


  .btn-bordered {

    background: transparent;
    border-width: 2px;
    color: inherit;

    span, i {

      vertical-align: middle;

    }

    &.btn-primary {

      border-color: $oa-blue;
      color: $oa-blue;

      i {

        font-size: 1.2em;

      }

      &:hover {

        i, span {
          color: $oa-white;
        }

        border-color: lighten( $oa-blue, 10 );
        background-color: lighten( $oa-blue, 10 );

      }

    }

  }

  .btn-rounded {

    border-radius: 100px;

  }


  margin: 0;
  z-index: 2002;
  padding-bottom: 0;

  .collapse {
    display: none;
    visibility: hidden;

    &.in {
      display: block;
      visibility: visible;
    }

    &.navbar-collapse {

      visibility: visible;

    }
  }

  .navbar-header {
    padding-left: 10px;
  }

  .language-menu {

    & > a {
      text-transform: uppercase;
    }

    .selected {
      color: $oa-blue;
    }

  }

  .search-form {

    float: left;
    margin: 0 0 0 1em;

    .search-input {

      width: 210px;

    }

  }

  .js_header_links {

    position: relative;

  }

  .profile {

    position: static;

    & > a {
      padding-top: 15px;
      padding-bottom: 15px;
      display: inline-block;
      cursor: pointer;

      img {

        margin-top: -5px;
        margin-bottom: -5px;
        width: 30px;
        max-height: 30px;

      }

    }

    .dropdown-menu {

      min-width: 400px;
      margin: 0;
      padding: 0;

      .row {

        li {

          padding: 0 10px;

          img {
            width: 24px;
          }

          a {
            color: #333;
            padding: 10px 0;
            display: block;
          }

          &:hover {

            //background: #f5f5f5;

            a {

              text-decoration: none;

            }

          }

        }

      }

    }

  }

  /**
   * mobile menu adjustments - hack over bootstrap, isolated from the rest.
   */

  @media (max-width: $screen-sm) {
    .navbar-nav {
      width: 100%;
      margin: 7.5px 0;
    }

    .navbar-collapse {
      padding: 0;
    }

    .profile {
      & > a {
        display: none;
      }

      .dropdown-menu {
        display: block;
        position: relative;
        visibility: visible;
        width: 100%;
        border: none;
        box-shadow: none;

        .row {
          margin-right: 0;
        }
      }
    }

    .language-menu {
      display: block;
      float: none !important;

      & > a {
        display: none;
      }

      .dropdown-menu li {
        display: inline-block;
      }
    }

    .search-form {
      float: none;
      margin: 0;

      .search-input {
        width: 100%;
        border: 0;
        padding-left: 15px;
      }

      .search-button {
        border: 0;
      }
    }

    .signin {
      position: absolute;
      right: 0;
      padding-left: 5px;
    }
  }
}
