.disabled {

  &.form-group,
  .form-group,
  .multi-input,
  &.multi-input,
  .multilingual-group .form-group {

    opacity: 0.5;

    label, .info {

      color: $oa-gray-light;

    }

    input[type="text"], textarea {

      color: $oa-gray-light;
      background-color: $oa-gray-lighter;

    }

    .Select-control {

      background-color: $oa-gray-lighter;

      .Select-placeholder { color: $oa-gray; }

    }

    .btn-default {

      background-color: $oa-gray-lighter;

      i {

        color: $oa-gray;

      }

    }

    .map {

      opacity: 0.5;

    }

  }

  &.multilingual-group {
    
    .language-bar {

      .language-item { background-color: $oa-gray-lighter; }

      .url { color: $oa-gray-light; }

    }

  }
  
}

.gt-selector {
  
  &.disabled,
  .gt-group.disabled,
  .checkbox.disabled {

    label { color: $oa-gray-light; }

    input[type="checkbox"] { opacity: 0.5; }

  }

}