.oa-form {

  .form-group {
    margin: 0;
    padding: 0 0 15px;
  }
  
  .sub {

    font-size: 0.95em;
    display: block;
    height: 1em;

  }

  .error {

    color: $state-danger-text;

  }

  ul {
      margin-bottom: 0;
      padding-bottom: 0;
    }

}