.language-bar {

  padding-top: 1em;

  ul {

    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: top;

  }

  li {

    display: inline-block;
    vertical-align: top;
    padding: 0 10px 10px 0;

    .language-item {

      background: $oa-blue;
      border: 0;
      border-radius: 3px;

      span {

        padding: 8px;
        display: inline-block;
        cursor: pointer;
        color: $oa-white;

      }

    }

    &.disabled {

      .language-item {

        background: $oa-gray-light;

      }

    }

  }

  .language-add {

    display: inline-block;
    cursor: pointer;
    min-width: 150px;

    a {

      padding-top: 7px;
      display: inline-block;

    }

  }

  .Select-control {

    width: 10em;

  }

  .change-select {

    display: inline-block;
    vertical-align: middle;

  }

  .change-cancel {

    display: inline-block;
    cursor: pointer;
    margin-bottom: 9px;

  }

  &.thin {

    padding-top: 0;

    ul {
      margin-bottom: 0;
    }

    li {
      padding-bottom: 0;
    }

  }

}
