<div class="cbpgcl cibulCalendar" data-cbctl="48959239|fr" data-flag="1">
  <div class="calendar-canvas" unselectable="on">
    <div class="ccal fr" unselectable="on">
      <div class="calhead" unselectable="on">
        <ul class="calmonthnav" unselectable="on">
          <li class="calprevmonth" unselectable="on"><span unselectable="on">&lt;</span></li>
          <li class="calmonth" unselectable="on"><span class="month" unselectable="on">Septembre 2015</span></li>
          <li class="calnextmonth" unselectable="on"><span unselectable="on">&gt;</span></li>
        </ul>
        <ul class="calweekdays" unselectable="on">
          <li unselectable="on"><span unselectable="on">Lun</span></li>
          <li unselectable="on"><span unselectable="on">Mar</span></li>
          <li unselectable="on"><span unselectable="on">Mer</span></li>
          <li unselectable="on"><span unselectable="on">Jeu</span></li>
          <li unselectable="on"><span unselectable="on">Ven</span></li>
          <li unselectable="on"><span unselectable="on">Sam</span></li>
          <li unselectable="on"><span unselectable="on">Dim</span></li>
        </ul>
      </div>
      <div class="calbody" unselectable="on">
        <ul unselectable="on">
          <li class="calprev hasdates exists" unselectable="on"><span unselectable="on">31</span></li>
          <li class="hasdates exists" unselectable="on"><span unselectable="on">1</span></li>
          <li class="hasdates exists" unselectable="on"><span unselectable="on">2</span></li>
          <li class="hasdates exists" unselectable="on"><span unselectable="on">3</span></li>
          <li class="hasdates exists" unselectable="on"><span unselectable="on">4</span></li>
          <li class="hasdates exists" unselectable="on"><span unselectable="on">5</span></li>
          <li class="hasdates exists" unselectable="on"><span unselectable="on">6</span></li>
        </ul>
        <ul unselectable="on">
          <li class="hasdates exists" unselectable="on"><span unselectable="on">7</span></li>
          <li class="hasdates exists selected" unselectable="on"><span unselectable="on">8</span></li>
          <li class="hasdates exists selected" unselectable="on"><span unselectable="on">9</span></li>
          <li class="hasdates exists selected" unselectable="on"><span unselectable="on">10</span></li>
          <li class="hasdates exists selected" unselectable="on"><span unselectable="on">11</span></li>
          <li class="hasdates exists" unselectable="on"><span unselectable="on">12</span></li>
          <li class="hasdates exists" unselectable="on"><span unselectable="on">13</span></li>
        </ul>
        <ul unselectable="on">
          <li class="hasdates exists" unselectable="on"><span unselectable="on">14</span></li>
          <li class="today hasdates exists" unselectable="on"><span unselectable="on">15</span></li>
          <li unselectable="on"><span unselectable="on">16</span></li>
          <li unselectable="on"><span unselectable="on">17</span></li>
          <li unselectable="on"><span unselectable="on">18</span></li>
          <li unselectable="on"><span unselectable="on">19</span></li>
          <li unselectable="on"><span unselectable="on">20</span></li>
        </ul>
        <ul unselectable="on">
          <li unselectable="on"><span unselectable="on">21</span></li>
          <li unselectable="on"><span unselectable="on">22</span></li>
          <li unselectable="on"><span unselectable="on">23</span></li>
          <li unselectable="on"><span unselectable="on">24</span></li>
          <li unselectable="on"><span unselectable="on">25</span></li>
          <li unselectable="on"><span unselectable="on">26</span></li>
          <li unselectable="on"><span unselectable="on">27</span></li>
        </ul>
        <ul unselectable="on">
          <li unselectable="on"><span unselectable="on">28</span></li>
          <li unselectable="on"><span unselectable="on">29</span></li>
          <li unselectable="on"><span unselectable="on">30</span></li>
          <li class="calnext" unselectable="on"><span unselectable="on">1</span></li>
          <li class="calnext" unselectable="on"><span unselectable="on">2</span></li>
          <li class="calnext" unselectable="on"><span unselectable="on">3</span></li>
          <li class="calnext" unselectable="on"><span unselectable="on">4</span></li>
        </ul>
        <ul unselectable="on">
          <li class="calnext" unselectable="on"><span unselectable="on">5</span></li>
          <li class="calnext" unselectable="on"><span unselectable="on">6</span></li>
          <li class="calnext" unselectable="on"><span unselectable="on">7</span></li>
          <li class="calnext" unselectable="on"><span unselectable="on">8</span></li>
          <li class="calnext" unselectable="on"><span unselectable="on">9</span></li>
          <li class="calnext" unselectable="on"><span unselectable="on">10</span></li>
          <li class="calnext" unselectable="on"><span unselectable="on">11</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>