<ul class="accordion">
  <li class="accordion_item">
    <button type="button" class="button">
      <div>
        <span>Titre</span>
        <i class="control fa fa-chevron-down down"> </i>
      </div>
      <p>Titre de l'évenement</p>
    </button>
    <div class="wrapper">
      <div class="wrapper_item">
        <p>Autres informations</p>
      </div>
    </div>
  </li>

  <li class="accordion_item active">
    <button type="button" class="button">
      <div>
        <span>Description courte</span>
        <i class="control fa fa-chevron-up up"> </i>
      </div>
      <p>Complément du titre</p>
    </button>
    <div class="wrapper">
      <div class="wrapper_item">
        <p>Autres informations</p>
      </div>
    </div>
  </li>
</ul>