<div class="media">
  <button class="btn btn-link btn-block">
    <div class="media-body">
      <h4 class="media-heading">La photosynthèse pour les boutons</h4>
      <ul class="list-unstyled">
        <li>L'abreuvoir, Quimper</li>
        <li>25 janvier, 10h</li>
      </ul>
    </div>
  </button>
</div>