<div class="form-group">
  <label>Rien n'est encore chargé (*)</label>
  <div class="margin-bottom-xs">
    <span>Une info</span>
  </div>
  <div class="file-upload">
    <div class="file-dropzone" aria-disabled="false">
      <div class="margin-top-lg">
        <button class="btn btn-primary">
          <label>Charger un fichier</label>
        </button>
        <div class="margin-v-xs">
          <label class="control-label margin-v-xs">
            <strong>OU</strong>
          </label>
          <label class="control-label margin-top-xs">Glissez un fichier dans la zone grisée pour le charger</label>
        </div>
      </div>
      <input type="file" accept=".pdf" autocomplete="off" name="yourfile" style="display: none;">
    </div>
    <span>Fichiers acceptés: csv, doc, docx, xlsx, xls, pdf, odf, ods</span>
  </div>
</div>
