.file-upload {

  position: relative;

  cursor: pointer;

  .file-dropzone {

    background: $oa-gray-lighter;
    height: 160px;
    border-color: $oa-gray-light;
    border-width: 1px;
    border-style: dashed;
    text-align: center;

  }

  .image-preview {

    height: auto;
    position: relative;
    min-height: 140px;

    img {

      max-width: 100%;
      padding-bottom: 20px;

    }

    &:hover {

      background: rgba( $oa-white, 0.1 );

    }

  }

  .center-button {

    position: absolute;
    text-align: center;

    top: 50%;
    left: 50%;
    height: 33px;
    margin: 0;

    button {

      margin: -20% 0 0 -100%;

      label {
        cursor: pointer;
      }

    }

  }

  label {

    margin-bottom: 0;
    text-align: center;
    display: block;

  }

  .fa-check {

    color: $oa-blue;

  }


  .remove-file {

    i { color: $oa-white; }

    position: absolute;
    top: 5px;
    right: 5px;

  }

  .loading-file {

    position: relative;

    label {
      visibility: hidden;
    }

    .spin-inline {

      position: absolute;
      top: 50%;
      left: 50%;
      height: 0;

      &.spin-inline .spinner {

        left: 0!important;

      }

    }

  }

  .accepted-info {

    position: absolute;
    bottom: 3px;
    right: 6px;

  }

  .accepted-image-info {

    position: absolute;
    bottom: 0;
    right: 12px;

  }

}
