.form-icon {

	i {
		margin:0;
		display: none;
		vertical-align: top;
		background-position: center;
		background-repeat: no-repeat;
		margin-right: 6px;
	}
	i.image {
		width: 14px;
		height: 18px;
		background-image: url(https://oasvc.s3.eu-west-1.amazonaws.com/form-schemas/image.svg);
		background-size: 13px;
		background-position: center;
		background-repeat: no-repeat;
		display: inline-block;
	}
	i.text {
		width: 11px;
		height: 17px;
		background-image: url(https://oasvc.s3.eu-west-1.amazonaws.com/form-schemas/text.svg);
		background-size: 11px;
		display: inline-block;
	}
	i.textarea {
		width: 17px;
    	height: 17px;
		background-image: url(https://oasvc.s3.eu-west-1.amazonaws.com/form-schemas/textarea.svg);
		background-size: 16px;
		display: inline-block;
	}
	i.languages {
		width: 20px;
		height: 19px;
		background-image: url(https://oasvc.s3.eu-west-1.amazonaws.com/form-schemas/languages.svg);
		background-size: 17px;
		display: inline-block;
	}
	i.markdown {
		width: 16px;
		height: 18px;
		background-image: url(https://oasvc.s3.eu-west-1.amazonaws.com/form-schemas/markdown.svg);
		background-size: 16px;
		display: inline-block;
	}
	i.registration {
		width: 13px;
		height: 17px;
		background-image: url(https://oasvc.s3.eu-west-1.amazonaws.com/form-schemas/registration.svg);
		background-size: 14px;
		display: inline-block;
	}
	i.accessibility {
		width: 14px;
    	height: 17px;
		background-image: url(https://oasvc.s3.eu-west-1.amazonaws.com/form-schemas/accessibility.svg);
		background-size: 13px;
		display: inline-block;
	}
	i.location {
		width: 10px;
    	height: 18px;
		background-image: url(https://oasvc.s3.eu-west-1.amazonaws.com/form-schemas/location.svg);
		background-size: 13px;
		display: inline-block;
	}
	i.timings {
		width: 13px;
    	height: 18px;
		background-image: url(https://oasvc.s3.eu-west-1.amazonaws.com/form-schemas/timings.svg);
		background-size: 13px;
		display: inline-block;
	}
	i.integer {
		width: 16px;
		height: 17px;
		background-image: url(https://oasvc.s3.eu-west-1.amazonaws.com/form-schemas/integer.svg);
		background-size: 15px;
		display: inline-block;
	}
	i.boolean {
		width: 23px;
		height: 19px;
		background-image: url(https://oasvc.s3.eu-west-1.amazonaws.com/form-schemas/boolean.svg);
		background-size: 17px;
		display: inline-block;
	}
	i.link {
		width: 12px;
    	height: 18px;
		background-image: url(https://oasvc.s3.eu-west-1.amazonaws.com/form-schemas/link.svg);
		background-size: 12px;
		display: inline-block;
	}
	i.email {
		width: 13px;
		height: 19px;
		background-image: url(https://oasvc.s3.eu-west-1.amazonaws.com/form-schemas/email.svg);
		background-size: 12px;
		display: inline-block;
	}
	i.checkbox {
		width: 12px;
    	height: 18px;
		background-image: url(https://oasvc.s3.eu-west-1.amazonaws.com/form-schemas/checkbox.svg);
		background-size: 12px;
		display: inline-block;
	}
	i.radio {
		width: 13px;
    	height: 17px;
		background-image: url(https://oasvc.s3.eu-west-1.amazonaws.com/form-schemas/radio.svg);
		background-size: 12px;
		display: inline-block;
	}
	i.select {
		width: 16px;
		height: 19px;
		background-image: url(https://oasvc.s3.eu-west-1.amazonaws.com/form-schemas/select.svg);
		background-size: 15px;
		display: inline-block;
	}
	i.date {
		width: 13px;
		height: 17px;
		background-image: url(https://oasvc.s3.eu-west-1.amazonaws.com/form-schemas/date.svg);
		background-size: 13px;
		display: inline-block;
	}
	i.file {
		width: 13px;
		height: 17px;
		background-image: url(https://oasvc.s3.eu-west-1.amazonaws.com/form-schemas/file.svg);
		background-size: 14px;
		display: inline-block;
	}
	i.age {
		width: 14px;
		height: 17px;
		background-image: url(https://oasvc.s3.eu-west-1.amazonaws.com/form-schemas/age.svg);
		background-size: 13px;
		display: inline-block;
	}
	i.keywords {
		width: 14px;
		height: 17px;
		background-image: url(https://oasvc.s3.eu-west-1.amazonaws.com/form-schemas/keywords.svg);
		background-size: 13px;
		display: inline-block;
	}
	i.multiselect {
		width: 12px;
		height: 17px;
		background-image: url(https://oasvc.s3.eu-west-1.amazonaws.com/form-schemas/multiselect.svg);
		background-size: 11px;
		display: inline-block;
	}
	i.longDescription {
		width: 13px;
		height: 17px;
		background-image: url(https://oasvc.s3.eu-west-1.amazonaws.com/form-schemas/longDescription.svg);
		background-size: 14px;
		display: inline-block;
	}
	i.obligatoire {
		width: 10px;
		height: 18px;
		background-image: url(https://oasvc.s3.eu-west-1.amazonaws.com/form-schemas/obligatoire.svg);
		background-size: 11px;
		display: inline-block;
	}
	i.private {
		width: 11px;
		height: 17px;
		background-image: url(https://oasvc.s3.eu-west-1.amazonaws.com/form-schemas/private.svg);
		background-size: 11px;
		display: inline-block;
	}
	i.hidden-field {
		width: 11px;
		height: 18px;
		background-image: url(https://oasvc.s3.eu-west-1.amazonaws.com/form-schemas/hidden.svg);
		background-size: 11px;
		display: inline-block;
	}
	i.linked {
		width: 13px;
		height: 17px;
		background-image: url(https://oasvc.s3.eu-west-1.amazonaws.com/form-schemas/linked.svg);
		background-size: 12px;
		display: inline-block;
	}
}