<div class="nav<%= typeof right !== 'undefined' && right && ' nav-right' %>">
    <ul class="list-unstyled">
        <li>
            <h2>Manage</h2>
        </li>
        <li class="menu-item selected"><a href="#">Evénements</a></li>
        <li class="menu-item"><a href="#">Contributeurs</a></li>
    </ul>
    <ul class="list-unstyled">
        <li>
            <h2>Export</h2>
        </li>
        <li class="menu-item"><a href="#">Facebook</a></li>
        <li class="menu-item"><a href="#">Web Integration</a></li>
    </ul>
    <ul class="list-unstyled">
        <li>
            <h2>Customize</h2>
        <li class="menu-item"><a href="#">Administrators</a></li>
        <li class="menu-item"><a href="#">Settings</a></li>
        </li>
    </ul>
</div>