a.text-danger {

  color: $oa-red;

  &:hover {

    color: darken($oa-red, 10);

  }

}

a.text-success {
  
  color: $oa-green;

  &:hover {

    color: darken( $oa-green, 10 );

  }

}

.text-padded {

  padding: 0 0.5em;

}