<div class="background-white">
  <div class="container">
    <div class="spaced">
      <div class="row text-center">
        <div class="col-sm-6">
          <div class="contact">
            <h2>Contactez-nous</h2>
            <ul class="list-unstyled">
              <li>
                <a href="tel:084761">
                  <i class="fa fa-phone"></i>
                  <span>028391034</span>
                </a>
              </li>
              <li>
                <a href="mailto:contact@openagenda.com">
                  <i class="fa fa-envelope"></i>
                  <span>admin@openagenda.com</span>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/oagenda">
                  <i class="fa fa-twitter"></i>
                  <span>@oagenda</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 margin-top-lg margin-bottom-lg">
          <h2>Prêt ?</h2>
          <p>
            <a class="btn btn-primary btn-lg" href="#signup%7B%7D">Créer un agenda (gratuit)</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>