.testimonials {

  h2 {
    margin-bottom: 40px;
  }

  blockquote {
    border-left: none;
    padding: 0;
    quotes: "\201C" "\201D" "\2018" "\2019";

    .quote {
      position: relative;
      padding: 15px;
      margin-bottom: 25px;
      background: lighten($oa-gray, 40);
      border-radius: 8px;

      &:after {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 16px 8px 0;
        border-color: lighten($oa-gray, 40) transparent;
        display: block;
        width: 0;
        z-index: 1;
        bottom: -16px;
        left: 10px;
      }

      p {
        &:before {
          font-family: Georgia, "Times New Roman", Times, serif;
          content: open-quote;
          font-weight: bold;
          font-size: 35px;
          line-height: 0;
          color: $oa-blue;
          vertical-align: -0.1em;
          padding-right: 8px;
        }

        &:after {
          content: close-quote;
          visibility: hidden;
          line-height: 0;
        }
      }
    }

    footer {
      padding: 0;
    }
  }
}

.background-gray.testimonials {

  .quote {

    background: $oa-white;

    &:after {

      border-color: $oa-white transparent;

    }

  }

}