<%- include('_top.ejs') %>

    <div id="presentation" class="primary">
      <div class="container">

        <div class="spaced text-center">
          <h1 class="hook">Un blabla de titre</h1>
          <p class="under-hook">Un sous blabla explicatif mais pas trop</p>
        </div>

        <div class="row counters">
          <div class="col-md-8 col-md-offset-2 text-center">
            <p>
              <span><strong>189 989 200</strong> événements</span>•
              <span><strong>18 939 893</strong> agendas</span>•
              <span><strong>183 983</strong> utilisateurs</span>
            </p>
          </div>
        </div>

        <div class="row spaced">
          <div class="col-md-3 col-md-offset-3 text-center">
            <a class="btn btn-primary btn-lg">Chercher un agenda</a>
          </div>
          <div class="col-md-3 text-center">
            <a class="btn btn-primary btn-lg">Créer un agenda</a>
          </div>
        </div>
      </div>
    </div>

    <div class="background-gray">

      <div class="container">
          <div class="media">
            <article class="media-body media-middle">
              <h2 class="margin-bottom-lg text-line-bg">OpenAgenda est un outil d’agenda puissant, utilisé par des acteurs aussi divers que le Centre Pompidou, le Ministère de la Culture, Nuit Debout ou la Région Ile de France.</h2>

              <div class="margin-top-lg">
                <p>Connectez votre agenda avec</p>
                <ul>
                  <li>
                    <p><strong>plus de cent médias</strong>, dont le Parisien, Ouest France, Viafrance et TootSweet </p>
                  </li>
                  <li>
                    <p><strong>des services tiers</strong>, tels WeMap et OpenDataSoft</p>
                  </li>
                  <li>
                    <p><strong>les agendas personnels</strong>, tels Google Agenda, Outlook, Thunderbird, Lotus Notes</p>
                  </li>
                </ul>
              </div>
            </article>
          </div>
      </div>
    </div>

    <div class="background-white">
      <div class="container">
        <div class="spaced">
          <div class="media">
            <article class="media-body media-middle">
              <h2 class="media-heading">Vous gérez une organisation, une fédération, un territoire comptant de nombreux organisateurs indépendants ?</h2>
              <ul>
                <li> <p>Déployez un réseau d’agendas interconnectés.</p></li>
                <li> <p>Bénéficiez d’une solution en ligne en constante amélioration.</p></li>
                <li> <p>Bénéficiez d’un support express via un interlocuteur dédié</p></li>
                <li> <p>Les événements de votre réseau sont exportables depuis une interface unifiée</p></li>
              </ul>
            </article>
            <figure class="media-right media-middle">
              <img class="big" src="//cdn.openagenda.com/static/landing/organisation.jpg" width="300">
            </figure>
          </div>
        </div>
      </div>
    </div>

    <div class="background-gray">
      <div class="container">
        <div class="spaced">
          <div class="media">
            <div class="media-left media-middle">
              <ul class="big-events">
                <li class="be-fdm"><a target="_blank" href="https://openagenda.com/fetedelamusique2017"></a></li>
                <li class="be-chv"><a target="_blank" href="https://www.salon-cheval.com/"></a></li>
                <li class="be-sdi"><a target="_blank" href="https://openagenda.com/semaineindustrie2017"></a></li>
                <li class="be-cpd"><a target="_blank" href="https://openagenda.com/40anspompidou"></a></li>
                <li class="be-slt"><a target="_blank" href="https://openagenda.com/solutrans"></a></li>
                <li class="be-fen"><a target="_blank" href="https://openagenda.com/futur-en-seine-off-2017"></a></li>
              </ul>
            </div>
            <article class="media-body media-middle">
              <h2 class="media-heading">Vous organisez un grand événement ?</h2>
              <ul>
                <li><p>Pilotez un agenda participatif</p></li>
                <li><p>Personnalisez vos événements</p></li>
                <li><p>Modérez les contributions</p></li>
                <li><p>Affichez votre agenda sur site</p></li>
                <li><p>Exportez tous vos supports : newsletter, papier, etc.</p></li>
                <li><p>Bénéficiez d’un support express via un interlocuteur dédié</p></li>
              </ul>
            </article>
          </div>
        </div>
      </div>
    </div>

    <div class="background-orange">
      <div class="container">
        <div class="spaced">
          <div class="media">
            <article class="media-body media-middle">
              <h2 class="media-heading">Vous avez besoin de limiter les accès à votre Agenda?</h2>
              <p></p>
              <ul>
                <li>
                  <p>Gérez des agendas <strong>privés</strong></p>
                </li>
                <li>
                  <p>La palette de couleur est <a href="https://color.adobe.com/create/color-wheel/?copy=true&base=2&rule=Custom&selected=4&name=Copie%20de%20Status%20Colors&mode=hsv&rgbvalues=0.870588,0.11372637322308114,0.06274501833600002,0.2549019607843137,0.6745098039215687,0.8666666666666667,0.968627,0.7960764695282889,0.16470533507999988,0.18823570777999998,0.729412,0.2509807694526425,1,0.5076537600002484,0.24&swatchOrder=0,1,2,3,4">ici</a></p>
                </li>
                <li>
                  <p>Gardez le contrôle sur la réutilisation de vos données</p>
                </li>
              </ul>
            </article>
            <figure class="media-right media-middle">
              <img class="big" src="//cdn.openagenda.com/static/landing/private.png">
            </figure>
          </div>
        </div>
      </div>
    </div>

    <div class="background-blue price-summary">
      <div class="container">
        <div class="spaced">
          <h2 class="text-center">Tarifs</h2>
          <div class="row margin-top-md">

            <div class="col-lg-6">
              <div class="margin-h-md margin-v-lg ">
                <figure class="text-center">
                  <img class="big" src="//cdn.openagenda.com/static/landing/agenda-white.png" width="300">
                </figure>
                <h3>Agenda</h3>
                <div class="separator"></div>
                <p class="sub">Lancez maintenant l’agenda de votre lieu, salon, festival, organisation.</p>
                <ul>
                  <li><p>Le coût est proportionnel au degré de personnalisation.</p></li>
                  <li><p>Exemple d’utilisateurs : <strong>Théâtre la Loge</strong>, Tous à l’Opéra, Maison Pop, <strong>ReedExpo</strong>, Salon de l’agriculture, FDS, SDI</p></li>
                </ul>
                <a class="btn btn-primary btn-lg margin-top-sm">Découvrez les offres</a>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="margin-h-md margin-v-lg">
                <figure class="text-center">
                  <img class="big" src="//cdn.openagenda.com/static/landing/network-white.png" width="300">
                </figure>
                <h3>Réseau d'agendas</h3>
                <div class="separator"></div>
                <p class="sub">Vous animez un territoire, une fédération, plusieurs coordinateurs locaux ? Le réseau d’agendas est pour vous.</p>
                <ul>
                  <li><p>Les tarifs sont proportionnels à l’envergure de votre réseau.</p></li>
                  <li><p>Exemples d’utilisateurs : <strong>INA</strong>, Bordeaux Métropole, <strong>Journées Européennes du Patrimoine.</strong></p></li>
                </ul>
                <a class="btn btn-primary btn-lg margin-top-sm">Découvrez les offres</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="background-white" id="references">
      <div class="container">
          <div class="spaced">
              <h2 class="text-center">Nos références</h2>
              <div id="carousel-screens" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">

                      <li data-target="#carousel-screens" data-slide-to="0" class=""></li>

                      <li data-target="#carousel-screens" data-slide-to="1" class=""></li>

                      <li data-target="#carousel-screens" data-slide-to="2" class=""></li>

                      <li data-target="#carousel-screens" data-slide-to="3" class=""></li>

                      <li data-target="#carousel-screens" data-slide-to="4" class="active"></li>

                      <li data-target="#carousel-screens" data-slide-to="5" class=""></li>

                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">

                      <div class="item">
                          <a href="http://sortir.orleans-metropole.fr" target="_blank">
                              <img src="//cdn.openagenda.com/static/home/integration_orleans.jpg" alt="integration_0">
                              <div class="hidden-xs carousel-caption">
                                  <h3>Le portail d'événements de la métropole d'Orléans</h3>
                                  <p><i>http://sortir.orleans-metropole.fr</i></p>
                              </div>
                          </a>
                      </div>

                      <div class="item">
                          <a href="http://saisonculturelle.fr/Programme" target="_blank">
                              <img src="//cdn.openagenda.com/static/home/integration_saison_culturelle.jpg" alt="integration_1">
                              <div class="hidden-xs carousel-caption">
                                  <h3>Saison culturelle 2017</h3>
                                  <p><i>http://saisonculturelle.fr/Programme</i></p>
                              </div>
                          </a>
                      </div>

                      <div class="item">
                          <a href="http://www.issy.com/agenda" target="_blank">
                              <img src="//cdn.openagenda.com/static/home/integration_issy.jpg" alt="integration_2">
                              <div class="hidden-xs carousel-caption">
                                  <h3>Le réseau d'agendas de la ville d'Issy-les-Moulineaux</h3>
                                  <p><i>http://www.issy.com/agenda</i></p>
                              </div>
                          </a>
                      </div>

                      <div class="item">
                          <a href="http://www.centrepompidou40ans.fr" target="_blank">
                              <img src="//cdn.openagenda.com/static/home/integration_pompidou.jpg" alt="integration_3">
                              <div class="hidden-xs carousel-caption">
                                  <h3>Le Centre Pompidou fête ses 40 ans</h3>
                                  <p><i>http://www.centrepompidou40ans.fr</i></p>
                              </div>
                          </a>
                      </div>

                      <div class="item active">
                          <a href="http://www.lasemainenumerique.paris/" target="_blank">
                              <img src="//cdn.openagenda.com/static/home/integration_semaine_numerique.jpg" alt="integration_4">
                              <div class="hidden-xs carousel-caption">
                                  <h3>La semaine numérique</h3>
                                  <p><i>http://www.lasemainenumerique.paris/</i></p>
                              </div>
                          </a>
                      </div>

                      <div class="item">
                          <a href="http://www.ville-bondy.fr/agenda/" target="_blank">
                              <img src="//cdn.openagenda.com/static/home/integration_bondy.jpg" alt="integration_5">
                              <div class="hidden-xs carousel-caption">
                                  <h3>L'agenda de la ville de Bondy</h3>
                                  <p><i>http://www.ville-bondy.fr/agenda/</i></p>
                              </div>
                          </a>
                      </div>

                  </div>

                  <!-- Controls -->
                  <a class="left carousel-control" href="#carousel-screens" role="button" data-slide="prev"></a>
                  <a class="right carousel-control" href="#carousel-screens" role="button" data-slide="next"></a>
              </div>
          </div>
      </div>
  </div>


    <div class="background-white testimonials">
        <div class="container">
            <div class="spaced">
                <h2 class="text-center">Ce que disent nos clients</h2>
                <ul class="list-unstyled row">

                    <li class="col-sm-4">
                        <blockquote>
                            <div class="quote">
                                <p>Simplicité, interface dynamique, géolocalisation. Une équipe à l’écoute, de très bons conseils et très réactive&nbsp;!!!</p>
                            </div>
                            <footer class="media">
                                <img class="img-circle" src="//cdn.openagenda.com/static/GAL_Karine.jpg" width="40">
                                <strong>Karine Gal</strong><br>
                                <span>Ministère de l'Economie - Semaine de l'industrie</span>
                            </footer>
                        </blockquote>
                    </li>

                    <li class="col-sm-4">
                        <blockquote>
                            <div class="quote">
                                <p>La solution idéale pour centraliser toutes les informations relatives à un événement commun. L’outil est très intuitif et simple d’utilisation, il tient toutes ses promesses.</p>
                            </div>
                            <footer class="media">
                                <img class="img-circle" src="//cdn.openagenda.com/static/paola-scotton.jpg" width="40">
                                <strong>Paola Scotton</strong><br>
                                <span>Réunion des Opéras de France - Tous à l'Opéra</span>
                            </footer>
                        </blockquote>
                    </li>

                    <li class="col-sm-4">
                        <blockquote>
                            <div class="quote">
                                <p>OpenAgenda nous a permis de gagner du temps en mutualisant nos événements et de les diffuser plus largement via nos sites web et au-delà.</p>
                            </div>
                            <footer class="media">
                                <img class="img-circle" src="//cdn.openagenda.com/static/Xavier-maslaux.jpg" width="40">
                                <strong>Xavier Masclaux</strong><br>
                                <span>Pôle Numérique</span>
                            </footer>
                        </blockquote>
                    </li>

                </ul>
                <p class="text-center">
                    <a class="btn btn-link btn-lg" href="/discover/testimonies?lang=fr">Voir plus de références</a>
                </p>
            </div>
        </div>
    </div>

    <div class="background-gray">
      <div class="container">
        <div class="spaced">
          <h2>Tarifs: Agenda</h2>
          <p>Cette section va dans une page secondaire</p>
          <div class="pricing">
            <ul>
              <li class="margin-h-lg price-canvas">
                <div class="unit price-primary">
                  <a href="#">
                    <div class="price-title">
                      <h3>Agenda simple</h3>
                      <p class="margin-v-sm font-size-15">Gratuit</p>
                      <p>Some precision</p>
                      <small>smaller precision</small>
                    </div>
                    <div class="price-body">
                      <div class="padding-v-sm">
                        <p>Some precision</p>
                        <span class="margin-bottom-sm">smaller precision</span>
                      </div>
                      <ul>
                        <li>Evénements et membres illimités</li>
                        <li>Exports en Données Ouvertes</li>
                        <li>Champs standards + un champ personnalisé</li>
                        <li>Dates libres ou limitées</li>
                        <li>Modération</li>
                        <li>Hiérarchie des membres à deux niveaux</li>
                        <li>Notifications standards</li>
                        <li>Intégration web en marque blanche</li>
                        <li>Consigne de saisie</li>
                        <li>Événements “en une”</li>
                      </ul>
                    </div>
                  </a>
                  <div class="price-foot"><a href="/discover/network-of-agendas?lang=fr">
                    </a><a class="btn btn-primary" href="/discover/contact-us?lang=fr" rel="nofollow">
                        Créer un agenda
                    </a>
                  </div>
                </div>
              </li>
              <li class="margin-h-lg price-canvas">
                <div class="unit price-primary">
                  <a href="/discover/a-tailored-offer?lang=fr">
                    <div class="price-title title-only">
                      <h3>Agenda sur mesure</h3>
                    </div>
                    <div class="price-body">
                      <p>300 € HT / mois<br>
                        <small>(3000 € / an)</small>
                      </p>
                      <ul>
                        <li><i class="fa fa-check"></i></li>
                        <li><i class="fa fa-check"></i></li>
                        <li>Personnalisation avancée des fiches événements</li>
                        <li>Limitation des dates, des lieux et des contributeurs</li>
                        <li>Modération multi-étapes</li>
                        <li>Hiérarchie des membres à trois niveaux</li>
                        <li>Notifications personnalisables</li>
                        <li>Intégration web personnalisable</li>
                        <li>Consignes avancées (bientôt)</li>
                        <li>Événements “en une”</li>
                        <li>Sélection de favoris</li>
                      </ul>
                    </div>
                  </a>
                  <div class="price-foot">
                      <a class="btn btn-primary" href="/discover/contact-us?lang=fr" rel="nofollow">
                          Nous contacter
                      </a>
                  </div>
                </div>
                <div class="price-underfoot">
                  <a>Some text under</a>
                </div>
              </li>
              </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="background-white">
      <div class="container">
        <div class="spaced">
          <h2>Tarifs: Réseaux d'agenda</h2>
          <p>cette section va dans une page secondaire</p>
          <div class="pricing-v2">
            <ul>
              <li class="unit price-primary margin-h-sm">
                <a href="/discover/network-of-agendas?lang=fr">
                  <div class="price-title">
                    <h3>Offre Réseau</h3>
                  </div>
                  <div class="price-body">
                    <p>400 € / mois<br>
                      <small>(4800 € / an)</small>
                    </p>
                    <ul>
                      <li><strong>Agendas basiques illimités <i class="fa fa-check"></i></strong></li>
                      <li><strong>20 agendas premium <i class="fa fa-check"></i></strong></li>
                      <li>Conseil personnalisé</li>
                    </ul>
                  </div>
                </a>
                <div class="price-foot"><a href="/discover/network-of-agendas?lang=fr">
                  </a><a class="btn btn-primary" href="/discover/contact-us?lang=fr" rel="nofollow">
                      Nous contacter
                  </a>
                </div>
              </li>
              <li class="unit price-primary margin-h-sm">
                <a href="/discover/network-of-agendas?lang=fr">
                  <div class="price-title">
                    <h3>Offre Réseau</h3>
                  </div>
                  <div class="price-body">
                    <p>400 € / mois<br>
                      <small>(4800 € / an)</small>
                    </p>
                    <ul>
                      <li><strong>Agendas basiques illimités <i class="fa fa-check"></i></strong></li>
                      <li><strong>20 agendas premium <i class="fa fa-check"></i></strong></li>
                      <li>Conseil personnalisé</li>
                    </ul>
                  </div>
                </a>
                <div class="price-foot"><a href="/discover/network-of-agendas?lang=fr">
                  </a><a class="btn btn-primary" href="/discover/contact-us?lang=fr" rel="nofollow">
                      Nous contacter
                  </a>
                </div>
              </li>
              <li class="unit price-primary margin-h-sm">
                <a href="/discover/network-of-agendas?lang=fr">
                  <div class="price-title">
                    <h3>Offre Réseau</h3>
                  </div>
                  <div class="price-body">
                    <p>400 € / mois<br>
                      <small>(4800 € / an)</small>
                    </p>
                    <ul>
                      <li><strong>Agendas basiques illimités <i class="fa fa-check"></i></strong></li>
                      <li><strong>20 agendas premium <i class="fa fa-check"></i></strong></li>
                      <li>Conseil personnalisé</li>
                    </ul>
                  </div>
                </a>
                <div class="price-foot"><a href="/discover/network-of-agendas?lang=fr">
                  </a><a class="btn btn-primary" href="/discover/contact-us?lang=fr" rel="nofollow">
                      Nous contacter
                  </a>
                </div>
              </li>
              <li class="unit price-primary margin-h-sm">
                  <a href="/discover/a-tailored-offer?lang=fr">
                      <div class="price-title">
                          <h3>Sur mesure</h3>
                      </div>
                      <div class="price-body">
                          <p>Nous contacter</p>
                          <ul>
                              <li>Accompagnement opérationnel</li>
                              <li>Définition de l'axe éditorial</li>
                              <li>Déploiement des réseaux</li>
                              <li>Animation de communauté</li>
                              <li>Modération des contenus</li>
                              <li>Reporting</li>
                              <li>Formation</li>
                              <li>Promotion des contenus</li>
                              <li>Programme papier</li>
                          </ul>
                      </div>
                  </a>
                  <div class="price-foot">
                      <a class="btn btn-primary" href="/discover/contact-us?lang=fr" rel="nofollow">
                          Nous contacter
                      </a>
                  </div>
              </li>
              </ul>
          </div>
        </div>
      </div>
    </div>


    <footer class="footer"><div class="container"><div class="row spaced text-center"><div class="col-sm-4"><h2>Les offres</h2><ul class="list-unstyled"><li><a href="https://openagenda.com/decouvrir/agenda-basique">Basique - Gratuit</a></li><li><a href="https://openagenda.com/decouvrir/agenda-premium">Premium - 90€/mois</a></li><li><a href="https://openagenda.com/decouvrir/reseau-d-agendas">Réseau - 400€/mois</a></li><li><a href="https://openagenda.com/decouvrir/une-offre-sur-mesure">Sur mesure</a></li></ul></div><div class="col-sm-4"><h2>En savoir plus</h2><ul class="list-unstyled"><li><a href="https://openagenda.com/decouvrir/diffusez-vos-evenements">Diffusez vos événements</a></li><li><a href="https://openagenda.com/decouvrir/construisez-votre-reseau">Constituez votre réseau d'agendas</a></li><li><a href="https://openagenda.com/decouvrir/agenda-collaboratif">Collaborez sur des agendas d'envergure</a></li><li><a href="https://openagenda.com/decouvrir/votre-reporting">Votre reporting avec OpenAgenda</a></li></ul></div><div class="col-sm-4"><h2>...et plus</h2><ul class="list-unstyled"><li><a href="#">Les sites et médias rediffuseurs</a></li><li><a href="https://openagenda.com/decouvrir/temoignages">Témoignages</a></li><li><a href="https://openagenda.com/decouvrir/contactez-nous">Contactez-nous</a></li></ul></div></div></div></footer>

  </body>
</html>
