// Footer links
#footer {
  color: $oa-silver;
  display: none;
  margin: 40px 0;
  text-align: center;

  a {
    color: $oa-silver;

    &:hover {
      color: $oa-gray;
    }
  }

  @media (min-width: 768px) {
    display: block;
    text-align: left;
  }
}

#content #footer {
  margin-bottom: 0;
}