/**
 * basic dialog page and lightbox
 *
 * .dialog should wrap full page
 * .dialog-canvas should wrap a lightbox content
 * 
 */

.dialog, 
.dialog-canvas {

  max-width: 400px;

}

.dialog-canvas {

  padding: 1em;

}

.dialog-canvas .title {

  padding: 0 0 0.5em;

}

.dialog-canvas p {

  padding-bottom: 0.5em;

}

.dialog-canvas .buttons {

  text-align: center;
  padding: 1em 0 0.5em;

}