/*ei v0.3 event list item structure */

.ei { margin: 4px 0 0; }
.ei * { font-size: 1em; }

.ei > * {
  display: inline-block;
  text-align: left;
}

.righttoleft .ei > * {
  text-align: right;
}

.ei .evpic { width: 96px; max-width: 20%; vertical-align: top; }
.ei .evpic img { width: 100%; margin: 0.35em 0 0; }
.ei .evcnt { width: 80%; vertical-align: middle; }
.ei.nopic .evcnt { width: auto; }
.ei .evcnt > ul { margin-left: 10px; }
.ei.nopic .evcnt > ul { margin-left: 0; }
.ei .evtitle a { font-weight: bold; }
.ei .evspacetime *,
.ei .evdesc { color: #666;}
.ei .actions a { display: inline-block; }

.ei .eshares ul { padding: 0.5em 0; }
.ei .eshares li { display: inline-block; padding: 0 0 0.4em; }
.ei .eshares li * { vertical-align: middle; padding: 0 0.3em 0 0; }
.ei .eshares img { width: 1.8em; }

.tiled .ei { width: 200px; max-width: 300px; display: inline-block; }
.tiled .ei .evpic { display: block; width: auto; max-width: none; }
.tiled .ei .evpic img { width: 100%; max-width: none; }
.tiled .ei .evcnt { width: auto; }
.tiled .ei .evcnt > ul { margin-left: 0px; }

/*eof ei*/