.cb {
  background: white;
}

.cb > .header {

  height: 20em;
  position: relative;
  background: #333;

} 

.cb .canvas {

  margin: 0 auto;
  max-width: 1100px;
  clear: both;

}

.cb .sidebar {

  float: right;
  width: 320px;
  margin-top: 4em;
  display: none;

}

.cb > .canvas.right .sidebar,
.cb > .canvas.left .sidebar {
  display: block;
}

.cb main {
  padding: 2em;
}

.cb > .canvas main {
  margin: 0 180px 0 180px;
  position: relative;
}

.cb > .canvas.right main {
  margin: 0 0 0 360px;
}

.cb > .canvas.left main {
  margin: 0 360px 0 0;
}

.cb > .canvas.right .sidebar {

  float: left;

}

.cb aside {

  padding: 4em 0 0;

}


.cb footer {

}

@media all and (max-width: 960px) {

  .cb .sidebar {
    width: 300px;
  }

  .cb main {
    margin-right: 340px;
  }

  .cb > .canvas main {
    margin: 0;
  }

  .cb > .canvas.right main {
    margin: 0 0 0 340px;
  }

  .cb > .canvas.left main {
    margin: 0 340px 0 0;
  }


}

@media all and (max-width: 780px) {

  .cb .header,
  .cb nav {

    height: auto;

  }

  .cb .sidebar {
    display: none;
  }

  .cb main,
  .cb > .canvas.right main,
  .cb > .canvas.left main {
    margin: 0;
  }

}