body > header {
  background: white;
  text-align: center;
}

body > header .links {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
}

body > header .links li.nomobile { display: none; }

body > header .container {
  margin: 0 auto;
  text-align: left;
  position: relative;
}

@media (min-width: 480px) {

  body > header .container {
    width: auto;
  }


}

@media (min-width: 768px) {

  body > header .container {
    width: 750px;
  }

}

@media (min-width: 992px) {

  body > header .container {
    width: 970px;
  }

  body > header .links li.nomobile { 
    display: inline-block; 
  }
  
}

@media (min-width: 1200px) {

  body > header .container {
    width: 1170px;
  }

}


body > header a {
  display: inline-block; 
  vertical-align: middle;
  cursor: pointer;
}

body > header .logo {
  width: 125px;
  padding: 14px 15px 10px;
  line-height: 20px;
}

body > header form {
  display: inline-block;
  position: relative;
}

body > header form.cform input[type="text"] {
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-color: #ccc;
  width: 210px;
  line-height: 30px;
  padding: 10px 20px 10px 18px;
  height: auto;
  border-radius: 0;
  background: transparent;
  border-top: 0;
  border-bottom: 0;
}

body > header form.cform input[type="text"]:focus {
  background: rgba(65, 172, 221, 0.025);
  outline: 0;
}

body > header form.cform button {

  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background: transparent;
  margin: 8px 5px;

}

body > header form.cform button i {

  color: gray;

}

body > header .logo img {
  width: 100%; 
}

body > header .links > li > a {
  padding: 20px 10px;
  color: #777;
}

body > header .links > li > a:hover,
body > header .links > li > a:hover i {
  color: #11bed4;
}

body > header .links li {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}


body > header .language-menu ul {
  position: absolute;
  right: 0;
  background: white;
  padding: 0;
  display: none;
  z-index: 3;
}

body > header .language-menu > a {  
  text-transform: uppercase;
}

body > header .language-menu ul li {
  display: block;
  padding: 0;
}

body > header .language-menu ul li a {
  padding: 1em;
  text-align: left;
  display: block;
}

body > header .language-menu ul li a:hover {
  background: #f5f5f5;
}


.oa-page-header .help-button-canvas {
    display: block;
    padding: 7px 7px 0; }
  .oa-page-header .btn-bordered {
    background: transparent;
    border-width: 2px;
    color: inherit; }
    .oa-page-header .btn-bordered span, .oa-page-header .btn-bordered i {
      vertical-align: middle; }
    .oa-page-header .btn-bordered.btn-primary {
      border-color: #41acdd; }
      .oa-page-header .btn-bordered.btn-primary i {
        color: #41acdd;
        font-size: 1.2em; }
      .oa-page-header .btn-bordered.btn-primary:hover {
        border-color: #6cbfe5;
        background-color: #6cbfe5; }
        .oa-page-header .btn-bordered.btn-primary:hover i, .oa-page-header .btn-bordered.btn-primary:hover span {
          color: #fff; }
  .oa-page-header .btn-rounded {
    border-radius: 100px; }


@media all and (max-width: 480px) {

  body > header {
    text-align: center;
  }

  body > header .logo {
    position: relative;
    top: auto;
    left: auto;
    padding-right: 2em;
  }

}


