.menu-list.h li, .sub-menu-list li {
  display: inline-block;
  margin-right: 5px;
}
.menu-item {
  padding: 6px 0;
  cursor: pointer;
}

.menu-item a {
  padding: 10px 5px;
}

.menu-item span {
  margin-left: 2px;
  display: inline-block;
  font-size: 1.1em;
}

.menu-item.active {
  font-weight: bold;
}

.menu-item.active *,
.menu-item:hover {
  color: #11bed4;
}

.menu-item.active a {
  border-left: 4px solid #41acdd;
}

.sub-menu-list li {
  margin: 10px 5px 5px 0; 
}

.sub-menu-list .menu-item {
  padding: 6px 10px; 
}

.sub-menu-list .menu-item * {
  color: #666;
  margin-left: 0;
}

.sub-menu-list .menu-item.active {
  background: transparent;
  border-bottom: 2px solid #53D4FF;
}

.sub-menu-list .menu-item.active *,
.sub-menu-list .menu-item:hover * { 
  color: #333;
  text-shadow: none;
}

.sub-menu-list .menu-item:hover {
  background: none;
  border-bottom: 2px solid #ccc;
}

.sidebar-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.sidebar-item:last-child {
  padding-bottom: 10px;
  border-bottom: none;
}

.sidebar-item li {
  display: block;
}

.sidebar-item .active *,
.sidebar-item .menu-item a:hover * {
  color: #41acdd;
}

.sidebar-item .active * {
  font-weight: bold;
}

.sidebar-item .active {
  border-left: 4px solid #41acdd;
}



.sidebar-item li a,
.sidebar-item li h2 {
  padding: 10px 5px 10px 35px;
  display: block;
}

.sidebar-item i.icon-notifictation {
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1em;
  width: 1.15em;
  padding-bottom: 0.1em;
  font-weight: bold;
}

.sidebar-item .menu-list {
  margin-bottom: 10px;
}

.sidebar-item .menu-list li {
  overflow: hidden;
  white-space: nowrap;
  padding: 0 10px;
}

.sidebar-item .menu-list.sub-list {
  padding-left: 2em;
}

.sidebar-item .menu-list.sub-list li > * {
  display: inline-block;
  padding: 0;
  vertical-align: middle;
}

.sidebar-item .menu-list.sub-list img {
  height: 18px;
  margin-right: 0.3em;
}

@media screen and (max-width: 760px) {
  .sidebar-item { padding: 0; border-bottom: none; display: inline; }
  .sidebar-item:last-child { padding-bottom: 0; }
  .sidebar-item li { display: inline-block; margin-right: 1em;}
  .sidebar-item li.menu-section { display: block; }
  .sidebar-item .sub-list,
  .sidebar-item footer { display: none; }
}


.sidebar-item .menu-button {
  display: block;
  text-align: right;
}

.sidebar-item .menu-button.active i {
  color: #41acdd;
}

.sidebar-item .menu-item {
  display: none;
}

.sidebar-item .menu-button i {
  font-size: 1.6em;
  padding: 0.4em;
  display: inline-block;
}

@media (min-width: 768px) {

  .sidebar-item .menu-button {
    display: none;
  }

  .sidebar-item .menu-item {
    display: block!important;
  }

}