/*pli v0.6 - program article list item structure */
.pli { margin-bottom: 10px;}
.plihd p a { color: #666;}

.plihd > * { display: inline-block; vertical-align: top; }
.plihd > div { max-width: 80%; }
.plihd > div > * { margin-left: 6px;}
.plihd .hdthumb { width: 36px; max-width: 16%; margin-top: 2px; }
.plihd .hdthumb img { width: 100%; }
.plihd .pliname { font-weight: bold; }

.pli .etags ul { max-height: 20px; overflow: hidden; display: inline-block; vertical-align: top; }
.pli .etags li { display: inline; margin-right: 0.2em; }
.pli .etags li > a { font-size: 0.9em; }

.pli i { margin-right: 0.2em; }

.pli .ecat { margin-right: 10px; }
.pli .ecat > * { vertical-align: middle; text-transform: uppercase; letter-spacing: 0.1em; }

.pli .edit { padding: 2px; margin-right: 10px; display: inline-block; height: 10px; vertical-align: middle;}
.pli .edit i { vertical-align: top; line-height: 10px; }

.pli .evorg {
  color: #666;
  font-weight: bold;
  padding-left: 4px;
  margin: 4px 0;
}
/*eof pli*/