/*rdl-item v0.1*/

.rdl-item { vertical-align: top;  background: #f9f9f9; width: 208px; display: inline-block; }
.rdl-item .rdl-head { padding: 1em 1em 0.4em 1em; background: white; }
.rdl-item .rdl-img { float: left; max-width: 60px; }
.rdl-item .rdl-img img { width: 100%; margin: 0.2em 0 0;}
.rdl-item .rdl-desc { margin: 0 0 0 75px; min-height: 70px; }
.rdl-item .nopic .rdl-desc { margin: 0; }
.rdl-item .rdl-desc .description { font-size: 0.9em; }
.rdl-item .rdl-desc .description * { color: #888; }
.rdl-item .rdl-desc > * { display: block; }
.rdl-item a.url { font-size: 0.9em; }

.rdl-item p.st { font-size: 0.85em; color: #888; font-weight: bold; padding: 0.5em 0.7em; }

.rdl-item .ei .evtitle a { font-weight: normal; }

.rdl-item > ul { padding: 0 0.7em; }
.rdl-item > ul > li { padding-bottom: 1em; font-size: 0.9em!important; }

@media screen and (max-width: 600px) { 
  .rdl-item { display: block; width: auto; }
  .rdl-item > ul > li { margin-bottom: 1em;  }
}