$oa-blue: #41acdd;
$oa-black: #413a42;
$oa-white: #fff;
$oa-silver: silver;
$oa-gray: gray;
$oa-gray-lightish: #bbb;
$oa-gray-light: #ccc;
$oa-gray-lighter: #eee;
$oa-gray-lightest: #fafafa;
$oa-red: #da4453;
$oa-green: #5cb85c;
$oa-yellow: rgba(240, 194, 12, 0.6);

$facebook-color: #3B5A9B;
$twitter-color: #009DEC;
$google-color: #D44032;
$linkedin-color: #4875B4;
$pinterest-color: #CA2128;
$widget-color: $oa-blue;

$form-border: #aab2bd;

$state-warning-bg: #fcf8e3 !default;
$state-warning-border: darken(adjust-hue($state-warning-bg, -10), 5%) !default;
