.filters {

  margin: 0 0 15px;
  display: inline;

  ul { display: inline; }

  a {
    font-size: 12px;
    line-height: 1.5;
    padding: 6px 10px;
    border-radius: 10px;
    position: relative;
  }

  li {
    display: inline;
  }

  .active {
    margin-bottom: 10px;
    margin-right: 10px;

    a {
      background: $oa-gray-lightest;
      color: $oa-black;
      padding-right: 30px;

      &:after {
        content: "✔";
        font-size: 1.3em;
        height: 20px;
        line-height: 30px;
        font-weight: bold;
        position: absolute;
        color: $oa-blue;
        right: 2px;
        top: -1px;
        width: 20px;
      }

      &:hover {
        background: $oa-red;
        color: $oa-white;

        &:after {
          content: "❌";
          color: $oa-white;
        }
      }
    }
  }
}
