<div class="col-md-6">
  <div class="margin-bottom-md margin-h-md">
    <button class="btn btn-facebook btn-block">
      <i class="fa fa-facebook"></i>
      Facebook
    </button>
  </div>
  <div class="margin-bottom-md margin-h-md">
    <button class="btn btn-google btn-block">
      <i class="fa fa-google"></i>
      Google
    </button>
  </div>
  <div class="margin-h-md">
    <button class="btn btn-twitter btn-block">
      <i class="fa fa-twitter"></i>
      Twitter
    </button>
  </div>
</div>