<div class="col-md-6 light-border-left">
  <div class="margin-all-md">
    <div class="text-center margin-bottom-sm"><strong class="gray">Où</strong></div>
    <div class="text-center">
      <strong>Création à partir d'un compte Facebook, Twitter ou Google</strong>
    </div>
    <div class="margin-top-sm">Votre compte OpenAgenda sera lié au compte de votre choix. L'authentification se fera alors en passant par la plateforme choisie.</div>
  </div>
  <div class="margin-h-md">
    <button class="btn btn-facebook btn-block margin-bottom-md">
      <i class="fa fa-facebook"></i>
      Facebook
    </button>

    <button class="btn btn-google btn-block margin-bottom-md">
      <i class="fa fa-google"></i>
      Google
    </button>

    <button class="btn btn-twitter btn-block">
      <i class="fa fa-twitter"></i>
      Twitter
    </button>
  </div>
</div>
