<% include ../layout/_top.ejs %>
<% include ../agenda/_header.ejs %>
<div class="container page-dialog signin">
  <div class="top-margined bottom-margined">
    <div class="row">
      <section class="col-sm-6 col-sm-offset-3">
        <div class="row">
          <h2 class="padding-v-md text-center">Vérification de la demande de création de compte</h2>
        </div>
        <div class="row wsq">
          <div class="col-sm-12 padding-all-lg">
            <p>En raison d'une quantité importante et récente de création de contenus publicitaires automatisés sur la plateforme, nous sommes contraints de procéder à une étape temporaire de vérification des demandes de créations de compte.</p>
            <p class="margin-v-lg"><strong>Vous serez notifié très prochainement de l'activation de votre compte par email.</strong></p>
            <p>Dans l'éventualité où nous tarderions à traiter votre création de compte, adressez-nous un message via l'outil de messagerie qui se charge sur notre page d'accueil.</p>
          </div>
        </div>
    </div>
  </div>
</div>
<% include ../layout/_bottom.ejs %>
