#admin-bar {
	background: $oa-blue;
  margin-top: -1px;

  .admin-item {
    border-bottom: 1px solid rgba(255,255,255,0.38);
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 100%;

    .list-group.in {
      display: block;
    }

  }

  .admin-info, .admin-link, .admin-selected {
    color: $oa-white;
    display: block;
    line-height: 50px;
    padding: 0 20px;
    width: 100%;
    overflow: hidden;
    word-wrap: whitespace;
    text-overflow: ellipsis;
  }

  .admin-link {
    text-align: left;
    text-decoration: none;

    i {
      font-size: 20px;
      line-height: 50px;
      opacity: 0.62;
      position: absolute;
      right: 20px;
      top: 0;
    }

    &:hover {
      i {
        opacity: 1;
      }
    }

    &.starify {
      .fa-star {
        display: none;
      }

      &:hover {
        .fa-star-o {
          display: none;
        }

        .fa-star {
          display: block;
        }
      }

      &.active {
        .fa-star {
          display: block;
        }

        .fa-star-o {
          display: none;
        }

        &:hover {
          .fa-star-o {
            display: block;
          }

          .fa-star {
            display: none;
          }
        }
      }
    }
  }

  .admin-list {
    margin: 0;
    padding: 0;
  }

  .admin-selected {
    &:after {
      content: "\f0d7";
      font-family: "FontAwesome";
      opacity: 0.62;
      position: absolute;
      right: 20px;
      top: 0;
    }

    &:hover {
      cursor: pointer;

      &:after {
        opacity: 1;
      }
    }
  }

  .list-group {
    background: $oa-white;
    border-radius: 0 0 3px 3px;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 2001;
  }

  .list-group-item {
    .item {
      padding-left: 20px;

      &:after {
        box-shadow: 0 0 0 1px silver;
      }
    }
  }

  .score {
    b {
      font-size: 18px;
      font-weight: 100;
      height: 20px;
      line-height: 20px;
      position: absolute;
      right: 20px;
      top: 20px;
    }

    small {
      display: block;
      line-height: 15px;
      height: 15px;
      position: absolute;
      right: 20px;
      top: 5px;
    }
  }

  @media (min-width: 768px) {
    height: 50px;

    .admin-item {
      border-bottom: none;
      border-right: 1px solid rgba(255,255,255,0.38);
      width: 50%;
    }

    .admin-item.w33 {
      width: 33%;
    }

    .list-group {
      position: relative;
    }
  }
}