// Footer links
#footer {
  color: $oa-silver;
  display: none;
  margin: 40px 0;
  text-align: center;

  a {
    color: $oa-silver;

    &:hover {
      color: $oa-gray;
    }
  }

  @media (min-width: 768px) {
    display: block;
    text-align: left;
  }
}

#content #footer {
  margin-bottom: 0;
}

// Old footer (full width on bottom page)
// #footer {
//   background: $oa-white;
//   border-top: 1px solid $gray-lighter;
//   padding-bottom: 25px;
//   padding-top: 50px;
//   position: relative;

//   a {
//     color: $oa-black;

//     &:hover {
//       color: $oa-blue;
//       text-decoration: none;
//     }
//   }

//   h2 {
//     // margin: 15px;
//   }
//   // section {
//   //   &:nth-child(2) {
//   //     text-align: center;
//   //   }

//   //   &:last-child {
//   //     text-align: right;
//   //   }
//   // }


//   .list-group {
//     margin-top: 20px;
//   }

//   .list-group-item {
//     background: transparent;
//     border: none;
//     padding-left: 0;
//     padding-right: 0;
//   }
// }