// Main navigation bar

.collapse {
  display: none;
  visibility: hidden;

  &.in {
    display: block;
    visibility: visible;
  }
}

.navbar-toggle {
  border: none;
  border-radius: 0;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  line-height: 50px;
  width: 50px;

  i {
    color: $oa-black;
    font-size: 21px;
    vertical-align: middle;
  }
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
  margin: 0;
}

.navbar-right {
  float: right !important;
}

.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

#nav {

  margin: 0;
  z-index: 2002;

  .navbar-header {
    padding-left: 10px;
  }

  .search-form {
    float: left;
    margin: 0;

    .search-input {
      background: $oa-white;
      width: 150px;
      
      border-top: 0;
      border-bottom: 0;

      &:focus {
        background: rgba(65, 172, 221, 0.025);
        outline: 0;
      }
    }
  }

  .profile {

    &>a {
      padding-top: 10px;
      padding-bottom: 10px;
      display: inline-block;
      cursor: pointer;
    }

    &>a img {
      width: 30px;
    }

    .dropdown-menu {
    
      min-width: 400px;
      margin: 0;
      padding: 0;

      .row {

        

        li {

          padding: 0 10px;

          img {
            width: 24px;
          }

          a {
            color: #333;
            padding: 10px 0;
            display: block;
          }

          &:hover {

            background: #f5f5f5;

            a {
              text-decoration: none;
            }
          }

        }

      }

    }

  }

}