.cform button, .cform .button { 
  display: inline-block;
  padding: 4px 6px 6px;
  border-color: #cccccc #cccccc #bbbbbb;
  border-width: 1px;
  border-style: solid;
  background: #f5f5f5; /* old browsers */
  background: -moz-linear-gradient(top, #FFFFFF 0%, #E8E8E8 80%, #E2E2E2 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(80%,#E8E8E8), color-stop(100%,#E2E2E2)); 
  cursor: pointer;
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.cform .big { font-size: 1.1em; padding: 5px 10px; }
.cform .small { padding: 1px 4px; }

.cform button > span,
.button > span {
  padding: 0 0 0 5px;
}

.cform button i,
.cform .button i {
  vertical-align: middle!important;
}

.cform .small i {
  vertical-align: baseline!important;
}

.cform button:hover, .cform .button:hover { border-color: #999; }