.agenda-admin {

  margin: 60px auto;

  .header {

    padding: 20px;

    .agenda-logo img {

      max-width: 100%;

    }

  }

  .body {

    padding: 30px 2em;

  }

  .nav {

    h2 {

      padding: 10px 30px;

    }

    .menu-item {

      margin: 6px 0;
      padding: 10px 30px;

      border-left: 4px solid transparent;

      a {

        color: inherit;

      }

      &.selected {

        border-left: 4px solid $oa-blue;

        a {

          font-weight: bold;
          color: $oa-blue;

        }

      }

    }

  }

}
