@import '../layout/base';
@import '../agenda-admin/style';
@import '../components/agenda-item';
@import '../form-components/input-with-icon';


.aggregator-sources {
  .search {
    width: 50%;
  }

  .form-group-type .row,
  .form-group-values .row {
    display: flex;

    label.control-label {
      align-items: center;
      display: flex;
      margin-bottom: 2px;
    }
  }

  .react-tagsinput {
    display: inline-table;
    background-color: $oa-white;
    border: 1px solid $oa-gray-light;
    overflow: hidden;
    padding: 2px 5px;
    cursor: text;

    &--focused {
      border-color: $oa-blue;
    }

    &-tag {
      background-color: $oa-blue;
      border-radius: 2px;
      border: 1px solid $oa-blue;
      color: $oa-white;
      display: inline-block;
      font-family: sans-serif;
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;
      margin-right: 5px;
      margin-bottom: 2px;
      padding: 5px;
    }

    &-remove {
      color: $oa-white;
      cursor: pointer;
      font-weight: bold;
      text-decoration: none;
    }

    &-tag a::before {
      content: " ×";
    }

    &-input {
      background: transparent;
      border: 0;
      color: $oa-black;
      font-family: sans-serif;
      font-weight: 400;
      outline: none;
      padding: 5px;
      width: 80px;
    }
  }

  .cancel-button-left {
    padding-left: 0;
  }

  .agenda-item {
    padding: 1em 0;

    .actions a + a {
      margin-left: 12px;
    }

    .media-left img {
      width: 90px;
      height: 90px;
    }

    .media-body {
      .actions a {
        text-decoration: none;
        color: #777777;

        &:hover {
          color: #41acdd;
        }
      }
    }
  }

  .popup-content {
    .stepper .step {
      background-color: #eeeeee;
    }

    .search {
      width: 100%;
    }

    .filter-value {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @media (max-width: $screen-sm) {
    h2 {
      margin: 0;
    }

    .search {
      width: 100%;
    }

    .header {
      padding: 20px 30px;
    }
  }
}
