.acc {
  padding-left: 1.5em;
}

.acc li {
  min-width: 190px;
  display: inline-block;
}

.acc li, .acc li > * {
  cursor: pointer;
}

.acc .ill {
  display: inline-block;
  width: 30px!important;
  height: 30px!important;
  vertical-align: middle;
  background-image: url("//s3-eu-west-1.amazonaws.com/cibulstatic/accessibility-30.png");
}

.acc .hi {
  background-position: 0 30px;  
}

.acc .mi {
  background-position: 0 60px;
}

.acc .pi {
  background-position: 0 90px;
}

.acc .sl {
  background-position: 0 120px;
}