.ef .upload {

  form > div {

    vertical-align: top;
    display: inline-block;
    margin-right: 1em;
    padding: 0 1em 1em 0;

  }

  form > a {

    vertical-align: top;

  }

  label { margin-right: 1em; }

}