.ef .location-form {

  display: block;
  float: none;
  padding: 0;
  margin-left: 0;
  width: 100%;

  .head {

    padding: 0 0 2em 0;

    .info {

      font-size: 1em;
      font-weight: bold;
      color: #333;

    }

  }


  .country {

    .Select {

      display: block;

    }
  
  }
  
}