.ef {

  h1 {

    font-size: 3Opx;
    font-weight: normal;

  }

  .info {
    
    color: $oa-gray;

  }

  .contribution-info {

    border-left: 3px solid $oa-blue;
    padding: 0.5em 1em;
    background: rgba(0, 0, 0, 0.03);
    line-height: 1.6em;

  }

  .error, .info {

    padding: 0 0 0.8em;
    font-size: 0.95em;

  }

  .form-section {

    padding: 1em 0 2em;

  }

  .submit-actions {

    padding: 2em 0 1em;

  }

  .main-error {

    color: $oa-red;

  }

  .loader {

    padding: 0 0.5em 0 0.5em;
    vertical-align: middle;
    margin: 0.5em 0;
    background-color: transparent;
    
  }

  &.canvas main {

    margin-top: 20px!important;

    padding: 20px 30px;

  }

  .event-image .form-section {

    & > div {

      padding: 1em 0 0;

    }

    .canvas {

      text-align: center;

      div {

        padding: 20px;
        color: $oa-gray;
        background-color: rgba( black, 0.03 );

      }

      img {

        max-width: 100%;

      }

    }

  }
  
  .lang-unit {

    > label {

      display: inline-block;
      width: 2em;
      text-transform: uppercase;
      position: absolute;
      padding: 9px;

      &.off32 {

        padding-top: 3.2em;

      }

    }

    > div {

      margin-left: 3em;

    }

  }

  .custom-fields {

    .cform .Select-control { min-width: 10em; }

    .info span { 

      color: $oa-gray;
      display: block;
      padding: 0 0 5px;

      &:last-child {

        padding: 0;

      }

    }

  }


  .event-errors {

    * {

      color: $oa-red;

    }

    li {
      font-size: 0.95em;
    }

  }

}