.ef {

  .info {
    color: $oa-gray;
    padding: 0.2em 0 1em;
  }

  .form-section {

    padding: 1em 0 2em;

  }

  &.canvas main {

    margin-top: 60px!important;

  }
  
  .lang-unit {

    > label {

      display: inline-block;
      width: 2em;
      text-transform: uppercase;
      position: absolute;
      padding: 9px;

      &.off32 {

        padding-top: 3.2em;

      }

    }

    > div {

      margin-left: 3em;

    }

  }

}