.ef .cform {
  
  .react-tagsinput {
    
    border: 1px solid $form-border;
    position: relative;
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 4px;
    min-height: 30px;

  }

  .react-tagsinput-tag {
    background-color: $oa-blue;
    border-radius: 2px;
  
    display: inline-block;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px;

    span {

      color: $oa-white;

    }

  }

  .react-tagsinput-remove {

    cursor: pointer;
    vertical-align: middle;
    color: $oa-white;

  }

  .react-tagsinput-remove:before {
    content: " ✕";
  }

  .react-tagsinput-input {
    background: transparent;
    border: 0;
    color: #777;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 1px;
    outline: none;
    padding: 5px;
    height: auto;
    position: absolute;
  }

  .react-tagsinput-invalid {
    background-color: #fbd8db;
    color: #90111a;
  }

  .react-tagsinput-validating {
    background: #fffacd;
  }

}