.sidebar-button {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.sidebar-button:focus {
  background: blue;
}

@media all and (max-width: 780px) {

  .sidebar-button {
    display: block;
  }

}