<% include ../layout/_top.ejs %>
<% include ../agenda/_header.ejs %>
<div class="container">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <div class="text-center">
        <h2 class="margin-top-lg margin-bottom-md">Ajouter un événement</h2>
      </div>
      <div class="stepper-gray-background margin-top-lg">
        <% include ../components/stepper/_three-h-steps.ejs %>
      </div>
      <div class="wsq margin-v-lg padding-all-md event-instruction boxed">
        <p>Quelques recommandations pour saisir votre événement :</p>
        <ul>
          <li><strong>Ne regroupez pas toute votre programmation dans une même fiche</strong>. Cette simplification ne rend pas service aux visiteurs. Elle pénalisera vos événements qui ne pourront pas être interrogés par les filtres du moteur de recherche interne.</li>
          <li><strong>N'intitulez pas le titre de votre événement avec le nom du lieu ou de la manifestation</strong>.</li>
          <li>Respectez au mieux les consignes de saisie figurant sur les différents champs du formulaire.</li>
        </ul>
        <p>Les événements proposés sur cet agenda seront validés avant publication par la coordination de l'opération.</p>
        <p>Pour toute question, vous pouvez nous adresser un message via <a target="_blank" href="https://journeesdupatrimoine.culturecommunication.gouv.fr/Nous-contacter">notre formulaire de contact</a>.</p>
        <p>Pour commander des affiches de la manifestation, veuillez remplir <a target="_blank" href="#">le formulaire de demande de matériel</a>.</p>
        <p>Bonne contribution,</p>
        <p>Merci!</p>
        <p>Le Ministère de la Culture</p>
      </div>

      <div class="wsq padding-all-md">
        <p>Event form goes here</p>
      </div>

      <div class="error-summary boxed padding-all-md padding-bottom-sm">
        <label class="padding-bottom-sm">There are some errors on your form</label>
        <ul>
          <li>
            <label>This field</label>: 
            <span>You wrote nothing</span>
          </li>
          <li>
            <label>That field</label>:
            <span>You did something wrong here</span>
          </li>
          <li>
            <label>Yet another field</label>:
            <span>And here. Again. Let's say a bit more of nothing here just to occupy some space. Hopefully this comment will take up more than one line.</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<% include ../layout/_bottom.ejs %>
