<%- include('../layout/_top.ejs') %>
<%- include('../agenda/_header.ejs') %>
<div class="container">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <div class="margin-v-lg wsq padding-v-lg padding-h-md">
        <%- include('../components/stepper/_four-h-steps.ejs') %>
        <h2>Complétez votre fiche membre</h2>
        <p>Les informations suivante aideront les administrateurs de l'agenda à vous contacter en cas de besoin. Les informations saisies dans les champs marqués d'un (1) ne seront pas diffusées</p>
        <div class="margin-top-md">
          <p>Les champs vont là</p>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../layout/_bottom.ejs') %>
