.event-instruction, .error-summary {

  background-color: $oa-gray-lightest;
  border-radius: 0;

}

.event-instruction {

  text-align: left;
  border-top: $oa-blue 1px solid;
  border-bottom: $oa-blue 1px solid;

  &.boxed {

    border-left: $oa-blue 1px solid;
    border-right: $oa-blue 1px solid;

  }

  &.warning {
    border-color: $oa-warning;
  }

}

.error-summary {

  border-top: $oa-red 1px solid;
  border-bottom: $oa-red 1px solid;

  &.boxed {

    border-left: $oa-red 1px solid;
    border-right: $oa-red 1px solid;

  }

}
