#event {

  .detail-item {

    padding: 10px 0 15px;
    position: relative;

    h3 {

      margin: 0 10px 0 0;
      vertical-align: middle;
      text-align: center;
      width: 30px;
      display: inline-block;

      i {
        color: $oa-silver;
        font-size: 31px;
      }

    }

    .detail-item-content {

      display: inline-block;
      max-width: 80%;
      vertical-align: middle;
      margin: 0;

    }

    .info {
      color: $oa-silver;
    }

    i {
      color: $oa-silver;
    }

    p {
      margin: 5px 0;
    }
  }

  .registration {

    list-style-type: none;

    padding-left: 1em;

    a { 

      color: $oa-black;

      &:hover {

        color: $oa-blue;

      }

    }

    span {

      padding-left: 0.7em;

    }

    li { 

      padding-bottom: 0.8em;

    }

    i { 
    
      width: 1.5em;
      color: $oa-silver;

    }

  }

  .location-side {

    p {

      padding: 0.3em 0;

    }

    .location-img {

      width: 100%;
      padding-top: 15px;
      margin-bottom: -10px;

    }

    .map {

      margin: 10px 0 20px;
      height: 200px;

    }

    ul {

      padding: 0 0.2em;

      li {

        padding: 0.5em 0;

      }

      i {

        padding-right: 0.8em;
        display: inline-block;
        vertical-align: middle;

      }

    }

    .location-tags {

      width: 80%;
      display: inline-block;
      padding: 0;
      vertical-align: middle;

      li {

        display: inline;

      }

    }

  }

}