#event {

  .event-content {

    background: $oa-white;
    border-radius: 3px;

    h1, .description, .short-description, .dates {

      padding: 20px;

    }

    .share {

      padding-bottom: 10px;

      i {

        font-size: 16px;
        line-height: 20px;
      
      }


    }

    .tags {

      padding: 20px 20px 0;

      li {

        display: inline-block;
        background: $oa-blue;
        margin-right: 0.5em;
        border-radius: 4px;
        color: $oa-white;
        padding: 0.2em 0.4em;

      }

      .category {

        text-transform: uppercase;

      }

    }

    .description {

      h1 {
        font-size: 30px;
        padding: 20px 0;
      }

      h2 {

        font-size: 24px;

      }

      h3 {

        font-size: 20px;

      }

      strong { font-weight: bold; }

    }

  }

}