#event {

  .event-content {

    background: $oa-white;
    border-radius: 3px;

    h1, .description, .short-description, .dates {

      padding: 20px;

    }

    .share {

      padding-bottom: 10px;

      i {

        font-size: 16px;
        line-height: 20px;
      
      }


    }

  }

}