body {
  
  > header .links a {

    padding: 15px 10px;

  }

}

#review-admin-menu {
  
  padding: 0;

  header {

    > a {

      width: 16.6%;

    }

    .title {

      width: 75%;

    }

  }

}