<div class="stepper-container">
    <div class="stepper">
        <div class="step confirmation passed"></div>
        <div class="step confirmation active"></div>
        <div class="step confirmation"></div>
    </div>
</div>