{
  "extends": [
    "@openagenda"
  ],

  "parserOptions": {
    "sourceType": "module"
  },

  "overrides": [
    {
      "files": [
        "src/**/*.{tsx,ts,jsx,js}",
        "*.stories.{tsx,ts,jsx,js}"
      ],
      "globals": {
        "React": true
      }
    }
  ]
}
