{
  "extends": "../.eslintrc",

  "parserOptions": {
    "sourceType": "module"
  },

  "ignorePatterns": [
    "/dist"
  ],

  "overrides": [
    {
      "files": [
        "src/**/*.{tsx,ts,jsx,js}",
        "*.stories.{tsx,ts,jsx,js}"
      ],
      "globals": {
        "React": true
      }
    }
  ],

  "settings": {
    "import/resolver": {
      "typescript": true
    }
  }
}
