@use '@openagenda/react-shared/scss/react-date-range.scss';

// @use 'swiper/scss';
// @use 'swiper/scss/free-mode';
// @use 'swiper/scss/navigation';

@use 'swiper/swiper.scss';
@use 'swiper/modules/free-mode.scss';
@use 'swiper/modules/navigation.scss';

.oa-filter-total {
  margin-left: 4px;
}

.map-container {
  height: 180px;
}

.oa-timeline {
  --swiper-theme-color: #41acdd;
  // --swiper-navigation-color: #41acdd;

  .oa-timeline-swiper-days,
  .oa-timeline-swiper-months {
    height: 40px;
    user-select: none;

    .swiper-wrapper {
      align-items: center;
    }

    .swiper-slide {
      width: auto;
      height: auto;

      span[role='option'] {
        padding-inline: 12px;
        padding-block: 6px;
        border-radius: 100px;
        cursor: pointer;

        &[aria-selected='true'] {
          background: #41acdd;
        }
      }
    }

    .oa-timeline-swiper-days-day-with-timings {
      font-weight: bold;
    }

    .oa-timeline-swiper-days-day-without-timings {
      opacity: 0.7;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: static;
    width: 32px;
    flex: 0 0 auto;
    left: unset;
    right: unset;
    top: unset;
    margin-top: unset;
    height: auto;

    &:after {
      font-size: inherit;
    }
  }

  /* fix spaceBetween */
  .oa-timeline-swiper-days {
    .swiper-slide {
      padding: 0 12px;
    }
    .swiper-slide:first-child {
      padding-left: 0;
    }
    .swiper-slide:last-child {
      padding-right: 0;
    }
  }
  .oa-timeline-swiper-months {
    .swiper-slide {
      padding: 0 8px;
    }
    .swiper-slide:first-child {
      padding-left: 0;
    }
    .swiper-slide:last-child {
      padding-right: 0;
    }
  }
}
