.elb article {

  position: relative;
  display: block;
  margin: 1em 0 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #dfdfdf;

}

.elb article .pic {

  display: inline-block;
  vertical-align: top;
  width: 20%;
  text-align: right;

}


.elb article .pic img {

  padding: 4px 20px 0 0;
  max-width: 90%;

}

.elb article .cnt {

  vertical-align: top;
  display: inline-block;
  width: 80%;

}

.elb article .cnt.nopic {

  width: 100%;

}

.elb article .cnt > span {

    display: block;

}

.elb article .title {

  display: block;

}

.elb article .dsc {

  display: block;
  font-weight: 100;
  
}


.elb.els article .sti {

  display: block;

}