.elb.els article .title {

  font-size: 1.4em;

}

.elb.els article .sti {

  font-size: 1.2em;

}

.elb.els article .dsc {

  font-size: 1.2em;
  color: #666;
  padding: 1em 0;

}

.elb.els article .lc {

  padding: .5em 0;
  display: block;

}

.elb.els article .lc i {

  font-size: 1.3em;
  padding-right: 0.5em;

}

.elb.els article .lc span {

  font-size: 1.2em;
  font-weight: 100;

}