<section class="detail-item timings no-js">
  <h3><i class="fa fa-calendar-o"></i></h3>
  <ul class="detail-item-content months">
    <li class="month">
      <header class="month-title">
        <i class="prev fa fa-chevron-left"></i>
        <h4>Janvier 2016</h4>
        <i class="next fa fa-chevron-right"></i>
      </header>
      <ul class="month-list">
        <li class="month-item">
          <span class="day">Mardi 9</span><span class="hour">10:00 - 12:00</span>
        </li><li class="month-item">
          <span class="day">Mercredi 10</span><span class="hour">10:00 - 12:00</span><span class="hour">14:00 - 17:30</span>
        </li><li class="month-item">
          <span class="day">Jeudi 16</span><span class="hour">10:00 - 12:00</span>
        </li><li class="week-separator">
        </li><li class="month-item">
          <span class="day">Lundi 20</span><span class="hour">10:00 - 12:00</span><span class="hour">15:00 - 19:30</span>
        </li>
      </ul>
    </li><li class="month">
      <header class="month-title">
        <i class="prev fa fa-chevron-left"></i>
        <h4>Mars 2016</h4>
        <i class="next fa fa-chevron-right"></i>
      </header>
      <ul class="month-list">
        <li class="month-item">
          <span class="day">Mardi 9</span><span class="hour">10:00 - 12:00</span>
        </li><li class="month-item">
          <span class="day">Mercredi 10</span><span class="hour">10:00 - 12:00</span>
        </li><li class="month-item">
          <span class="day">Jeudi 16</span><span class="hour">10:00 - 12:00</span>
        </li><li class="month-item">
          <span class="day">Vendredi 17</span><span class="hour">10:00 - 12:00</span>
        </li>
      </ul>
    </li><li class="month">
      <header class="month-title">
        <i class="prev fa fa-chevron-left"></i>
        <h4>Avril 2016</h4>
        <i class="next fa fa-chevron-right"></i>
      </header>
      <ul class="month-list">
        <li class="month-item">
          <span class="day">Mardi 9</span><span class="hour">10:00 - 12:00</span>
        </li><li class="month-item">
          <span class="day">Mercredi 10</span><span class="hour">10:00 - 12:00</span><span class="hour">14:00 - 17:30</span>
        </li><li class="month-item">
          <span class="day">Jeudi 16</span><span class="hour">10:00 - 12:00</span>
        </li><li class="month-item">
          <span class="day">Vendredi 17</span><span class="hour">10:00 - 12:00</span><span class="hour">15:00 - 19:30</span>
        </li>
      </ul>
    </li><li class="month">
      <header class="month-title">
        <i class="prev fa fa-chevron-left"></i>
        <h4>Septembre 2016</h4>
        <i class="next fa fa-chevron-right"></i>
      </header>
      <ul class="month-list">
        <li class="month-item">
          <span class="day">Mardi 9</span><span class="hour">10:00 - 12:00</span>
        </li><li class="month-item">
          <span class="day">Mercredi 10</span><span class="hour">10:00 - 12:00</span><span class="hour">14:00 - 17:30</span>
        </li><li class="month-item">
          <span class="day">Jeudi 16</span><span class="hour">10:00 - 12:00</span>
        </li><li class="month-item">
        </li>
      </ul>
    </li>
  </ul>
</section>