/**
 * phase out lightbox - remove with deprecation of flash message script in cibul-templates
 */
.lightbox-canvas {

  background: rgba(0, 0, 0, 0.62);
  z-index: 999998;

  .lightbox-frame {

    padding: 10px 20px;
    z-index: 999999;

    &.w500 {

      width: 500px;

    }

    .lightbox-buttons {

      text-align: center;
      padding-top: 10px;

      button {

        margin: 0 5px;

      }

    }

  }

}