<div class="row wsq header">
  <div class="col col-sm-2">
    <a class="agenda-logo" href="#">
      <img alt="agenda title" src="//cibul.s3.amazonaws.com/agenda46650121.jpg"/>
    </a>
  </div>
  <div class="col col-sm-10">
    <h1>Semaine de l'industrie</h1>
    <p>Administration</p>
    <a href="#">back</a>
  </div>
</div>