{
  "extends": [
    "@openagenda"
  ],

  "parserOptions": {
    "sourceType": "script"
  },

  "ignorePatterns": [
    "lib",
    "esm"
  ],

  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          ".storybook/**/*.js",
          "stories/**/*.js",
          "scripts/**/*.js",
          "test/**/*.js"
        ]
      }
    ]
  },

  "overrides": [
    {
      "files": [
        "src/**/*.js",
        "test/**/*.js",
        ".storybook/**/*.js",
        "stories/**/*.js"
      ],

      "parserOptions": {
        "sourceType": "module"
      }
    }
  ]
}
