<%- include('../layout/_top.ejs') %>
<div class="container agenda-admin">
  <%- include('../agenda-admin/_admin-header.ejs') %>

  <div class="row wsq">
    <%- include('../agenda-admin/_admin-tabs.ejs') %>

    <div class="col col-sm-9 body">
      <h2 class="margin-bottom-lg">Avancé</h2>

      <div class="table-responsive">
        <table class="table">
          <tbody>
            <tr class="inactive">
              <td class="col-md-3" style="cursor:pointer"><b>Clés d'accés</b></td>
              <td style="cursor:pointer">Gérez les clés</td>
            </tr>
            <tr class="inactive">
              <td class="col-md-3" style="cursor:pointer"><b>Labellisation</b></td>
              <td style="cursor:pointer"><b class="text-muted">Agenda officiel</b></td>
            </tr>
            <tr class="inactive">
              <td class="col-md-3" style="cursor:pointer"><b>Visibilité</b></td>
              <td style="cursor:pointer">
                <b class="text-muted">Agenda privé - Agenda indexé</b>
              </td>
            </tr>
            <tr class="inactive">
              <td class="col-md-3" style="cursor:pointer"><b>Personnalisation</b></td>
              <td style="cursor:pointer">Modifiez la description des événements</td>
            </tr>
            <tr>
              <td class="col-md-3"><b>Messagerie</b></td>
              <td>
                <div class="margin-bottom-sm">Paramétrages de la messagerie</div>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" checked>
                      Désactiver la messagerie: Remplacer les liens de la messagerie par un envoi par email
                    </label>
                  </div>
                  <div class="form-group">
                    <label>Email de réception</label>
                    <input
                      class="form-control"
                      type="email"
                      placeholder="votre@email.com">
                    <span>Un lien "mailto" pointant sur cet email sera présent sur les pages de l'agenda</span>
                  </div>
                  <div class="form-group">
                    <label>Objet par défaut</label>
                    <input
                      class="form-control"
                      type="email"
                      placeholder="Message envoyé depuis l'agenda 'La semaine de l'industrie'"
                    >
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary">Mettre à jour</button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>
