#header {

  background-color: $oa-black;
  background-size: cover;
  color: $oa-white;
  margin-top: -1px;
  position: relative;
  z-index: 1001;

  a {
    color: $oa-white;
    text-decoration: none;

    &:hover {
      color: $oa-blue;
    }
  }

  h1 {
    margin-top: 0;
  }

  .layer {
    background: rgba(0, 0, 0, 0.40);
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .agenda-container {

    text-align: center;

    margin-top: 20px;
    margin-bottom: 20px;

    strong {
      display: block;
    }

    a {
      font-weight: 300;

      &:hover .avatar {
        border-color: $oa-blue;
      }
    }

    strong {
      margin-right: 1em;
    }

    .avatar {
      border-width: 2px;
      margin-right: 10px;
      max-width: 56px;
    }

  }

  .event-container {

    margin-bottom: 20px;

  }

  .action-container {
    p {
      white-space: nowrap;
    }

    .btn {
      margin-top: 5px;

      i {
        font-size: 22px;
        margin-right: 5px;
        vertical-align: middle;
      }

      &:hover {
        color: white;
      }
    }

    .share {
      a {
        color: $oa-white;
        margin: 5px;

        &:hover {
          color: $oa-blue;
        }

        span { display: none; }
      }
    }
  }

  .profile.container {
    
    min-height: 315px;
    position: relative;
    text-align: center;

    &.notheme {
      min-height: 180px;
    }

    &.notheme .row {
      position: relative;
      padding: 20px 40px;
    }

    &.notheme .title-container {
      padding: 30px 0;
    }

  }

  @media (min-width: 768px) {

    .avatar-container, .action-container, .title-container {

      display: inline-block;
      float: none;

    }

    .title-container {

      p { max-width: 5OOpx; }

    }

    .agenda-container {
      text-align: left;

      strong {
        display: inline;
      }

    }

    .title-container {
      vertical-align: middle;
    }

    .action-container {
      vertical-align: bottom;
    }

    .avatar-container {
      margin: 0;
      vertical-align: middle;

      img {
        margin: 0;
      }
    }

    .profile.container {
      text-align: left;

      .row {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }
  }
  
}