.agenda-header {

  background-color: $oa-black;
  background-size: cover;
  color: $oa-white;
  margin-top: -1px;
  position: relative;
  z-index: 1001;

  a {

    color: $oa-white;
    text-decoration: none;

    h1:hover, p:hover {
      color: $oa-blue;
    }

  }

  h1 {

    margin-top: 0;

  }

  .agenda-title {

    display: inline-block;
    position: relative;

    h1 {

      margin-right: 1em;

    }


  }


  .layer {
    background: rgba(0, 0, 0, 0.40);
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .agenda-container {

    text-align: center;

    margin-top: 20px;
    margin-bottom: 20px;

    strong {
      display: block;
    }

    a {
      font-weight: 300;

      &:hover .avatar {
        border-color: $oa-blue;
      }
    }

    strong {
      margin-right: 1em;
    }

    .avatar {
      border-width: 2px;
      margin-right: 10px;
      max-width: 56px;
    }

  }

  .event-container {

    margin-bottom: 20px;

  }

  .action-container {

    padding-top: 15px;

    p {
      margin: 10px 0;
      white-space: nowrap;
    }

    .btn {
      margin-top: 5px;

      i {
        font-size: 22px;
        margin-right: 5px;
        vertical-align: middle;
      }

      &:hover {
        color: white;
      }
    }

    .share {
      a {
        color: $oa-white;
        margin: 5px;

        &:hover {
          color: $oa-blue;
        }

        span {
          display: none;
        }
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 10px;
      }

      a {
        margin: 0 !important;
        text-align: left;
        white-space: normal;
      }

      i {
        min-width: 24px;
        text-align: center;
      }
    }
  }

  .profile.container, .profile.container-fluid {

    min-height: 315px;
    position: relative;
    text-align: center;

    &.notheme {
      min-height: 180px;
    }

    &.notheme .row {
      position: relative;
    }

    &.notheme .title-container {
      padding: 30px 0 5px;
    }

  }

  .ctas {

    margin-top: 15px;

    .btn {

      margin: 0 5px 7px 0;

      &:hover {
        color: $oa-white;
      }

    }

    .btn-default {
      background: none;

      &:hover {
        background: $oa-gray-lightest;
        color: $oa-blue;
        border-color: $oa-gray-lightest;
      }

      &:focus {
        color: $oa-blue;
      }
    }

    .fa {
      margin-right: 5px;
    }
  }


  /******************* >= 768PX ***********************/

  @media (min-width: 768px) {

    .agenda-title {

      .agenda-badges {

        position: absolute;
        right: -30px;
        width: 60px;
        top: 7px;

        &>div {

          vertical-align: middle;

        }

      }

    }


    .avatar-container, .action-container, .title-container {

      display: inline-block;
      float: none;

    }

    .title-container {

      p {
        max-width: 500px;
      }

    }

    .agenda-container {
      text-align: left;

      strong {
        display: inline;
      }

    }

    .title-container {
      vertical-align: top;
    }

    .action-container {
      vertical-align: bottom;
    }

    .avatar-container {
      margin: 0;
      padding: 15px;
      vertical-align: top;

      img {
        background: $oa-white;
        margin: 0;
      }
    }

    .profile.container, .profile.container-fluid {
      text-align: left;

      .row {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }
  }


  /******************* >= 1200px ***********************/

  @media (min-width: 1200px) {

    .profile.container, .profile.container-fluid {

      padding: 20px 40px;

    }

  }

}
