#sub-nav {
  background: $oa-gray-lightest;
  font-weight: 300;
  position: relative;
  z-index: 100;

  // .add-event {

  //   color: $oa-blue;
  //   display: block;
  //   line-height: 50px;
  //   padding: 0;
  //   text-decoration: none;

  //   span {

  //     font-weight: bold;
  //     vertical-align: middle;

  //   }

  //   i {

  //     font-size: 1.2em;
  //     vertical-align: middle;

  //   }

  // }
  .cta {
    a {
      border: 1px solid transparent;
      border-width: 3px 0;
      color: $oa-blue;
      display: inline-block;
      font-weight: bold;
      line-height: 44px;
      text-align: center;
      transition: all 0.2s;
      white-space: nowrap;

      &:hover {
        border-bottom-color: $oa-blue;
        text-decoration: none;
      }
    }

    &-add a {
      color: $oa-green;

      &:hover {
        border-bottom-color: $oa-green;
      }
    }

    .btn {
      color: $oa-white;
      line-height: inherit;
      font-weight: normal;
      margin: 8px 0;
    }
  }

  .active a {
    background: $oa-gray-lighter;
    border-color: $oa-gray-lighter;
    border-radius: 0;
    color: $oa-black;
  }

  .share {
    line-height: 50px;
    margin: 0;
    text-align: right;
    white-space: nowrap;

    a {
      color: $oa-gray;
      margin: 5px;
      text-decoration: none;

      &:hover {
        color: $oa-blue;
      }

      span {
        display: none;
      }

      &.tw:hover {
        color: $twitter-color;
      }

      &.fb:hover {
        color: $facebook-color;
      }

      &.gp:hover {
        color: $google-color;
      }
    }
  }
}