<div class="cb e500">
  <div class="canvas center">
    <div class="errorLabel">500</div>
    <div>
      <p><%= __( typeof message !== 'undefined' ? message : 'There was a little technical problem. We are working on resolving it.' ) %>.</p>
    </div>
  </div>
</div>