.auth {

  .head-message {

    p {

      font-size: 1.6em;
      margin: 0;

    }

  }
  
  .top-margined {

    margin-top: 60px;

  }

  .captcha {

    position: relative;
    overflow: hidden;
    height: 3.2em;
    width: 190px;

  }

  .g-recaptcha {

    overflow: hidden;
    position: absolute;
    top: -18px;
    left: -10px;
    padding-top: 4px;

  }

  .social {

    .btn-facebook, .btn-twitter, .btn-google {

      border-width: 0px;
      color: $oa-white;
      display: inline-block;
      margin: 1.8em 1em 0 0;

    }

    .fit {

      display: block;

    }

    .btn-facebook {

      background-color: $facebook-color;

    }

    .btn-twitter {

      background-color: $twitter-color;

    }

    .btn-google {

      background-color: $google-color;

    }

  }

}