.auth .canvas form.cform,
.auth .services {

  display: inline-block;
  vertical-align: top;
  padding: 2em 3em 0 0;

}

.auth .services li {

  padding: 1.5em 0 0.5em;
  display: block;

}

.auth .services {

  width: 10em;
  border: none;
  padding-left: 1em;
  border-width: 0;

}

.auth .services i,
.auth .services span {

  color: white;
  font-weight: bold;

}

.auth .services .button {

  border: none;

}

.auth .facebook-blue {

  background-color: #3b5998;

}

.auth .twitter-blue {

  background-color: #00aced;

}

.auth .google-red {

  background-color: #d34836;
  
}


.auth section {

  padding: 1em 0;

}

.auth section > .line > li {

  display: inline-block;
  vertical-align: top;
  padding: 1em 1em 0 0;

}