.simple {
  @import './react-date-range-simple.scss';
  @import './react-date-range.scss';
}

.variation {
  @import './react-date-range-variation.scss';
  @import './react-date-range.scss';
}

.other-variation {
  @import './react-date-range-other-variation.scss';
  @import './react-date-range.scss';
}
