[mysqld]
# -----------------------------------------------------------------------------
# Logs et binlog
# -----------------------------------------------------------------------------
skip-log-bin

# -----------------------------------------------------------------------------
# General charset
# -----------------------------------------------------------------------------
character-set-server = utf8mb4
collation-server     = utf8mb4_unicode_ci

# -----------------------------------------------------------------------------
# InnoDB
# -----------------------------------------------------------------------------
innodb_buffer_pool_size          = 20000M    # (~20 Go, ajuster selon besoin)
innodb_buffer_pool_instances     = 20         # ou 12, à tester
# Supprime carrément ou laisse par défaut:
# innodb_buffer_pool_chunk_size  = ...
innodb_flush_log_at_trx_commit   = 2
innodb_use_native_aio            = 1
innodb_log_files_in_group        = 2
innodb_log_file_size             = 1536M     # => total ~3 Go
innodb_redo_log_capacity = 5G (MySQL 8 “direct” param)
# -----------------------------------------------------------------------------
# MyISAM (si pas utile, garder très bas)
# -----------------------------------------------------------------------------
key_buffer_size                  = 64M
myisam_sort_buffer_size          = 64M

# -----------------------------------------------------------------------------
# Connexions / buffers / caches
# -----------------------------------------------------------------------------
max_connections                  = 256
table_open_cache                 = 4000
table_definition_cache           = 2000
tmp_table_size                   = 134217728
max_heap_table_size              = 134217728
read_buffer_size                 = 256K
read_rnd_buffer_size             = 256K
sort_buffer_size                 = 4194304
join_buffer_size                 = 512K
thread_stack                     = 240K

# -----------------------------------------------------------------------------
# Divers
# -----------------------------------------------------------------------------
skip-external-locking
skip-name-resolve
net_buffer_length                = 2K
sync_binlog                      = 0
user                             = mysql
server-id                        = 1
