@import "../layout/base";
@import "../agenda/header";
@import "../components/stepper/style";

.event-instruction {
  
  border-top: $oa-blue 1px solid;
  border-bottom: $oa-blue 1px solid;
  border-radius: 0;
  background-color: $oa-gray-lightest;

}