.oa-form .accessibility {

  .accessibility-detail {

    .checkbox {
      label {
        padding-left: 50px;
      }

      input[type="checkbox"] {
        margin: 3px 0 3px -50px;
      }

      i {
        height: 30px;
        width: 30px;
        background-image: url(//s3.eu-central-1.amazonaws.com/oastatic/accessibility-30-2.png);
        position: absolute;
        top: -5px;
        left: 17px;
      }
    }

    .hi i {
      background-position: 0px 60px;
    }

    .pi i {
      background-position: 0px 120px;
    }

    .mi i {
      background-position: 0px 90px;
    }

    .vi i {
      background-position: 0px 180px;
    }

    .ii i {
      background-position: 0px 0;
    }

    .sl i {
      background-position: 0px 150px;
    }

  }

}
