<div class="age">
  <input type="checkbox" name="age" checked="">
  <div class="age-inputs">
    <label>De</label>
    <div class="Select is-searchable has-value">
      <input type="hidden" name="minage" value="10">
      <div class="Select-control">
        <div class="Select-placeholder">10 ans</div>
        <div class="Select-input " style="display:inline-block;">
          <input value="" tabindex="0" style="width:5px;box-sizing:content-box;">
          <div style="position: absolute; visibility: hidden; height: 0px; width: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-weight: normal; font-style: normal; letter-spacing: normal;"></div>
        </div>
        <span class="Select-arrow-zone">
          <span class="Select-arrow"></span>
        </span>
      </div>
    </div>
    <label>à</label>
    <div class="Select is-searchable has-value">
      <input type="hidden" name="maxage" value="90">
      <div class="Select-control">
        <div class="Select-placeholder">90 ans</div>
        <div class="Select-input " style="display:inline-block;">
          <input value="" tabindex="0" style="width:5px;box-sizing:content-box;">
          <div style="position: absolute; visibility: hidden; height: 0px; width: 0px; overflow: scroll; white-space: pre; font-size: 14px; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-weight: normal; font-style: normal; letter-spacing: normal;"></div>
        </div>
        <span class="Select-arrow-zone">
          <span class="Select-arrow"></span>
        </span>
      </div>
    </div>
  </div>
</div>