.image-upload {

  img {
    max-width: 100%;
  }

  .info {
    display: block;
  }

  .upload-group {

    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;

    input[type="file"] {

      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      padding: 0.5em;

      &::-webkit-file-upload-button {

        cursor:pointer;

      }

    }

    button {

      z-index: -1;
      margin-left: 0.5em;
      cursor: pointer;

    }

  }
  
  form {

    &.empty {

      min-height: 300px;

    }

    background: lighten( $oa-gray-light, 15 );
    position: relative;
    text-align: center;

    .actions {

      position: absolute;
      top: 0;
      right: 0;
      padding: 0.4em;

    }

    .error {

      position: absolute;
      text-align: center;
      width: 80%;
      font-weight: bold;
      top: 45%;
      left: 0;
      background: white;
      margin: 0 10%;
      padding: 0.4em;
      border: 1px solid $oa-gray-light;

    }

  }


  .spin-wrapper {

    display: inline-block;
    vertical-align: middle;
    width: 20px;
    position: relative;

  }

}
