<div class="language-bar">
  <ul>
    <li>
      <div class="language-item">
        <span>Français</span>
        <span class="remove">✕</span>
      </div>
    </li>
    <li>
      <div class="language-item">
        <span>English</span>
        <span class="remove">✕</span>
      </div>
    </li>
    <li class="disabled">
      <div class="language-item">
        <span>Español</span>
        <span class="remove">✕</span>
      </div>
    </li>
  </ul>
  <span class="language-add cform">
    <a class="url">Add a language</a>
  </span>
</div>