.oa-preview ul {

  list-style-type: none;
  padding: 0;

}

.oa-preview li {

  padding: 0 0 1em;

}

.oa-preview a {

  color: inherit;
  text-decoration: inherit;

}

.oa-preview span {

  display: block;

}

.oa-preview .oa-title {

  font-weight: bold;

}