<% include ../layout/_top.ejs %>
<% include ../agenda/_header.ejs %>
<div class="container page-dialog">
  <div class="row top-margined">
    <section class="col-sm-6 col-sm-offset-3 wsq">
      <div class="content text-center">
        <h2>Dialog title</h2>
      </div>
      <div class="content">
        <p>Some explanatory text, yada yada blablabla, bli bli and blou blou</p>
      </div>
      <div class="content actions">
        <a class="btn btn-primary">Radoter dans son coin</a>
      </div>
    </section>
  </div>
</div>
<% include ../layout/_bottom.ejs %>