<html>
  <body>
    <p>Should show events matching "théâtre" only.</p>
    <a href='{{root}}/test-pre-attr#anything'>Reload page</a>
    with some value loaded after #
    <iframe
      data-oa-portal='{{root}}'
      data-scroll-offset='0'
      allowtransparency='allowtransparency'
      frameborder='0'
      data-lang='fr'
      data-pre='keyword%5B0%5D=théâtre'
    ></iframe>
    <script
      type='text/javascript'
      src='http://localhost:3000/js/oaPortalController.js'
    ></script>
  </body>
</html>