#nvh.cbody { margin: 0 auto!important; height: 100%; max-width: none; }

#nvh .main { width: 930px; max-width: none; padding: 2em 0 0; }
#nvh .sec { height: 100%; display: inline-block;}
@media all and (max-width: 1300px) { #nvh .main { width: 840px; } }
@media all and (max-width: 1200px) { #nvh .main { width: 700px; } }
@media all and (max-width: 1020px) { #nvh .main { width: 500px!important;} }
@media all and (max-width: 960px) { #nvh .sec { width: 280px!important;} }
@media all and (max-width: 790px) { #nvh .main { width: 220px!important; } }
@media all and (max-width: 730px) { #nvh .sec { width: 220px!important;} }
@media all and (max-width: 520px) { 
  #nvh .sec { display: block; width: 100%!important; } 
  #nvh .sec .features li > i,
  #nvh .sec .features li > div i { font-size: 2em!important; }
  #nvh .main { display: block; width: 320px!important; }
}


#nvh .main .rdl-item { margin: 10px 10px 20px; }

#nvh .lockPane { background-color: transparent; }

#nvh .sec { margin: 0; }

#nvh .sec .sidepane { 
  height: 100%;
  position: absolute;
  width: 9999px;
  left: -9999px;
  background-color: white;
}

#nvh .sec .toppane {
  position: absolute; 
  top: -1px; 
  right: 0; 
  background: white; 
  height: 5px; 
  width: 9999px; 
  z-index: 5; 
}

/* same as event */
#nvh .sec h1 {
  line-height: 1em;
  font-weight: normal;
  letter-spacing: -1px;
  font-size: 2em;
}

#nvh .sec .content { padding: 40px 20px 20px; }

#nvh .sec h2,
#nvh .sec .subtitle {
  line-height: 1.4em;
  padding: 1em 0;
  display: block;
  letter-spacing: 1px;
  font-size: 1.3em;
  color: #666;
}

#nvh .sec h2 {
  padding: 1em 0 0.5em;
}

#nvh .sec i { font-size: 1.6em; line-height: 0.8em; }

#nvh .sec .features li { padding: 10px 0;}
#nvh .sec .features li > * { display: inline-block; vertical-align: middle; }
#nvh .sec .features li > span { width: 88%; }
#nvh .sec .features li > i { 
  width: 10%;
  font-size: 1.6em;
  text-align: center;
  padding-right: 2%;
}

#nvh .sec .features li > div { width: 10%; padding-right: 2%; }
#nvh .sec .features li > div i { padding: 0.2em;}
#nvh .sec .features li > div * { display: block; text-align: center; }
#nvh .sec .features li > div > span { letter-spacing: -1px; }
#nvh .sec strong { font-weight: bold; }


@media all and (max-width: 600px) {
  #nvh .sec .features li > i { width: 20%; }
  #nvh .sec .features li > span { width: 78%; }
  #nvh .sec .features li > div { width: 18%; padding-right: 2%; }
}


#nvh .sec .blue,
#nvh .sec .blue * { color: #11BED4; }

#nvh .sec .pro { border-top: 1px solid #11BED4; padding-bottom: 10px;}
#nvh .sec .pro.bottom { border-bottom: 1px solid #11BED4; border-top: none; padding-bottom:0; margin-top: 10px;}
#nvh .sec .pro * { font-size: 1em;}
#nvh .sec .pro span { font-size: 1.2em; }
#nvh .sec .pro i { padding-right: 0.5em;}


#nvh .company i { font-size: 1em; padding-right: 0.5em;}

#nvh .sec .team li { padding-bottom: 10px; }

#nvh .sec .follow-us i { font-size: 2em;}
#nvh .sec .follow-us li { display: inline-block; padding: 1em 2em 0.5em 0; }

#nvh .sec .team i { font-size: 1em; padding-right: 0.5em;}
#nvh .sec .team li > * { display: inline-block; vertical-align: top; }
#nvh .sec .team li > img { width: 32px; padding: 0.4em 0.4em 0 0; }
#nvh .sec .team li .title { font-style: italic; color: #666; max-width: 180px; }
#nvh .sec .team li .mobile,
#nvh .sec .team li .email { display: block; }

#nvh .suggestions i { margin-right: 0.5em; }
#nvh .suggestions li { padding: 0.5em 0; }
#nvh .suggestions li > * { vertical-align: middle; }

#nvh .newsletter { padding: 0.5em 0; }
#nvh .newsletter input { margin-bottom: 0.5em; }