<%- include('../layout/_top.ejs') %>
<%- include('../agenda/_header.ejs') %>
<div class="container">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <div class="text-center">
        <h2 class="margin-top-lg margin-bottom-md">Ajouter un événement</h2>
      </div>
      <div class="stepper-gray-background margin-top-lg">
        <%- include('../components/stepper/_three-h-steps.ejs') %>
      </div>
      <div class="margin-v-lg wsq padding-all-md">
        <h3 class="text-center">Votre saisie a bien été enregistrée</h3>
        <p class="margin-top-lg">Votre événement est bien enregistré, il est en cours de modération. Vous serez notifié par email dès qu'il sera publié.</p>
        <div class="margin-top-md">
          <ul class="list-unstyled text-center margin-h-lg">
            <li class="margin-v-md">
              <a class="btn btn-primary btn-block">Voir mon événement</a>
            </li>
            <li class="margin-v-md">
              <a class="btn btn-default btn-block">Ajouter un autre événement</a>
            </li>
            <li class="margin-v-md">
              <a class="btn btn-default btn-block">Voir tous mes événements</a>
            </li>
            <li class="margin-v-md">
              <a class="btn btn-default btn-block">Contacter les administrateurs de l'agenda</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../layout/_bottom.ejs') %>
