.signin-frame { width: 400px; height: 290px; }
.signin-frame.nosocial { width: 260px;}

#signin { position: relative; min-width: 260px; text-align: left; }

#signin h1 { font-size: 2em; line-height: 2em; }

#signin .twitter-icon { display: inline-block; }

#signin section.service-section { margin-right: 2em; }

#signin section.service-section,
#signin section.cibul-section { display: inline-block; vertical-align: top; }

#signin section.service-section li,
#signin section.cibul-section li { margin: 1em 0; }





#signin .bottom-line { background: none repeat scroll 0 0 #EEEEEE; border-top: 2px dashed #BBBBBB; padding: 10px; text-align: center; }

#signin .error-line {
  padding: 10px 0; 
  text-align: center; 
  width: 100%;
  position: absolute;
  top: 0;
  background: #FFCFCF;
  border-bottom: 2px dashed #E5A3A3;
}

#lostpassword { margin: 70px 80px; }