// Open Agenda variables
$oa-blue: #41acdd;
$oa-black: #413a42;
$oa-white: #fff;
$oa-silver: silver;
$oa-gray: gray;
$oa-gray-light: #fafafa;
$oa-gray-less-light: #ccc;
$oa-red: #da4453;
$oa-green: #5cb85c;
$oa-yellow: rgba(240, 194, 12, 0.6);

// Boostrap variables
$brand-primary: $oa-blue;
$brand-success: $oa-green;
$navbar-default-bg:	$oa-white;
$text-color: $oa-black;
$input-color-placeholder: $oa-silver;
$btn-default-color: $oa-silver;
$btn-default-bg: transparent;
$btn-default-border: $oa-silver;
$headings-font-weight: 300;

// Social colors
$facebook-color: #3B5A9B;
$twitter-color: #009DEC;
$google-color: #D44032;
$linkedin-color: #4875B4;
$pinterest-color: #CA2128;
$widget-color: $oa-blue;