{
    "extends": "../.eslintrc",

    "parserOptions": {
      "sourceType": "module"
    },

    "rules": {
      "import/no-extraneous-dependencies": [
        "error",
        {
          "devDependencies": [
            "test/**/*.js"
          ]
        }
      ],
      "import/extensions" : [
        "error",
        "ignorePackages"
      ]
    }
}
