* { margin: 0; padding: 0; font-family: "Helvetica Neue",Arial,sans-serif; }
body { background: url("/images/bg.png") repeat scroll 0 0 rgb(230,230,230); }
.wsq {
  background: white;
  vertical-align: top; 
  v-moz-box-shadow: 0 3px 4px #999999; 
  -moz-box-shadow: 0 3px 4px #999999; 
  -webkit-box-shadow: 0 3px 4px #999999; 
  box-shadow: 0 1px 2px #999999; 
  text-align: left;
}

.display-none { display: none!important; }


body > header { z-index: 4; }

header.mobile i { font-size: 1.9em; color: #ccc; }

header .head-icon { vertical-align: middle; padding: 0 0 0 1em; cursor: pointer; }
header .head-icon.active { color: #11BED4; }

header .flash-message { background: #333; padding: 12px 0; }
header .flash-message * { display: inline-block; color: white; font-weight: bold; }
header .flash-message a { text-decoration: underline; }
header .flash-message .cross { color: white; text-decoration: none; }

header .subtitle { font-size: 1.1em; color: #666; margin: 0 1em; display: inline-block; max-width: 190px; vertical-align: middle; }
header .block { display: inline-block; vertical-align: middle; }

header section { max-width: 1200px; margin: 0 auto; }
header .content { margin: 0 20px;}
@media screen and (max-width: 600px) {  header .content { margin: 0 10px; } }

header .iScrollBarV { position: absolute; top: 0; right: 0; width: 8px; height: 100%; }
header .iScrollBarV > div { background: #ccc; }



header { padding-bottom: 0; background: white; position: relative; z-index: 3; }
header .h0 { height: 0;}


header form li a.remove-field { color: #999; display: block; font-size: 14px; font-weight: bold; position: absolute; right: 6px; top: 6px; padding: 0 1px; background: white; }
header form li:hover a.remove-field { color: #666; } 


header section.top img { vertical-align: middle; }
header .small-black-down-arrow-css { border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #333; height: 0; margin-left: 6px; position: relative; width: 0; vertical-align: middle; display: inline-block;}

header.mobile .small-black-down-arrow-css { display: none; }


header .header-dropdown { position: absolute; z-index: 4; display: none; }
header .header-dropdown > div { border-top: 1px #eee solid; margin-top: 4px; }
header .header-dropdown ul { display: inline-block; vertical-align: top; }
header .header-dropdown .col2 { width: 350px; }
header .header-dropdown .col2 ul { width: 50%; }
header .header-dropdown img.pic-nano { padding-right: 5px; }
header .header-dropdown li { cursor: initial; }
header .header-dropdown li > h3 { font-size: 1.05em; margin-bottom: 0; }
header .header-dropdown li > * { display: block; padding: 4px 8px; }
header .header-dropdown li > a { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; cursor: pointer; }
header .header-dropdown li > a:hover { background: #666; color: white; }
header .header-dropdown li > a:hover * { color: white; }

#header .logo { display: inline-block; height: 42px; }
@media screen and (max-width: 480px) {
  #header .logo { 
    width: 32px;
    overflow: hidden;
    margin-right: 5px;
  }
}



header .visitor { text-align: right; margin: 5px 0 5px 5px; display: inline; }
header .visitor .sub-block { display: inline-block; vertical-align: middle; padding: 0.5em;}
header .visitor .lang-link { margin-right: 20px; vertical-align: top; margin-top: 12px; }
header .visitor .lang-link div { display: inline-block; overflow: hidden; }

header.mobile .visitor { text-align: left; display: block; }
header.mobile .visitor .lang-link { position: absolute; top: 10px; right: 10px; }



header .connect { display: inline-block; }
header .connect > div { margin: 0 0.5em 0 0; vertical-align: middle; display: inline-block; }
header .connect ul.connect-services { margin: 5px 20px 5px 3px; height: 33px; }
header .connect ul.connect-services li { display: inline-block; }
header .connect ul.connect-services li i { font-size: 1.4em; vertical-align: middle; padding: 0 0.5em 0 0.2em;}
header li.fbl i { color: #3B5999; }
header li.twl i { color: #9AE4E8; }
header .connect span { margin: 0 10px; }
header .connect li { position: relative; margin: 5px 5px 5px 0; vertical-align: middle; }
header .connect li input { width: 120px; }
header .connect li:last-child { margin-right: 0;}
header .connect .button.small { padding: 3px 8px; height: 23px; }
header .connect form { padding: 0.2em 0.4em; text-align: right; }
header .connect form li { margin-right: 0; }

header .connect form button { padding: 3px 5px 2px; }
header .connect form button i { font-size: 1.2em; }

header.mobile .connect form { padding: 0.2em 0.4em; text-align: left; min-width: 300px; }



header.mobile .user-menu { position: absolute!important; top: 0; right: 10px; }

header .user-menu { display: inline-block; margin: 5px 0; }
header .user-menu > div { display: inline-block; vertical-align: middle; cursor: pointer;}
header .user-menu .user-profile { margin-left: 10px; }
header .user-menu .user-profile img { height: 30px; margin-right: 5px; }
header .user-menu .user-profile .full-name { display: inline-block; font-weight: normal; }

header.mobile .user-menu .user-profile .full-name { display: none; }


header .user-menu .header-menu-icon { width: 20px; text-align: center; position: relative; padding: 5px 5px 8px; margin-right: 5px;}
header .user-menu .header-menu-icon i { font-size: 1.6em; color: #aaa; vertical-align: middle; }
header .user-menu .header-menu-icon > span { display: block; }
header .user-menu .header-menu-icon .new-item-alert { position: absolute; bottom: 0; right: 0; }

header.mobile .user-menu .header-menu-icon { padding: 0 10px; }



header .visitor .signup { vertical-align: middle; }
header form input { width: 120px; }

@media screen and (max-width: 1060px) { header .subtitle { display: none;} }

@media screen and (max-width: 1000px) { header .visitor .lang-link { margin-right: 0; margin-top: 0; vertical-align: middle; } }

@media screen and (max-width: 895px) {  
  header .connect-services { margin-right: 5px!important; }
  header .connect li { overflow: hidden; }
  header .connect li input { width: 80px; }
  header label.infield { text-align: left; }
}

@media screen and (max-width: 820px) { header form input { width: 80px;} }

@media screen and (max-width: 600px) { header .subtitle { display: none!important;} }

@media screen and (max-width: 420px) { header form input { width: 60px; }  }



header section.event-search-map { width: 100%; margin: 0; max-width: none; position: relative; overflow: hidden; }
header .map { height: 400px; }


header form { display: inline-block; margin-left: 0.2em; margin-right: 1em; }
header.mobile form { display: block; }


header form li { display: inline-block; margin: 0.5em 0.5em 0.5em 0; vertical-align: middle; }


header .search-link { position: absolute; right: 0; top: 0; z-index: 2; padding: 5px 10px; margin: 10px; }
header .search-link * { vertical-align: middle; }
header .search-link i { color: #666; font-size: 1.5em; margin-right: 0.3em;}
@media screen and (max-width: 420px) { 
  header .search-link i { margin-right: 0; } 
  header .search-link span { display: none; } 
}

header .event-list { position: absolute; top: 0; background: white; width: 300px; z-index: 2; }
header .event-list .list-canvas { position: relative; overflow-y: scroll; }

header .event-list .list-header { padding: 10px; }
header .event-list .list-header img { float: left; width: 1.8em; margin-right: 10px; }
header .event-list .list-header h2 { margin: 0; }

header .event-list .event-in-stream { padding: 10px; border: none; font-family: auto; background: transparent; }
header .event-list .event-in-stream .event-name a { font-size: 1em; letter-spacing: normal; }
header .event-list .event-in-stream a, 
header .event-list .event-in-stream div { font-family: "Helvetica Neue",Arial,sans-serif; } 
header .event-list .event-in-stream .event-item { width: auto; }
header .event-list .event-pic-small { width: 60px; vertical-align: top; margin-right: 10px; margin-top: 4px; float: none;  }
header .event-list .event-content { width: 210px; display: inline-block; margin-left: 0; }
header .event-list .event-description a { color: #666; }
header .event-list .whenwhere { font-size: 0.9em; font-weight: bold; }

header .event-list img.close-list { width: 15px; position: absolute; top: 5px; right: 5px; padding: 10px; cursor: pointer; display:none; background: white; }

@media screen and (max-width: 700px) { header .event-list img.close-list {display: block; } }



header .what-menu,
header .where-menu,
header .when-menu { display: none; width: 200px; padding: 10px; position: absolute; z-index: 4; }

header.mobile .what-menu,
header.mobile .where-menu,
header.mobile .when-menu { width: 250px; }

header .where-menu { width: auto; }
header .where-list { height:0!important; width:0; margin:0; padding:0; }

header form .ui-autocomplete { z-index: 5!important; }
header form .ui-autocomplete li { margin: 0; padding: 0; }




header .when-menu .ccal ul { margin: 0; padding: 0; text-align: left;}
header .when-menu .ccal li { list-style-type: none; display: inline-block; width: 14.28%; cursor: pointer; text-align: center; min-width: 2em; margin:0;}
header .when-menu .ccal li span { display: inline-block; }
header .when-menu .ccal li.calmonth { width: 71.4%; }
header .when-menu .ccal li span { padding: 4px; display: block; border: 1px solid transparent; }
header .when-menu .ccal li.calprev span, .ccal li.calnext span { color: #ccc; }
header .when-menu .ccal li.selected { background: #53D4FF; }
header .when-menu .ccal li.selected span { color: white; }
header .when-menu .ccal li.today span { border: 1px solid #ccc; }

header .when-menu .ccal li.preselected { background: #ccc; }
header .when-menu .ccal li.preselected span { color: white; }

header .when-menu .ccal * { -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; }

header .when-menu .ccal.disabled { background: #eee; color: #999; }



@media screen and (max-width: 700px) {  header .event-list img.close-list {display: block; } }