html {
  overflow-y: hidden;
}

h2 { 
  font-size: 2.6em;
}

.event-head .st {
  font-weight: bold;
}

.event-head,
.event-body,
.event-place {
  padding: 0 0.2em 3em;
}

.event-place .placename {
  font-weight: bold;
}

.month {
  padding: 1em 0 0.4em;
  font-weight: bold;
}

.display-none {
  display: none;
}

.url {
  color: #11BED4;
}
