* { margin: 0; padding: 0; border: 0;  list-style: none outside none; color: #333; }
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

@media screen and (max-width: 600px) {

  * { font-size: 15px; }

}



body {

  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: #eee;

}

body.noscroll {

  position: fixed;
  overflow: hidden;
  width: 100%;

}

input[type="radio"] {

  border: none;

}

a {

  text-decoration: none;
  cursor: pointer;
  outline: 0;

}

.wsq {

  background: white;
  vertical-align: top; 
  text-align: left;

  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border-radius: 3px;

}

.center {

  text-align: center;

}

.lightbox-canvas {

  background-color: rgba(100,100,100,0.1);

}

.lightbox-frame {

  padding: 10px 20px;
  z-index: 999999;

}

.lightbox-frame.w500 {

  width: 500px;

}

@media all and (max-width: 500px) {

  .lightbox-frame.w500 {

    width: auto;

  }

}

.lightbox-buttons {

  text-align: center;
  padding-top: 10px;

}

.lightbox-buttons button {

  margin: 0 5px;

}

.url, .url a, .url strong, .url span, .url i, .hurl:hover {

  color: #11BED4;
  word-wrap: break-word;
  font-size: 1em;

}


.lockPane {

  position: absolute; 
  top: 0;
  background-color: rgba(255,255,255,0.5);
  z-index: 3;

}

.spinner {

  position: absolute;
  left: 50%;

}

.display-none {

  display: none !important;

}

.search {

  position: relative;

}

.search input {

  padding: 0.5em 0.8em 0.5em 3em;
  width: 100%;
  z-index: 3;
  font-size: 1.1em;
  border: 1px solid #999;
  box-sizing: border-box;
  
}

.search button {

  position: absolute;
  left: 0.8em;
  top: 0.65em;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  
}

.search i {

  color: #999;
  font-size: 1.5em;

}