<% include ../layout/_top.ejs %>
<% include ../agenda/_header.ejs %>

<div class="popup-overlay big" id="event">
  <section>
    <div class="popup-content">
      <form class="export-form">
        
          <a class="export-close">
            <i class="fa fa-times fa-lg"></i>
          </a>
          <h1 class="export-title-big">Agréger à un agenda</h1>


          <p class="text-muted">Les événements publiés par <a href="#">l'agenda de la Gargouille</a> seront automatiquement ajoutés à l'agenda sélectionné.</p>
          <div class="search margin-top-md">
            <div class="input-icon-right aggregator-input">
              <input type="text" class="search form-control" placeholder="Rechercher un agenda" />
              <button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </div>
          <div class="padding-v-sm">
            <div class="agenda-item media">
              <div class="media-left">
                <a>
                  <img class="media-object ill avatar" src="https://cibul.s3.amazonaws.com/review_martinefreymann67-gmail-com_00.jpg" alt="...">
                </a>
              </div>
              <div class="media-body">
                <div class="title media-heading">
                  <button type="button" class="btn btn-link-inline"><strong>Nuit européenne des musées 2021 : La Réunion</strong><span class="official"><i></i></span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="padding-v-sm">
            <div class="agenda-item media">
              <div class="media-left">
                <a>
                  <img class="media-object ill avatar" src="https://cibul.s3.amazonaws.com/review_martinefreymann67-gmail-com_00.jpg" alt="...">
                </a>
              </div>
              <div class="media-body">
                <div class="title media-heading">
                  <button type="button" class="btn btn-link-inline"><strong>Nuit européenne des musées 2021 : La Réunion</strong><span class="official"><i></i></span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="padding-v-sm">
            <div class="agenda-item media">
              <div class="media-left">
                <a>
                  <img class="media-object ill avatar" src="https://cibul.s3.amazonaws.com/review_martinefreymann67-gmail-com_00.jpg" alt="...">
                </a>
              </div>
              <div class="media-body">
                <div class="title media-heading">
                  <button type="button" class="btn btn-link-inline"><strong>Nuit européenne des musées 2021 : La Réunion</strong><span class="official"><i></i></span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="padding-v-sm">
            <div class="agenda-item media">
              <div class="media-left">
                <a>
                  <img class="media-object ill avatar" src="https://cibul.s3.amazonaws.com/review_martinefreymann67-gmail-com_00.jpg" alt="...">
                </a>
              </div>
              <div class="media-body">
                <div class="title media-heading">
                  <button type="button" class="btn btn-link-inline"><strong>Nuit européenne des musées 2021 : La Réunion</strong><span class="official"><i></i></span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="padding-v-sm">
            <div class="agenda-item media">
              <div class="media-left">
                <a>
                  <img class="media-object ill avatar" src="https://cibul.s3.amazonaws.com/review_martinefreymann67-gmail-com_00.jpg" alt="...">
                </a>
              </div>
              <div class="media-body">
                <div class="title media-heading">
                  <button type="button" class="btn btn-link-inline"><strong>Nuit européenne des musées 2021 : La Réunion</strong><span class="official"><i></i></span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="padding-v-sm">
            <div class="agenda-item media">
              <div class="media-left">
                <a>
                  <img class="media-object ill avatar" src="https://cibul.s3.amazonaws.com/review_martinefreymann67-gmail-com_00.jpg" alt="...">
                </a>
              </div>
              <div class="media-body">
                <div class="title media-heading">
                  <button type="button" class="btn btn-link-inline"><strong>Nuit européenne des musées 2021 : La Réunion</strong><span class="official"><i></i></span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="padding-v-sm">
            <div class="agenda-item media">
              <div class="media-left">
                <a>
                  <img class="media-object ill avatar" src="https://cibul.s3.amazonaws.com/review_martinefreymann67-gmail-com_00.jpg" alt="...">
                </a>
              </div>
              <div class="media-body">
                <div class="title media-heading">
                  <button type="button" class="btn btn-link-inline"><strong>Nuit européenne des musées 2021 : La Réunion</strong><span class="official"><i></i></span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="padding-v-sm">
            <div class="agenda-item media">
              <div class="media-left">
                <a>
                  <img class="media-object ill avatar" src="https://cibul.s3.amazonaws.com/review_martinefreymann67-gmail-com_00.jpg" alt="...">
                </a>
              </div>
              <div class="media-body">
                <div class="title media-heading">
                  <button type="button" class="btn btn-link-inline"><strong>Nuit européenne des musées 2021 : La Réunion</strong><span class="official"><i></i></span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="padding-v-sm">
            <div class="agenda-item media">
              <div class="media-left">
                <a>
                  <img class="media-object ill avatar" src="https://cibul.s3.amazonaws.com/review_martinefreymann67-gmail-com_00.jpg" alt="...">
                </a>
              </div>
              <div class="media-body">
                <div class="title media-heading">
                  <button type="button" class="btn btn-link-inline"><strong>Nuit européenne des musées 2021 : La Réunion</strong><span class="official"><i></i></span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="padding-v-sm">
            <div class="agenda-item media">
              <div class="media-left">
                <a>
                  <img class="media-object ill avatar" src="https://cibul.s3.amazonaws.com/review_martinefreymann67-gmail-com_00.jpg" alt="...">
                </a>
              </div>
              <div class="media-body">
                <div class="title media-heading">
                  <button type="button" class="btn btn-link-inline"><strong>Nuit européenne des musées 2021 : La Réunion</strong><span class="official"><i></i></span></button>
                </div>
              </div>
            </div>
          </div>
          <div class="padding-v-sm">
            <div class="agenda-item media">
              <div class="media-left">
                <a>
                  <img class="media-object ill avatar" src="https://cibul.s3.amazonaws.com/review_martinefreymann67-gmail-com_00.jpg" alt="...">
                </a>
              </div>
              <div class="media-body">
                <div class="title media-heading">
                  <button type="button" class="btn btn-link-inline"><strong>Nuit européenne des musées 2021 : La Réunion</strong><span class="official"><i></i></span></button>
                </div>
              </div>
            </div>
          </div>

        <div class="margin-bottom-sm margin-top-sm">
            <button type="button" class="btn btn-link text-danger cancel-button-left">Annuler</button>
        </div>
      </form>
    </div>
  </section>
</div

<% include ../layout/_bottom.ejs %>