<div class="header">
  <h2><%= __('Featured Events') %></h2>
  <p><%= __('Select the events that should feature in the first section of your newsletter') %></p>
  <a class="url" href="<%= genUrl('campaignLayoutEdit', { uid: uid }) %>"><%= __('back') %></a>
</div>

<section>

<% include campaignFeaturedForm.part.ejs %>

</section>