<div class="pages">
<% if ( pager.total > pager.perPage ) { %>
<% for ( var page=1; page<=pager.total/pager.perPage; page++ ) { %>
<% console.log( pager.current ) %>
  <a class="url<% if (pager.current==page) { %> current<% } %>" href="<%= genUrl(pager.routeName, pager.base, { page: page }, true) %>"><%= page %></a>
<% } %>
<% } %>
</div>