@import "../layout/base";
@import "../form-components/react-select";
@import "daterangepicker";

.activity-admin {

  .spin-canvas {
    background-color: transparent;
  }

}

.activity-user, .activity-admin, .activity-agenda-admin, .js_activities .event-content {

  ul {

    label.small {

      line-height: 20px;

    }

    .activity-item {

      color: $oa-gray;

      .activity-highlight {

        color: $oa-black;

      }

    }

  }

}

.notifications-body {

  width: 470px;
  position: absolute;
  right: -15px;
  max-height: 350px;
  overflow: hidden;
  margin: 0 15px 15px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: lighten($oa-white, 3);

  &.loading {

    height: 100px;

  }

  .list-group {

    margin-bottom: 0;

    > .next-item, > .read-all-item {

      padding: 6px 12px !important;

      &:first-child {

        border-top-right-radius: 0 !important;
        border-top-left-radius: 0 !important;

      }

      button.btn.btn-link {

        padding: 0 !important;
        color: $oa-blue;

      }

    }

    .datetime {

      padding-top: 4px !important;
      font-size: 12px;

    }

    .notif-item {

      color: $oa-gray;

      .notif-highlight {

        color: $oa-black;

      }

    }

    a.list-group-item {

      position: relative;

      &:not(.read) {

        background-color: lighten($oa-blue, 41) !important;

      }

      &:hover {

        background-color: lighten($oa-gray-lighter, 3) !important;

        &.read button.btn.btn-link.mark-read {

          visibility: hidden;

        }

        button.btn.btn-link {

          visibility: visible;

        }

      }

      button.btn.btn-link {

        visibility: hidden;
        padding: 0 !important;
        margin: 8px 0 8px 14px !important;
        color: $oa-blue;

        &:first-child {

          margin-top: 0 !important;

        }

        &:last-child {

          position: absolute;
          bottom: 0;
          right: 14px;

        }

      }

    }

  }

}

@media screen and (max-width: $screen-sm-max) {

  .notifications-body {

    margin-left: auto;
    margin-right: auto;

  }

}
