<li class="event-item media compact margin-v-sm">
  <div class="media-left">
    <a href="#">
      <img
        src="https://02034510ef5d488190e4cf17d19a788b.s3.pub1.infomaniak.cloud/main/760944c87d434826af4be37a8e5c0c1f.thumb.image.jpg"
        class="media-object ill avatar"
        alt="L'abbaye bénédictine du XIIe siècle se révèle">
    </a>
  </div>
  <div class="media-body">
    <a href="#">
      <div class="title media-heading">
        <strong>L'abbaye bénédictine du XIIe siècle se révèle</strong>
      </div>
      <div class="event-detail-part">Abbaye de La Sauve-Majeure - 16 - 18 septembre</div>
    </a>
    <div class="actions">
      <a class="btn btn-link padding-left-z" href="#">Compléter</a>
    </div>
  </div>
</li>
