  <section>
    <header class="popup-title">
      <h2>Cibul &rarr; OpenAgenda</h2>
      <a class="close-link" href=""><i class="fa fa-times fa-lg"></i></a>
    </header>
    <div class="popup-content">
      <style type="text/css">

        .doodles {
          font-size: 1.5em;
          text-align: center;
          font-weight: bold;
          padding: 0.5em 0;
        }

        .doodles img {
          height: 2em;
          vertical-align: middle;
        }

        .cibul-announcement {
          margin: 0.5em 0 1em!important;
          text-align: center;
        }

      </style>

      <div class="doodles">
        <img src="//s3-eu-west-1.amazonaws.com/cibulstatic/redirect/cibul.png" alt="Cibul"/>
        &rarr;
        <img src="//s3-eu-west-1.amazonaws.com/cibulstatic/redirect/openagenda.png" alt="OpenAgenda"/>
      </div>
      <h1 class="cibul-announcement">Cibul devient OpenAgenda</h1>
      <p>A compter de ce jour, les utilisateurs de Cibul sont invités à découvrir les nouvelles fonctionnalités, la nouvelle technologie et les services OpenAgenda. Tous les événements gérés via Cibul pourront l'être dorénavant via OpenAgenda en utilisant les mêmes accès que ceux que vous utilisiez sur Cibul.</p>
      <p>Pour toute question, n'hésitez pas à <a href="https://openagenda.zendesk.com/hc/fr/requests/new" target="_blank">contacter le support</a>. Merci pour votre confiance. Nous espérons que vous apprécierez OpenAgenda V1 : de nouvelles fonctionnalités vont apparaître très prochainement !</p>

      <div class="text-center" style="margin-top: 30px;">
        <button class="btn btn-primary">Continuer</button>
      </div>

    </div>
    
  </section>
</div>