<div class="agenda-item media">
    <a href="#">
        <div class="media-left">
            <img class="media-object ill avatar"
                 src="https://02034510ef5d488190e4cf17d19a788b.s3.pub1.infomaniak.cloud/main/review_martinefreymann67-gmail-com_00.jpg" alt="...">
        </div>
        <div class="media-body">
            <div class="title media-heading">
                <strong>Rendez-vous aux jardins de trapelune</strong>
                <% if (typeof official !== 'undefined' && official) { %>
                <%- include('./_official.ejs') %>
                <% } %>
            </div>
            <% if (typeof minimal === 'undefined' || !minimal) { %>
            <p class="description">Durant les RENDEZ-VOUS AUX JARDINS les 3, 4 et 5 juin 2016 : exposition d'un artiste
                peintre de renommée, et présence de producteurs locaux</p>
            <div>
                <% if (typeof upcoming !== 'undefined' && upcoming) { %>
                <span class="badge badge-info">23 événements à venir</span>
                <% } else { %>
                <span class="badge badge-default">12 événements passés</span>
                <% } %>
            </div>
            <% } %>
        </div>
    </a>
</div>
