.oa-bottom-navbar {

  background: $oa-blue;
  color: $oa-white;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10000;

  label {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
  }

  ul {
    padding: 0;
  }

  .btn-default {
    margin-top: 8px;
    border: 2px solid $oa-white;
    background: transparent;
    color: $oa-white;

    &:hover {
      background: $oa-white;
      color: $oa-blue;
    }
  }

  .left {
    position: absolute;
    left: 8px;
  }

  .right {
    position: absolute;
    right: 4px;
  }

}
