<ul class="list-group">
  <li class="list-group-item draggable">
    <p>Un item</p>
  </li>
  <li class="list-group-item draggable disabled">
    <p>Un autre item</p>
  </li>
  <li class="list-group-item draggable">
    <p>Encore un item</p>
  </li>
</ul>   

<h4>Form builder version</h4>

<div class="form-schema-builder dnd">
  <div class="list-group field-preview-canvas">
    <div class="list-group-item">
      <div class="list-group-item-content draggable">
        Check form-builder template for details on builder item layout
      </div>
    </div>
    <div class="list-group-item">
      <div class="list-group-item-content draggable">
        <div class="field-preview">
          <div class="accordion">
            <div class="accordion-item">
              <button type="button" class="button">
                <div class="accordion-head">
                  <div class="head-item">
                    <label class="margin-right-xs margin-top-xs" for="edit-categories">Catégories</label>
                    <span class="form-tooltip-icon icon-hide margin-right-xs">
                      <i class="radio"></i>
                      <div class="tooltip right" role="tooltip">
                        <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">Liste de cases à cocher, à choix unique</div>
                      </div>
                    </span>
                    <div class="margin-top-xs text-muted">
                      <span>Expo,&nbsp;</span>
                      <span>Graff,&nbsp;</span>
                      <span>Musique,&nbsp;</span>
                      <span>Théâtre,&nbsp;</span>
                      <span> + 5 choix</span>
                    </div>
                  </div>
                  <i class="control fa fa-chevron-down down"></i>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="list-group-item" data-rbd-draggable-context-id="0" data-rbd-draggable-id="keywords" tabindex="0" role="button" aria-describedby="rbd-hidden-text-0-hidden-text-0" data-rbd-drag-handle-draggable-id="keywords" data-rbd-drag-handle-context-id="0" draggable="false">
      <div class="list-group-item-content disabled draggable">
        <div class="field-preview">
          <div class="accordion">
            <div class="accordion-item">
              <button type="button" class="button">
                <div class="accordion-head">
                  <div class="head-item">
                    <label class="margin-right-xs margin-top-xs" for="show-keywords">Mots clés</label>
                    <span class="form-tooltip-icon icon-hide margin-right-xs">
                      <i class="hidden-field"></i>
                      <div class="tooltip right" role="tooltip">
                        <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">Champ caché</div>
                      </div>
                    </span>
                    <span class="form-tooltip-icon icon-hide margin-right-xs">
                      <i class="keywords"></i>
                      <div class="tooltip right" role="tooltip">
                        <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">Type inconnu</div>
                      </div>
                    </span>
                    <span class="form-tooltip-icon icon-hide margin-right-xs">
                      <i class="languages"></i>
                      <div class="tooltip right" role="tooltip">
                        <div class="tooltip-arrow"></div>
                        <div class="tooltip-inner">Multilingue</div>
                      </div>
                    </span>
                    <div title="Champ événement standard" class="margin-top-xs">Standard</div>
                  </div>
                  <i class="control fa fa-chevron-down down"></i>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
