<div class="media">
  <div class="media-body">
      <h4 class="media-heading">La photosynthèse pour les aigris</h4>
      <ul class="list-unstyled">
        <li>L'abreuvoir, Quimper</li>
        <li>25 janvier, 10h</li>
      </ul>
  </div>
</div>