.dropdown-menu {

  ul, li, h4, .media-body {

    color: inherit;
    background-color: inherit;

  }

  li {

    padding: 0;
    margin: 0;

    &:hover {

      background-color: transparent;

    }

    a:hover,
    .media:hover {
      color: $oa-white;
      background-color: $oa-blue;

      &.disabled {
        color: inherit;
        background-color: inherit;
        cursor: inherit;
      }
    }



    .btn-link {
      display: block;
      background-color: transparent;
      padding: 3px 20px;

      &:hover {
        color: $oa-white;
        background-color: $oa-blue;
        text-decoration: none;
      }

      @each $name, $color in (
        primary: $brand-primary,
        success: $brand-success,
        info: $brand-info,
        warning: $brand-warning,
        danger: $brand-danger
      ) {
        &.text-#{$name} {
          &:hover, &:focus {
            text-decoration: inherit;
          }
        }
      }
    }

    .media {

      padding: 0.4em 0.8em;
      cursor: pointer;
      margin: 0;
      width: 10000px;
      display: table-cell;

      h4 {
        font-size: 1em;
        font-weight: bold;
      }

      & > .btn-link {
        color: inherit;
        padding: 0;
      }

    }

    &.empty {

      padding: 1em 0;
      text-align: center;
      
      display: table-cell;
      vertical-align: top;
      width: 10000px;

      p {

        margin: 0;

      }

    }

  }
  
}  