<div class="row">
  <section class="col-sm-6 col-sm-offset-2 top-margined">

    <h2>Dropdowns</h2>

    <div class="wsq content" style="height: 220px;">

      <p>Regular dropdown</p>

      <div class="dropdown open">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Dropdown
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li><button class="btn btn-link text-danger visible-on-hover btn-block">Warning</button></li>
          <li>
            <button class="btn btn-link btn-block">A button</button>
          </li>
        </ul>
      </div>

    </div>

    <div class="wsq content" style="height: 300px;">

      <p>with media items</p>

      <div class="dropdown open">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Dropdown
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><% include _dropdown-media-item.ejs %></li>
          <li><% include _dropdown-media-item.ejs %></li>
          <li><% include _dropdown-media-item.ejs %></li>
        </ul>
      </div>

    </div>

    <div class="wsq content" style="height: 200px;">

      <p>with empty content</p>

      <div class="dropdown open">
        <button class="btn btn-default dropdown-toggle" type="button">
          Dropdown
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li class="empty">
            <p>No result</p>
          </li>
        </ul>
      </div>

    </div>

  </section>
</div>