<div class="form-group">
  <label>Un fichier est chargé (*)</label>
  <div class="file-upload">
    <div class="file-dropzone" aria-disabled="false">
      <div class="margin-top-lg">
        <button class="btn btn-primary margin-top-sm">
          <label>
            <span>Remplacer le fichier</span>
          </label>
        </button>
        <div class="margin-v-xs">
          <label class="control-label">
            <i class="fa fa-check margin-right-xs"></i><!--
            --><span>le-nom-du-fichier.pdf</span>
          </label>
        </div>
      </div>
      <input type="file" accept=".pdf" autocomplete="off" name="yourfile" style="display: none;">
    </div>
    <a class="btn btn-danger margin-left-xs remove-file" title="pas mal beaucoup en fait">
      <i class="fa fa-trash"></i>
    </a>
  </div>
</div>
