<div class="form-group has-error">
  <label>Chargez votre pdf ici (*)</label>
  <div class="file-upload">
    <div class="file-dropzone" aria-disabled="false">
      <div class="margin-top-lg">
        <button class="btn btn-primary margin-top-sm">
          <label>Charger un fichier</label>
        </button>
        <div class="margin-v-xs">
          <label class="control-label">Un problème est survenu lors du chargement</label>
        </div>
      </div>
      <input type="file" accept=".pdf" autocomplete="off" name="yourfile" style="display: none;">
    </div>
  </div>
