<div class="form-group">
  <label>Là une image est chargée (*)</label>
  <div class="margin-bottom-xs">
    <span>Une info</span>
  </div>
  <div class="file-upload">
    <div class="file-dropzone image-preview" aria-disabled="false">
      <div class="center-button margin-bottom-sm">
        <button class="btn btn-primary margin-all-sm">
          <label>Remplacer l'image</label>
        </button>
      </div>
      <img class="padding-all-sm" src="https://cdn.openagenda.com/main/event_quinzaine-du-patrimoine-un-patrimoine-a-croquer_165847.jpg" />
      <input type="file" accept=".pdf" autocomplete="off" name="yourfile" style="display: none;">
      <span class="accepted-image-info">Fichiers acceptés: csv, doc, docx, xlsx, xls, pdf, odf, ods</span>
    </div>
  </div>
</div>
