<div class="form-tooltip-icon">
	<i class="image"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Image</div>
	</div>
</div>
<div class="form-tooltip-icon">
	<i class="text"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Text</div>
	</div>
</div>
<div class="form-tooltip-icon">
	<i class="textarea"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Textarea</div>
	</div>
</div>
<div class="form-tooltip-icon">
	<i class="languages"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Languages</div>
	</div>
</div>
<div class="form-tooltip-icon">
	<i class="markdown"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Markdown</div>
	</div>
</div>
<div class="form-tooltip-icon">
	<i class="registration"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Registration</div>
	</div>
</div>
<div class="form-tooltip-icon">
	<i class="accessibility"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Accessibility</div>
	</div>
</div>
<div class="form-tooltip-icon">
	<i class="location"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Location</div>
	</div>
</div>
<div class="form-tooltip-icon">
	<i class="timings"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Timings</div>
	</div>
</div>
<div class="form-tooltip-icon">
	<i class="integer"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Integer</div>
	</div>
</div>
<div class="form-tooltip-icon">
	<i class="boolean"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Boolean</div>
	</div>
</div>
<div class="form-tooltip-icon">
	<i class="link"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Link</div>
	</div>
</div>
<div class="form-tooltip-icon">
	<i class="email"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Email</div>
	</div>
</div>
<div class="form-tooltip-icon">
	<i class="checkbox"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Checkbox</div>
	</div>
</div>
<div class="form-tooltip-icon">
	<i class="radio"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Radio</div>
	</div>
</div>

<div class="form-tooltip-icon">
	<i class="select"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Select</div>
	</div>
</div>
<div class="form-tooltip-icon">
	<i class="date"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Date</div>
	</div>
</div>
<div class="form-tooltip-icon">
	<i class="file"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">File</div>
	</div>
</div>


<div class="form-tooltip-icon">
	<i class="age"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Age</div>
	</div>
</div>
<div class="form-tooltip-icon">
	<i class="keywords"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Keywords</div>
	</div>
</div>
<div class="form-tooltip-icon">
	<i class="longDescription"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">longDecription</div>
	</div>
</div>
<div class="form-tooltip-icon">
	<i class="multiselect"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Multiselect</div>
	</div>
</div>
<div class="form-tooltip-icon">
	<i class="abstract"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Abstract</div>
	</div>
</div>

<div class="form-tooltip-icon">
	<i class="custom"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Custom</div>
	</div>
</div>
<div class="form-tooltip-icon">
	<i class="inherited"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Inherited</div>
	</div>
</div>



<div class="form-tooltip-icon">
	<i class="obligatoire"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Obligatoire</div>
	</div>
</div>
<div class="form-tooltip-icon">
	<i class="multilingual fa fa-globe"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Multilingua</div>
	</div>
</div>
<div class="form-tooltip-icon">
	<i class="private"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Private</div>
	</div>
</div>
<div class="form-tooltip-icon">
	<i class="hidden-field"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Champs caché</div>
	</div>
</div>
<div class="form-tooltip-icon">
	<i class="linked"></i>
	<div class="tooltip right" role="tooltip">
		<div class="tooltip-arrow"></div>
		<div class="tooltip-inner">Champs liés</div>
	</div>
</div>

