i.golden-icon {

  background: url("https://cdn.openagenda.com/static/oa-white.svg") no-repeat scroll 0 0.05em #FFC235;
  background-size: cover;

  width: 16px;
  height: 16px;

  border-radius: 2px;

  display: inline-block;
  vertical-align: text-bottom;

  &.gi-20 {
    width: 20px;
    height: 20px;
  }

  &.gi-40 {
    width: 40px;
    height: 40px;
  }

  &:not(.no-hover):hover {

    opacity: 0.6;

  }

}

.icon-hoverable:hover .golden-icon {

  //background: url("https://cdn.openagenda.com/static/OA_premium.png");
  //background-size: cover;
  opacity: 0.6;

}
