.small-map {
    
  border-radius: 3px;
  height: 320px;

  .map-canvas {

    min-height: 300px;

  }

  .map-sync {

    text-align: right;

    input, label {

      display: inline-block;
      margin-bottom: 0;
      margin-top: 0;
      vertical-align: middle;

    }

  }

  .leaflet-popup-content-wrapper {

    -webkit-border-radius: 0;
    border-radius: 3px;
    padding: 0;
    overflow: hidden;

  } 

  .leaflet-popup-content p, 
  .leaflet-popup-content { 

    margin: 0;

  }

  .map-location {

    .count {

      display: none;
      
    }

    .oa-location-image {

      max-height: 90px;
      overflow: hidden;
      position: relative;

      img {

        display: block;
        width: 100%;

      }

    }

    .oa-location-details {

      padding: 5px;
      display: block;

      p {

        font-weight: bold;
        display: block;

      }

      span {

        max-width: 160px;
        display: inline-block;

      }

      .map-postalcode,
      .map-city,
      .map-department,
      .map-region {

        display: none;

      }

    }

    .leaflet-popup-tip-container {

      visibility: hidden;

    }

  }

}