<div style="position: relative">
  <i class="fa fa-question-circle" aria-hidden="true" style="font-size: 1.3em; color: #41acdd;"></i>
  <div style="height:120px;">
    <div
        role="tooltip" class="popover right"
        style="display:block;top:-37px;left:20px;"
    >
      <div class="arrow"></div>
      <h3 class="popover-title">Popover right</h3>
      <div class="popover-content">
        And here's some <strong>amazing</strong>
        content. It's very engaging. right?
      </div>
    </div>
  </div>
</div>
