// Footer
// ======
// Global footer

$b: '.footer';

#{$b} {
  background: $oa-dark-purple;

  .row {
    border: 0;
  }

  h2 {
    color: $oa-gray;
    margin: 0 0 1em;
  }

  li {
    margin: 1em 0;

    li {
      margin: 0 0 1em;
    }

    form {
      margin: auto;
      max-width: 400px;
    }
  }

  a {
    color: $oa-gray-light;

    &:hover {
      color: $oa-white;
      text-decoration: underline;
    }
  }

  .text-left {

    text-align: center;

  }

  @media (max-width: $screen-xs) {
    text-align: center;

    h2 {
      margin: 2em 0 1em;
    }
  }

  .bottom {

    color: $oa-gray-light;

      p {
        font-size: 1em;
      }

  }

}