#functions {

  figure .rounded {

    width: 256px;
    line-height: 256px;
    border-radius: 128px;
    background: $oa-blue;
    margin-left: 20em;
    margin-right: 1em;

    img {
      margin: 0;
      transform: scale(0.7);
    }

  }

  .media-heading {

    a {

      color: inherit;

      &:hover, &:hover em {

        text-decoration: none;
        color: lighten( $oa-blue, 10 );

      }

    }

  }

  .media {

    ul {

      padding-left: 25px;
      margin: 1em 0;

      li {

        margin-bottom: 1em;

      }

      strong {

        font-weight: 400;

      }

    }
    
  }


  @media(max-width: $screen-sm) {

    .media {
      text-align: center;

      .media-right img {
        margin-left: 0;
        margin-right: 0;
        margin-top: 2.5em;
      }

      .media-left img {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 2.5em;
      }
    }

  }

}