/**
 * used in corpo id only
 */
#presentation {

  position: relative;
  color: antiquewhite;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    background-image: url('//s3.eu-central-1.amazonaws.com/oastatic/placeit.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    opacity: 0.5;
    background: black;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .hook {
    font-size: 65px;
  }

  .under-hook {
    margin-top: 75px;
    font-size: 35px;
  }

  .hook-action {

    margin-top: 100px;

    .search {

      input {

        outline: none;
        box-shadow: none;
        border-color: initial;
        font-size: 17px;

      }

      button {

        right: 4px;

        i {

          color: $oa-black;
          font-size: 20px;

        }

      }

    }

  }

  .hook-secondary-action {

    padding-top: 0.5em;

    a {

      color: $oa-white;
      font-size: 0.9em;
      font-weight: 500;

    }

    .btn {
      padding: 10px 35px;
    }

  }

  &.secondary {

    .hook {

      margin-top: 50px;

    }

    &:after {

      opacity: 0.7;

    }

  }

  &.primary {

    height: 750px;

    .hook {

      margin-top: 110px;

    }

    &:after {

      opacity: 0.5;

    }

  }

  @media(max-width: $screen-sm) {

    .hook {
      margin-top: 20px;
      font-size: 55px;
    }

  }

}