/**
 * deprecating style by id
 */
#trio-actions, .summary {

  .summary-head {

    i {
      color: $oa-blue;
      width: 140px;
      line-height: 140px;
      border-radius: 70px;
      background: darken($oa-white, 10);
      margin: auto auto 12px;
    }

  }

  p {
    margin: 0;
  }

  .features {

    margin: 0 auto;
    display: inline-block;

    li {

      margin-bottom: 10px;

      &.already-included {

        color: $oa-gray-light;

        i {

          padding-right: 0.4em;

        }

      }

    }

  }
  
}