input, select, textarea { 
	border-color: #AAAAAA #CCCCCC #CCCCCC #AAAAAA; 
	border-style: solid; 
	border-width: 1px; 
	padding: 5px; 
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	border-radius: 4px; 
	vertical-align: middle; 
}

.button.small {
  padding: 0.38em 0.77em;
  font-size: 1em;
}