{
  "extends": [
    "@openagenda"
  ],

  "parserOptions": {
    "sourceType": "script"
  },

  "ignorePatterns": [
    "lib",
    "esm"
  ],

  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          ".babelrc.js",
          "test/**/*.js"
        ]
      }
    ]
  },

  "overrides": [
    {
      "files": [
        "src/**/*.js",
        "test/**/*.js"
      ],

      "parserOptions": {
        "sourceType": "module"
      }
    },
    {
      "files": [
        "**/*.{test,spec}.js"
      ],
      "rules": {
        "import/default": "off"
      }
    }
  ]
}
