// specific corporate pages design
#corpo {
  h1 {
    line-height: 1.5;
    margin: 1.5em 0 1em;
    text-align: center;
  }

  header {
    p {
      color: $oa-gray;
    }

    h1 + p {
      margin-bottom: 2em;
      margin-top: -1.5em;
    }
  }

  iframe {
    display: block;
    margin: auto;
  }

  section {
    h2 {
      font-size: 24px;
      text-align: center;
    }
  }

  .col-sm-6 {
    display: inline-block;
    float: none;
    padding: 15px;
    vertical-align: middle;
  }

  #content {
    padding: 0;
    background: $oa-white;

    img {
      border-radius: 3px;
    }

    p {
      font-size: 18px;
      font-weight: 200;
      line-height: 1.6;
    }

    p.strong {
      font-weight: bold;
    }

  }

  .about {
    background: $oa-white;
    padding-bottom: 1em;
  }

  .action-container {
    margin-top: 25px;
    text-align: center;

    small {
      font-size: 100%;
      font-weight: 200;
    }

    .btn {
      font-size: 18px;
    }
  }

  .contact-us {
    padding: 5%;
    margin-top: auto;
    text-align: center;

    h2 {
      line-height: 1.5;
      margin-bottom: 20px;
    }
  }

  .nav-section {

    background: $oa-gray-lightest;
    border-top: 1px solid $oa-gray-lighter;
    border-bottom: 1px solid $oa-gray-lighter;
    
  }

  .nav-pills {


    li {
      margin: 0 10px;

      a {
        color: $oa-gray;
        line-height: 30px;
        padding: 10px;

        &:hover {
          text-decoration: underline;
        }
      }

      &.active a {
        background: none;
        color: $oa-black;
        font-weight: bold;
      }
    }

  }

  .feature {

    border-bottom: 1px solid $oa-gray-lightest;
    padding-bottom: 50px;
    padding-top: 50px;

    i {
      color: $oa-blue;
      display: block;
      font-size: 128px;
      padding-bottom: 10%;
    }

    h2 {
      text-align: left;

      strong {
        color: $oa-blue;
        font-weight: normal;
      }
    }

    ul {
      font-size: 18px;
      font-weight: 200;
      list-style-type: circle;
    }

    .btn-primary {
      font-size: 18px;
      font-weight: 200;
      margin-top: 1em;
    }

    .icon-container {
      padding-top: 10px;
      text-align: center;
    }

    &.first {
      padding-top: 0;
    }
  }


  .follow-us {
    text-align: center;
    padding: 25px;
    padding-bottom: 50px;
    padding-top: 0;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      padding: 10px;
      vertical-align: middle;
    }

    a {
      display: block;
      font-size: 32px;

      &:hover {
        opacity: 0.9;
      }
    }

    .facebook a {
      color: $facebook-color; 
    }

    .twitter a {
      color: $twitter-color; 
    }

    .linkedin a {
      color: $linkedin-color; 
    }

    .newsletter {
      max-width: 400px;
    }
    
  }

  .founders {

    background: #eee;
    text-align: center;
    margin-top: 50px;
    padding: 25px;

    img {
      border: 3px solid $oa-white;
      border-radius: 100px;
    }

    h2 {
      margin-bottom: 25px;
    }

    small {
      display: block;
      margin-top: 1em;
    }

    ul {
      list-style: none;
      margin: 1em 0;
      padding: 0;
    }
  }

  .partners {

    background: $oa-gray-lightest;
    border-top: 1px solid $oa-gray-lighter;
    border-bottom: 1px solid $oa-gray-lighter;

    margin: 80px 0 50px;
    padding: 25px;
    text-align: center;

    ul {
      list-style: none;
      margin: 25px;
      padding: 0;
    }

    li {
      display: inline-block;
      padding: 10px;
      vertical-align: middle;
      width: 9.09%; //100 / 11 logos
      min-width: 100px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      img {
        display: block;
        filter: grayscale(100%);
          margin: auto;
          max-height: 60px;
          opacity: 0.62;
          width: auto;
      }

      &:hover img {
        filter: none;
        opacity: 1;
      }
    }
  }

  .text {
    text-align: center;

    em {
      color: $oa-gray;
    }

    strong {
      color: $oa-blue;
      font-weight: 300;
    }

    li {
      color: $oa-gray;
      display: inline-block;
      padding: 1em;
      vertical-align: top;
      width: 25%;

      i {
        color: $oa-blue;
        display: block;
        font-size: 48px;
      }
    }

    ul {
      font-size: 18px;
      font-weight: 200;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}